<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_mpl_filter.css" /></head><body><% } %>
<% if (0) { %>
<style>
div.cpw-ama-mpl-filter div.cs2
{
	display:inline-block;
	color:chocolate;
}
div.cpw-ama-mpl-filter div.row div.value
{
	width:485px;
}
</style>
<% } %>
<div class="cpw-ama-mpl-filter">

	<p class="header">
		Отображать имущество, соответствующее следующим условиям:
	</p>

	<div class="row">
		<div class="title">Описание содержит слова:</div>
		<div class="value">
			<input type="text" value="<%= obj.txt('Слова') %>"/>
		</div>
	</div>

	<div class="row">
		<div class="title">Регион местонахождения:</div>
		<div class="value">
			<select  multiple="multiple" <%= obj.select2_attrs('Регион') %> >
			<%
				var regions= obj.options.regions;
				for (var i= 0; i < regions.length; i++)
				{
					var r= regions[i];
			%>
				<option <%= obj.option_attrs(r.Код_ОКАТО) %> ><%= r.Наименование %><% if (0) { %>Бурляндия<% } %></option>
			<%	} %>
			</select> 
		</div>
	</div>

	<div class="row">
		<div class="title">Категория:</div>
		<div class="value">
			<div class="category cs2" id="category-select2" <%= obj.select2_attrs('Категория') %> >Тут должен быть select2 для выбора категории</div>
		</div>
	</div>

	<div class="row">
		<div class="title">Собственник:</div>
		<div class="value">
			<div class="debtor cs2" id="debtor-select2" <%= obj.select2_attrs('Должник') %> >Тут должен быть select2 для выбора должника</div>
		</div>
	</div>

	<div class="row">
		<div class="title">Арбитражный управляющий:</div>
		<div class="value">
			<div class="manager cs2" id="manager-select2" <%= obj.select2_attrs('АУ') %> >Тут должен быть select2 для выбора АУ</div>
		</div>
	</div>

	<div class="row">
		<div class="title">Классификация по ЕФРСБ:</div>
		<div class="value ">
			<div class="efrsb-classes">
				<a href="#"  <%= obj.a_modal_attrs('КлассификацияЕФРСБ') %> >
					Не выбран ни один класс! Кликните, чтобы указать..
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="title">Стадия:</div>
		<div class="value ">
			<select multiple="multiple" <%= obj.select2_attrs('Стадия') %> >
			<%
				var asset_state= obj.options.asset_state;
				for (var i= 0; i < asset_state.length; i++)
				{
					var s= asset_state[i];
			%>
				<option <%= obj.option_attrs(s.code) %> ><%= s.title%><% if (0) { %>Инвентаризация<% } %></option>
			<%	} %>
			</select> 
		</div>
	</div>
</div>
<% if (0) { %></body></html><% } %>