div.cpw-ama-mpl-filter
{
	width:700px;
	margin:0 auto;
}
div.cpw-ama-mpl-filter div.row
{
	margin-top:3px;
}
div.cpw-ama-mpl-filter div.row div.title
{
	display:inline-block;
	width:210px;
	vertical-align:top;
	padding-top:7px;
	padding-left:10px;
}
div.cpw-ama-mpl-filter div.row div.value
{
	display:inline-block;
	width:calc(100% - 220px);
}
div.cpw-ama-mpl-filter div.row div.value input
,div.cpw-ama-mpl-filter div.row div.value select
{
	width:100%;
}
div.cpw-ama-mpl-filter div.efrsb-classes
{
	height:50px;
	white-space:pre-wrap;
	overflow-y:scroll;
	padding:5px;
	border:1px solid gray;
}
div.cpw-ama-mpl-filter p.header
{
	font-weight:bold;
}
