<style>
div.cpw-ama-datamart-manager-registration .registration-block .wrap,
div.cpw-ama-datamart-manager-registration .manager-info
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
div.cpw-ama-datamart-manager-registration .registration-block .wrap {
	align-items: flex-end;
}
div.cpw-ama-datamart-manager-registration .registration-block .item,
div.cpw-ama-datamart-manager-registration .manager-info .item {
	width: 31.8%;
	margin-bottom: 10px;
}
div.cpw-ama-datamart-manager-registration .registration-block .item input,
div.cpw-ama-datamart-manager-registration .manager-info .item input{
	width: 100%;
}
div.cpw-ama-datamart-manager-registration button.unregister-disabled,
div.cpw-ama-datamart-manager-registration button.unregister-enabled {
	display:none;
	margin-left: auto;
	margin-top: 10px;
}

div.cpw-ama-datamart-manager-registration .contract-enabled,
div.cpw-ama-datamart-manager-registration .contract-wait,
div.cpw-ama-datamart-manager-registration .contract-disabled {
	display:none;
}
div.cpw-ama-datamart-manager-registration button.unregister-disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
div.cpw-ama-datamart-manager-registration[contract_status="true"] button.unregister-enabled {
	display:block;
}
div.cpw-ama-datamart-manager-registration[contract_status="false"] button.unregister-disabled,
div.cpw-ama-datamart-manager-registration[contract_status="wait"] button.unregister-disabled
{
	display:block;
}

div.cpw-ama-datamart-manager-registration[contract_status="true"] .contract-enabled,
div.cpw-ama-datamart-manager-registration[contract_status="false"] .contract-disabled,
div.cpw-ama-datamart-manager-registration[contract_status="wait"] .contract-wait
{
	display:block;
}
div.cpw-ama-datamart-manager-registration button.register {
	width:100%;
}
div.cpw-ama-datamart-manager-registration .registration-block {
	padding-top: 10px;
}
div.cpw-ama-datamart-manager-registration .registration-block .title {
	margin-bottom: 10px;
}

div.cpw-ama-datamart-manager-registration div.item-decline {
	display: none;
}

</style>
<%
var manager= obj.value();
if (null==manager)
	manager= {};
var contract_status;
if(manager.ContractNumber && null!=manager.ContractNumber){
	contract_status = true;
}else if(manager.ContractNumberToChange && null!=manager.ContractNumberToChange){
	contract_status = 'wait';
}else {
	contract_status = false;
}
%>
<div class="cpw-ama-datamart-manager-registration" contract_status="<%= contract_status %>">
	<span>Арбитражный управляющий: </span>
	<div class="content" style="padding: 5px 10px;">
		<div class="manager-info">
			<div class="item">
				<div class="comment">Фамилия: </div>
				<input type="text" readonly="readonly" value="<%= obj.txt('lastName') %>" disabled/> 
			</div>
			<div class="item">
				<div class="comment">Имя: </div>
				<input type="text" readonly="readonly" value="<%= obj.txt('firstName') %>" disabled/> 
			</div>
			<div class="item">
				<div class="comment">Отчество: </div>
				<input type="text" readonly="readonly" value="<%= obj.txt('middleName') %>" disabled/> 
			</div>
			<div class="item">
				<div class="comment">ИНН: </div>
				<input type="text" readonly="readonly" value="<%= obj.txt('INN') %>" disabled/> 
			</div>
			<div class="item">
				<div class="comment">Регистрационный номер: </div>
				<input type="text" readonly="readonly" value="<%= obj.txt('efrsbNumber') %>" disabled/> 
			</div>
		</div>
		<span class="contract contract-enabled">Арбитражный управляющий прописан в договоре № <span><%= manager.ContractNumber %><% if (0) { %>345<% } %></span> </span>
		<span class="contract contract-wait">Арбитражный управляющий ожидает ответ <b>на прописку</b> в договоре № <span><%= manager.ContractNumberToChange %><% if (0) { %>345<% } %></span> </span>
		<span class="contract contract-disabled">Арбитражный управляющий не прописан в договоре</span>
		<button class="button unregister-enabled">
			<span>Выписаться из договора</span>
		</button>
		<button class="button unregister-disabled">
			<span>Выписаться из договора</span>
		</button>
		<div class="registration-block">
			<div class="title">Прописка арбитражного управляющего в договор:</div>
			<div class="wrap">
				<div class="item">
					<div class="comment">Номер договора: </div>
					<input type="text" value="<%= obj.txt('manager_new_contract') %>"/> 
				</div>
				<div class="item">
					<div class="comment">Пароль к договору: </div>
					<input type="password" value="<%= obj.txt('manager_contract_password') %>"/> 
				</div>
				<div class="item">
					<div class="comment"> </div>
					<button class="button register">
						<span>Прописаться в договор</span>
					</button>
				</div>
				<div class="item item-decline">
					<div class="comment"> </div>
					<button class="button decline">
						<span>Отклонить</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
</div>