<style>
	div.cpw-ama-datamart-sro-manager-document div.header
	{
		padding: 3px 5px 3px 10px;
		display: inline-block;
		width: 100%;
		background-color: #EFEFEF;
		border: 1px solid #DFDFDF;
		box-sizing: border-box;
	}
	div.cpw-ama-datamart-sro-manager-document div.header button
	{
		float: right;
	}
	div.cpw-ama-datamart-sro-manager-document div.header > span
	{
		display: inline-block;
		margin-top: 9px;
		font-weight: 600;
		font-size: 14px;
	}

	div.cpw-ama-datamart-sro-manager-document div.document
	{
		padding: 5px;
		border-radius: 3px;
		border: 1px solid #c5c5c5;
		font-size: 14px;
		margin: 10px 0;
	}
	div.cpw-ama-datamart-sro-manager-document div.document:hover
	{
		background-color: #dfdfdf;
		box-shadow: 0 2px 4px rgba(0,0,0,0.25);
		cursor: pointer;
	}
	div.cpw-ama-datamart-sro-manager-document div.document > span
	{
		display: inline-block;
		vertical-align: middle;
	}

	div.cpw-ama-datamart-sro-manager-document div.document
	{
		display: block;
		line-height: 2;
	}
	div.cpw-ama-datamart-sro-manager-document div.document div.buttons
	{
		float: right;
	}
	div.cpw-ama-datamart-sro-manager-document div.document div.buttons button.delete
	{
		border: none;
		background-color: transparent;
		margin: 0;
		vertical-align: middle;
		color: gray;
		font-size: 14px;
		border-radius: 3px;
		vertical-align: middle;
		height: 28px;
		width: 28px;
		padding: 1px 8px;
	}

	div.cpw-ama-datamart-sro-manager-document div.empty-text {
		padding-left: 10px;
	}
div.cpw-ama-datamart-sro-manager-document span.FileName
{
	color: silver;
	margin-left:10px;
}
</style>

<div class="cpw-ama-datamart-sro-manager-document">
	<div class="header">
		<span>Документы:</span>
		<button class="button add">Добавить документ</button>
	</div>
	<div class="empty-text" <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<div class="documents" <%= obj.not_empty_attrs() %> >
		<% while (obj.iterate()) { %>
		<div class="document" <%= obj.item_attrs() %> >
			<span>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>) 
				<%= obj.text_field('DocumentType') %>
					<% if (obj.is_seed()) { %>Выписка из протокола<% } %>
				<%= obj.text_field_end() %> 
			</span>

			<span class="FileName">(файл "<%= obj.text_field('FileName') %><% if (obj.is_seed()) { %>aa.txt<% } %><%= obj.text_field_end() %>")</span>

			<div class="buttons">
				<button class="trash-icon delete" title="Удалить" ></button>
			</div>
		</div>
		<% } %>
	</div>
</div>