<style>

div.cpw-ama-datamart-manager-notification-info div.top input[readonly="readonly"],
div.cpw-ama-datamart-manager-notification-info div.main input[readonly="readonly"]
{
	border-style:solid;
	border-color: silver;
	border-width: 1px;
	background-color: none;
	border:none !important;
	box-shadow:none;
	padding-right:0 !important;
	padding-left:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
	font-weight: bold;
}
div.cpw-ama-datamart-manager-notification-info input
{
	border-style:solid;
	border-color: silver;
	border-width: 1px;
	padding: 5px;
}
div.cpw-ama-datamart-manager-notification-info textarea
{
	width:100%;
	height:300px;
}
div.cpw-ama-datamart-manager-notification-info button
{
	margin-right: 5px;
}


div.cpw-ama-datamart-manager-notification-info span.comment
{
	color: gray;
	font-size: small;
}

</style>
<%
var release_mode= $('body').hasClass('test');
var notification= obj.value();
if (null==notification)
	notification= {};
var safe_length= function(txt)
{
	return !txt || null==txt || !txt.length ? "1" : txt.length;
}
%>
<div class="cpw-ama-datamart-manager-notification-info">

	<div style="padding: 5px 10px;" class="top">
		<span class="comment">Кому: </span> 
		<input type="text" readonly="readonly" value="<%= obj.txt('lastName') %>" size="<%= safe_length(obj.value()) %>" /> 
		<input type="text" readonly="readonly" value="<%= obj.txt('firstName') %>" size="<%= safe_length(obj.value()) %>" /> 
		<input type="text" readonly="readonly" value="<%= obj.txt('middleName') %>" size="<%= safe_length(obj.value()) %>" /> 
		<span class="comment">о чём: </span> 
		<input type="text" readonly="readonly" value="<%= obj.txt('EmailType') %>" size="<%= safe_length(obj.value()) %>" />
		<br />
		<span class="comment">оформлено: </span> 
		<input type="text" readonly="readonly" value="<%= obj.txt('TimeDispatch') %>" size="<%= safe_length(obj.value()) %>" />
		<span class="comment">отправлено: </span> 
		<input type="text" readonly="readonly" value="<%= obj.txt('TimeSent') %>" size="<%= safe_length(obj.value()) %>" />
		<span class="comment">to: </span> 
		<input type="text" readonly="readonly" value="<%= obj.txt('RecipientEmail') %>" size="<%= safe_length(obj.value()) %>" />
	</div>
	<div style="padding: 5px 10px;" class="main">
		<span class="comment">Тема: </span> 
		<input type="text" readonly="readonly" value="<%= obj.txt('Subject') %>" size="<%= safe_length(obj.value()) %>" />
		<br />
		<span class="comment">Текст: </span> 
		<textarea readonly id="mail-content" <%= obj.textarea_attrs('Body') %> ><%= obj.value() %></textarea>
	</div>
</div>