<style>
div.cpw-custom-query[data-state="list"] div.list {display:block;}
div.cpw-custom-query[data-state="params"] div.params {display:block;}
div.cpw-custom-query[data-state="result"] div.result {display:block;}

div.cpw-custom-query > div {display:none;}
div.cpw-custom-query > div.header {display:block;}
div.cpw-custom-query > div.header p
{
	margin-top:0px;
	margin-bottom:0px;
}
div.cpw-custom-query > div.header p span.path
{
	display:inline-block;
	width:85%;
	vertical-align:top;
}
</style>
<% if (0) { %>
<style>
div.cpw-custom-query > div {display:block;}
</style>
<% } %>
<div class="cpw-custom-query" data-state="list">
	<div class="header">
		<p>Административные запросы к базе данных.</p>
		<p>
			раздел: <span class="path"><%= obj.options.v_cust_query_breadcrumbs([]) %><% if (0) { %>корневой<% } %></span>
		</p>
	</div>
	<div class="list"><% if (0) { %>Здесь должен быть список запросов<% } %></div>
	<div class="params"><% if (0) { %>Здесь должны быть параметры запроса и кнопка выплонить<% } %></div>
	<div class="result"><% if (0) { %>Здесь должны быть результаты выполненния запроса<% } %></div>
</div>