<style>
div.cpw-form-marketplace-asset-img
{
	width:750px;
	margin:0 auto;
}
div.cpw-form-marketplace-asset-img button
{
	float:right;
}
div.cpw-form-marketplace-asset-img div.content
{
	margin-top:20px;
	width:100%;
	height:440px;
	overflow-y:scroll;
	text-align:center;
}
div.cpw-form-marketplace-asset-img div.content img
{
	border:1px solid silver;
}
</style>
<%
var o= obj.value();
if (!o)
	o= {};
%>
<div class="cpw-form-marketplace-asset-img">

	<div class="header">
		<!--
		<button class="download">Загрузить исходный файл</button> 
		-->
		<span><%= o.FileName %><% if (0) { %>Image234986.jpg<% } %></span> 
		<span>(<%= o.FileSize %><% if (0) { %>273894<% } %> b)</span> 
	</div>

	<div class="content">
		<img class="asset-img-preview" width="700px"
			alt="<%= o.FileName %>"
			src="<%= obj.options.attachment_url_prefix + o.id_AssetAttachment %>" />
	</div>
</div>