<div class="cpw-ama-datamart-login-form-admin">

	<form action="ama/datamart/login" method="GET">
		<div class="row">
			<span class="semi-bold">Логин:</span><br>
			<input type="text" name="AdminLogin" value="<%= obj.txt('Login') %>" autofocus="autofocus"  />
		</div>

		<div class="row">
			<span class="semi-bold">Пароль:</span><br>
			<div class="password-input-container">
				<input type="password" name="AdminPassword" value="<%= obj.txt('Password') %>" />
				<span class="icon-password-toggle" title="Показать пароль"></span>
			</div>
		</div>

		<div class="row buttons">
			<button class="login button button-red">Войти</button>
		</div>
	</form>

</div>