<div class="cpw-ama-datamart-login-form-debtor">

	<form action="ama/datamart/login" method="GET">

		<div class="row">
			<span class="semi-bold">Пароль:</span><br>
			<div class="password-input-container">
				<input type="password" name="DebtorPassword" value="<%= obj.txt('Password') %>" autofocus="autofocus" />
				<span class="icon-password-toggle" title="Показать пароль"></span>
			</div>
			<div class="forgot-password">Забыли пароль?</div>
		</div>

		<div class="row buttons">
			<button class="login button button-primary">Войти</button>
		</div>
	</form>

</div>