<style>
div.cpw-ama-datamart-login-form-viewer div.register-comment
{
	min-height: 191px;
}
div.cpw-ama-datamart-login-form-viewer button.register
{
	width: 100%;
	height: 56px;
	padding: 10px;
	margin-top:0;
}
</style>
<div class="cpw-ama-datamart-login-form-viewer">

	<form action="ama/datamart/login" method="GET">
		<div class="row">
			<span class="semi-bold">E-mail:</span><br>
			<input type="text" name="ViewerLogin" value="<%= obj.txt('Login') %>" autofocus="autofocus" />
		</div>

		<div class="row">
			<span class="semi-bold">Пароль:</span><br>
			<div class="password-input-container">
				<input type="password" name="ViewerPassword" value="<%= obj.txt('Password') %>" />
				<span class="icon-password-toggle" title="Показать пароль"></span>
			</div>
			<div class="forgot-password password">Выслать новый пароль</div>
		</div>

		<div class="row buttons">
			<button class="login button button-red">Войти</button>
		</div>
	</form>
	
	<div class="row how-login" style="margin: 1.5em 0;">
		<div class="register-comment">
			<% if (app.disable_viewers_registration) { %>
				Для первого входа необходимо чтобы какой-нибудь Арбитражный Управляющий из своего 
				кабинета добавил вас как наблюдателя какой-нибудь своей процедуры.
			<% } else { %>
				Для доступа к информации, которую публикует на витрине 
				Арбитражный Управляющий (АУ), необходимо чтобы он подтвердил Ваш запрос.<br/>
				<br />
				До получения подтверждения АУ,<br/> 
				<b>Витрина сделает удобнее работу с публичными источниками</b> 
				(<a href="https://old.bankrot.fedresurs.ru/" target="_blank">ЕФРСБ</a> и т.д.)
			<% } %>
		</div>

		<% if (!app.disable_viewers_registration) { %>
		<button class="register"><span>Получить доступ</span><br/><span style="font-size:x-small;color:gray;padding-left:100px;">(зарегистрироваться)</span></button>
		<% } %>
	</div>

</div>