<div class="cpw-ama-datamart-login-form-sro">
	
	<form action="ama/datamart/login" method="GET">
		<div class="row">
			<span class="semi-bold">E-mail:</span><br>
			<input type="text" name="SroLogin" value="<%= obj.txt('Login') %>" autofocus="autofocus" />
		</div>

		<div class="row">
			<span class="semi-bold">Пароль:</span><br>
			<div class="password-input-container">
				<input type="password" name="SroPassword" value="<%= obj.txt('Password') %>" />
				<span class="icon-password-toggle" title="Показать пароль"></span>
			</div>
			<div class="forgot-password">&nbsp;</div>
		</div>

		<div class="row buttons">
			<button class="login button button-red">Войти</button>
		</div>
	</form>

	<div class="row how-login" style="margin: 1.5em 0;">
		<p style="color:red;">Кабинет СРО находится в настоящее время в состоянии разработки и тестирования!</p>
		<p>Обращайтесь за паролем на доступ к администрации сайта.</p>
	</div>
</div>