<style>
div.cpw-ama-datamart-login-form-manager div.register-comment
{
	min-height:192px;
}
div.cpw-ama-datamart-login-form-manager button.certificate-login
{
	height: 56px;
	width: 100%;
}
</style>
<div class="cpw-ama-datamart-login-form-manager">
	
	<form action="ama/datamart/login" method="GET">
		<div class="row">
			<span class="semi-bold">E-mail:</span><br>
			<input type="text" name="ManagerLogin" value="<%= obj.txt('Login') %>" autofocus="autofocus" />
		</div>

		<div class="row">
			<span class="semi-bold">Пароль:</span><br>
			<div class="password-input-container">
				<input type="password" name="ManagerPassword" value="<%= obj.txt('Password') %>" />
				<span class="icon-password-toggle" title="Показать пароль"></span>
			</div>
			<div class="forgot-password">Выслать новый пароль</div>
		</div>

		<div class="row buttons">
			<button class="login button button-red">Войти</button>
		</div>
	</form>

	<div class="row how-login" style="margin: 1.5em 0;">
		<div class="register-comment">
			<span>Для первого входа необходимо чтобы Абонент ИС ПАУ 
			из своего кабинета разрешил доступ.</span>
			<p style="font-size: 0.5em"></p>
			Если Вы забыли пароль, 
			воспользуйтесь ссылкой "Выслать новый пароль"
		</div>
<% if (!app.disable_viewers2) { %>
		<button class="certificate-login"><span>Войти с помощью сертификата</span></button>
<% } %>
	</div>
</div>