<div class="cpw-ama-datamart-login-form-customer">

		<form action="ama/datamart/login" method="GET">
			<div class="row">
				<span class="semi-bold">Логин:</span><br>
				<input type="text" name="CustomerLogin" value="<%= obj.txt('Login') %>" autofocus="autofocus" />
			</div>

			<div class="row">
				<span class="semi-bold">Пароль:</span><br>
				<div class="password-input-container">
					<input type="password" name="CustomerPassword" value="<%= obj.txt('Password') %>" />
					<span class="icon-password-toggle" title="Показать пароль"></span>
				</div>
				<div class="forgot-password">Забыли пароль?</div>
			</div>

			<div class="row buttons">
				<button class="login button button-red">Войти</button>
			</div>
		</form>

		<div class="how-login">
			<span class="semi-bold" style="font-size: 16px;">Для входа необходимо:</span>
			<ol>
				<li style="margin-bottom: 20px">
					<span>
						Иметь договор программного продукта "Помощник арбитражного управляющего". 
						В качестве логина используйте цифры из номера договора.
					</span>
					<p style="font-size: 0.5em"></p>
					Например, если номер договора <br><span class="semi-bold">0123-АМА 1.8.1.1/2008</span>, 
					<br/>то в поле «Логин» введите <span class="semi-bold">0123</span>.
				</li>
				<li>
					Использовать пароль для входа в 
					<a href="http://rsit.ru/auth/?backurl=/index.php" target="_blank">кабинет пользователя</a> 
					на сайте <a href="http://rsit.ru" target="_blank">rsit.ru</a>.
				</li>
			</ol>
		</div>

</div>