<style>
div.cpw-ama-datamart-login-form
{
	width: 450px;
	margin:0 auto;
}
div.cpw-ama-datamart-login-form div.title
{
	display: inline-block;
	width: 150px;
	margin-left:30px;
}
div.cpw-ama-datamart-login-form div.row
{
	margin: 5px;
}
div.cpw-ama-datamart-login-form div.row.buttons
{
	text-align:right;
}
div.cpw-ama-datamart-login-form div.row.buttons button.login
{
	width:100%;
}
</style>
<div class="cpw-ama-datamart-login-form">

	<div class="row">
		<br/>
	</div>
	
	<form action="ama/datamart/login" method="GET">
		<div class="row">
			<div class="title">Имя пользователя</div>
			<input type="text" name="Login" value="<%= obj.txt('Login') %>" autofocus="autofocus" />
		</div>

		<div class="row">
			<div class="title">Пароль</div>
			<input type="password" name="Password" value="<%= obj.txt('Password') %>" />
		</div>
	</form>

	<div class="row buttons">
		<button class="login">Войти</button><br/><br/>
	</div>

	<div class="row buttons">
		<button class="password">Выслать новый пароль</button>
	</div>
</div>