<style>
div.cpw-orpau-auth-token-show-to-sign
{
	width:535px;
	margin:0 auto;
}
div.cpw-orpau-auth-token-show-to-sign input
{
	vertical-align:text-top;
	margin-right:5px;
	margin-left:5px;
}
div.cpw-orpau-auth-token-show-to-sign pre
{
	border: 2px solid green;
	padding:5px;
	color:green;
	overflow:scroll;
	width:500px;
	padding-left:25px;
	height:435px;
	padding-top:15px;
}
div.cpw-orpau-auth-token-show-to-sign .pre-color
{
	color:green;
}
div.cpw-orpau-auth-token-show-to-sign label
{
	display:block;
	margin-top:10px;
}
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>
<div class="cpw-orpau-auth-token-show-to-sign">
	<span>
		Необходимо подписать запрос на доступ электронной подписью АУ.
	</span>
	<br />
	<pre><%= o.token ? o.token : ''%><% if (0) { %>
1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0
1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0
1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0
	<% } %></pre>
	<span>Подписываемый текст обведён рамкой и показан буквами</span> 
	<span class="pre-color">зелёного цвета</span>.
</div>
