<div>
	Выбранный Вами сертификат содержит следующую информацию о владельце сертификата ключа проверки электронной подписи:
	<ul>
		<% for (name in obj) { %>
		<li>
			<span><%= name %></span>: 
			<b><%= obj[name] %></b>
		</li>
		<% } %>
	</ul>
	Не удаётся найти информацию об Арбитражном управляющем, соответствующем предъявленному сертификату!
</div>
