<div>
	Выбранный Вами сертификат содержит следующую информацию о владельце сертификата ключа проверки электронной подписи:
	<ul>
	<% for (name in obj) { %>
		<li>
			<span><%= name %></span>: 
			<b><%= obj[name] %></b>
		</li>
	<% } %>
	</ul>
	В сертификате НЕ содержится информация об Идентификационном номере налогоплательщика (ИНН)!
</div>
