<style>
div.cpw-application-step2-creditor
{
	width:920px;
	margin:0 auto;
}
div.cpw-application-step2-creditor div.row 
{
	margin-bottom:2px;
	margin-top:15px;
}
div.cpw-application-step2-creditor div.row.r2 
{
	margin-left:20px;
	margin-top:2px;
}
div.cpw-application-step2-creditor div.select2.creditor
{
	display:inline-block;
	width:680px;
}
div.cpw-application-step2-creditor div.row.editable:hover
{
	background-color:#eeeeee;
}
div.cpw-application-step2-creditor div.row.contacts
{
	font-size:small;
	margin-left:130px;
}
div.cpw-application-step2-creditor div.label
{
	display:inline-block;
	width:105px;
	text-align:right;
	padding-right:3px;
}
div.cpw-application-step2-creditor input.money
{
	width:100px;
}
div.cpw-application-step2-creditor input.full
{
	width:758px;
}
div.cpw-application-step2-creditor[data-penalties-mode="short"] .expanded-penalties
{
	visibility:hidden;
}
div.cpw-application-step2-creditor[data-bank-account-mode="structured"] .unstructured-bank-account
,div.cpw-application-step2-creditor[data-bank-account-mode="unstructured"] .structured-bank-account
{
	display:none;
}
div.cpw-application-step2-creditor div.row.structured-bank-account
{
	margin-left:0;
}
div.cpw-application-step2-creditor button
{
	color: gray;
	border-color:gray;
}
div.cpw-application-step2-creditor button:hover
{
	color: red !important;
	border-color:red !important;
}
div.cpw-application-step2-creditor[data-penalties-mode="expanded"] input[data-fc-selector="Долг.Санкции.Сумма"]
{
	background-color:#eeeeee;
}
</style>
<% 
var v= obj.value(); 
var penalties_mode= !v || null==v || v.Долг.Санкции.Одной_суммой ? 'short' : 'expanded';
var bank_account_mode= !v || null==v || v.Банковские_реквизиты.Структурировано ? 'structured' : 'unstructured';
%>
<div class="cpw-application-step2-creditor" data-penalties-mode="<%= penalties_mode %>" data-bank-account-mode="<%= bank_account_mode %>">

	<div class="row">
		Заявитель 
		<div class="select2 creditor" <%= obj.select2_attrs('Выбранный_кредитор') %> >select2 с выбором кредитора</div> 
		<button class="creditor">о заявителе</button>
	</div>

	<div class="row contacts r2" >
		( 
			контактный адрес электронной почты: 
			<input value="<%= obj.txt('Контактная_информация.email') %>" /> , 
			телефон/факс: 
			<input value="<%= obj.txt('Контактная_информация.Телефон') %>" /> 
		)
	</div>

	<div class="row r2">предъявляет требования по задолженности.</div>

	<div class="row">
		<div class="label">Основной долг:</div>
		<input type="text" class="money" value="<%= obj.txt('Долг.Основная_сумма') %>" /> руб. и 
		штрафные санкции: 
		<input type="text" class="money" value="<%= obj.txt('Долг.Санкции.Сумма') %>" /> 
		руб. ( 
		<label> 
			<input type="checkbox" <% if (!v || null==v) { %>checked="checked"<% } %> <%= obj.checkbox_attrs('Долг.Санкции.Одной_суммой') %> /> 
			одной суммой без расшифровки 
		</label> 
		)
	</div>

	<div class="row r2 expanded-penalties">
		в том числе: пени: 
		<input type="text" class="money" value="<%= obj.txt('Долг.Санкции.Пени') %>" /> руб. 
		, штрафы: <input type="text" class="money" value="<%= obj.txt('Долг.Санкции.Штрафы') %>" /> руб. 
		, неустойки: <input type="text" class="money" value="<%= obj.txt('Долг.Санкции.Неустойки') %>" /> руб. 
		, проценты: <input type="text" class="money" value="<%= obj.txt('Долг.Санкции.Проценты') %>" /> руб. 
	</div>

	<div class="row">
		<span>Банковские реквизиты для перечисления денежных средств при погашении задолженности</span> 
		(
			<label> 
				<input type="checkbox" <% if (!v || null==v) { %>checked="checked"<% } %> <%= obj.checkbox_attrs('Банковские_реквизиты.Структурировано') %> /> 
				структурировано 
			</label>
		):
	</div>

	<div class="row r2 unstructured-bank-account">
		<textarea style="width:758px;height:145px;margin-left:88px;" <%= obj.textarea_attrs('Банковские_реквизиты.Текстом') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row r2 structured-bank-account">
		<div class="label">Банк:</div>
		<input class="full" type="text" value="<%= obj.txt('Банковские_реквизиты.Банк.Наименование') %>" />
	</div>

	<div class="row r2 structured-bank-account">
		<div class="label">Отделение:</div>
		<input class="full" type="text" value="<%= obj.txt('Банковские_реквизиты.Банк.Отделение') %>" />
	</div>

	<div class="row r2 structured-bank-account">
		<div class="label">БИК:</div>
		<input type="text" value="<%= obj.txt('Банковские_реквизиты.Банк.БИК') %>"> 
		Корр/счёт: 
		<input type="text" value="<%= obj.txt('Банковские_реквизиты.Банк.Корреспондентский_счёт') %>" /> 
	</div>

	<div class="row r2 structured-bank-account">
		<div class="label">Расчётный счёт:</div>
		<input class="full" type="text" value="<%= obj.txt('Банковские_реквизиты.Рассчётный_счёт') %>" />
	</div>

</div>
