<div class="cpw-ama-datamart-admin">

	<div class="login"><%= obj.control('ФормаВхода') %><% if (0) { %>Форма входа<% } %></div>

	<div class="logged"><% if (0) { %>Авторизованная зона<% } %></div>

</div>