<style>
	div.cpw-ama-datamart-sro-manager-document-add label.button{
		padding: 8px 17px;
		border-radius: 4px;
		font-size: 14px;
		border: 1px solid #D3242C;
		background-color: #fff;
		color: #D3242C;
		display: inline-block;
		cursor: pointer;
		line-height: normal;
	}
	div.cpw-ama-datamart-sro-manager-document-add div.row {
		margin-bottom: 10px;
	}
	div.cpw-ama-datamart-sro-manager-document-add input[data-fc-selector="FileName"]{
		width: 300px;
		margin-right: 10px;
	}

	div.cpw-ama-datamart-sro-manager-document-add select.select-type {
		width: 100%;
	}

	
</style>

<div class="cpw-ama-datamart-sro-manager-document-add">
	<div>
		Тип:
	</div>
	<div class="row">
		<select class="select select-type" <%= obj.select_attrs('DocumentType') %> >
			<option <%= obj.option_attrs('c') %> >Выписка о включении в СРО</option>
			<option <%= obj.option_attrs('f') %> >Факсимиле подписи</option>
		</select>
	</div>
	<div>
		Файл:
	</div>
	<div class="row">
		<input type="text" value="<%= obj.txt('FileName') %>" readonly style="width:500px;"/>
		<label for="document-file" class="button add">Выбрать файл</label>
		<input id="document-file" style="display: none" type="file">
	</div>
</div>