<style>
div.cpw-form-ama-dm-manager-assignments #cpw-form-ama-dm-manager-assignments-tabs >.ui-tabs-nav li:first-child{
    margin-left: 0 !important;
}
div.cpw-form-ama-dm-manager-assignments #cpw-form-ama-dm-manager-assignments-cnsnts,
div.cpw-form-ama-dm-manager-assignments #cpw-form-ama-dm-manager-assignments-rqsts {
	padding: 10px 0 0;
}
</style>
<div class="cpw-form-ama-dm-manager-assignments">

	<div id="cpw-form-ama-dm-manager-assignments-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-form-ama-dm-manager-assignments-rqsts" >Запросы</a></li>
			<li><a href="#cpw-form-ama-dm-manager-assignments-cnsnts" >Согласия</a></li>
<% if (!app.disable_viewers3) { %>
			<li><a href="#cpw-form-ama-dm-manager-assignments-dbtrs" >Сопровождаемые до банкротства</a></li>
			<li><a href="#cpw-form-ama-dm-manager-assignments-dbtr" >Должник на сопровождении</a></li>
<% } %>
		</ul>
		<div id="cpw-form-ama-dm-manager-assignments-cnsnts" class="page" >
			<% if (0) { %>Список согласий<% } %>
			<%= obj.fields_control('Согласия') %>
		</div>
		<div id="cpw-form-ama-dm-manager-assignments-rqsts" class="page" >
			<% if (0) { %>Список запросов кандидатур<% } %>
			<%= obj.fields_control('Запросы') %>
		</div>
<% if (!app.disable_viewers3) { %>
		<div id="cpw-form-ama-dm-manager-assignments-dbtrs" class="page" >
			<% if (0) { %>Список должников<% } %>
			<%= obj.fields_control('Должники') %>
		</div>
		<div id="cpw-form-ama-dm-manager-assignments-dbtr" class="page" >
			<% if (0) { %>Информация о должнике<% } %>
			<%= obj.fields_control('Должник') %>
		</div>
<% } %>
	</div>

	<div style="text-align: center">
		<a href="docs\СоглашениеНазначенияВКабинетеАУ.pdf">
			Соглашение об условиях и порядке использования модуля «Назначения»
		</a>
	</div>

</div>