<style>
div.ama-report-main
{
	border: 1px solid #DFDFDF;
	border-top: none;
}
div.ama-report-main > div.selector,
div.ama-report-main > div.view
{
	display: inline-block;
	vertical-align: top;
}
div.ama-report-main > div.selector
{
	margin-top: 5px;
	margin-right: 5px;
}
div.ama-report-main > div.view
{
	width: calc(100% - 255px);
	max-height: 485px;
	overflow: auto;
	border-left: 1px solid #DFDFDF;
	box-sizing: border-box;
	background: #b4cdee;
	overflow: auto;
}
.ama-report-main > .ama-button
{
	margin: 10px 0 5px 255px; 
}
</style>
<% if (0) { %>
<style>
div.ama-report-main div.selector,
div.ama-report-main div.view
{
	border: 1px solid gray;
	vertical-align: top;
}
</style>
<% } %>
<div class="ama-report-main">
	<div class="selector"><% if (0) {%>Место для навигационной панели<% } %></div>
	<div class="view">Данные о процедуре не были переданы на Витрину</div>
	<label for="raw-view" class="ama-button">Необработанное представление</label>
</div>