<style>
div.cpw-ama-datamart-sel-meeting-form > div.meeting-selector div.select2
{	
	display: inline-block;
	width: 550px;
	text-align: left;
}
div.cpw-ama-datamart-sel-meeting-form 
{
	width: 100%;	
}
div.cpw-ama-datamart-sel-meeting-form div.meeting-selector
{
	margin-bottom: 10px;
	padding: 0 20px;
}
div.cpw-ama-datamart-sel-meeting-form div.meeting-selector div.title
{
	display:inline-block;
	vertical-align:middle;
}
div.cpw-ama-datamart-sel-meeting-form button.delete-meeting
{
	float:right;
}
div.cpw-ama-datamart-sel-meeting-form div.no-meetings
{
	display:inline-block;
	width:600px;
	margin: 0 auto;
	padding-left:100px;
}

div.cpw-ama-datamart-sel-meeting-form div.no-meetings img
{
	border: 1px solid green;
	margin-bottom:20px;
}
</style>
<% if (0) { %>
<style>
div.cpw-ama-datamart-sel-meeting-form div.selected-meeting
{
	border: 1px solid black;
}
</style>
<% } %>
<div class="cpw-ama-datamart-sel-meeting-form">

	<div class="meeting-selector">
		<div class="title">Заседание:</div> 
		<div class="select2" id="cpw-ama-datamart-sel-meeting-form-selector" <%= obj.select2_attrs('Выбранное_заседание') %> >тут должен быть select2</div> 
		<button class="delete-meeting button" style="display:none">Удалить заседание</button>
	</div>

	<div class="selected-meeting">
		<% if (0) { %>Область размещения данных о заседании<% } %>
	</div>

	<div class="no-meetings">
		<span>Для того, чтобы назначить заседание:</span>
		<ol>
			<li>перейдите на закладку "Процедуры"</li>
			<li>найдите нужную процедуру</li>
			<li>нажмите на три точки в правом конце строки найденной процедуры</li>
			<li>в выпавшем меню выберите пункт "Назначить заседание комитета кредиторов"</li>
		</ol>
		<img src="img/howto-start-meeting.png" />
	</div>

</div>