<style>
div.ama-datamart-km-item p.number-group
{
	text-align:right;
}
div.ama-datamart-km-item p.title
{
	font-weight:bold;
}
div.ama-datamart-km-item p.value
{
	margin-top:0;
	margin-bottom:2px;
}
div.ama-datamart-km-item p.value label
{
	width:300px;
	display:inline-block;
	margin-left:30px;
}
div.ama-datamart-km-item p.value input
{
	text-align:right;
	width:100px;
}
</style>
<%

var item= null==obj ? {} : obj.value();
if (!item || null==item)
	item= {};

%>
<div class="ama-datamart-km-item">
	<p class="number-group">
		№<%= item.Номер %><% if (0) { %>1<% } %> 
		<span>в группе</span> 
		(<%= item.Группа %><% if (0) { %>Здания<% } %> / 
		<%= item.Подгруппа %><% if (0) { %>Иные<% } %>)
	</p>

	<p class="title"><%= item.Наименование %><% if (0) { %>Жилое строение<% } %></p>

	<% if (item.Стоимость || null!=item.Стоимость) { %>
	<p class="value">
		<label>Начальная стоимость:</label>
		<input type="text" readonly="readonly" value="<%= item.Стоимость.Первоначальная %>" /> рублей.
	</p>
	<p class="value">
		<label>Остаточная (балансовая) стоимость:</label>
		<input type="text" readonly="readonly" value="<%= item.Стоимость.Остаточная %>" /> рублей.<br />
	</p>
	<p class="value">
		<label>Оценочная ("ликвидационная") стоимость:</label>
		<input type="text" readonly="readonly" value="<%= item.Стоимость.Оценочная %>" /> рублей.<br />
	</p>
	<% } %>
</div>
