<style>
div.cpw-ama-committee-vote-form p
{
	margin: 0;
}
div.cpw-ama-committee-vote-form div.page
{
	border: 1px solid #DFDFDF !important;
	padding: 10px !important;
	border-radius: 5px;
}
div.cpw-ama-committee-vote-form ul.ui-tabs-nav
{
	display:inline-block;
	border:none;
}
div.cpw-ama-committee-vote-form div.ui-corner-all.ui-widget-content.ui-widget.ui-tabs
{
	text-align:center;
}
div.cpw-ama-committee-vote-form p.red
{
	color:indianred;
}
</style>
<%
var l= obj.value();
if (null==l)
	l= {};
%>
<div class="cpw-ama-committee-vote-form">

	<p class="fio">
		Участник заседания : <b><%= l.ФИО %><% if (0) { %>Иванов Иван Иванович<% } %></b>
	</p>

	<p>
		Указанные в соглашении 
		<span class="fname">номер телефона: </span> <strong><%= l.телефон %><% if (0) { %>89453457617<% } %></strong> 
		<span class="fname">email: </span> <strong><%= l.email %><% if (0) { %>aaa@u.org<% } %></strong>
	</p>

	<% if ('true'==l.Нет_в_списках) { %>
	<p class="red">
		Cоздан кабинет голосования с вышеуказанными параметрами, 
		но после перерыва участник был удалён из списка.
	</p>
	<% } %>

	<div id="cpw-ama-datamart-committee-vote-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-committee-vote-qst" >Вопросы</a></li>
			<li><a href="#cpw-ama-datamart-committee-vote-doc" >Документы</a></li>
			<li><a href="#cpw-ama-datamart-committee-vote-log" >Журнал голосования</a></li>
		</ul>
		<div id="cpw-ama-datamart-committee-vote-qst" class="page" >
			<% if (0) { %>Вопросы<% } %>
			<%= obj.control('Вопросы') %>
		</div>
		<div id="cpw-ama-datamart-committee-vote-doc" class="page">
			<% if (0) { %>Документы<% } %>
			<%= obj.control('Документы') %>
		</div>
		<div id="cpw-ama-datamart-committee-vote-log" class="page">
			<% if (0) { %>Журнал голосования<% } %>
			<%= obj.control('Журнал') %>
		</div>
	</div>

</div>