<style>
div.cpw-form-wcl-record
{
	width:500px;
	margin:0 auto;
}
div.cpw-form-wcl-record input[data-fc-selector="Дата"]
{
	width:95px;
}
div.cpw-form-wcl-record div.sl label
{
	width:220px;
	display:inline-block;
}
div.cpw-form-wcl-record div.sl
{
	margin-top:10px;
}
div.cpw-form-wcl-record .select2-container
{
	margin-top:5px;
	margin-left:36px;
}
div.cpw-form-wcl-record div.sl > div
{
	margin-left:20px;
}
div.cpw-form-wcl-record div.sl > div > div
{
	margin-top:3px;
}
div.cpw-form-wcl-record div.doc > div
{
	margin-left:20px;
}
div.cpw-form-wcl-record div.doc > div > div
{
	margin-top:3px;
}
div.cpw-form-wcl-record div.doc label
{
	width:80px;
	display:inline-block;
}
div.cpw-form-wcl-record div.doc
{
	margin-top:10px;
	margin-bottom:20px;
}
div.cpw-form-wcl-record div.contract-info
{
	text-align:center;
}

div.cpw-form-wcl-record input.copy-year {
    opacity: 0.8; /* Полупрозрачность */
	color: #696969 !important;
	background-color: #C0C0C0 !important;
}

</style>

<%
var v= obj.value();
if (!v || null==v)
	v= {};
var admin_mode= !obj.options ? true : obj.options.admin_mode;
var new_year= !obj.options ? '' : obj.options.new_year;
var pr_copy= !obj.options ? false : obj.options.pr_copy;
var readonly = pr_copy ? 'readonly class = "copy-year" onfocus="blur()" placeholder = ' + new_year : '';
%>

<div class="cpw-form-wcl-record">
	<div>
		<p>Регион:</p>
		<div>
		<select <%= obj.select_attrs('Код_ОКАТО') %>  >
			<%
				var regions= obj.options.regions;
				for (var i= 0; i < regions.length; i++)
				{
					var r = regions[i];
			%>
				<option <%= obj.option_attrs([r.Код_ОКАТО, r.Наименование]) %> ><%= r.Наименование %></option>
			<%	} %>
		</select>
		</div>
	</div>


	<div>
		<p>Год:</p>
		<div>
		<input type="text" value="<%= obj.txt('Год') %>" id="new_year_modal" <%= readonly %> />
		</div>
	</div>

</div>

