<style>
div.cpw-custom-query-params span.header a
{
	cursor:pointer;
	text-decoration:underline;
}
div.cpw-custom-query-params div.sql-title
{
	color:gray;
	margin-top:14px;
}
div.cpw-custom-query-params pre
{
	margin-top:0;
	padding:14px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	font-family:monospace;
	font-size:small;
}
div.cpw-custom-query-params div.parameters span.title
{
	color:gray;
}
div.cpw-custom-query-params div.parameters table
{
	margin-left:10px;
}
div.cpw-custom-query-params div.parameters table td
{
	padding:2px;
}
div.cpw-custom-query-params div.parameters table tr.header td
{
	color:gray;
}
div.cpw-custom-query-params div.parameters table tr.header td::after
{
	content:':';
}
div.cpw-custom-query-params div.parameters table tr.param:hover
{
	background-color:#eeeeee;
}
div.cpw-custom-query-params div.parameters table tr.param td.name
{
	text-align:right;
}
div.cpw-custom-query-params div.parameters table tr.param td.name::after
{
	content:':';
}
div.cpw-custom-query-params div.parameters table tr.param td.type
{
	text-align:center;
	color:gray;
}
</style>
<%
var qspec= obj.value();
if (!qspec || null==qspec)
	qspec= {};
var sql_text= (!qspec.sql || null==qspec.sql) ? '' : qspec.sql;
var params= obj.options.build_params_from_sql_text(sql_text);
%>
<div class="cpw-custom-query-params">
	<span class="header">
		<a class="back">
			Запрос к базе данных
		</a>
	</span>
	<h2>"<%= qspec.title %><% if (0) { %>повторяющиеся прожиточные<% } %>"</h2>
<% if (params && null!=params && 0!=params.length) { %>
	<div class="parameters">
		<span class="title">Параметры:</span>
		<table>
			<tr class="header"><td>название</td><td>значение</td><td>тип</td></tr>
			<%	for (var i= 0; i < params.length; i++) 
				{
					var par= params[i];
					var title= par.name.replace(/_/g,' ');
			%>
			<tr class="param" data-param-name="<%= par.name %>" data-param-type="<%= par.type %>" >
				<td class="name"><label for="par<%= i %>"><%= title %><% if (0) { %>id<% } %></label></td>
				<td class="value">
					<% switch (par.type) {
						case 'b': %>
						<input type="checkbox" id="par<%= i %>" />
					<%	break;
						default: %>
						<input type="text" id="par<%= i %>" />
					<%	break; %>
					<% } %>
				</td>
				<td class="type">(<%= par.type %><% if (0) { %>s<% } %>)</td>
			</tr>
			<%	} %>
		</table>
	</div>
<% } %>
	<button class="execute">Выполнить</button>

	<div class="sql-title">текст запроса:</div>
	<pre class="sql"><%= sql_text %><% if (0) { %>select Reglament_Url `ссылка`, 
     count(*) `повт`
    , group_concat(concat(StartDate,'-',left(replace(replace(replace(replace(replace(replace(replace(replace(Name
    ,'Республика','р.')
    ,'автономная область','а.о.')
    ,'Город федерального значения','г.')
    ,'Город','г.')
    ,'Российская Федерация','РФ')
    ,'область','о.')
    ,'край','к.')
    ,'автономный округ','а.о.'),20) )) `у`
from sub_level 
inner join region on region.id_Region=sub_level.id_Region 
where Reglament_Url is not null and Reglament_Url<>'' 
group by Reglament_Url 
having `повт`>1;<% } %></pre>
</div>