<div>
	Вы действительно хотите удалить 
	<% if (1==obj.length) { %>
		запись об арбитражном суде 
		<b>"<%= obj[0].Name %><% if (0) { %>Синий суд<% } %>"</b>
	<% } else { %>
		записи об арбитражных судах 
		<% for (var i= 0; i < obj.length; i++) { %>
			<% if (0!=i) { %>, <% } %>
			<b>"<%= obj[i].Name %><% if (0) { %>Зелёный суд<% } %>"</b>
		<% } %>
	<% } %> 
	?
</div>