<style>
	div#cpw-form-ama-datamart-mrequest-read-form {
overflow: hidden!important;
	}
div.cpw-ama-datamart-mrequest
{
	width:840px;
	height: auto !important;
	margin:0 auto;
}
div.cpw-ama-datamart-mrequest div.row.flex {
	display: flex;
	align-items: center;
}
div.cpw-ama-datamart-mrequest div.row {
	margin-top:5px;
}
div.cpw-ama-datamart-mrequest div.label {
	display: inline-block;
	padding-right: 5px;
}
div.cpw-ama-datamart-mrequest div.label-1-3
{
	display:inline-block;
	width:75px;
}
div.cpw-ama-datamart-mrequest div.label-2-3
{
	display:inline-block;
	width:64px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-mrequest div.label-3-3
{
	display:inline-block;
	width:80px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-mrequest div.select2
{
	display:inline-block;
	width:362px;
}
div.cpw-ama-datamart-mrequest div.row div.right
{
	display:inline-block;
	float:right;
}
div.cpw-ama-datamart-mrequest div.NextSession-label
{
	display:inline-block;
	text-align:right;
	width:158px;
	padding-right:5px;
}
div.cpw-ama-datamart-mrequest input[data-fc-selector="Время_сверки"]
{
	background-color:#eeeeee;
	text-align:center;
	width:145px;
}
div.cpw-ama-datamart-mrequest input.full
{
	width:764px;
}
div.cpw-ama-datamart-mrequest.citizen .organization:not(.citizen),
div.cpw-ama-datamart-mrequest.citizen .marriage_couple,
div.cpw-ama-datamart-mrequest.organization .citizen:not(.organization),
div.cpw-ama-datamart-mrequest.organization .marriage_couple,
div.cpw-ama-datamart-mrequest.marriage_couple .organization,
div.cpw-ama-datamart-mrequest.marriage_couple .citizen
{
	display:none !important;
}	
div.cpw-ama-datamart-mrequest .request-info
{
	display: flex;
}
div.cpw-ama-datamart-mrequest .request-info .select2.court
{
	width: 493px !important;
}
div.cpw-ama-datamart-mrequest .select2.au
{
	width: 474px !important;
}
div.cpw-ama-datamart-mrequest .applicant-is-debtor
{
	display: none;
}
div.cpw-ama-datamart-mrequest.current-form-for-au .send-consent-to-sro{
	width: 100%;
}
div.cpw-ama-datamart-mrequest .list-of-agreed{
	display: flex;
	justify-content: space-between;
}
div.cpw-ama-datamart-mrequest .help {
	display: inline-block;
}
div.cpw-ama-datamart-mrequest input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input), 
div.cpw-ama-datamart-mrequest textarea,
div.cpw-ama-datamart-mrequest select
{
	min-width: 203px;
}
div.cpw-ama-datamart-mrequest .open-decision{
	display: none;
}
div.cpw-ama-datamart-mrequest .decision-add-info {
	display: none;
}
</style>
<%
var mrequest= obj.value();
var type_class= 'citizen';
var applicant_text = 'Заявителем является должник';
if (null==mrequest)
{
	mrequest= {};
}
else if (mrequest.Должник)
{
	switch(mrequest.Должник.Тип){
		case 'Юр_лицо':
			type_class = 'organization';
			break;
		case 'Супруги':
			type_class = 'marriage_couple';
			applicant_text = 'Заявителями являются должники';
			break;
	}
}
var mrequestAuClassName = '';
if(obj.options && obj.options.id_Manager) {
	mrequestAuClassName = 'current-form-for-au';
}
%>
<div class="cpw-ama-datamart-mrequest <%= type_class %> <%= mrequestAuClassName%>">

	<div class="row">
		<div class="label-1-3">Должник:</div>
		<select disabled class="type" <%= obj.select_attrs('Должник.Тип') %> >
			<option <%= obj.option_attrs('Физ_лицо') %> >Физическое лицо</option>
			<option <%= obj.option_attrs('Юр_лицо') %> >Юридическое лицо</option>
			<option <%= obj.option_attrs('Супруги') %> >Супруги</option>
		</select> 
	</div>

	<div class="row organization" style="display: flex; align-items: center;">
		<div class="label-1-3">Название:</div>
		<input disabled type="text" class="full typeahead" value="<%= obj.txt('Должник.Юр_лицо.Наименование') %>" <%= obj.typeahead_attrs() %>/>
	</div>

	<div class="row citizen" style="display: flex; align-items: center;">
		<div class="label-1-3">Фамилия:</div><input disabled class="typeahead" type="text" value="<%= obj.txt('Должник.Физ_лицо.Фамилия') %>" <%= obj.typeahead_attrs() %> maxlength="90"/>
		<div class="label-2-3">Имя:</div><input disabled type="text" value="<%= obj.txt('Должник.Физ_лицо.Имя') %>" maxlength="70"/>
		<div class="label-3-3">Отчество:</div><input disabled type="text" value="<%= obj.txt('Должник.Физ_лицо.Отчество') %>" maxlength="90"/>
	</div>

	<div class="row marriage_couple">
		<%= obj.control('Должник.Супруги') %>
		<% if (0) { %>Данные супругов<% } %>
	</div>

	<div class="row flex organization citizen">
		<div class="label-1-3">ИНН:</div><input disabled type="text" value="<%= obj.txt('Должник.ИНН') %>" maxlength="12" />
		<div class="label-2-3">ОГРН:</div><input disabled type="text" value="<%= obj.txt('Должник.ОГРН') %>" maxlength="13" />
		<div class="label-3-3 citizen">СНИЛС:</div><input disabled type="text" class="citizen" value="<%= obj.txt('Должник.Физ_лицо.СНИЛС') %>" maxlength="11" />
	</div>

	<div class="row organization citizen">
		<div class="label-1-3">Адрес:</div><input disabled class="full" type="text" value="<%= obj.txt('Должник.Адрес') %>" maxlength="250" />
	</div>

	<div class="row">
		<div class="label-1-3">Заявитель:</div>
		<a href="#" class="applicant" <%= obj.a_modal_attrs('Заявитель') %>>
			<%= applicant_text %>
		</a>
		<span class="applicant-is-debtor" >
			<%= applicant_text %>
		</span>
	</div>

	<div class="row request-info">
		<div class="act-date">
			<div class="label-1-3"><b>Запросил</b></div>
			<div class="help" title="Дата направления судом в СРО запроса на кандидатуру АУ">
				<input disabled type="text" class="time" value="<%= obj.txt('Запрос.Время.акта') %>" <%= obj.date_attrs() %> />
			</div>
		</div>
		<div class="label-2-3">&nbsp;</div>
		<div class="select2 court" <%= obj.select2_attrs('Заявление_на_банкротство.В_суд') %> >тут должен быть select2 по судам</div>
	</div>

	<div class="row">
		<div class="label-1-3"><b>В деле №</b></div>
		<input disabled type="text" value="<%= obj.txt('Номер_судебного_дела') %>"/> 
		<button class="open">Открыть на kad.arbitr.ru</button> 
		<div class="NextSession-label">Дата и время заседания: </div>
		<div class="help" title="Дата заседания суда, к которой должна быть предоставлена кандидатура АУ">
			<input disabled type="text" value="<%= obj.txt('Заявление_на_банкротство.Дата_рассмотрения') %>" /> 
		</div>
	</div>

	<div class="row">
		<b>Запрос кандидатур</b>&nbsp;
		<a href="#" class="open-decision">судебным актом</a>
		<span class="no-decision">судом не зарегистрирован</span>
		&nbsp;<a href="#" class="decision-add-info" <%= obj.a_modal_attrs('Запрос_дополнительная_информация') %>>дополнительная информация</a>
	</div>
	
	<div class="row">
		<div class="label">Необходимо дать согласие до</div>
		<input disabled type="text" value="<%= obj.txt('Запрос.Время.конец_опроса') %>"/>&nbsp;
		чтобы СРО рассмотрела Вашу кандидатуру
	</div>

	<%= obj.control('Согласия_АУ') %>
	<% if (0) { %>Список АУ, подавших согласие<% } %>
	<div class="row list-of-agreed">
		<% if(obj.options && !obj.options.id_Manager) {%>
			<div>
				<div class="label">Заявить о согласии:</div>
				<div class="select2 au" <%= obj.select2_attrs('АУ') %> >тут должен быть select2 по АУ</div>
			</div>
		<% } %>
		<button class="send-consent-to-sro">Направить согласие в СРО</button>
	</div>

</div>