<% 
var withTypeahead= obj.options.withTypeahead;
%>
<style>
	div.cpw-ama-datamart-debtor_physical {
		width:824px;
		margin:0 auto;
	}
	div.cpw-ama-datamart-debtor_physical div.label-1-3
	{
		display:inline-block;
		width:75px;
	}
	div.cpw-ama-datamart-debtor_physical div.label-2-3
	{
		display:inline-block;
		width:50px;
		text-align:right;
		padding-right:5px;
	}
	div.cpw-ama-datamart-debtor_physical div.label-3-3
	{
		display:inline-block;
		width:80px;
		text-align:right;
		padding-right:5px;
	}
	div.cpw-ama-datamart-debtor_physical input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input), 
	div.cpw-ama-datamart-debtor_physical textarea,
	div.cpw-ama-datamart-debtor_physical select.type {
		min-width: 203px;
	}
	div.cpw-ama-datamart-debtor_physical div.row
	{
		display: flex;
		align-items: center;
		margin-top:5px;
	}
	div.cpw-ama-datamart-debtor_physical input.full
	{
		width: 749px;
	}
	div.cpw-ama-datamart-debtor_physical [data-fc-selector="Физ_лицо.Фамилия"] {
		width: 203px;
	}
</style>
<div class="cpw-ama-datamart-debtor_physical">

	<div class="row">
		<div class="label-1-3">Должник:</div>
		<select class="type" disabled <%= obj.select_attrs('Тип') %>>
			<option selected <%= obj.option_attrs('Физ_лицо') %> >Физическое лицо</option>
			<option <%= obj.option_attrs('Юр_лицо') %> >Юридическое лицо</option>
		</select> 
	</div>

	<div class="row">
		<div class="label-1-3">Фамилия:</div><input class="typeahead" type="text" value="<%= obj.txt('Физ_лицо.Фамилия') %>" maxlength="90" <% if(withTypeahead) { %> <%= obj.typeahead_attrs() %> <% } %> />
		
		<div class="label-2-3">Имя:</div><input type="text" value="<%= obj.txt('Физ_лицо.Имя') %>" maxlength="70"/>
		<div class="label-3-3">Отчество:</div><input type="text" value="<%= obj.txt('Физ_лицо.Отчество') %>" maxlength="90"/>
	</div>
	
	<div class="row">
		<div class="label-1-3">ИНН:</div><input type="text" value="<%= obj.txt('ИНН') %>" maxlength="12"/>
		<div class="label-2-3">ОГРН:</div><input type="text" value="<%= obj.txt('ОГРН') %>" maxlength="13"/>
		<div class="label-3-3">СНИЛС:</div><input type="text" value="<%= obj.txt('Физ_лицо.СНИЛС') %>" maxlength="11"/>
	</div>
	
	<div class="row">
		<div class="label-1-3">Адрес:</div><input class="full" type="text" value="<%= obj.txt('Адрес') %>" maxlength="250" />
	</div>
</div>