<div class="cpw-ama-marketplace-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					База банкротного имущества
				</span>
			</div>
		</div>
	</header>

	<div id="cpw-ama-marketplace-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-marketplace-main-prop" >Конкурсная масса</a></li>
		</ul>
		<div id="cpw-ama-marketplace-main-prop" class="page">
			<% if (0) { %>Конкурсная масса<% } %>
			<%= obj.fields_control('Конкурсная_масса') %>
		</div>
	</div>

</div>