<style>
div.cpw-ama-committee-main-form button.stop
,div.cpw-ama-committee-main-form button.start
,div.cpw-ama-committee-main-form button.pause
{
	text-align:left;
	margin-right:20px;
	font-size: 14px;
}
div.cpw-ama-committee-main-form button > span
{
	display: inline-block;
	vertical-align: middle;
}
div.cpw-ama-committee-main-form span.play-red-icon,
div.cpw-ama-committee-main-form span.pause-red-icon,
div.cpw-ama-committee-main-form span.stop-red-icon
{
	margin-right: 10px;
}
div.cpw-ama-committee-main-form div#cpw-ama-datamart-committee-main-regr div.cpw-ama-datamart-voting-form
{
	margin-bottom: 20px;
}
div.cpw-ama-committee-main-form.voting-first button.start span.other { display: none; }
div.cpw-ama-committee-main-form.voting-other button.start span.first { display: none; }
div.cpw-ama-committee-main-form              button.start span.other { display: none; }
div.cpw-ama-committee-main-form.voting-other button.start span.other { display: inline-block; }

div.cpw-ama-committee-main-form div.state div
{ 
	display:none;
	text-align:center;
	font-weight: 600;
}
div.cpw-ama-committee-main-form[data-state="a"] div.state div.a { display: block; }
div.cpw-ama-committee-main-form[data-state="b"] div.state div.b { display: block; }
div.cpw-ama-committee-main-form[data-state="c"] div.state div.c { display: block; }
div.cpw-ama-committee-main-form[data-state="d"] div.state div.d { display: block; }
div.cpw-ama-committee-main-form[data-state="e"] div.state div.e { display: block; }
div.cpw-ama-committee-main-form[data-state="f"] div.state div.f { display: block; }
div.cpw-ama-committee-main-form[data-state="g"] div.state div.g { display: block; }
div.cpw-ama-committee-main-form > div.footer
{
	font-size:small;
	font-size:0.91em;
	margin-top: 15px;
	text-align:left;
	color:gray;
	padding: 0 15px;
}
div.cpw-ama-committee-main-form > .state
{
	margin: 5px 0;
	font-size: 22px;
}
div.cpw-ama-committee-main-form  ul.ui-tabs-nav:before
{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 1000px 1px 0px 0px #DFDFDF, -1000px 1px 0px 0px #DFDFDF;
}
</style>
<%
var meeting= obj.value();
var disabled= ' disabled="disabled" ';
var d_start= disabled;
var d_pause= disabled;
var d_stop= disabled;
var root_class='voting-first';
var state_class='a';
if (!meeting || !meeting.Состояние)
{
	d_start= '';
	state_class= 'a';
}
else
{
	state_class= obj.options.h_Meeting_state.Meeting_State_description_byDescr[meeting.Состояние].code;
	switch (meeting.Состояние)
	{
		case 'Голосование': 
			d_pause= d_stop= ''; 
			break;
		case 'Приостановлено': 
			d_start= d_stop= '';
			root_class='voting-other';
			break;
	}
}
%>
<div class="cpw-ama-committee-main-form <%= root_class %>" data-state="<%= state_class %>">

	<div class="state">
		<div class="a">О голосовании ещё не объявлялось</div>
		<div class="b">Идёт голосование</div>
		<div class="c">Голосование приостановлено</div>
		<div class="d">Голосование завершено</div>
		<div class="e">Заседание состоялось</div>
		<div class="f">Заседание НЕ состоялось</div>
		<div class="g">Заседание отменено</div>
	</div>

	<div id="cpw-ama-datamart-committee-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-committee-main-comn" >Основные параметры</a></li>
			<li><a href="#cpw-ama-datamart-committee-main-regr" >Голосование</a></li>
			<li><a href="#cpw-ama-datamart-committee-main-resl" >Результаты</a></li>
		</ul>
		<div id="cpw-ama-datamart-committee-main-comn" class="page" >
			<% if (0) { %>Общие параметры<% } %>
			<%= obj.fields_control('Параметры') %>
		</div>
		<div id="cpw-ama-datamart-committee-main-regr" class="page">
			<% if (0) { %>Голосование<br/><% } %>
			<%= obj.control('Голосование') %>
			<button class="button start" <%= d_start %> >
				<span class="play-red-icon"></span>
				<span class="first"><span>Открыть голосование,</span><br/><small>создать кабинеты и уведомить об этом участников</small></span>
				<span class="other"><span>Возобновить голосование</span><br/><small>и уведомить об этом участников</small></span>
			</button> 
			<button class="button pause" <%= d_pause %> >
				<span class="pause-red-icon"></span>
				<span><span>Приостановить голосование</span><br/><small>и уведомить об этом участников</small></span>
			</button>
			<button class="button stop" <%= d_stop %> >
				<span class="stop-red-icon"></span>
				<span><span>Отменить заседание</span><br/><small>и уведомить об этом участников</small></span>
			</button> 
		</div>
		<div id="cpw-ama-datamart-committee-main-resl" class="page">
			<% if (0) { %>Результаты<% } %>
			<%= obj.fields_control('Результаты') %>
		</div>
	</div>

	<div class="footer">
		Заочное голосование в электронном виде осуществляется в соответствии с 
		<a <%=app.a_href_attrs('docs/Положение_о_ПЭП.docx?action=')%> >Положеним об использовании ИС «Витрина данных ПАУ» комитетами кредиторов</a>. 
		Для голосования в электронном виде участник должен подписать 
		<a <%=app.a_href_attrs('docs/Присоединение_к_ПЭП.docx?action=')%> >Соглашение об участии в заседаниях комитета кредиторов в форме заочного голосования</a>.
	</div>

</div>