<style>
div.cpw-datamart-procedure-efrsb 
{
	padding: 20px 10px 10px;
	margin-top:10px;
}
div.cpw-datamart-procedure-efrsb div.grid
{
	display: inline-block;
	min-width: 500px;
	width: 100%;
	vertical-align: top;
	text-align: left;
	min-height: 551px
}
div.cpw-datamart-procedure-efrsb div.grid span.extra
{
	color: gray;
}
div.cpw-datamart-procedure-efrsb div.grid span.about
{
	font-weight:bold;
}
</style>
<div class="cpw-datamart-procedure-efrsb cpw-form-ama-datamart-grid">
	<div class="grid closed-search">
		<table id="cpw-ama-datamart-procedure-efrsb-grid" class="grid"></table>
		<div id="cpw-ama-datamart-procedures-efrsb-pager"></div>
	</div>
</div>