<style>
div.cpw-form-pefrsb-table #cpw-form-pefrsb-grid-pager_left > button
{
	font-weight: normal;
}
div.cpw-form-pefrsb-table.cpw-form-ama-datamart-grid .search-bar
{
	top:-55px;
}
#title-text
{
	font-size: 16px;
}
</style>
<div class="cpw-form-pefrsb-table cpw-form-ama-datamart-grid">
	<span id="title-text">Стоимость публикации сообщения, руб в т.ч. НДС</span>
	<div class="search-bar">
		
	</div>

	<div class="grid closed-search">
		<table id="cpw-form-pefrsb-grid" class="grid"></table>
		<div id="cpw-form-pefrsb-grid-pager"></div>
	</div>

</div>