<HEAD><TITLE>Соглашение об участии в КК в электронном видн</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=language content=ru>
<STYLE>
p
{
	margin-top:2mm;
	margin-bottom:2mm;
}
ol
{
	margin-top:0;
	margin-bottom:2mm;
	padding-left:6mm;
}
span.gray
{
	color:#909090;
}
</STYLE>

<SCRIPT>function WBT_ExecuteLines(){ wbt_GetHtmlSource= function() { return document.documentElement.innerHTML; }}</SCRIPT>
</HEAD>
<BODY>
<CENTER><B>Соглашение об участии в заседаниях комитета кредиторов в форме заочного голосования в электронной форме с использованием информационной системы «Витрина данных ПАУ» </B></CENTER>
<P>Я, <B><U>Мухаметзянов Махмуд Исинбаевич</U></B>, член комитета кредиторов (далее - Комитет) должника <B><U>Алексашенко А А</U></B>, даю свое согласие на участие в заседаниях Комитета в форме заочного голосования в электронной форме <SPAN class=gray>с использованием простой электронной подписи в соответствии с Федеральным законом от 06.04.2011 № 63-ФЗ «Об электронной подписи».</SPAN> </P>
<P>Настоящим я подтверждаю присоединение к соглашению <SPAN class=gray>между членами Комитета и арбитражным управляющим как участниками электронного взаимодействия во всех вопросах, связанных с порядком создания, использования и проверки простой электронной подписи,</SPAN> придерживаться Положения <SPAN class=gray>об использовании простой электронной подписи комитетами кредиторов в ИС «Витрина данных ПАУ» от «17» июня 2019 г. (далее - Положение), опубликованного в сети Интернет по адресу <A href="http://russianit.ru/products/pau">http://russianit.ru/products/pau</A></SPAN>. </P>Я обязуюсь <SPAN class=gray>соблюдать обязанности, предусмотренные данным Положением, в том числе:</SPAN> 
<OL>
<LI>При создании простой электронной подписи <SPAN class=gray>бюллетеня голосования по вопросам повестки дня заседания Комитета</SPAN> следовать порядку, предусмотренному в Положении. 
<LI>При проверке простой электронной подписи <SPAN class=gray>бюллетеня голосования по вопросам повестки дня заседания Комитета</SPAN> следовать порядку, предусмотренному в Положении. 
<LI>Соблюдать конфиденциальность ключей <SPAN class=gray>простой электронной подписи бюллетеня голосования по вопросам повестки дня заседания Комитета.</SPAN> 
<LI>Уведомлять Оператора <SPAN class=gray>информационной системы «Витрина данных ПАУ»</SPAN> о нарушении конфиденциальности ключей <SPAN class=gray>простой электронной подписи</SPAN> в течение не более чем одного рабочего дня <SPAN class=gray>со дня получения информации о таком нарушении</SPAN>. </LI></OL>В целях участия в заседаниях Комитета <SPAN class=gray>в форме заочного голосования в электронной форме, я прошу, в соответствии с Положением</SPAN>: 
<OL>
<LI>направлять мне электронные письма на мой персональный адрес электронной почты: 
<TABLE style="BORDER-COLLAPSE: collapse">
<TBODY>
<TR>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">i </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">@ </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">i </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">. </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">i </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD></TR></TBODY></TABLE>
<LI>направлять мне СМС-сообщения мой персональный номер телефона: 
<TABLE style="BORDER-COLLAPSE: collapse">
<TBODY>
<TR>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">+ </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">7 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">( </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">1 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">1 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">1 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">) </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">- </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">1 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">1 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">1 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">- </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">1 </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">_ </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">- </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">_ </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">_ </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">&nbsp;&nbsp;&nbsp; </TD></TR></TBODY></TABLE></LI></OL>
<P>Я обязуюсь уведомить арбитражного управляющего об изменениях персональных данных, <SPAN class=gray>в том числе персонального адреса электронной почты и персонального номера телефона, указанных в данном Соглашении,</SPAN> в течение не более чем одного рабочего дня <SPAN class=gray>со дня изменения персональных данных.</SPAN> </P>
<P>В случае предоставления недостоверных сведений <SPAN class=gray>либо в случае несвоевременного сообщения сведений об изменении персональных данных</SPAN> арбитражный управляющий и оператор <SPAN class=gray>информационной системы «Витрина данных ПАУ»</SPAN> не несут ответственность за получение <SPAN class=gray>членом Комитета электронных</SPAN> писем и СМС-сообщений, <SPAN class=gray>необходимых для участия в заседаниях Комитета в форме заочного голосования в электронной форме.</SPAN> </P>Подпись:_________/ <B><U>Мухаметзянов М. И. </U></B>/ дата подписания: «__»__________20__г. 
<P>Я даю своё согласие на обработку моих персональных данных <SPAN class=gray>в информационной системе «Витрина данных ПАУ» в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных»,</SPAN> с целью обеспечения проведения заседания Комитета, <SPAN class=gray>формирования, использования и проверки бюллетеней голосования по вопросам дня заседания Комитета и простой электронной подписи к ним в соответствии с Положением.</SPAN> </P>Подпись:_________/ <B><U>Мухаметзянов М. И. </U></B>/ <SPAN>дата подписания: «__»__________20__г.</SPAN> </BODY>