<style>
div.cpw-form-ama-dm-viewer-schedule .refresh-btn {
	margin-bottom: 5px;
	position: absolute;
	top: 0;
	right: 11px;
}
div.cpw-form-ama-dm-viewer-schedule .refresh-btn__wrapper {
	cursor: pointer;
	display: flex;
	align-items: center;
}

div.cpw-form-ama-dm-viewer-schedule .refresh-btn__wrapper:hover .refresh-btn__icon {
	transform: rotate(270deg) scale(-1,1);
}

div.cpw-form-ama-dm-viewer-schedule .refresh-btn__icon {
	fill: #D3242C;
	width: 30px;
	height: 30px;
	transform: rotate(90deg) scale(-1,1);
	margin-left: 5px;
	transition: transform .5s ease;
}

div.cpw-form-ama-dm-viewer-schedule .refresh-btn .refresh-btn__title{
	font-size: 14px;
	color:#D3242C;
}

div.cpw-form-ama-dm-viewer-schedule a.fc-daygrid-event
{
	background-color: white;
	border: none;
}

div.cpw-form-ama-dm-viewer-schedule a.fc-daygrid-event:hover
{
	background-color: #eaeaea;
}

div.cpw-form-ama-dm-viewer-schedule a.fc-daygrid-event div.fc-event-title
{
	color: #828282;
	font-weight:bold;
}

.tooltip
{
	background: #fcfcfc;
	color: #666666;

	border-color: #bb0000;
	border-width: 2px 2px 2px 2px;
	border-style:solid;
	border-radius:5px;
}

div.cpw-form-ama-dm-viewer-schedule th.fc-day-sat
,div.cpw-form-ama-dm-viewer-schedule th.fc-day-sun
,div.cpw-form-ama-dm-viewer-schedule td.fc-day-sat
,div.cpw-form-ama-dm-viewer-schedule td.fc-day-sun
{
	background-color: #fff5f5;
}

</style>
<%
	var события= obj.value();
	if (!события || null==события)
		события= [];
%>
<div class="cpw-form-ama-dm-viewer-schedule">

	<div class="refresh-btn">
		<div class="refresh-btn__wrapper">
			<span class="refresh-btn__title">Обновить</span>
			<svg class="refresh-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				width="561px" height="561px" viewBox="0 0 561 561" xml:space="preserve">
				<path d="M280.5,76.5V0l-102,102l102,102v-76.5c84.15,0,153,68.85,153,153c0,25.5-7.65,51-17.85,71.4l38.25,38.25
				C471.75,357,484.5,321.3,484.5,280.5C484.5,168.3,392.7,76.5,280.5,76.5z M280.5,433.5c-84.15,0-153-68.85-153-153
				c0-25.5,7.65-51,17.85-71.4l-38.25-38.25C89.25,204,76.5,239.7,76.5,280.5c0,112.2,91.8,204,204,204V561l102-102l-102-102V433.5z" />
			</svg>
		</div>
	</div>

	<div id="calendar" class="cal-placer">
	</div>

</div>
