<div class="cpw-form-ama-dm-consents cpw-form-ama-datamart-grid">

	<div class="search-bar">
		<div class="ama-button show-hide-search-inputs">
			<span class="icon-search-icon"></span>
			<span class="search-button-text">Искать</span>
		</div>
	</div>

	<div class="grid closed-search">
		<table id="cpw-ama-dm-consents-grid" class="grid"></table>
		<div id="cpw-cpw-ama-dm-consents-pager"></div>
	</div>

</div>