<style>
div.ama-datamart-km-item p.number-group
{
	text-align:right;
}
div.ama-datamart-km-item p.title
{
	font-weight:bold;
}

div.ama-datamart-km-item div.value 
{
    width: 400px;
    display: inline-block;
}
div.ama-datamart-km-item div.value div.note
{
    white-space:pre-wrap;
}
div.ama-datamart-km-item div.lable 
{
    width: 300px;
    margin-left: 5px;
    float: left;
	font-weight:bold;
}

div.ama-datamart-km-item div.property
{
    width: auto;
    margin-bottom: 20px;
}
</style>
<%
var item= null==obj ? {} : obj.value();
if (!item || null==item)
	item= {};
var h_number_format= obj.options.h_number_format;
var Дата= item.Дата_возникновения;
if (!Дата || null==Дата)
	Дата= '';
var dateAndTimeSplit = Дата.split(' ');
item.Дата_возникновения = dateAndTimeSplit[0];
%>
<div class="ama-datamart-km-item">
		<p class="title">Задолженность <%= item.Сумма_задолженности%> рублей от <%= item.Дебитор.Наименование%></p>
	<div id="cpw-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-tab-1" >Главное</a></li>
			<li><a href="#cpw-tab-2" >Движение</a></li>
			<li><a href="#cpw-tab-3" >Дополнительно</a></li>
			<!--<li><a href="#cpw-tab-4" >Фотографии</a></li>-->
		</ul>

		<div id="cpw-tab-1" >
			<div class="property">
				<div class="lable">Дебитор:</div>
				<div class="value"><%= item.Дебитор.Наименование %> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Адрес:</div>
				<div class="value"><%= item.Дебитор.Адрес %> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">ИНН:</div>
				<div class="value"><%= item.Дебитор.ИНН %> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">ОГРН:</div>
				<div class="value"><%= item.Дебитор.ОГРН %> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Сумма задолженности начальная:</div>
				<div class="value"><%= h_number_format(item.Сумма_задолженности, 2, ',', ' ')%> рублей. &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Сумма задолженности текущая:</div>
				<div class="value"><%= h_number_format(item.Сумма_задолженности_текущая, 2, ',', ' ')%> рублей. &nbsp</div>
			</div>	
			<div class="property">
				<div class="lable">Дата возникновения:</div>
				<div class="value"><%= item.Дата_возникновения%> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Цена продажи:</div>
				<div class="value"><%if(item.hasOwnProperty("Продажа"))
					{
					if(item.Продажа.Задолженность_продана=="true") { %>
					<%= h_number_format(item.Продажа.Цена, 2, ',', ' ') %> рублей.
					<% } 
					else { %> не продано <% } 
					}%>
					&nbsp
				</div>
			</div>
		</div>

		<div id="cpw-tab-2" >
			<div class="property">
				<div class="lable">Сумма задолженности текущая:</div>
				<div class="value"><%= h_number_format(item.Сумма_задолженности_текущая, 2, ',', ' ')%> рублей. &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Сумма задолженности начальная:</div>
				<div class="value"><%= h_number_format(item.Сумма_задолженности, 2, ',', ' ')%> рублей. &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Оценочная стоимость:</div>
				<div class="value"><%= h_number_format(item.Оценочная_стоимость, 2, ',', ' ') %> рублей. &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Цена продажи:</div>
				<div class="value"><%if(item.hasOwnProperty("Продажа"))
					{
					if(item.Продажа.Задолженность_продана=="true") { %>
					<%= h_number_format(item.Продажа.Цена, 2, ',', ' ') %> рублей.
					<% } 
					else { %> не продано <% } 
					}%>
					&nbsp
				</div>
			</div>
			<div class="property">
				<div class="lable">Погашено дебитором:</div>
				<div class="value"><%= h_number_format(item.Погашено_дебитором, 2, ',', ' ') %> рублей. &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Взыскано по исполнительному листу:</div>
				<div class="value"><%= h_number_format(item.Взыскано_по_исполнительному_листу, 2, ',', ' ') %> рублей. &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Списано:</div>
				<div class="value"><%= h_number_format(item.Списано, 2, ',', ' ') %> рублей. &nbsp</div>
			</div>
		</div>
		<div id="cpw-tab-3" >
			<div class="property">
				<div class="lable">Примечание:</div>
				<div class="value"><div class="note"><%= item.Доп_информация%> &nbsp</div></div>
			</div>
		</div>
		<!--<div id="cpw-tab-4" >
				Фотографии
		</div>-->
	</div>
</div>
