@font-face
{
	font-family: "Istok Web";
	src: url("../fonts/IstokWebRegular/IstokWebRegular.eot");
	src: url("../fonts/IstokWebRegular/IstokWebRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/IstokWebRegular/IstokWebRegular.woff") format("woff"),
	url("../fonts/IstokWebRegular/IstokWebRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html * 
{
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

input[type="checkbox"], input[type="radio"] { padding: 3px; }
input::-ms-reveal
{
	display: none;
}

body * { outline: none; }

body.cpw-ama
{
	padding: 0;
	color: #444;
	background: #FFF;
	line-height: 1.5;
	font-size: 14px;
}

table
{
	font-size: 14px;
}

body.cpw-ama header
{
	width: 100%;
	background: #fff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	margin: 0 0 25px 0;
}

.header-container
{
	max-width: 1300px;
	width: 100%;
	min-height: 66px;
	margin: auto;
	display: table;
	padding: 5px 10px 5px 3px;
	box-sizing: border-box;
	white-space: nowrap;
}

header > div > div
{
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

header img.logo
{
	width: 42px;
	vertical-align:middle;
	margin-right: 10px;
}

header span.title-ama
{
	vertical-align: middle;
	font-family: 'Istok Web', sans-serif;
	font-size: 16px;
	white-space: nowrap;
	line-height: normal;
}

header div.buttons
{
	text-align:right;
	font-weight: normal;
}

header div.buttons span.profile-bar
{
	font-size: 14px;
}

body.cpw-ama a
{
	color: #828282;
}

body.cpw-ama a:hover
{
	color: #D3242C;
	opacity: 0.8;
}

body.cpw-ama input.invalid
{
	background-color: pink;
}

body.cpw-ama a.visible-if-invalid
{
	color: red;
}

input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input), 
textarea, 
select
{
	padding: 7px 10px;
	border: 1px solid #DBDBDB;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type='file']
{
	background: none;
	cursor: pointer;
}
input[type="file"]::-ms-value
{
	padding: 7px 10px;
	border: 1px solid #DBDBDB;
	border-radius: 4px;
	box-sizing: border-box;
	background: #fff;
	vertical-align: middle;
}

input[type="file"]::-ms-browse
{
	vertical-align: middle;
	padding: 7px 17px;
	border-radius: 4px;
	font-size: 14px;
	border: 1px solid #D3242C;
	background-color: #fff;
	color: #D3242C;
	margin-left: 3px;
}

input:not([type='checkbox']):not([type='radio']):not([type='file']),
textarea
{
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
}

input::placeholder
{
	font-size: 0.9em
}
select
{
	padding: 7px 5px 7px 10px;
}
select::-ms-expand
{
	border: none;
	background: none;
}

div.password-input-container
{
	position: relative;
}

input[type="password"]
{
	padding-right: 2.5em;
}

.icon-password-toggle
{
	background-image: url(../img/eye-icon.png);
	background-repeat: no-repeat;
	background-size: 22px;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.5em;
	margin: auto 0;
	cursor: pointer;
}

.icon-password-toggle:hover
{
	background-image: url(../img/eye-icon-hover.png);
}

.icon-search-icon
{
	background-image: url(../img/search-red-icon.png);
	background-repeat: no-repeat;
	background-size: 1em;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.actions-button
{
	background-image: url(../img/actions-icon.png);
	background-repeat: no-repeat;
	background-size: 1.25em;
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.actions-button:hover
{
	background-image: url(../img/actions-icon-hover.png);
}

.info-red-icon
{
	background-image: url(../img/info-red-icon.png);
	background-repeat: no-repeat;
	background-size: 1em;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.triange-red-icon
{
	background-image: url(../img/triangle-red-icon.png);
	background-repeat: no-repeat;
	background-size: 1em;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.edit-icon
{
	background-image: url(../img/edit-gray-icon.png);
	background-repeat: no-repeat;
	background-size: 1em;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-position: 50% 50%;
}

.edit-icon:hover
{
	background-image: url(../img/edit-red-icon.png);
}

.trash-icon
{
    background-image: url(../img/trash-gray-icon.png);
    background-repeat: no-repeat;
    background-size: 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-position: 50% 50%;
}

.trash-icon:hover {
    background-image: url(../img/trash-red-icon.png);
}

.play-red-icon,
.pause-red-icon,
.stop-red-icon
{
	background-repeat: no-repeat;
	background-size: 1.25em;
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background-position: 50% 50%;
}

.play-red-icon
{
	background-image: url(../img/play-red-icon.png);
}

.pause-red-icon
{
	background-image: url(../img/pause-red-icon.png);
}

.stop-red-icon
{
	background-image: url(../img/stop-red-icon.png);
}

button:disabled .play-red-icon
{
	background-image: url(../img/play-gray-icon.png);
}
button:disabled .pause-red-icon
{
	background-image: url(../img/pause-gray-icon.png);
}

button:disabled .stop-red-icon
{
	background-image: url(../img/stop-gray-icon.png);
}

.ui-icon-seek-first,
.ui-icon-seek-prev,
.ui-icon-seek-next,
.ui-icon-seek-end
{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 14px;
	width: 14px;
	height: 14px;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button
{
	padding: 1px 3px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button.ui-state-hover
{
	border: none;
	background: none;
	font-weight: normal;
}

.ui-icon-seek-first
{
	background-image: url(../img/paging-end-icon.png) !important;
	transform: rotate(180deg);
}
.ui-icon-seek-prev
{
	background-image: url(../img/paging-next-icon.png) !important;
	transform: rotate(180deg);
}

.ui-icon-seek-next
{
    background-image: url(../img/paging-next-icon.png) !important;
}
.ui-icon-seek-end {
    background-image: url(../img/paging-end-icon.png) !important;
}

.ui-state-disabled .ui-icon-seek-first {
    background-image: url(../img/paging-end-black-icon.png) !important;
    transform: rotate(180deg);
}
.ui-state-disabled .ui-icon-seek-prev {
    background-image: url(../img/paging-next-black-icon.png) !important;
    transform: rotate(180deg);
}
.ui-state-disabled .ui-icon-seek-next {
    background-image: url(../img/paging-next-black-icon.png) !important;
}
.ui-state-disabled .ui-icon-seek-end {
    background-image: url(../img/paging-end-black-icon.png) !important;
}

button,
.ama-button,
button.ui-button.ui-state-default,
button.ui-widget-content .ui-button.ui-state-default,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
	padding: 8px 17px;
	border-radius: 4px;
	font-size: 14px;
	border: 1px solid #D3242C;
	background-color: #fff;
	color: #D3242C;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	line-height: normal;
}
button.ui-button.ui-widget.ui-dialog-titlebar-close
{
	padding: 1px;
	border: 0;
	font-size: 20px;
}
.button:hover,
button:hover,
button.ui-button.ui-state-default:hover,
button.ui-widget-content .ui-button.ui-state-default:hover,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover {
	opacity: 0.8;
}
button:active,
button.ui-button.ui-state-default:active,
button.ui-widget-content .ui-button.ui-state-default:active,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:active {
    opacity: 0.9;
}
.ui-dialog .ui-dialog-buttonpane .ui-button > span {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}
.button-red {
    background-color: #D3242C !important;
    color: #fff;
}

button[disabled="disabled"],
button:disabled,
button.disabled,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:disabled {
    background-color: #DDD;
    color: #9C9C9C;
	border-color: #DDD;
	cursor: default;
}
.ama-button > span,
button > span
{
	vertical-align: middle;
}

.semi-bold {
    font-weight: 600;
}

body.cpw-ama ul.ui-tabs-nav
{
    border-bottom-width: 0px;
    background: none;
    border: none;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
    font-size: 14px;
}

/* UI*/
.ui-widget
{
	/* font-family: Segoe UI, Arial, Helvetica, sans-serif; */
	font-size: 1em;
}
.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
.ui-widget button {
    font-size: 14px;
}
.ui-tabs .ui-tabs-nav {
    padding: 0;
}
.ui-widget ul.ui-widget-header.ui-tabs-nav li {
    border: none;
    text-align: left;
    outline: none;
    margin: 0;
    background: none;
	padding: 0;
    font-size: 14px;
    font-weight: normal;
    margin-right: 8px;
}
#cpw-ama-datamart-manager-main-tabs.ui-widget ul.ui-widget-header.ui-tabs-nav li:first-child,
#cpw-ama-datamart-customer-main-tabs.ui-widget ul.ui-widget-header.ui-tabs-nav li:first-child,
#cpw-ama-datamart-viewer-main-tabs.ui-widget ul.ui-widget-header.ui-tabs-nav li:first-child,
#cpw-ama-datamart-committee-main-tabs.ui-widget ul.ui-widget-header.ui-tabs-nav li:first-child {
    margin-left: 40px
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 10px 17px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: default;
}
body.cpw-ama div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
    border: none;
    background: #fff;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}


.ui-state-default, .ui-widget-content .ui-state-default {
    background: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #c5c5c5;
	font-weight: normal;
	color: #D3242C;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #444;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #D3242C;
    font-weight: 600;
}
.ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:visited {
	color: #D3242C !important;
}
.ui-state-hover {
    cursor: pointer;
}

ul.ui-widget-header.ui-tabs-nav li.ui-state-active {
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
}
.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
    border: none;
    background: #fff;
    padding: 0;
    max-width: 1300px;
    margin: 0 auto;
}
.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div {
    padding: 10px 10px 0;
	border: none;
	background: #fff;
    text-align: left;
}
/* UI */

/* jqGrid */
.ui-jqgrid .ui-jqgrid-htable {
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;

    border: 1px solid #DFDFDF;
    background: #EFEFEF;
    border-radius: 5px 5px 0 0;
    border-collapse: separate;
}
 .grid.ui-jqgrid-btable{
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox {
    padding: 0;
    float: none;
}
.ui-jqgrid .ui-jqgrid-bdiv {
    height: auto !important;
    min-height: 400px;
    box-sizing: border-box;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
}
body.cpw-ama table.grid.ui-jqgrid-btable {
    border-collapse: separate;
}
body.cpw-ama .ui-jqgrid tr.jqgfirstrow td {
    border: none;
}
.ui-jqgrid tr.ui-row-ltr {
    cursor: pointer;
}
.ui-jqgrid tr.ui-row-ltr td {
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.ui-jqgrid tr.ui-row-ltr td:not([aria-describedby="cpw-ama-datamart-procedures-grid_myac"]) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-jqgrid tr.ui-row-ltr:nth-child(2n+1) {
    background: #F5F5F5;
} 
body.cpw-ama .ui-jqgrid .ui-pg-selbox,
body.cpw-ama .ui-jqgrid .ui-pg-input {
    min-height: 35px;
    font-size: 1em;
}
.ui-icon-triangle-1-s {
    background-position: -65px -16px;
}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    font-weight: normal;
    border: none !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
}
.ama-registry-paged .ui-th-ltr,
.ama-registry-paged .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    padding-left: 5px;
    padding-right: 5px;
}
.closed-search .ui-search-toolbar
{
	display: none;
}
.ui-jqgrid .ui-jqgrid-htable tr:not(.ui-search-toolbar) th.ui-th-ltr{
    padding-top: 10px;
    padding-bottom: 10px !important;
}
.ui-search-toolbar th {
    padding-bottom: 5px !important;
}
.ui-search-toolbar th div {
    padding: 0 !important;
}
.ui-jqgrid .ui-search-table .ui-search-input {
    padding: 0;
}
.ui-jqgrid {
    border-radius: 0;
}
.ui-state-default.ui-jqgrid-hdiv {
    border-radius: 0;
    border-bottom: 0;
}
.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea {
    margin: 0;
}
.ui-jqgrid .ui-pg-input {
    width: 45px;
}
.ui-jqgrid .ui-search-table .ui-search-input>input, .ui-jqgrid .ui-search-table .ui-search-input>select {
    padding: 2px 5px !important;
}
.ui-jqgrid.ui-widget-content {
    border: none;
}
.ui-jqgrid .ui-jqgrid-pager {
    border: none;
    height: 65px;
    border-top: 1px solid #DFDFDF;
}
.ui-jqgrid .ui-pager-control {
    height: 100%;
}
.ui-jqgrid .ui-pg-table td {
    font-weight: 600;
}
.ui-jqgrid .ui-paging-info {
    margin-right: 0;
    font-weight: 600;
}
table.grid.ui-jqgrid-btable tr.ui-widget-content.ui-state-hover,
table.grid.ui-jqgrid-btable tr.ui-widget-header.ui-state-hover {
    background: #FEF9D5;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #FEF9D5 !important;
    color: #444;
    border: 1px solid #fff;
}
#gridPager > div > table > tbody > tr > td#gridPager_center {
    padding: 10px 0 5px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button .ui-separator {
    display: none;
}
.s-ico > span.ui-state-disabled,
.s-ico > span.ui-widget-content .ui-state-disabled {
    opacity: 0;
    filter: Alpha(Opacity=0);
}
.ui-jqgrid .ui-icon-asc,
.ui-jqgrid .ui-icon-desc {
    margin-top: 1px;
}
/* jqGrid */

/* Стиль всех страниц */

body.cpw-ama > div.page-container
{
	background: white;

	    width: 1000px;
	min-width:  780px;

	margin-top:    30px;
	margin-bottom:  5px;

	margin-left:   auto;
	margin-right:  auto;
}

 body.cpw-ama .ui-dialog {
    overflow: hidden;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

 body.cpw-ama .ui-dialog > .ui-widget-header {
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
    padding-bottom: 0;
    padding-left: 0.8em;
    color: #444;
}
.ui-dialog .ui-dialog-title {
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}
.ui-dialog .ui-dialog-titlebar-close {
    margin: -7px 0 0;
    right: 0.75em;
    border: none;
    color: #D3242C;
    background: none;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
    color: #444;
}
.ui-dialog .ui-dialog-titlebar-close::before {
    content: "\d7";
    font-weight: bold;
    font-size: 24px;
    line-height: 0.5em;
}
.ui-dialog .ui-dialog-titlebar-close .ui-icon {
    display: none
}
.ui-widget-overlay {
    background: #000;
    opacity: .5;
    filter: Alpha(Opacity=50);
}
.ui-dialog .ui-dialog-buttonpane .ui-button {
    border: none;
}

button.ui-button > .ui-button-text {
    padding: 0;
}

button.ui-button > .ui-button-icon-primary {
    left: 13px;
}

button.ui-button > .ui-button-icon-primary + .ui-button-text {
    padding: 0 0 0 18px;
}

/* select2 */

.select2-container .select2-choice
{
	padding: 9px 0 9px 13px;
	border: 1px solid #c5c5c5;
}

.select2-container .select2-choice,
.select2-container .select2-choice div
{
	background-image: none;
	background: #fff;
	height: auto;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.select2-container .select2-choice span
{
	line-height: normal;
	font-size: 14px;
	min-height: 19px;
}

.select2-container .select2-choice div
{
	border: none;
	box-sizing: border-box;
	height: 100%;
	width: 30px;
}

.select2-container .select2-choice div::before
{
	content: "";
	width: 6px;
	height: 6px;
	border-right: 0.15em solid #D43B40;
	border-top: 0.15em solid #D43B40;
	transform: rotate(135deg);
	display: inline-block;
	margin: 14px 0px 0 8px;
}

.select2-container .select2-choice div b
{
	display: none;
}

.select2-container-active .select2-choice, 
.select2-container-active .select2-choices
{
	border: 1px solid #c5c5c5;
}

.select2-search input
{
	border-radius: 4px;
}

/* multi select2 */
.select2-container.select2-container-multi.select
{
	margin: 0;
	position: relative;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}

.select2-container .select2-choices
{
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	padding: 5px;
	padding: 0;
}

.select2-container .select2-choices, 
.select2-container .select2-choices li, 
.select2-container .select2-choices div
{
	background-image: none;
	background: #fff;
}

.select2-container-multi .select2-choices .select2-search-choice
{
	width: 100%;
	box-sizing: border-box;
	background-image: none;
	background: #fff;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #c5c5c5;
	margin: 0;
	padding: 10px 10px 10px 23px;
}

.select2-search-choice-close
{
	top: 10px;
	left: 5px !important;
}

li.select2-search-field::after
{
	content: "+";
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	left: 5px;
	color: #D3242C;
}

.select2-container-multi.select2-dropdown-open li.select2-search-field::after
{
	content: "";
}

body.cpw-ama .select2-container-active.select2-container-multi .select2-choices
{
	border-color: gray;
}

/* Jquery menu */
.jquery-menu 
{
	font-size: 14px;
	max-width: 400px;
	position: absolute;
	margin-top: 10px;
	border: none;
	border-radius: 0;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	text-align: left;
	z-index: 11;
	display: none;
}

.jquery-menu li:not(:last-child)
{
	border-bottom: 1px solid #DFDFDF;
}

.jquery-menu li.arrow
{
	background: transparent;
	margin: 0;
	border-width: 11px;
	border-top-width: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: rgba(0, 0, 0, 0.05);
	position: absolute;
	right: 7px;
	top: -11px;
	width: 0;
	height: 0;
}

.jquery-menu li.arrow:after
{
	content: "";
	margin-left: -10px;
	position: absolute;
	top: 1px;
	border-width: 10px;
	border-top-width: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #ffffff;
	width: 0;
	height: 0;
}

.jquery-menu li.arrow-down
{
	display: none;

    background: transparent;
    margin: 0;
    border-width: 11px;
    border-bottom-width: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 7px;
    bottom: -11px;
    width: 0;
    height: 0;
}

.jquery-menu li.arrow-down:after
{
    content: "";
    margin-left: -10px;
    position: absolute;
	bottom: 2px;
    border-width: 10px;
    border-bottom-width: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #ffffff;
    width: 0;
    height: 0;
}

.jquery-menu li:not(.arrow):not(.arrow-down) {
	color: #D3242C;
	font-weight: normal;
	padding: 10px 15px !important;
	white-space: pre;
	line-height: normal;
}

.jquery-menu li.ui-state-focus
{
	background: #f5f5f5;
	color: #D3242C;
	border: none;
	margin: 0;
}

.jquery-menu li:not(:last-child).ui-state-focus
{
	border-bottom: 1px solid #DFDFDF;
}

div.cpw-form-ama-datamart-grid
{
	position: relative;
}

div.cpw-form-ama-datamart-grid .search-bar
{
	position: absolute;
	top: -53px;
	right: 0;
	background: #fff;
	box-sizing: border-box;
}

div.cpw-form-ama-datamart-grid .search-bar .show-hide-search-inputs
{
	display: block;
}

div.cpw-datamart-ui-content > div.ui-placeholder > div
{
	width:250px;
	margin:50px auto;
	color:gray;
}

div.cpw-datamart-ui-content > div.ui-placeholder > div img
{
	width:50px;
}

body > div.dm-footer
{
	text-align:center;
}

body > div.dm-footer div
{
	padding-top:10px;
	margin-top:25px;
	color:gray;
}

.cpw-ama .tt-menu {
	z-index: 102 !important;
	min-width: 740px;
	box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
	max-height: 140px;
    overflow-y: auto;
}

.cpw-ama .tt-menu.tt-open {
	background-color: white;
}

.cpw-ama .tt-menu .tt-suggestion {
	cursor: pointer;
	padding: 3px 7px 4px;
}

.cpw-ama .tt-menu .tt-suggestion:hover,
.cpw-ama .tt-menu .tt-suggestion.tt-cursor {
	background: #3875d7;
	color: #fff;
}
.cpw-ama .jqgrid-not-editable-row .actions-button{
	display: none;
}