<style>
div.ama-datamart-km-item p.number-group
{
	text-align:right;
}
div.ama-datamart-km-item p.title
{
	font-weight:bold;
}

div.ama-datamart-km-item div.value 
{
    width: 400px;
    display: inline-block;
}
div.ama-datamart-km-item div.value div.note
{
    white-space:pre-wrap;
}
div.ama-datamart-km-item div.lable 
{
    width: 300px;
    margin-left: 5px;
    float: left;
	font-weight:bold;
}

div.ama-datamart-km-item div.property
{
    width: auto;
    margin-bottom: 20px;
}
</style>
<%
var item= null==obj ? {} : obj.value();
if (!item || null==item)
	item= {};
var h_number_format= obj.options.h_number_format;
%>
<div class="ama-datamart-km-item">
	<p class="title"><%= h_number_format(item.Стоимость.Первоначальная, 2, ',', ' ')%> рублей на счёте <%= item.Наименование %><% if (0) { %>Денежные средства<% } %></p>
	<div id="cpw-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-tab-1" >Главное</a></li>
			<li><a href="#cpw-tab-2" >Дополнительно</a></li>
			<!--<li><a href="#cpw-tab-3" >Фотографии</a></li>-->
		</ul>

		<div id="cpw-tab-1" >
			<div class="property">
					<div class="lable">Сумма:</div>
					<div class="value"><%= h_number_format(item.Стоимость.Первоначальная, 2, ',', ' ')%> рублей. &nbsp</div>
				</div>
			<div class="property">
					<div class="lable">Тип:</div>
					<div class="value"><%if(item.hasOwnProperty("Дополнительная_информация_денежные_средства")) 
						{%><%= item.Дополнительная_информация_денежные_средства.Тип%><%}%> &nbsp</div>
				</div>
			<div class="property">
					<div class="lable">Банк:</div>
					<div class="value"><%if(item.hasOwnProperty("Дополнительная_информация_денежные_средства"))
						{%><%= item.Дополнительная_информация_денежные_средства.Банк%><%}%> &nbsp</div>
				</div>
			<div class="property">
					<div class="lable">Банковский счет:</div>
					<div class="value"><%if(item.hasOwnProperty("Дополнительная_информация_денежные_средства"))
						{%><%= item.Дополнительная_информация_денежные_средства.Счет%><%}%> &nbsp</div>
				</div>
		</div>

		<div id="cpw-tab-2" >
			<div class="property">
				<div class="lable">Примечание:</div>
				<div class="value"><div class="note"><%= item.Доп_информация%> &nbsp</div></div>
			</div>
		</div>
		<!--<div id="cpw-tab-3" >
			Фотографии
		</div>-->
	</div>
</div>
