<style>
div.cpw-ama-datamart-procedure
{
	width: 610px;
	margin: 0 auto;
	height: auto;
}
div.cpw-ama-datamart-procedure div.row
{
	margin-bottom: 5px;
}
div.cpw-ama-datamart-procedure div.title
{
	display: inline-block;
	width: 100px;
	padding: 0 3px;
	box-sizing: border-box;
}
div.cpw-ama-datamart-procedure div.title2
{
	display: inline-block;
	width: 70px;
	padding-right: 3px;
	box-sizing: border-box;
	text-align: center;
}
div.cpw-ama-datamart-procedure div.row.small3 input
{
	width: 119px;
}
div.cpw-ama-datamart-procedure textarea
{
	width: 505px;
	vertical-align:top;
}
div.cpw-ama-datamart-procedure input.proc-type {width:230px;}
div.cpw-ama-datamart-procedure input.case-number {width:200px;}
</style>
<div class="cpw-ama-datamart-procedure">

	<div class="row">
		<div class="title">Процедура</div>
		<input class="proc-type" type="text" readonly="true" value="<%= obj.txt('ТипПроцедуры') %>" disabled="disabled" readonly="readonly" /> 
		<div class="title2">Дело №</div>
		<input class="case-number" type="text" readonly="true" value="<%= obj.txt('НомерДела') %>" disabled="disabled" readonly="readonly" /> 
	</div>

	<div class="row">
		<div class="title">Должник</div>
		<textarea id="debtor-title" readonly="readonly" rows="2" disabled="disabled" <%= obj.textarea_attrs('Должник.Наименование') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row small3">
		<div class="title">ИНН</div>
		<input type="text" readonly="true" value="<%= obj.txt('Должник.ИНН') %>" disabled="disabled" readonly="readonly" /> 
		<div class="title2">ОГРН</div>
		<input type="text" readonly="true" value="<%= obj.txt('Должник.ОГРН') %>" disabled="disabled" readonly="readonly" /> 
		<div class="title2">СНИЛС</div>
		<input type="text" readonly="true" value="<%= obj.txt('Должник.СНИЛС') %>" disabled="disabled" readonly="readonly" />
	</div>

	<div class="row small3">
		<div class="title">Адрес</div>
		<textarea id="debtor-address" rows="2" <%= obj.textarea_attrs('Должник.Адрес') %> ><%= obj.value() %></textarea>
	</div>

	<label>
		<div class="title">В архив</div>
		<input type="checkbox" <%= obj.checkbox_attrs('В_архив') %> />
	</label>

</div>