<style>
div.cpw-ama-committee-cabinet-question > div.form
{
	max-width: 600px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #DFDFDF;
	box-sizing: border-box;
}
div.cpw-ama-committee-cabinet-question div.planed
{
	font-size: 14px;
	margin-bottom: 5px;
	color: gray;
}
div.cpw-ama-committee-cabinet-question div.planed div
{
	display: inline-block;
}
div.cpw-ama-committee-cabinet-question div.planed div.text
{
	margin-left: 5px;
	font-weight: 600;
}
div.cpw-ama-committee-cabinet-question div.asked div.text
{
	font-size: 21px;
	text-align: center;
	font-weight: 600;
}
div.cpw-ama-committee-cabinet-question button.next
{
	float: right;
}
div.cpw-ama-committee-cabinet-question div.footer
{
	margin-bottom: 10px;
}
div.cpw-ama-committee-cabinet-question div.signature-placer
{
	text-align: right;
}
div.cpw-ama-committee-cabinet-question div.signature
{
	margin: 3px;
	margin-top: 15px;
	color: #4c4da0;
	border: 1px solid #4c4da0;
	padding: 5px;
	border-radius: 10px;
	width: 85%;
	display: inline-block;
	text-align: center;
}
div.cpw-ama-committee-cabinet-question div.signature .signature-time
{
	display: inline-block;
	width: 155px;
}
div.cpw-ama-committee-cabinet-question span.invalid
{
	color: gray;
	font-size: 14px;
}
div.cpw-ama-committee-cabinet-question p.please {
	margin: 10px 0;
}
div.cpw-ama-committee-cabinet-question ul
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1.5em;
}
div.cpw-ama-committee-cabinet-question .header,
div.cpw-ama-committee-cabinet-question .footer
{
	margin-bottom: 10px;
	width: 100%;
	max-width: 600px;
	margin: 10px auto;
 }
/* custom checkbox*/
div.cpw-ama-committee-cabinet-question label.container 
{
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: inline-block;
	vertical-align: middle;
	height: 14px;
	width: 14px;
}
div.cpw-ama-committee-cabinet-question label.container input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	z-index: -999;
}
div.cpw-ama-committee-cabinet-question .checkmark
{
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #A6A6A6;
	box-sizing: border-box;
}
div.cpw-ama-committee-cabinet-question label.container.disabled
{
	cursor: not-allowed;
}
div.cpw-ama-committee-cabinet-question label.container.disabled .checkmark
{
	background-color: #CFCFCF;
	border: 1px solid #CFCFCF;
}
div.cpw-ama-committee-cabinet-question label.container input:checked~.checkmark
{
	background-color: #D3242C;
}
div.cpw-ama-committee-cabinet-question .checkmark:after
{
	content: "";
	position: absolute;
	display: none;
}
div.cpw-ama-committee-cabinet-question label.container input:checked~.checkmark:after
{
	display: block;
}
div.cpw-ama-committee-cabinet-question label.container input:checked~.checkmark
{
	border-color: transparent;
}
div.cpw-ama-committee-cabinet-question label.container .checkmark:after
{
	top: 1px;
	left: 1px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-sizing: border-box;
	background: #D3242C;
}
</style>
<%	
var v= obj.value();
var Подписано= v.Подписано;
%>
<div class="cpw-ama-committee-cabinet-question">

	<div class="header">
		<button class="button top">Вернуться на главную страницу кабинета</button>
	</div>

	<div class="form">

		<div class="planed">
			<div class="title">Вопрос повестки заседания </div> 
			<div class="text"> 
				№ 
				<%= obj.txt_field('Номер') %><% if (0) { %>1<% } %>) 
				"<%= obj.txt_field('В_повестке') %><% if (0) { %>О положении в Венесуэле<% } %>"
			</div>
		</div>

		<div class="asked">
			<div class="title">Вопрос на голосование:</div>
			<div class="text">
				<%= obj.txt_field('На_голосование.Формулировка') 
				%><% if (0) { %>Выразить глубокую озабоченность ситуацией в Венесуэле?<% } %>
			</div>
		</div>

		<div class="answer">
			<% if (0) { %>Здесь должны быть предлагаемые варианты в соответствии с формой боанка<% } %>
		</div>

		<p class="please">Отметьте выбранный Вами вариант голосования.</p>

		<span class="invalid">
			Бюллетень, 
			<ul>
				<li>в котором не выбран ни один вариант, </li>
				<li>либо неподписанный бюллетень, </li>
			</ul>
			считается недействительными.
		</span>

		<% if (Подписано) { %>
		<div class="signature-placer">
			<div class="signature">
				<span>Бюллетень с ответом подписан простой электронной подписью и зарегистрирован в информационной системе:</span> 
				<b class="signature-time"><%= Подписано %><% if (0) { %>11.11.2011<% } %></b>
			</div>
		</div>
		<% } %>

	</div>

	<div class="footer">
		<button class="button prev" style="margin-bottom: 5px;">Вернуться к предыдущему вопросу</button>
		<button class="button button-red next">Перейти к следующему вопросу</button>
	</div>

</div>