<style>
div.ama-report-summary
{
	width: 250px;
	overflow: auto;
	box-sizing: border-box;
}
div.ama-report-summary ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.ama-report-summary ul li
{
	margin: 0;
	padding: 2px;
	margin-left: 10px;
}
div.ama-report-summary ul li:not(:first-child):not(:last-child) a
{
	margin-left: 15px;
}
div.ama-report-summary ul li a
{
	text-decoration: none;
	color: #555 !important;
}
div.ama-report-summary ul li a:hover
{
	text-shadow: 0 0px 1px rgba(0,0,0,0.25);
	text-decoration: underline;
}
div.ama-report-summary ul li a.head1
{
	font-weight: 600;
	font-size: 16px;
}
div.ama-report-summary ul li a.head2
{
	font-size: 14px;
	font-weight: 600;
}
div.ama-report-summary ul li a.head3
{
	padding-left: 15px;
}
</style>
<%
var headers= obj.value();
if (!headers || null==headers)
	headers= [];
%>
<div class="ama-report-summary">
	<% if (0==headers.length) { %>
		<span>Заголовков нет</span>
	<% } %>
	<ul>
		<%	for (var i= 0; i < headers.length; i++) 
			{
				var header= headers[i];
		%>
		<li>
			<a 
				class="head<%= header.level %>"
				href="#<%= header.name %>" 
			>
				<%= header.title %><%if (0) { %>Начало<% } %>
			</a>
		</li>
		<%	} %>
    </ul>
</div>