<style>
div.cpw-datamart-month-form table
{
	text-align: center;
	border-collapse: separate;
	width: 100%;
	border-spacing: 2px 2px;
}
div.cpw-datamart-month-form table caption
{
	font-weight:bold;
}
div.cpw-datamart-month-form table th
{
	border: 1px;
	font-weight: 100;
	font-size: 12px;
}
div.cpw-datamart-month-form table td
{
	font-size: 12px;
	width: 12px;
	height: 12px;
	padding-right:1px;
}
div.cpw-datamart-month-form table td.holiday { background: #FFA6C2; }
div.cpw-datamart-month-form table td.day-off
{
	border-color: #D3242C;
	border-style: solid;
	border-width: thin;
}
div.cpw-datamart-month-form table td.work { background: #F5F5F5; }
</style>
<%
var v= obj.value();
if (!v || null==v)
	v= [];

var arrayMonths = [
	'Январь','Февраль', 'Март', 'Апрель'
	,'Май','Июнь','Июль','Август'
	,'Сентябрь','Октябрь','Ноябрь','Декабрь'];

var cols = 7, rows = 6;

var month= 1;
var year= 2021;
var date= new Date(2021,0,1);

if (v && null!=v && v.length>0)
{
	var dateArray = v[0].день.split('.');
	month = dateArray[1];
	year = dateArray[2];
	date = new Date(year ,month-1 , dateArray[0]);
}

var header_month = arrayMonths[month-1];

var last_date = new Date(date.getFullYear(), date.getMonth() + 1, 0);
var last_day = last_date.getDate();
var weekday = date.getDay();
weekday = weekday == 0 ? 6 : weekday-1;
var day = 0;
var workClass = 'work';
var isNewYear = $('#next_year').val();

%>
<div class="cpw-datamart-month-form">
	<table>
		<caption><%= header_month %><% if (0) { %>Мартабрь<% } %></caption>
		<tr>
			<th>пн</th><th>вт</th><th>ср</th><th>чт</th><th>пт</th><th>сб</th><th>вс</th>
		</tr>
		<% for (var i= 0; i < rows; i++) { %>
		<tr>
			<% for (var j=0; j < cols; j++)
			{
                var dataDay = '';
                if (i == 0 && j < weekday){
                    day = 0;
                }else{
                    day++;
                }%>
                <%
                if(v[day-1]&&(v[day-1].рабочий=="false" || !v[day-1].рабочий) || isNewYear && (j == 5|| j==6) ){
                    workClass = 'holiday';
                } else {
                    workClass = 'work';
                }
                if (j == 5|| j==6){
                    workClass += ' day-off';
                }
                dday = (''+day).length == 1 ? "0"+day : day;
                dataDay =  dday+"."+month+"."+year;
                if (day==0 || day > last_day){ %>
			<td><% if (0) { %>-1<% } %></td>
                <% } else { %>
			<td class ="<%=workClass%>"
				data-day="<%=dataDay%>"
				data-change=0><%= day==0 || day > last_day ? "" : day %><% if (0) { %>1<% } %></td>
				<% }
			} %>
		</tr>
		<% } %>
	</table>
</div>