<style>
div.cpw-ama-award-admin-votes div.title
{
	margin-bottom: 5px;
}
</style>
<div class="cpw-ama-award-admin-votes">

	<div class="title">Зарегистрированные голоса:</div>
	<div class="grid">
		<table id="cpw-ama-dm-award-votes-grid" class="grid"></table>
		<div id="cpw-cpw-ama-dm-award-votes-pager"></div>
	</div>
</div>