<%
	var showCheckbox = obj.options.showCheckbox;
	var onlyAddInfo = obj.options.onlyAddInfo;
	var readonly = obj.options.readonly;
%>
<% if(onlyAddInfo) { %>
	<style>
		div.cpw-ama-datamart-court_decision {
			width: 580;
		}
	</style>
<% } else { %>
	<style>
		div.cpw-ama-datamart-court_decision {
			width:906px;
		}
	</style>
<% } %>
<style>
div.cpw-ama-datamart-court_decision
{
	margin:0 auto;
}
div.cpw-ama-datamart-court_decision .row { margin-top: 5px; }
div.cpw-ama-datamart-court_decision .time { width: 173px; }
div.cpw-ama-datamart-court_decision .show-to-sro
{
	display: inline-block;
	width: 650px;
	vertical-align:bottom;
}
div.cpw-ama-datamart-court_decision .help { display: inline-block; }
div.cpw-ama-datamart-court_decision .full { width: 100% }
div.cpw-ama-datamart-court_decision .label { margin-bottom: 5px; }
div.cpw-ama-datamart-court_decision .label-inline{
	display: inline-block;
	margin-right: 5px;
}
div.cpw-ama-datamart-court_decision button.open-act
{
	float:right;
	color:gray;
	border-color:gray;
	padding:3px;
	margin:2px;
}
</style>
<div class="cpw-ama-datamart-court_decision">
	<% if(!onlyAddInfo) { %>
		<div class="row">
			<span>Ссылка на судебный акт:</span>
			<textarea class="full" id="cpw-ama-datamart-court_decision-url" maxlength="250" <%= obj.textarea_attrs('Ссылка') %>
				><%= obj.value() %></textarea>
		</div>
		<button class="open-act">Открыть судебный акт по ссылке</button>
		<div class="row">
			<div class="label-inline">Дата судебного акта:</div>
			<div class="help" title="Дата получения запроса от АС на подачу кандидатур АУ для утверждения в процедуру">
				<input type="text" class="time" value="<%= obj.txt('Время.акта') %>" <%= obj.date_attrs() %> />
			</div>
			<% if(showCheckbox) { %>
			<label class="show-to-sro">
				<input type="checkbox" <%= obj.checkbox_attrs('Показывать_СРО') %> /> 
				показать Судебный акт о запросе кандидатур АУ СРО (сообщить о запросе кандидатур)
			</label>
			<% } %>
		</div>
	<% } %>
	<div class="row">
		<% if(!onlyAddInfo) { %> <div>Дополнительная информация:</div> <% } %>
		<textarea class="full" id="cpw-ama-datamart-court_decision-add-info" maxlength="250" <%= obj.textarea_attrs('Дополнительная_информация') %> <% if(readonly) { %> readonly <% } %>
			><%= obj.value() %></textarea>
	</div>
</div>