<HEAD><TITLE>Бюллетени и подписи</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=language content=ru>
<SCRIPT>function WBT_ExecuteLines(){ wbt_GetHtmlSource= function() { return document.documentElement.innerHTML; }}</SCRIPT>
</HEAD>
<BODY>
<H1>Бюллетени и подписи</H1>
<H2>Иванов Иван Иванович </H2><B>Бюллетень голосования</B><BR><SMALL>Файл "B.20190515214004.txt", размером 1569 байт, контрольной суммой (хэш) md5 bf3dc23976708c31e4ce7a162293ea27</SMALL>: 
<HR>
<PRE>﻿﻿Бюллетень голосования комитета кредиторов

Наименование должника: ООО "КАРИНА"
Местонахождение должника: г. Ижевск, Лихвинцева 56, кв 67
Дата проведения заседания: 19.05.2019 11:00
Место проведения заседания: сайт информационной системы «Витрина данных ПАУ»
                            в сети «Интернет» по адресу: https://rsit.ru/datamart/ui.php
Участник заседания: Иванов Иван Иванович

Я, Иванов Иван Иванович, по вопросам повестки заседания голосую следующим образом:

2) По вопросу «Выразить озабоченность ситуацией в Гондурасе»,
   мне были предложены варианты ответов:
   - «За»
   - «Против»
   - «Воздержался»
   Я голосую за вариант «За»

3) По вопросу «Выбрать компанию для осуществления охранных услуг»,
   мне были предложены варианты ответов:
   - «ООО "Спартак"»
   - «ООО "Рекс"»
   - «ООО "Мухтар"»
   - мой собственный вариант в свободной форме
   Я голосую за вариант «ООО "Мухтар"»</PRE>
<HR>
<B>Подпись участника под бюллетенем</B><BR><SMALL>Файл "S.20190515214010.txt", размером 2588 байт, контрольной суммой (хэш) md5 20d3beeadaf864e6c7cba304bba30066</SMALL>: 
<HR>
<PRE>Простая электронная подпись бюллетеня голосования 

В ИС «Витрина данных ПАУ» зарегистрированы следующие шаги голосования:

15.05.2019 10:00:04
Отправлено электронное письмо 
с адреса info@russianit.ru в адрес f@g.h 
с темой «Заседание комитета 19.05.2019 11:00 ООО "КАРИНА"» 
на имя «Иванов Иван Иванович» 
с уведомлением о проведении 19.05.2019 11:00 заседания комитета кредиторов 
ООО "КАРИНА", повесткой заседания и ссылкой на Кабинет голосования

15.05.2019 21:00:02
Осуществлён вход с IP 127.0.0.1 в Кабинет голосования заседания 
комитета кредиторов «ООО "КАРИНА"» 
назначенного на 19.05.2019 11:00 для участника «Иванов Иван Иванович»

15.05.2019 21:40:05
Отправлено электронное письмо 
с адреса ????? в адрес f@g.h 
с темой «Бюллетень комитета 19.05.2019 11:00 ООО "КАРИНА"» 
на имя «Иванов Иван Иванович» с уведомлением о голосовании 
и приложением заполненного бюллетеня голосования в виде файла с названием 
«B.20190515214004.txt», длиной 1569 байт 
и контрольной суммой (хэшем) по алгоритму md5: bf3dc23976708c31e4ce7a162293ea27

15.05.2019 21:40:08
Отправлено СМС от PAU на номер 82345322223 
с Кодом подтверждения подписи 1234

15.05.2019 21:40:10
В Кабинете голосования заседания комитета кредиторов 
«ООО "КАРИНА"» назначенного на 19.05.2019 11:00 
для участника «Иванов Иван Иванович» был введён 
Код подтверждения подписи 1234 в поле ввода под визуальным 
образом бюллетеня голосования длиной 1569 байт 
и контрольной суммой (хэшем) по алгоритму md5: bf3dc23976708c31e4ce7a162293ea27

Подписано электронной подписью ИС «Витрина данных ПАУ»
</PRE>
<HR>
<B>Подпись ИС «Витрина данных ПАУ»</B><BR><SMALL>Файл "O.20190515214011.txt", размером 142 байт, контрольной суммой (хэш) md5 68be1e36baa63851e41210a58ab4c338</SMALL>: 
<HR>
<PRE>Заменитель подписи в тестовом режиме (настройка пути к сертификату НЕ задана)</PRE>
<HR>

<H2>Филькенштейн Мойша Моисеевич </H2><B>Бюллетень голосования</B><BR><SMALL>Файл "B.20190515160005.txt", размером 1597 байт, контрольной суммой (хэш) md5 d2cfa149b868c20b19a08c1a9b1b606c</SMALL>: 
<HR>
<PRE>﻿﻿Бюллетень голосования комитета кредиторов

Наименование должника: ООО "КАРИНА"
Местонахождение должника: г. Ижевск, Лихвинцева 56, кв 67
Дата проведения заседания: 19.05.2019 11:00
Место проведения заседания: сайт информационной системы «Витрина данных ПАУ»
                            в сети «Интернет» по адресу: https://rsit.ru/datamart/ui.php
Участник заседания: Филькенштейн Мойша Моисеевич

Я, Филькенштейн Мойша Моисеевич, по вопросам повестки заседания голосую следующим образом:

2) По вопросу «Выразить озабоченность ситуацией в Гондурасе»,
   мне были предложены варианты ответов:
   - «За»
   - «Против»
   - «Воздержался»
   Я голосую за вариант «За»

3) По вопросу «Выбрать компанию для осуществления охранных услуг»,
   мне были предложены варианты ответов:
   - «ООО "Спартак"»
   - «ООО "Рекс"»
   - «ООО "Мухтар"»
   - мой собственный вариант в свободной форме
   Я голосую за вариант «ООО "Рекс"»</PRE>
<HR>
<B>Подпись участника под бюллетенем</B><BR><SMALL>Файл "S.20190515160011.txt", размером 2652 байт, контрольной суммой (хэш) md5 81dc346f2e430ee2b7fd30f18a245bd6</SMALL>: 
<HR>
<PRE>Простая электронная подпись бюллетеня голосования 

В ИС «Витрина данных ПАУ» зарегистрированы следующие шаги голосования:

15.05.2019 10:00:07
Отправлено электронное письмо 
с адреса info@russianit.ru в адрес e@e.e 
с темой «Заседание комитета 19.05.2019 11:00 ООО "КАРИНА"» 
на имя «Филькенштейн Мойша Моисеевич» 
с уведомлением о проведении 19.05.2019 11:00 заседания комитета кредиторов 
ООО "КАРИНА", повесткой заседания и ссылкой на Кабинет голосования

15.05.2019 16:00:02
Осуществлён вход с IP 127.0.0.1 в Кабинет голосования заседания 
комитета кредиторов «ООО "КАРИНА"» 
назначенного на 19.05.2019 11:00 для участника «Филькенштейн Мойша Моисеевич»

15.05.2019 16:00:06
Отправлено электронное письмо 
с адреса ????? в адрес e@e.e 
с темой «Бюллетень комитета 19.05.2019 11:00 ООО "КАРИНА"» 
на имя «Филькенштейн Мойша Моисеевич» с уведомлением о голосовании 
и приложением заполненного бюллетеня голосования в виде файла с названием 
«B.20190515160005.txt», длиной 1597 байт 
и контрольной суммой (хэшем) по алгоритму md5: d2cfa149b868c20b19a08c1a9b1b606c

15.05.2019 16:00:09
Отправлено СМС от PAU на номер 82345447276 
с Кодом подтверждения подписи 1234

15.05.2019 16:00:11
В Кабинете голосования заседания комитета кредиторов 
«ООО "КАРИНА"» назначенного на 19.05.2019 11:00 
для участника «Филькенштейн Мойша Моисеевич» был введён 
Код подтверждения подписи 1234 в поле ввода под визуальным 
образом бюллетеня голосования длиной 1597 байт 
и контрольной суммой (хэшем) по алгоритму md5: d2cfa149b868c20b19a08c1a9b1b606c

Подписано электронной подписью ИС «Витрина данных ПАУ»
</PRE>
<HR>
<B>Подпись ИС «Витрина данных ПАУ»</B><BR><SMALL>Файл "O.20190515160012.txt", размером 142 байт, контрольной суммой (хэш) md5 68be1e36baa63851e41210a58ab4c338</SMALL>: 
<HR>
<PRE>Заменитель подписи в тестовом режиме (настройка пути к сертификату НЕ задана)</PRE>
<HR>
</BODY>