<HEAD><TITLE>Бюллетени и подписи</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=language content=ru>
<SCRIPT>function WBT_ExecuteLines(){ wbt_GetHtmlSource= function() { return document.documentElement.innerHTML; }}</SCRIPT>
</HEAD>
<BODY>
<STYLE>
span.ama-committee-protocol span.headers p
{
	margin-top:3px;
	margin-bottom:3px;
}
span.ama-committee-protocol span.headers p span.name
{
	font-weight:bold;
	display:block;
}
span.ama-committee-protocol table
{
	margin-left:10mm;
}
span.ama-committee-protocol span.value
{
	margin-left:10mm;
	display:block;
}
span.ama-committee-protocol td
{
	padding:4px;
}
</STYLE>
<SPAN class=ama-committee-protocol>
<CENTER>
<H2>Технический протокол № 3 заочного голосования в электронном виде заседания комитета кредиторов <BR>ООО "КАРИНА" </H2></CENTER>
<P style="TEXT-ALIGN: right">от 16.05.2019</P><SPAN class=headers>
<P><SPAN class=name>Наименование должника: </SPAN><SPAN class=value>ООО "КАРИНА" </SPAN></P>
<P><SPAN class=name>Адрес места нахождения должника: </SPAN><SPAN class=value>г. Ижевск, Лихвинцева 56, кв 67 </SPAN></P><!--
<p>
	<span class="name">Арбитражный суд, в производстве которого находится дело о банкротстве: </span>
	<span class="value">Арбитражный суд Удмуртской Республики</span>
</p>
-->
<P><SPAN class=name>Дело о несостоятельности (банкротстве):</SPAN> <SPAN class=value>№ А16-936/2014 </SPAN></P><!--
<p>
	<span class="name">Место проведения заседания комитета кредиторов: </span>
	<span class="value">РЕСПУБЛИКА УДМУРТСКАЯ, ГОРОД ИЖЕВСК, УЛИЦА КИРОВА ДОМ 172 БЛОК 14</span>
</p>
-->
<P><SPAN class=name>Дата и время проведения заседания комитета кредиторов (время окончания приёма бюллетеней для голосования): </SPAN><SPAN class=value>19.05.2019 11:00 </SPAN></P><!--
<p>
	<span class="name">Регистрация участников заседания комитета кредиторов: </span>
	<span class="value">начата в 09 часов 30 минут; окончена в 10 часов 00 минут</span>
</p>
<p>
	<span class="name">Основание проведения заседания комитета кредиторов: </span>
	<span class="value">заседание комитета кредиторов созвано по инициативе конкурсного управляющего  Иванова Ивана Ивановича с целью решения вопросов, связанных с применением процедуры банкротства к ООО «УК «Светлый город» на основании ст. 17 Федерального закона от 26.10.2002 N 127-ФЗ.</span>
</p>
<p>
	<span class="name">Сведения об уведомлении членов комитета кредиторов о проведении заседания: </span>
	<span class="value">члены комитета кредиторов уведомлены конкурсным управляющим о проведении заседания телефонограммами и уведомлением по электронной почте.</span>
</p>
--></SPAN>
<P><SPAN>В заочном голосовании в электронном виде приняли участие:</SPAN> 
<TABLE style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid">
<TBODY>
<TR>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; VERTICAL-ALIGN: bottom; BORDER-BOTTOM: gray 2px solid; BORDER-LEFT: silver 1px solid" rowSpan=3>№</TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: center; BORDER-LEFT: silver 1px solid" colSpan=3>Член комитета кредиторов</TD></TR>
<TR>
<TD style="TEXT-ALIGN: right" colSpan=3>Отметка о количестве голосов</TD></TR>
<TR>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: gray 2px solid; BORDER-LEFT: silver 1px solid">Фамилия Имя Отчество</TD><!-- <td style="border:1px solid silver;text-align:right;border-bottom:2px solid gray;"> -->
<TD style="BORDER-BOTTOM: gray 2px solid; TEXT-ALIGN: right"></TD>
<TD style="BORDER-BOTTOM: gray 2px solid"></TD></TR>
<TBODY>
<TR style="BORDER-TOP: silver 1px solid">
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid" rowSpan=2>1</TD><!-- <td style="border:1px solid silver;"> -->
<TD>Иванов Иван Иванович </TD>
<TD></TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: right; BORDER-LEFT: silver 1px solid" rowSpan=2>1</TD></TR>
<TR>
<TD style="FONT-SIZE: small; COLOR: gray; TEXT-ALIGN: right" colSpan=2></TD></TR></TBODY>
<TBODY>
<TR style="BORDER-TOP: silver 1px solid">
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid" rowSpan=2>1</TD><!-- <td style="border:1px solid silver;"> -->
<TD>Филькенштейн Мойша Моисеевич </TD>
<TD></TD>
<TD style="BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: right; BORDER-LEFT: silver 1px solid" rowSpan=2>1</TD></TR>
<TR>
<TD style="FONT-SIZE: small; COLOR: gray; TEXT-ALIGN: right" colSpan=2></TD></TR></TBODY>
<TBODY>
<TR>
<TD style="BORDER-TOP: gray 2px solid; BORDER-RIGHT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: right; BORDER-LEFT: silver 1px solid" colSpan=3>Итого:</TD>
<TD style="BORDER-TOP: gray 2px solid">2 </TD></TR></TBODY></TABLE></P>
<P>Общее число членов комитета кредиторов - 2.<BR>В электронном голосовании приняло участие 2 члена комитета кредиторов. </P>
<P>Настоящее заседание комитета кредиторов <STRONG>признано состоявшимся</STRONG>.</P><!--
<p>
	В соответствии со ст. 17 Федерального закона от 26.10.2002 № 127-ФЗ "О несостоятельности (банкротстве)" настоящее заседание комитета кредиторов 
	<strong>признано правомочным </strong>
</p>
-->Повестка заседания: 
<OL>
<LI>Отчёт конкурсного управляющего ООО "КАРИНА" о своей деятельности 
<LI>О ситуации в Гондурасе 
<LI>Выбор компании для осуществления охранных услуг </LI></OL>
<P>Дополнительные вопросы для включения в повестку заседания не заявлены. </P>
<HR>

<P>Результаты голосования по <BIG><B>вопросу №1</B></BIG> повестки дня заседания комитета кредиторов<BR><SPAN class=value>"Отчёт конкурсного управляющего ООО "КАРИНА" о своей деятельности".</SPAN> </P>
<P>Формулировка решения, поставленного на голосование: <BR><SPAN class=value><B>«Принять к сведению отчет конкурсного управляющего ООО "КАРИНА" о своей деятельности»</B></SPAN> </P>Проголосовали: 
<TABLE>
<TBODY>
<TR>
<TD style="TEXT-ALIGN: right">«За»</TD>
<TD>-</TD>
<TD>0 голосов</TD>
<TD>(<B>0%</B> от числа членов комитета кредиторов)</TD></TR>
<TR>
<TD style="TEXT-ALIGN: right">«Против»</TD>
<TD>-</TD>
<TD>0 голосов</TD>
<TD>(<B>0%</B> от числа членов комитета кредиторов)</TD></TR>
<TR>
<TD style="TEXT-ALIGN: right">«Воздержался»</TD>
<TD>-</TD>
<TD>0 голосов</TD>
<TD>(<B>0%</B> от числа членов комитета кредиторов)</TD></TR></TBODY></TABLE>
<P>Решение НЕ принято</P>
<HR>

<P>Результаты голосования по <BIG><B>вопросу №2</B></BIG> повестки дня заседания комитета кредиторов<BR><SPAN class=value>"О ситуации в Гондурасе".</SPAN> </P>
<P>Формулировка решения, поставленного на голосование: <BR><SPAN class=value><B>«Выразить озабоченность ситуацией в Гондурасе»</B></SPAN> </P>Проголосовали: 
<TABLE>
<TBODY>
<TR>
<TD style="TEXT-ALIGN: right">«За»</TD>
<TD>-</TD>
<TD>2 голоса</TD>
<TD>(<B>100%</B> от числа членов комитета кредиторов)</TD></TR>
<TR>
<TD style="TEXT-ALIGN: right">«Против»</TD>
<TD>-</TD>
<TD>0 голосов</TD>
<TD>(<B>0%</B> от числа членов комитета кредиторов)</TD></TR>
<TR>
<TD style="TEXT-ALIGN: right">«Воздержался»</TD>
<TD>-</TD>
<TD>0 голосов</TD>
<TD>(<B>0%</B> от числа членов комитета кредиторов)</TD></TR></TBODY></TABLE>
<P>Принято решение:<BR><SPAN class=value><B>Выразить озабоченность ситуацией в Гондурасе</B></SPAN> </P>
<HR>

<P>Результаты голосования по <BIG><B>вопросу №3</B></BIG> повестки дня заседания комитета кредиторов<BR><SPAN class=value>"Выбор компании для осуществления охранных услуг".</SPAN> </P>
<P>Формулировка решения, поставленного на голосование: <BR><SPAN class=value><B>«Выбрать компанию для осуществления охранных услуг»</B></SPAN> </P>Проголосовали: 
<TABLE>
<TBODY>
<TR>
<TD style="TEXT-ALIGN: right">«ООО "Спартак"»</TD>
<TD>-</TD>
<TD>0 голосов</TD>
<TD>(<B>0%</B> от числа членов комитета кредиторов)</TD></TR>
<TR>
<TD style="TEXT-ALIGN: right">«ООО "Рекс"»</TD>
<TD>-</TD>
<TD>1 голос</TD>
<TD>(<B>50%</B> от числа членов комитета кредиторов)</TD></TR>
<TR>
<TD style="TEXT-ALIGN: right">«ООО "Мухтар"»</TD>
<TD>-</TD>
<TD>1 голос</TD>
<TD>(<B>50%</B> от числа членов комитета кредиторов)</TD></TR></TBODY></TABLE>
<P>Решение НЕ принято</P>
<HR>

<P>Настоящий протокол составлен 16.05.2019. Информационной системой «Витрина данных ПАУ» </P>Приложение (в копиях): 
<OL>
<LI>Бюллетени голосования и подписи к ним; <!--
<li>Материалы, представленные членам комитета кредиторов для ознакомления и (или) утверждения;</li>
<li>Документы, являющиеся доказательствами, свидетельствующими о надлежащем уведомлении членов комитета кредиторов о дате и месте проведения заседания комитета кредиторов;</li>
<li>Журнал регистрации участников заседания комитета кредиторов.</li>
--></LI></OL>
<P>Информационная система «Витрина данных ПАУ»,<BR>Конкурсный управляющий ООО "КАРИНА" <BR>____________________ / Иванов Иван Иванович / </P></SPAN></BODY>