<style>
div.cpw-ama-award-admin-nominees
{
	width:700px;
	margin:0 auto;
}
div.cpw-ama-award-admin-nominees table 
{
	border-collapse:collapse;
	margin:0 auto;
}
div.cpw-ama-award-admin-nominees table td
{
	padding: 3px;
	border: 1px solid #eeeeee;
	font-size:small;
}
div.cpw-ama-award-admin-nominees table td.gray
{
	color:silver;
}
div.cpw-ama-award-admin-nominees table tr.header td
{
	font-weight: bold;
	border-bottom: 2px solid black;
	text-align:center;
	padding-left: 5px;
	padding-right: 5px;
}
div.cpw-ama-award-admin-nominees table tr.footer td
{
	font-weight: bold;
	border-top: 1px solid black;
	text-align:right;
}
div.cpw-ama-award-admin-nominees table td.num
{
	text-align:right;
}
div.cpw-ama-award-admin-nominees table tr.nominee:hover
{
	background-color: #f2f2f2;
}
div.cpw-ama-award-admin-nominees div.title
{
	margin-bottom: 5px;
}
</style>
<%
var nominees= obj.value();
%>
<div class="cpw-ama-award-admin-nominees">
	<div class="title">Набранные номинантами голоса:</div>
	<table>
		<tr class="header">
			<td>№ п/п</td>
			<td>Номинант:</td>
			<td>СРО:</td>
			<td>Голосов:</td>
		<tr>
		<tbody>
			<%	
				var total= 0;
				for (var i= 0; i < nominees.length; i++) 
				{
					var n= nominees[i];
					total+= n.Голосов;
			%>
			<tr class="nominee">
				<td  class="num gray"><%= i+1 %><% if (0) { %>1<% } %>)</td>
				<td><%= n.Номинант.split(' ').join('&' + 'nbsp;') %><% if (0) { %>Иванов<% } %></td>
				<td class="gray"><%= n.СРО %><% if (0) { %>Привелегия<% } %></td>
				<td class="num"><%= n.Голосов %><% if (0) { %>123<% } %></td>
			<tr>
			<%	} %>
		</tbody>
		<tr class="footer">
			<td colspan="3">Итого:</td>
			<td class="num"><%= total %><% if (0) { %>123<% } %></td>
		<tr>
	</table>
	<button class="refresh">Обновить</button>
</div>
