<style>
div.cpw-ameeting-question2
{
	max-width: 600px;
	margin: 0 auto;
}
div.cpw-ameeting-question2 table
{
	max-width: 600px;
	width: 100%;
	margin: 10px auto;
	border-collapse:collapse;
}
div.cpw-ameeting-question2 table td
{
	border: 1px solid #DFDFDF;
	padding: 10px;
	box-sizing: border-box;
}
div.cpw-ameeting-question2 table td.column1
{
	width: 70px;
	text-align: center;
}
div.cpw-ameeting-question2 table td.column2 input
{
	width: 100%;
}
div.cpw-ameeting-question2 table td.column3
{
	width: 50px;
	text-align: center;
}
div.cpw-ameeting-question2 table tr.title td
{
	font-size: 14px;
	background: #EFEFEF;
}
div.cpw-ameeting-question2 table tr.selected td
{
	background: #FEF9D5;
}
div.cpw-ameeting-question2 table.variants
{
	margin-bottom: 5px;
}
div.cpw-ameeting-question2 table.new-variant td.column2
{
	padding: 5px;
}
</style>
<%	
var v= obj.value();
if (!v || null==v)
	v= {};
var Подписано= v.Подписано;
var Ответ= v.Ответ;
var Предложенные_варианты= null==v ? null : 
	v.Предложенные_варианты ? v.Предложенные_варианты : 
	!v.На_голосование ? null : v.На_голосование.Варианты;
if (Ответ && !v.Выбранный_вариант)
{
	for (var i= 0; i < Предложенные_варианты.length; i++)
	{
		var вариант= Предложенные_варианты[i];
		if (вариант==Ответ)
		{
			v.Выбранный_вариант= i;
			break;
		}
	}
}
var Предложенные_варианты_length= 
	(!Предложенные_варианты || null==Предложенные_варианты || !Предложенные_варианты.length) ? 0 : Предложенные_варианты.length;
%>
<% if (!Подписано) { %>
<style>
div.cpw-ameeting-question2 table tr.hovered
,div.cpw-ameeting-question2 table tr:hover
{
	background: #F5F5F5;
}
div.cpw-ameeting-question2 table tr.title.hovered
,div.cpw-ameeting-question2 table tr.title:hover
{
	background-color: inherit;
}
</style>
<% } %>
<div class="cpw-ameeting-question2">

	<table class="variants">
		<tr class="title">
			<td class="column1">№ п/п</td>
			<td class="column2">Варианты решения</td>
			<td class="column3">За</td>
		</tr>
		<%	
			var выбран_стандартный_вариант= false;
			for (i= 0; i < Предложенные_варианты_length; i++)
			{
				var вариант= Предложенные_варианты[i];
		%>
		<tr class="<%= v.Выбранный_вариант!=i.toString() ? '' : 'selected' %>">
			<td class="column1"><%= i+1 %><% if (0) { %>1<% } %></td>
			<td class="column2"><%= вариант %><% if (0) { %>Какой то стандартный вариант решения<% } %></td>
			<td class="column3">
				<% if (!Подписано) 
					{ 
				%>
				<label class="container">
					<input type="radio" <%= obj.radio_attrs('Выбранный_вариант',i) %> >
					<span class="checkmark"></span>
				</label>
				<%	} else { %>
					<% if (i==v.Выбранный_вариант || вариант==Ответ) 
						{
							выбран_стандартный_вариант= true;
					%>
						&#10004;
					<%	} %>
				<%	} %>
			</td>
		</tr>
		<%	} %>
	</table>

	При необходимости, впишите свой вариант:

	<% var i= Предложенные_варианты_length; %>
	<table  class="new-variant">
		<tr>
			<td class="column1"><%= i+1 %><% if (0) { %>2<% } %></td>
			<td class="column2">
				<% if (!Подписано) { %>
				<input type="text" placeholder="Другой вариант..." value="<%= obj.txt('Свой_вариант') %>"/>
				<% } else { %>
					<% if (v.Свой_вариант || !выбран_стандартный_вариант) { %>
						<b><%= v.Свой_вариант %><%= v.Свой_вариант==Ответ ? '' : Ответ %></b>
					<% } %>
				<% } %>
			</td>
			<td class="column3">
				<% if (!Подписано) { %>
				<label class="container">
					<input type="radio" <%= obj.radio_attrs('Выбранный_вариант',i) %> >
					<span class="checkmark"></span>
				</label>
				<% } else { %>
					<% if (v.Свой_вариант || !выбран_стандартный_вариант) { %>
						&#10004;
					<% } %>
				<% } %>
			</td>
		</tr>
	</table>

<div>