<style>
div.cpw-ama-datamart-consent
{
	width:825px;
	height: auto !important;
	margin:0 auto;
}
div.cpw-ama-datamart-consent div.label-1-3
{
	display:inline-block;
	width:75px;
}
div.cpw-ama-datamart-consent div.label-2-3
{
	display:inline-block;
	width:50px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-consent div.label-3-3
{
	display:inline-block;
	width:80px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-consent div.label-2-3.middle {
	width: auto;
}
div.cpw-ama-datamart-consent div.row
{
	margin-top:5px;
}
div.cpw-ama-datamart-consent div.select2
{
	display:inline-block;
	width:378px;
}
div.cpw-ama-datamart-consent div.row div.right
{
	display: flex;
	float: right;
	align-items: center;
	width: 491px;
	justify-content: space-between;
}
div.cpw-ama-datamart-consent div.NextSession-label
{
	display:inline-block;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-consent div.NextSession-label + input
{
	width: 176px;
	min-width: auto !important;
}
div.cpw-ama-datamart-consent input.full
{
	width: 747px;
}
div.cpw-ama-datamart-consent input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input), 
div.cpw-ama-datamart-consent textarea,
div.cpw-ama-datamart-consent select[data-fc-selector="Должник.Тип"]
{
	min-width: 203px;
}
div.cpw-ama-datamart-consent.citizen .organization:not(.citizen),
div.cpw-ama-datamart-consent.citizen .marriage_couple,
div.cpw-ama-datamart-consent.organization .citizen:not(.organization),
div.cpw-ama-datamart-consent.organization .marriage_couple,
div.cpw-ama-datamart-consent.marriage_couple .organization,
div.cpw-ama-datamart-consent.marriage_couple .citizen
{
	display:none !important;
}	
div.cpw-ama-datamart-consent input[data-fc-selector="Время_сверки"]
{
	background-color:#eeeeee;
	text-align:center;
	width:203px;
	min-width: auto !important;
}
div.cpw-ama-datamart-consent .make-request {
	width: 277px;
}
div.cpw-ama-datamart-consent .applicant-is-debtor {
	display: none;
}
div.cpw-ama-datamart-consent .help {
	display: inline;
}
div.cpw-ama-datamart-consent button
{
	padding-bottom:7px;
	padding-bottom:7px;
	vertical-align:top;
}
div.cpw-ama-datamart-consent button.court-by-number
{
	font-size:xx-small;
	display:inline-block;
	width:60px;
	margin-left:3px;
	padding:6px 3px;
}
div.cpw-ama-datamart-consent .decision-wrapper
{
	display: flex;
	align-items: center;
}
div.cpw-ama-datamart-consent .open-decision,
div.cpw-ama-datamart-consent .open-appointment,
div.cpw-ama-datamart-consent .open-efrsb_report
{
	display: none;
}
</style>
<%
var readonly = obj.options.readonly;
var consent = obj.value();
var type_class = 'citizen';
var applicant_text = obj.options.ApplicantText.singular;
if (null == consent)
{
	consent = {};
}
else if (consent.Должник)
{
	switch(consent.Должник.Тип){
		case 'Юр_лицо':
			type_class = 'organization';
			break;
		case 'Супруги':
			type_class = 'marriage_couple';
			applicant_text = obj.options.ApplicantText.plural;
			break;
	}
}
%>
<div class="cpw-ama-datamart-consent <%= type_class %>">

	<div class="row">
		<div class="label-1-3">Должник:</div>
		<select class="type" <%= obj.select_attrs('Должник.Тип') %> >
			<option <%= obj.option_attrs('Физ_лицо') %> >Физическое лицо</option>
			<option <%= obj.option_attrs('Юр_лицо') %> >Юридическое лицо</option>
			<option <%= obj.option_attrs('Супруги') %> >Супруги</option>
		</select> 
		<div class="right">
			<div class="help check-kad-arbitr-help" title="При нажатии произойдет проверка наличия судебного акта о введении процедуры на kad.arbitr.ru">
				<button class="check-kad-arbitr" >Свериться</button> 
			</div>
			Сверялось: 
			<div class="help" title="Дата и время последней сверки данных с базой kad.arbitr.ru">
				<input type="text" readonly="readonly" value="<%= obj.txt('Время_сверки') %>"  /> 
			</div>
			<button class="actualize-check-time">Только что</button>
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="row organization">
		<div class="label-1-3">Название:</div>
		<input type="text" class="full" value="<%= obj.txt('Должник.Юр_лицо.Наименование') %>" maxlength="250"/>
	</div>

	<div class="row citizen">
		<div class="label-1-3">Фамилия:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Фамилия') %>" maxlength="90"/>
		<div class="label-2-3">Имя:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Имя') %>" maxlength="70"/>
		<div class="label-3-3">Отчество:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Отчество') %>" maxlength="90"/>
	</div>

	<div class="row marriage_couple">
		<%= obj.control('Должник.Супруги') %>
		<% if (0) { %>Данные супругов<% } %>
	</div>

	<div class="row organization citizen">
		<div class="label-1-3">ИНН:</div><input type="text" value="<%= obj.txt('Должник.ИНН') %>" maxlength="12"/>
		<div class="label-2-3">ОГРН:</div><input type="text" value="<%= obj.txt('Должник.ОГРН') %>" maxlength="13"/>
		<div class="label-3-3 citizen">СНИЛС:</div><input type="text" class="citizen" value="<%= obj.txt('Должник.Физ_лицо.СНИЛС') %>" maxlength="11"/>
	</div>

	<div class="row organization citizen">
		<div class="label-1-3">Адрес:</div><input class="full" type="text" value="<%= obj.txt('Должник.Адрес') %>" maxlength="250" />
	</div>
	
	<div class="row">
		<div class="label-1-3">Заявитель:</div>
		<a href="#" class="applicant" <%= obj.a_modal_attrs('Заявитель') %>>
			<%= applicant_text %> <% if(!readonly) {%> (кликните, чтобы поменять)<%}%>
		</a>
		<span class="applicant-is-debtor" ><%= applicant_text %></span>
	</div>

	<div class="row">
		<div class="label-1-3"><label><input type="checkbox" <%= obj.checkbox_attrs('Заявление_на_банкротство.Подано') %> /> Подано</label></div>
		<div class="help" title="Дата подачи должником заявления о банкротстве" style="margin-right: 11px;">
			<input type="text" style="width:95px;min-width:95px;" value="<%= obj.txt('Заявление_на_банкротство.Дата_подачи') %>" <%= obj.date_attrs() %> />
		</div>
		заявление о банкротстве в 
		<div class="select2" style="width:400px;" <%= obj.select2_attrs('Заявление_на_банкротство.В_суд') %> >тут должен быть select2 по судам</div>
		<button class="court-by-number">по номеру дела</button>
	</div>

	<div class="row">
		<b style="margin-right: 109px;">Рассмотрение:</b>
		<div class="label-2-3 middle">Зявление принято:</div><input type="text" value="<%= obj.txt('Заявление_на_банкротство.Дата_принятия') %>" <%= obj.date_attrs() %>/>
	</div>

	<div class="row">
		<div class="label-1-3">Дело №</div>
		<input type="text" value="<%= obj.txt('Номер_судебного_дела') %>" /> 
		<button class="open">Открыть на kad.arbitr</button> 
		<div class="NextSession-label">Дата и время заседания: </div>
		<div class="help" title="Дата и время заседания АС по делу о банкротстве">
			<input type="text" value="<%= obj.txt('Заявление_на_банкротство.Дата_рассмотрения') %>"  /> 
		</div>
	</div>

	<div class="row decision-wrapper">
		<div class="label"><b>Запрос кандидатур АУ </b></div>&nbsp;
		<a href="#" class="open-decision">судебным актом</a>
		<span class="no-decision">судом не зарегистирован</span>&nbsp;
		<% if(readonly) { %>
			&nbsp;<a href="#" class="decision-add-info" <%= obj.a_modal_attrs('Запрос_дополнительная_информация') %>>дополнительная информация от АУ</a>
		<% } %>
		<a href="#" class="decision" <%= obj.a_modal_attrs('Запрос') %>>(кликните, чтобы поменять)</a>
	</div>

	<div class="row">
		<div class="label-1-3">Согласен:</div>
		<div class="select2 select-au" <%= obj.select2_attrs('АУ') %> >тут должен быть select2 по АУ</div>&nbsp;&nbsp;
		<label><input type="checkbox" <%= obj.checkbox_attrs('Показывать_для_регистрации_в_ПАУ') %> /> назначен</label>
	</div>

	<div class="row">
		<b>Назначение:</b>&nbsp;
		<a href="#" class="open-appointment">судебным актом</a>
		<span class="no-appointment">не зарегистировано</span>&nbsp;
		<% if(readonly) { %>
			<a href="#" class="appointment-add-info" <%= obj.a_modal_attrs('Назначение_дополнительная_информация') %>>дополнительная информация</a>
		<% } %>
		<a href="#" class="appointment" <%= obj.a_modal_attrs('Назначение') %>>(кликните, чтобы поменять)</a>
	</div>

	<div class="row">
		<span class="label-efrsb_report">на ЕФРСБ о введении</span>&nbsp;
		<a href="#" class="open-efrsb_report">сообщения</a>
		<span class="no-efrsb_report">не зарегистрировано</span>&nbsp;
		<% if(readonly) { %>
			<a href="#" class="efrsb_report-add-info" <%= obj.a_modal_attrs('ЕФРСБ_дополнительная_информация') %>>дополнительная информация</a>
		<% } %>
		<a href="#" class="efrsb_report" <%= obj.a_modal_attrs('ЕФРСБ') %>>(кликните, чтобы поменять)</a>
	</div>

	<div class="row">
		<button class="make-request">Запрос по шаблону</button> 
	</div>
	
</div>