<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_toetp.css" /></head><body><% } %>
<div class="ama-auction-toetp">
	<h4>Размещение объявления на ЭТП</h4>
	Передача данных для объявления на ЭТП возможна в одном из 2х режимов:
 	<ol>
		<li>
			<p>
				Можно выгрузить данные для объявления в специальный машинно-читаемый файл,&nbsp;
				для того чтобы в дальнейшем загрузить его на ЭТП 
				<i>(если ЭТП поддерживает такой режим)</i>
			</p>
			<p class="save">
				<form class="download" method="post" enctype="multipart/form-data"
					action="http://trust.dev/ama-biddings-transit/transit.php?action=ping">
					<input type="hidden" name="cfb_data" />
					<button class="download" style="width:99%">Выгрузить данные в файл..</button>
				</form>
			</p>
		</li>
		<li>
			<p>
				Можно выгрузить данные для объявления на сайт-посредник, и передать ключ 
				к этим данным прямым запросом на ЭТП&nbsp;
				<i>(если ЭТП поддерживает такой режим)</i>
			</p>
			<div class="upload">
				Строка-URL на ЭТП, для передачи данных (в формате "<%= !obj.model ? '' : obj.model.format %>"):<br />
				<input type="text" id="uploadUrl" class="url" value="<%= obj.txt('uploadurl') %>" />
				<div class="input-comment">(к этой строке будет добавлен ключ к конкретным данным)</div>
				<button class="upload" style="width:99%">Сохранить данные на сайте-посреднике и передать ключ к ним на ЭТП</button>
			</div>
		</li>
	</ol>
</div>
<% if (0) { %></body></html><% } %>