.ui-widget div.ama-auction-toetp
{
	font-size: 14px;
	font-family: "Segoe UI";
	width: 98%;
	margin-top: -30px;
}
div.ama-auction-toetp input,
div.ama-auction-toetp button,
div.ama-auction-toetp div.input-comment { width: 750px; }
div.ama-auction-toetp div.upload { display: inline-block; }
div.ama-auction-toetp div.input-comment
{
	display: inline-block;
	text-align: right;
	font-style: italic;
}
div.ama-auction-toetp input.url { font-size: 0.9em; }