<style>
div.cpw-form-marketplace-asset-log span.title
{
	color:gray;
}
div.cpw-form-marketplace-asset-log div.row
{
	margin-top:10px;
	margin-bottom:10px;
}
div.cpw-form-marketplace-asset-log div.short-value
{
	display:inline-block;
	font-weight:bold;
}
</style>
<%
var o= obj.value();
if (!o)
	o= {};
%>
<div class="cpw-form-marketplace-asset-log">

	<div class="row">
		<span class="title">Текущая стадия:</span> 
		<div class="short-value"><%= o.Стадия %><% if (0) { %>Первые торги<% } %></div>
	</div>

</div>