<style>
div.cpw-ama-datamart-rtt-demand-common-form table td
{
	font-size: 14px;
	padding: 11px 14px;
}
div.cpw-ama-datamart-rtt-demand-common-form td.top
{
	vertical-align: top;
}
div.cpw-ama-datamart-rtt-demand-common-form div.tab1
{
	margin-left: 20px;
}
div.cpw-ama-datamart-rtt-demand-common-form .strong
{
	font-weight: 600;
}
</style>
<%
var tk= obj.value();
if (!tk)
	tk= {};
var Требование= tk.Требование;
if (!Требование)
	Требование= {};
var родительское_Требование= tk.родительское_Требование;
var номер_родительского_Требования= tk.номер_родительского_Требования;
var Кредитор= tk.Кредитор;
if (!Кредитор)
	Кредитор= {};
if (Кредитор.Организация)
{
	var ИНН= Кредитор.Организация.ИНН ? Кредитор.Организация.ИНН : '';
	var Наименование= Кредитор.Организация.Наименование ? Кредитор.Организация.Наименование : '';
}
else if (Кредитор.Физическое_лицо)
{
	var Фамилия, Имя, Отчество, Наименование;
	Фамилия = Имя = Отчество = Наименование = '';
	var ИНН= Кредитор.Физическое_лицо.ИНН ? Кредитор.Физическое_лицо.ИНН : '';

	if(Кредитор.Физическое_лицо)
	{
		Фамилия = Кредитор.Физическое_лицо.Фамилия ? Кредитор.Физическое_лицо.Фамилия : '';
		Имя = Кредитор.Физическое_лицо.Имя ? Кредитор.Физическое_лицо.Имя : '';
		Отчество = Кредитор.Физическое_лицо.Отчество ? Кредитор.Физическое_лицо.Отчество : '';
		Наименование = Фамилия + ' ' + Имя + ' ' + Отчество;
	}
}
var h_number_format= obj.options.h_number_format;
%>
<div class="cpw-ama-datamart-rtt-demand-common-form">

	<table>
		<tr>
			<td colspan="2">
				<span>Требование</span> 
				<span class="strong"><%= h_number_format(Требование.Размер, 2, ' ,', ' ') %><% if (0) { %>123456.78<% } %> рублей</span
				><% if (Требование.Назначение && ''!=Требование.Назначение) { %>, 
					назначение: "<%= Требование.Назначение %><% if (0) { %>Задолженность за аренду помещения<% } %>"
				<%	} %> 
				от кредитора 
				<span class="strong">
					<%= Наименование %><% if (0) { %>ООО "Рога и копыта"<% } %>
				</span> (ИНН:<%= ИНН %><% if (0) { %>5208368650<% } %>)
			</td>
		</tr>
	<% if (Требование.Дата_возникновения) { %>
		<tr>
			<td class="strong top"><%= Требование.Дата_возникновения %><% if (0) { %>06.03.2013<% } %></td>
			<td>
				Возникла задолженность. 
				<% if (Требование.Основание) { %>
					Основание: 
					"<%= Требование.Основание %><% if (0) { %>договор укурки поддачи №345 от 11.11.2011<% } %>"
				<% } %> 
			</td>
		</tr>
	<% } %>
	</table>
</div>