<style>
div.cpw-ama-datamart-procedure-raw-form ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
}
div.cpw-ama-datamart-procedure-raw-form div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	border: none;
	background: #fff;
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
}
div.cpw-ama-datamart-procedure-raw-form div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 10px 10px 0;
	border: none;
	background: #fff;
	text-align: left;
}
div.cpw-ama-datamart-procedure-raw-form
{
	width: 900px;
	margin: 0 auto;
}
div.cpw-ama-datamart-procedure-raw-form > ul
{
	margin-top: 0px;
	margin-bottom: 1px;
	font-size: small;
}
div.cpw-ama-datamart-procedure-raw-form pre
{
	display: inline-block;
	white-space: pre;
	margin:0;
	font-size: small;
	line-height:1em;
	height: 100%;
	width: 100%;
	overflow: auto;
	padding: 5px;
	box-sizing: border-box;	
}
div.cpw-ama-datamart-procedure-raw-form ul.ui-tabs-nav
{
	border: none;
}
div.cpw-ama-datamart-procedure-raw-form div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	border: 1px solid #DFDFDF;
	height: 280px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0;
}
div.cpw-ama-datamart-procedure-raw-form span.data
{
	color: #00007b;
	font-weight: 600;
}
div.cpw-ama-datamart-procedure-raw-form div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	background: none;
}
</style>
<%
var ovalue= obj.value();
var dbinfo= !ovalue ? {} : ovalue.dbinfo;

function fix_xml_to_raw_text(txt)
{
	if (!txt || null==txt || ''==txt)
	{
		return txt;
	}
	else
	{
		txt= txt.replace(/&/g,'&amp;');
		txt= txt.replace(/</g,'&lt;');
		txt= txt.replace(/>/g,'&gt;');
		return txt;
	}
}

var fixed_files= [];
if (ovalue && ovalue.files)
{
	var files= ovalue.files;
	for (var i= 0; i < obj.options.h_section.length; i++)
	{
		var s= obj.options.h_section[i];
		if (files[s.file_name])
		{
			fixed_files.push({
				filename:s.file_name
				, text:fix_xml_to_raw_text(files[s.file_name])
			});
		}
	}
}
var Тип_процедуры= obj.options.h_procedure_types.SafeTextForDBValue(dbinfo.p_procedure_type);
%>
<div class="cpw-ama-datamart-procedure-raw-form">

	<div class="hide-for-tests">
		<span class="data"><%= dbinfo.p_publicDate %><% if (0) { %>01.01.2011 11:12:13<% } %></span> 
		с указанием параметров:<br/>
	</div>
	<ul>
		<li>
			<div class="hide-for-tests">

			Процедура: 
			<span class="data"><%= Тип_процедуры %><% if (0) { %>Перереструктуризация долго<% } %></span>, 
			Номер дела: <span class="data"><%= dbinfo.p_caseNumber %><% if (0) { %>E-23498/2018<% } %></span>.

			</div>
		</li>
		<li>
			Должник: <span class="data"><%= dbinfo.p_debtorName %><% if (0) { %>Роги ноги<% } %></span>.
			<ul>
				<li>
					ИНН: <span class="data"><%= dbinfo.p_debtorInn %><% if (0) { %>3984563567<% } %></span>, 
					ОГРН: <span class="data"><%= dbinfo.p_debtorOgrn %><% if (0) { %>73599789987899<% } %></span>, 
					СНИЛС: <span class="data"><%= dbinfo.p_debtorSnils %><% if (0) { %>09358498357098<% } %></span>.
				</li>
			</ul>
		</li>
		<li>
			Арбитражный управляющий: 
			Фамилия: <span class="data"><%= dbinfo.m_lastName %><% if (0) { %>Фролов<% } %></span>, 
			Имя: <span class="data"><%= dbinfo.m_firstName %><% if (0) { %>Фрол<% } %></span>, 
			Отчество: <span class="data"><%= dbinfo.m_middleName %><% if (0) { %>Фрол<% } %></span>.
			<ul>
				<li>
					Номер на ЕФРСБ: <span class="data"><%= dbinfo.m_efrsbNumber %><% if (0) { %>23894<% } %></span><% if (dbinfo.m_INN && null!=dbinfo.m_INN) { %>, 
					ИНН: <span class="data"><%= dbinfo.m_INN %><% if (0) { %>876281391509<% } %></span><% } %>.
				</li>
			</ul>
		</li>
		<li>Разершение передавать на БанкроТеч: 
			<span class="data"><%= 
				(1==dbinfo.p_ctb_allowed) 
				? "разрешение дано, текущая информация доступна для БанкроТеч" 
				: "разрешение НЕ дано, текущая информация НЕ доступна для БанкроТеч"  
			%><% if (0) { %>разрешение дано, текущая информация доступна для БанкроТеч<% } %></span>.
		</li>
	</ul>

	на сервер был передан zip-архив с файлами:<br/>

	<div id="cpw-ama-datamart-procedure-raw-files-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<%	for (var i= 0; i< fixed_files.length; i++)
				{
					var fixed= fixed_files[i];
			%>
			<li><a href="#cpw-ama-datamart-procedure-raw-<%= i %>"><%= fixed.filename %></a></li>
			<%	} %>
		</ul>
		<%	for (var i= 0; i< fixed_files.length; i++)
				{
					var fixed= fixed_files[i];
			%>
			<div id="cpw-ama-datamart-procedure-raw-<%= i %>" class="page">
				<pre><%= fixed.text %></pre>
			</div>
		<%	} %>
	</div>
</div>