<style>
div.cpw-form-ama-dm-debtor_main #cpw-form-ama-dm-debtor_main-tabs >.ui-tabs-nav li:first-child
{
	margin-left: 0 !important;
}
div.cpw-form-ama-dm-debtor_main #cpw-form-ama-dm-debtor_main-debtor_info,
div.cpw-form-ama-dm-debtor_main #cpw-form-ama-dm-debtor_main-add_info,
div.cpw-form-ama-dm-debtor_main #cpw-form-ama-dm-debtor_main-address_for_application {
	padding: 10px !important;
}
</style>
<div class="cpw-form-ama-dm-debtor_main">

<div id="cpw-form-ama-dm-debtor_main-tabs" <%= obj.tabs_attrs() %> >
	<ul>
		<li><a href="#cpw-form-ama-dm-debtor_main-debtor_info" >Сведения о должнике</a></li>
		<li><a href="#cpw-form-ama-dm-debtor_main-add_info" >Дополнительная информация</a></li>
		<li><a href="#cpw-form-ama-dm-debtor_main-address_for_application" >Адрес для заявления</a></li>
	</ul>
	<div id="cpw-form-ama-dm-debtor_main-debtor_info" class="page" >
		<% if (0) { %>Сведения о должнике<% } %>
		<%= obj.control('Сведения_о_должнике') %>
	</div>
	<div id="cpw-form-ama-dm-debtor_main-add_info" class="page" >
		<% if (0) { %>Дополнительная информация о должнике<% } %>
		<%= obj.control('Доп_информация') %>
	</div>
	<div id="cpw-form-ama-dm-debtor_main-address_for_application" class="page" >
		<% if (0) { %>Адрес для заявления<% } %>
		<%= obj.control('Адрес_для_заявления') %>
	</div>
</div>

</div>