<style>
div.cpw-ama-aplication-creditor 
{
	width: 890px;
	margin:0 auto;
	margin-top:10px;
}
div.cpw-ama-aplication-creditor div.row 
{
	margin-bottom: 5px;
}
div.cpw-ama-aplication-creditor div.row.header
{
	font-weight:bold;
	margin-top: 5px;
}
div.cpw-ama-aplication-creditor div.label 
{
	display: inline-block;
	text-align:right;
	padding-right:5px;
	padding-left:10px;
	vertical-align:top;
	padding-top:3px;
}
div.cpw-ama-aplication-creditor div.label.l1
{
	width: 110px;
}
div.cpw-ama-aplication-creditor div.label:after
{
	content:":";
}
div.cpw-ama-aplication-creditor textarea
,div.cpw-ama-aplication-creditor input.full
{
	width:750px;
}
div.cpw-ama-aplication-creditor input.full.short
{
	width:650px;
}
</style>
<div class="cpw-ama-aplication-creditor">

	<div class="row header">Наименование</div>

	<div class="row">
		<div class="label l1">кратко</div>
		<input type="text" class="full short" value="<%= obj.txt('Наименование.Краткое') %>" />
	</div>
	<div class="row">
		<div class="label l1">полностью</div>
		<textarea <%= obj.textarea_attrs('Наименование.Полное') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row header">Реквизиты</div>

	<div class="row">
		<div class="label l1">ИНН</div>
		<input type="text" value="<%= obj.txt('ИНН') %>" />
		<div class="label l2">ОГРН</div>
		<input type="text" value="<%= obj.txt('ОГРН') %>" />
	</div>

	<div class="row">
		<div class="label l1">руководитель</div>
		<input type="text" class="full" value="<%= obj.txt('Руководитель') %>" />
	</div>

	<div class="row header">Адрес</div>

	<div class="row">
		<div class="label l1">юридический</div>
		<textarea <%= obj.textarea_attrs('Адрес.Юридический') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row">
		<div class="label l1">для почты</div>
		<textarea <%= obj.textarea_attrs('Адрес.Почтовый') %> ><%= obj.value() %></textarea>
	</div>

</div>