<style>
div.cpw-form-marketplace-assets .filter-toolbar
{
	margin-bottom:3px;
	margin-top:-10px;
}
</style>
<div class="cpw-form-marketplace-assets cpw-form-ama-datamart-grid">

	<div class="search-bar">
		<div class="ama-button show-hide-search-inputs">
			<span class="icon-search-icon"></span>
			<span class="search-button-text">Искать</span>
		</div>
	</div>

	<div class="filter-toolbar">
		<a href="#" <%= obj.a_modal_attrs('Фильтр') %> >
			Всё экспонируемое имущество
		</a>
	</div>

	<div class="grid closed-search">
		<table id="cpw-marketplace-assets-grid" class="grid"></table>
		<div id="cpw-marketplace-assets-pager"></div>
	</div>

</div>