<%
	var onlyAddInfo = obj.options.onlyAddInfo;
	var readonly = obj.options.readonly;
%>
<% if(onlyAddInfo) { %>
	<style>
		div.cpw-ama-datamart-efrsb_report {
			width: 580;
		}
		#cpw-ama-datamart-efrsb_report-add-info {
			width: 100%;
		}
	</style>
<% } else { %>
	<style>
		div.cpw-ama-datamart-efrsb_report {
			width:622px;
		}
		#cpw-ama-datamart-efrsb_report-add-info {
			width: calc(100% - 51px);
			margin-left: 51px;
		}
	</style>
<% } %>
<style>
	div.cpw-ama-datamart-efrsb_report
	{
		margin:0 auto;
	}
	div.cpw-ama-datamart-efrsb_report .row
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 5px;
	}
	div.cpw-ama-datamart-efrsb_report .label {
		display: inline-block;
		width: 51px;
		text-align: right;
		margin-right: 5px;
	}
	div.cpw-ama-datamart-efrsb_report .open-report-btn {
		width: 199px;
	}
	div.cpw-ama-datamart-efrsb_report .input-id {
		width: 356px;
	}
	div.cpw-ama-datamart-efrsb_report input {
		width: 174px;
	}
	</style>
	<div class="cpw-ama-datamart-efrsb_report">
		<% if(!onlyAddInfo) { %>
			<div class="row">
				<div>
					<div class="label">Номер:</div>
					<input type="text" value="<%= obj.txt('Номер') %>"/>
				</div>
				<button class="fill-by-number-btn">Заполнить по номеру</button>
				от&nbsp;<input type="text" value="<%= obj.txt('Дата_публикации') %>" <%= obj.date_attrs() %>/>
			</div>
			<div class="row">
				<div>
					<div class="label">ID</div>
					<input class="input-id" type="text" value="<%= obj.txt('ID') %>" />
				</div>
				<button class="open-report-btn">Открыть сообщение</button>
			</div>
			<div class="row">
				<div>Дополнительная информация:</div>
				<textarea id="cpw-ama-datamart-efrsb_report-add-info" maxlength="250" <%= obj.textarea_attrs('Дополнительная_информация') %>
					><%= obj.value() %></textarea>
			</div>
		<% } else { %>
			<textarea id="cpw-ama-datamart-efrsb_report-add-info" maxlength="250" <%= obj.textarea_attrs('Дополнительная_информация') %> <% if(readonly) { %> readonly <% } %>
				><%= obj.value() %></textarea>
		<% } %>
	</div>