<style>
div.cpw-ama-meeting-question-form
{
	width: 570px;
	margin: 0 auto;
}
div.cpw-ama-meeting-question-form div.row
{
	margin-top: 5px;
}
div.cpw-ama-meeting-question-form div.row div.title
{
	display: inline-block;
}
div.cpw-ama-meeting-question-form div.row div.title::after
{
	content: ":";
}
div.cpw-ama-meeting-question-form div.row input
{
	width: 200px;
}
div.cpw-ama-meeting-question-form div.row textarea
{
	width: 100%;
}
div.cpw-ama-meeting-question-form div.row select
{
	min-width: 50%;
}
div.cpw-ama-meeting-question-form div.f1
,div.cpw-ama-meeting-question-form div.f2
{
	margin: 5px 0;
	padding: 2px;
}
div.cpw-ama-meeting-question-form div.f1 p
{
	font-size: large;
	text-align: center;
	font-weight: 600;
}
div.cpw-ama-meeting-question-form div.f2 ol
{
	font-size: 0.75em;
	margin-top: 3px;
	margin-bottom: 0;
	color: #000;
}
div.cpw-ama-meeting-question-form div.f2 ol li
{
	padding: 3px;
}
div.cpw-ama-meeting-question-form div.f2:hover
{
	cursor: pointer;
}
div.cpw-ama-meeting-question-form div.f2 p.add-answer-text
{
	font-size: 0.75em;
	margin: 0;
	padding: 2px 5px 2px 27px;
}
div.cpw-ama-meeting-question-form div.f2:hover p.add-answer-text
{
	color: #828282;
}
</style>
<% if (obj.options && obj.options.readonly) { %>
<style>
div.cpw-ama-meeting-question-form input
,div.cpw-ama-meeting-question-form textarea
{
	background-color: #f5f5f5;
}
div.cpw-ama-meeting-question-form select
{
	background-color: #f5f5f5;
}
</style>
<% } %>
<div class="cpw-ama-meeting-question-form">
	<div class="row">
		<div class="title">Формулировка в повестке дня</div>
		<textarea id="question-text" maxlength="500" <%= obj.textarea_attrs('В_повестке') %> ><%= obj.value() %></textarea>
	</div>
	<div class="row">
		<div class="title">На голосование ставится решение в формулировке</div>
		<textarea id="question-text-alt" maxlength="500" <%= obj.textarea_attrs('На_голосование.Формулировка') %> ><%= obj.value() %></textarea>
	</div>
	<div class="row">
		<div class="title">Используется типовая форма бюллетеня</div> 
		<select <%= obj.select_attrs('На_голосование.Форма_бюллетеня') %> >
			<option <%= obj.option_attrs('f1') %> >№1 (простая)</option>
			<option <%= obj.option_attrs('f2') %> >№2 (с вариантами решений)</option>
		</select>
	</div>

	<div class="f1">
		Варианты голосования:
		<p>За, Против, Воздержался.</p>
	</div>

	<div class="f2" <%= obj.with_attrs('На_голосование.Варианты') %> >
		<%= obj.start_with() %>
		<div <%= obj.empty_attrs() %> ></div>
		<span>Варианты решения:</span>
		<ol <%= obj.not_empty_attrs() %> >
			<% while (obj.iterate()) { %>
				<li <%= obj.item_attrs() %> ><%= obj.txt_field('') %><% if (0) { %>забить<% } %></li>
			<% } %>
			<% if (0) { %>
			<li>вариант 1</li>
			<li>вариант 2</li>
			<li>вариант 3</li>
			<li>вариант 4</li>
			<li>вариант 5</li>
			<li>вариант 6</li>
			<li>вариант 7</li>
			<li>вариант 8</li>
			<li>вариант 9</li>
			<li>вариант 10</li>
			<% } %>
		</ol>
		<%= obj.end_with() %>
		<p class="add-answer-text">+ Добавить вариант решения</p>
	</div>

</div>