<style>
div.cpw-ama-datamart-viewer-main div#cpw-ama-datamart-viewer-main-tabs > div.page
{
	min-height: 510px;
	min-width: 800px;
}
div.cpw-ama-datamart-sel-procedure-form
{
	width: 100%;
	box-sizing: border-box;
}
div.cpw-ama-datamart-sel-procedure-form > div.procedure-selector div.select2
{
	display: inline-block;
	width: 550px;
	text-align: left;
}
div.cpw-ama-datamart-sel-procedure-form div.procedure-selector
{
	margin-bottom: 10px;
	padding: 0 25px;
	position: relative;
}
div.cpw-ama-datamart-sel-procedure-form div.procedure-selector > span
{
	font-weight: 600;
	margin-right: 20px;
}
div.cpw-ama-datamart-sel-procedure-form div.search-bar
{
	position: absolute;
	top: 42px;
	right: 10px;
	background: #fff;
	box-sizing: border-box;
	display:none;
	z-index: 2;
}
div.cpw-ama-datamart-sel-procedure-form div.search-bar .show-hide-search-inputs
{
	display: block;
}
</style>
<% if (0) { %>
<style>
div.cpw-ama-datamart-sel-procedure-form div.selected-procedure
{
	border: 1px solid black;
}
div.cpw-ama-datamart-sel-procedure-form div.search-bar
{
	display:block;
}
</style>
<% } %>
<div class="cpw-ama-datamart-sel-procedure-form">

	<div class="procedure-selector">
		<span>Процедура:</span> 
		<div class="select2" id="cpw-ama-datamart-sel-procedure-form-selector" 
			<%= obj.select2_attrs('Выбранная_процедура') %> >тут должен быть select2</div>

		<div class="search-bar">
			<div class="ama-button show-hide-search-inputs">
				<span class="icon-search-icon"></span>
				<span class="search-button-text">Искать</span>
			</div>
		</div>
	</div>

	<div class="selected-procedure">
		<% if (0) { %>Область размещения данных о процедуре<% } %>

		<div style="width:750px;margin:0 auto;">
			<span>Чтобы <b>выгрузить информацию о процедуре на витрину</b>, необходимо:</span>
			<ol>
				<li>Задействовать кнопку "Обмен данными" в программе "Помощник Арбитражного управляющего"</li>
				<li>Указать процедуры, информацию по которым нужно выгрузить на витрину</li>
				<li>Выбрать какую именно информацию нужно выгрузить на витрину (реестр, отчёт, КМ и т.д.)</li>
				<li>Задействовать кнопку <b>"Запустить обновление данных"</b></li>
			</ol>
			<p style="text-align:center;">
				<img src="img\howto-upload.png" style="border:1px solid gray;" />
			</p>
			<span>Чтобы <b>указать круг лиц, которые могут иметь доступ к информации витрины</b>, необходимо:</span>
			<ol>
				<li>Задействовать вкладку "Наблюдатели" кабинета АУ на витрине.</li>
				<li>Добавить учётные записи наблюдателей, указав для них адреса электронной почты.</li>
				<li>Для каждого наблюдателя указать перечень процедур, к которым он будет иметь доступ.</li>
			</ol>
			<span>Параметры доступа к витрине будут высланы письмом на адрес электронной почты наблюдателя.</span>
		</div>
		
	</div>

</div>