<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_kmobjects.css" /></head><body><% } %>
<div class="ama-bidding-lot-relations">
	<div>
		<div class="field-hint" ><div class="question">?</div> <div class="clarification" >*</div></div>
		<div id="kmobject_to_add" class="select-wrapper" <%= obj.select2_attrs('Объект_КМ_для_добавления') %> >
			Выбрать объект конкурсной массы для добавления
		</div>
	</div>

	<div <%= obj.with_attrs('Объекты_КМ') %> >
		<%= obj.start_with() %>

	<div class="empty-list" <%= obj.empty_attrs() %> >
		<p>
			Нет объектов конкурсной массы. <br /><br />
			Если добавить хотя бы один, уже известная информация об объекте <br />
			автоматизированно перенесётся в параметры лота.<br /><br />
			Конечно, перенесённую информацию можно будет откорректировать.
		</p>
	</div>
	<table class="not-empty-list" <%= obj.not_empty_attrs() %>  >
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> >
			<td class="content title">
				<div class="overflow"><%= obj.txt_field('СокращённоеНазвание') %><% if (0) { %>Автомобиль волга<% } %></div>
			</td>
			<td class="content group">(<%= obj.txt_field('Группа') %><% if (0) { %>автотранспорт<% } %>)</td>
			<td class="content price"><%= obj.txt_field('ОценочнаяСтоимость') %><% if (0) { %>10000<% } %> руб.</td>
			<td class="delete">
				<a href="#null" class="ama-link ama-icon ama-icon-remove do_delete" onclick="cpw.fc_array_item_trigger(this,'delete')">
					<img src="img/trash-gray-icon.png" title="удалить" />
				</a>
			</td>
		</tr>
		<% } %>
	</table>

		<%= obj.end_with() %>
	</div>
</div>
<% if (0) { %></body></html><% } %>