.ui-widget div.ama-bidding-lot-relations
{
	font-size: 14px;
	font-family: "Segoe UI";
	background-color: rgb(242,238,240);
	width: 95%;
	margin: 0px;
}
div.ama-bidding-lot-relations label
{
	display: inline-block;
}
div.ama-bidding-lot-relations div.select-wrapper
{
	width: 90%;
	color: lightblue;
	display: inline-block;
	text-align: left;
 } 
/**/
div.ama-bidding-lot-relations div.field-hint
{
	display: inline-block;
}
div.ama-bidding-lot-relations div.clarification,
div.ama-bidding-lot-relations div.question
{
	display: inline-block;
	cursor: pointer;
}
div.ama-bidding-lot-relations div.field-hint div.clarification
{
	opacity: 0;
}
div.ama-bidding-lot-relations div.field-hint div.clarification { display: inline-block; }
div.ama-bidding-lot-relations div.field-hint div.question { display: none; }
/**/
div.cpw-ama-select2-li-kmobject
{
	display: inline-block;
	width: 100%;
}
div.cpw-ama-select2-li-kmobject div.group
{
	display: inline-block;
	color: silver;
	float: right;
	margin-right:20px;
	font-size:small;
}
div.cpw-ama-select2-li-kmobject div.name
{
	font-size:10pt;
	display: inline-block;
	margin-right: 30px;
}
div.cpw-ama-select2-li-kmobject[data-km-object-selected="true"] div.name
{
	text-decoration: line-through;
}
div.ama-bidding-lot-relations table
{
	border-collapse: collapse;
	width: 90%;
}
div.ama-bidding-lot-relations tr 
{
	border-bottom:1pt solid silver; 
}
div.ama-bidding-lot-relations td
{
	vertical-align: middle;
	padding: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.ama-bidding-lot-relations td.content.title
{
	width:60%;
}
div.ama-bidding-lot-relations td.content.group
{
	min-width:200px;
	color: #9A9A9A;
}
div.ama-bidding-lot-relations td.content.price
{
	width: 125px;
	text-align: right;
}
div.ama-bidding-lot-relations tr:hover
{
	background-color: #eeeeee;
}
div.ama-bidding-lot-relations div.empty-list
{
	padding-top: 10px;
	position:center;
	vertical-align: middle;
	text-align: center;
}
div.ama-bidding-lot-relations a.ama-icon
{
	line-height: inherit;
	height: inherit;
	display: inline-block;
	vertical-align: middle;
	min-height: 21px;
	cursor: pointer;
	padding-left: 27px;
	background: url(/img/trash-gray-icon.png) no-repeat;
}
div.ama-bidding-lot-relations a.ama-icon img
{
	height:20px;
	padding:2px;
}
div.ama-bidding-lot-relations a.ama-icon img:hover
{
	background-color:white;
}
div.ama-bidding-lot-relations a.ama-link
{
	color: #9A9A9A;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
}
div.ama-bidding-lot-relations a.ama-icon-remove
{
	background-position: -28px -733px;
}
div.ama-bidding-lot-relations a.ama-icon-remove:hover
{
	background-position: -28px -660px;
}