<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_kmobjects.css" /></head><body><% } %>
<%
var kmobject= obj.kmobject;
var kmobject_is_selected= obj.selected;
%>
<div class="cpw-ama-select2-li-kmobject" data-km-object-selected="<%= !!kmobject_is_selected %>">
	<div class="name"><%= kmobject.СокращённоеНазвание %><% if (0) { %>Дом отдельный, Лихвинцева 56<% } %></div>
	<div class="group">(<%= kmobject.Группа %><% if (0) { %>Здания<% } %>)</div>
</div>
<% if (0) { %></body></html><% } %>
