<%
var kmobject= obj;
%>
<div>
	<p>Вы действительно хотите удалить объект конкурсной массы</p>
	<p style="text-align:center"><b><%= kmobject.СокращённоеНазвание %><% if (0) { %>Дом отдельный, Лихвинцева 56<% } %></b></p>
	<p style="text-align:right">из лота?</p>
</div>
