<style>
div.cpw-custom-query-list-view li.folder a span.open
{
	display:none;
}
div.cpw-custom-query-list-view ol
,div.cpw-custom-query-list-view ul
{
	margin-top:3px;
	margin-bottom:3px;
}
div.cpw-custom-query-list-view li.folder.closed a span.close
,div.cpw-custom-query-list-view li.folder.closed div.folder
{
	display:none;
}
div.cpw-custom-query-list-view li.folder.closed a span.open
{
	display:inline;
}
div.cpw-custom-query-list-view div.folder
{
	margin-left: 30px;
}
div.cpw-custom-query-list-view button.reload
{
	padding-bottom:3px;
	padding-top:0;
	padding-left:5px;
	padding-right:5px;
	margin-left:10px;
	float:right;
}
div.cpw-custom-query-list-view span.close,
div.cpw-custom-query-list-view span.open
{
	display:none !important;
}
</style>
<%
var qlist= obj.value();
if (!qlist || null==qlist)
	qlist= {};

%>
<div class="cpw-custom-query-list-view">
	<button class="reload">обновить</button>
<%
var view_queries= function(queries)
{
	if (!queries || null==queries || !queries.length || 0==queries.length)
		return;
%>
	<span class="header">доступные запросы:</span>
	<ol>
		<%	for (var i= 0; i< queries.length; i++) 
			{ 
				var cust_query= queries[i];
		%>
		<li>
			<a href="#null" class="query" data-i-qlist="<%= i %>"><%= cust_query.title %><% if (0) { %>повторяющиеся прожиточные<% } %>
			</a>
		</li>
		<%	} %>
	</ol>
	<%
};
var view_folders= function(folders)
{
	if (!folders || null==folders || !folders.length || 0==folders.length)
		return;
%>
	<span class="header">доступные подразделы:</span>
	<ul>
		<%	for (var i= 0; i< folders.length; i++) 
			{ 
				var folder= folders[i];
		%>
		<li class="folder closed">
			<a href="#null" class="folder-title" data-i-flist="<%= i %>">
				<span class="open">+</span> 
				<span class="close">-</span> 
				<span><%= folder.title %><% if (0) { %>использование ПАУ<% } %></span>
			</a>
			<div class="folder">
				<% view_folder(folder.content); %>
			</div>
		</li>
		<%	} %>
	</ul>
	<%
};
var view_folder= function(folder)
	{
		view_queries(folder.queries);
		view_folders(folder.folders);
	};

	view_folder(qlist);
%>
</div>