<style>
div.cpw-ama-application-preview
{
	width:1024px;
	margin:0 auto;
}
div.cpw-ama-application-preview div.link 
{
	display:inline-block;
	margin:5px;
}
div.cpw-ama-application-preview div.link:hover 
{
	cursor: pointer;
	color: #D3242C;
}
div.cpw-ama-application-preview div.link:hover span.edit 
{
	cursor: pointer;
	color: #D3242C;
}
div.cpw-ama-application-preview div.buttons 
{
	margin-left: auto;
	margin-right: auto;
}
div.cpw-ama-application-preview button 
{
	display:inline-block;
}
</style>
<header id="header_application">
	<div class="header-container">
		<div class="header-cell">
			<img src="img/ico_ama.png" class="logo" alt="ПАУ" />
			<span class="title-ama">Требование о включении в реестр требований кредиторов</span>
		</div>
	</div>
</header>
<div class="cpw-ama-application-preview">
	<div class="buttons">
		<button class="save" >Сохранить и вернуться на витрину данных о процедуре</button> 
		<button class="ms-word" >Открыть документ MS Word</button>
	</div>
	<div class="content" >
		<% if (0) { %>Превью заявления<% } %>
	</div>
</div>