<style>
div.cpw-ama-application-view
{
}
div.cpw-ama-application-view .template
{
	width:19cm;
	margin:0 auto;
}
div.cpw-ama-application-view .template *
{
	font-family: "Times New Roman", Times, serif;
}
div.cpw-ama-application-view .template div,
div.cpw-ama-application-view .template p,
div.cpw-ama-application-view .template tr,
div.cpw-ama-application-view .template td,
div.cpw-ama-application-view .template ul,
div.cpw-ama-application-view .template ol,
div.cpw-ama-application-view .template li
{
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	font-family: "Times New Roman", Times, serif !important;
	font-size: 10pt;
}
div.cpw-ama-application-view .template p
{
	text-indent: 1cm;
	text-align: justify;
	margin: 0;
}
div.cpw-ama-application-view .template table
{
	border-collapse: collapse;
	width: 100%;
	margin: 10pt 0;
}
div.cpw-ama-application-view .template table thead td
{
	text-align: center;
}
div.cpw-ama-application-view .template table td
{
	border: 1px solid #e0e0e0;
	padding: 2px 5px;
}
div.cpw-ama-application-view .template table.double td 
{
	width: 50%;
}
div.cpw-ama-application-view .template .title
{
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}
div.cpw-ama-application-view .template .right-align
{
	text-align: right;
}
div.cpw-ama-application-view .underlined
{
	text-decoration: underline;
}
div.cpw-ama-application-view span.faded
{
	color:silver;
}
div.cpw-ama-application-view span.edit
{
	color:Blue;
}
div.cpw-ama-application-view table.header
{
	width:18cm;
	margin:0 auto;
}
div.cpw-ama-application-view table.header td
{
	vertical-align:top;
	padding-bottom:0.1cm;
}
div.cpw-ama-application-view table.header td.first
{
	width:35%;
	font-weight:bold;
	padding-left:0.1cm;
}
div.cpw-ama-application-view table.header td.second
{
	padding-left:0.1cm;
}
div.cpw-ama-application-view table.header td.second p
{
	text-align:right;
	text-indent:0;
}
div.cpw-ama-application-view p.header
{
	text-align:center;
	font-weight:bold;
}
div.cpw-ama-application-view p.text
{
	text-align:justify;
	text-indent:1.5cm;
}
</style>
<%
var params= {};

var par= function(path,line_len)
{
	if (!line_len)
		line_len= 6;
	var line= '';
	for (var i= 0; i < line_len; i++)
		line+= '_';
	return line;
};

%>
<div class="cpw-ama-application-view">
	<div class="template">

		<table class="header">
			<tbody>
				<tr>
					<td class="first">
						<div class="link" id="header1">
							Исх. № <span class="edit"><%= par('Номер_заявления',9) %><% if (0) { %>345/21<% } %></span> 
							от <span class="edit"><%= par('Дата_заявления',10) %><% if (0) { %>09.04.2021<% } %></span> г.
						</div>
					</td>
					<td class="second">
						<div class="link" id="header2">
							<p><span class="edit"><%= par('Решение.Суд.Наименование.Полное',59) %><% if (0) { %>Арбитражный суд последнего завета<% } %></span></p>
							<p>Адрес: <span class="edit"><%= par('Решение.Суд.Адрес',31) %><% if (0) { %>Москва, Кремль 4й подъезд<% } %></span></p>
							<p><strong>Кредитор:</strong> <span class="edit"><%= par('Кредитор.Наименование.Именительный',31) %><% if (0) { %>ПАУ Сбербанк<% } %></span></p>
							<p>Адрес: <span class="edit"><%= par('Кредитор.Адрес',31) %><% if (0) { %>Москва, Тверская ул., 15<% } %></span></p>
							<p><strong>Должник:</strong> <span class="edit"><%= par('Должник.Наименование.Именительный',31) %><% if (0) { %>ООО "Не получилось"<% } %></span></p>
							<p>Адрес: <span class="edit"><%= par('Должник.Адрес',31) %><% if (0) { %>Урюпинск, Ленина 3<% } %></span></p>
							<p><strong>Арбитражный управляющий:</strong> <span class="edit"><%= par('АУ.Наименование',31) %><% if (0) { %>Сатрапов Сатрап Сатрапович<% } %></span></p>
							<p>Адрес: <span class="edit"><%= par('АУ.Адрес',31) %><% if (0) { %>Ижевск, Вадима Сивкова 129<% } %></span></p>
							<p><strong>Дело </strong><span class="edit"><%= par('Решение.Номер',31) %><% if (0) { %>Ё34/234/2019<% } %></span></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	<p class="header">
		Заявление (требование)<br/>
		о включении в реестр требований кредиторов 
		<span class="edit"><%= par('Должник.Наименование.Именительный',31) %><% if (0) { %>ООО "Не получилось"<% } %></span>
	</p>

	<div class="link" id="first_p">
		<p class="text">
			Арбитражным судом 
			<span class="edit"><%= par('Решение.Суд.Наименование.Короткое',59) %><% if (0) { %>Последнего завета<% } %></span> 
			вынесено 
			<span class="edit"><%= par('Решение.Тип',8) %><% if (0) { %>определение<% } %></span> 
			по делу 
			<span class="edit"><%= par('Решение.Номер',15) %><% if (0) { %>Ё34/234/2019<% } %></span> 
			от 
			<span class="edit"><%= par('Решение.Дата',10) %><% if (0) { %>02.04.2021<% } %></span> 
			г. 
			<span class="edit"><%= par('Решение.Процедура.Короткая',60) %><% if (0) { %>о введении процедуры наблюдения<% } %></span> 
			в отношении 
			<span class="edit"><%= par('Должник.Наименование.Родительный',31) %><% if (0) { %>ООО "Не получилось"<% } %></span>, 
			временным (внешним, административным, конкурсным) управляющим утвержден 
			<span class="edit"><%= par('АУ.Наименование',31) %><% if (0) { %>Сатрапов Сатрап Сатрапович<% } %></span>, 
			член саморегулируемой организации 
			<span class="edit"><%= par('АУ.СРО',31) %><% if (0) { %>Весёлые АУ<% } %></span>.
		</p>
	</div>

	<div class="link" id="second_p">
		<p class="text">
			Объявление 
			<span class="edit"><%= par('Решение.Процедура.Полное',60) %><% if (0) { %>о введении процедуры наблюдения<% } %></span> 
			в отношении 
			<span class="edit"><%= par('Должник.Наименование.Родительный',31) %><% if (0) { %>ООО "Не получилось"<% } %></span> 
			опубликовано в газете &laquo;Коммерсантъ&raquo; № 
			<span class="edit"><%= par('Решение.Комерсант.Номер',12) %><% if (0) { %>238946687246<% } %></span> 
			от 
			<span class="edit"><%= par('Решение.Комерсант.Дата',10) %><% if (0) { %>12.04.2021<% } %></span> г., 
			в Едином Федеральном реестре сведений о банкротстве сообщение № 
			<span class="edit"><%= par('Решение.Сообщение.Номер',8) %><% if (0) { %>4268934<% } %></span> 
			от 
			<span class="edit"><%= par('Решение.Сообщение.Дата',10) %><% if (0) { %>08.04.2021<% } %></span> г.
		</p>
	</div>

	<p class="text">
		В соответствии с 
		<a href="http://www.consultant.ru/document/cons_doc_LAW_39331/143cd5c121660ad20aadff9975d22ec72d55e12f/" target="_blank">
			абз. 1 п. 6 ст. 16
		</a> 
		Федерального закона &laquo;О несостоятельности (банкротстве)&raquo; 
		№ 127-ФЗ от 26.10.2002 (далее &ndash; Закон о банкротстве), 
		требования кредиторов включаются в реестр требований кредиторов и 
		исключаются из него арбитражным управляющим или реестродержателем 
		исключительно на основании вступивших в силу судебных актов, 
		устанавливающих их состав и размер.
	</p>

	<p class="text">
		Указанные требования направляются в арбитражный суд, 
		должнику и арбитражному управляющему с приложением судебного акта или иных документов, 
		подтверждающих обоснованность этих требований. 
		Указанные требования включаются в реестр требований кредиторов на основании определения 
		арбитражного суда о включении указанных требований в реестр требований кредиторов.
	</p>

	<div class="link" id="third_p">
		<p class="text">
			За 
			<span class="edit"><%= par('Должник.Наименование.Творительный',31) %><% if (0) { %>ООО "Не получилось"<% } %></span> 
			числится задолженность по денежным обязательствам перед 
			<span class="edit"><%= par('Кредитор.Наименование.Короткое',31) %><% if (0) { %>ПАУ Сбербанк<% } %></span> 
			в размере 
			<span class="edit"><%= par('Кредитор.СумДолг',10) %><% if (0) { %>2346788,56<% } %></span> руб., 
			которая до настоящего времени не погашена.
		</p>
	</div>

	<div class="link" id="fourth_p">
		<span class="edit">
			<%= par('Основание',105) %><% if (0) { %><p>Задолженность возникла в результате договорных отношений.</p><% } %>
		</span>
	</div>

	<p class="text">
		В соответствии с 
		<a href="http://www.consultant.ru/document/cons_doc_LAW_39331/a8949049844a8eb33dcc8f5ddb6b95e0c70112a3/" target="_blank">
			п. 4 ст. 134
		</a> 
		Закона о банкротстве требования кредиторов удовлетворяются в следующей очередности:
	</p>
		<p class="text">
		в первую очередь производятся расчеты по требованиям граждан, перед которыми должник 
		несет ответственность за причинение вреда жизни или здоровью, путем капитализации 
		соответствующих повременных платежей, а также расчеты по иным установленным 
		настоящим Федеральным законом требованиям;
	</p>
		<p class="text">
		во вторую очередь производятся расчеты по выплате выходных пособий и (или) оплате 
		труда лиц, работающих или работавших по трудовому договору, и по выплате 
		вознаграждений авторам результатов интеллектуальной деятельности;
	</p>
	<p class="text">
		в третью очередь производятся расчеты с другими кредиторами, в том числе 
		кредиторами по нетто-обязательствам.
	</p>

	<div class="link" id="fifth_p">
		<p class="text">
			Денежные средства прошу перечислять на банковский счёт 
			<span class="edit"><%= par('Кредитор.Наименование.Короткое',31) %><% if (0) { %>ПАУ Сбербанк<% } %></span>:<br/>
			<span class="edit"><%= par('Кредитор.Банк.Реквизиты',90) %><% if (0) { %>ПАО Сбербанк, отделение г. Москва, к/с 30101234500000000225, БИК 044521234, р/с 40702810123450101230<% } %></span>.
		</p>
	</div>

	<p class="text">
		На основании вышеизложенного, а также в соответствии с п. 6 ст. 16, ст. 134, Закона о банкротстве, 
		<a href="http://www.consultant.ru/document/cons_doc_LAW_37800/260357f70adf93df1269b725cf458cf84ec47a3e/" target="_blank">
			ст. 223
		</a> 
		Арбитражного процессуального кодекса Российской Федерации,
	</p>

	<p class="header">
		ПРОШУ:
	</p>

	<div class="link" id="sixth_p">
		<p class="text">
			Признать требование 
			<span class="edit"><%= par('Кредитор.Наименование.Короткое',31) %><% if (0) { %>ПАУ Сбербанк<% } %></span> 
			по денежному обязательству в размере 
			<span class="edit"><%= par('Кредитор.СумДолг',10) %><% if (0) { %>2346788,56<% } %></span> руб., 
			в том числе основной долг 
			<span class="edit"><%= par('Кредитор.Долг',10) %><% if (0) { %>200000,56<% } %></span> руб., 
			<% if (par('Кредитор.Санкции')) { %>
				<span class="edit"><%= par('Кредитор.Санкции',10) %><% if (0) { %>326,00<% } %></span> 
			<% } %> 
			обоснованным и включить в реестр требований кредиторов 
			<span class="edit"><%= par('Должник.Наименование.Родительный',31) %><% if (0) { %>ООО "Не получилось"<% } %></span> 
			по третьей очереди удовлетворения.
		</p>
	</div>

	<div class="link" id="attachments">
		<p>Приложение:</p>
		<ol style="margin-left:50px">
			<span class="edit"><%= par('Приложения') %><% if (0) { %>?????<% } %></span>
		</ol>
	</div>

	<p>&nbsp; &nbsp;</p>

	<div class ="link" id="sign">
		<table>
			<tbody>
				<tr>
					<td width="400">
						<strong>
							<div>
								Руководитель<br>
								<span class="edit"><%= par('Кредитор.Наименование.Короткое',31) %><% if (0) { %>ПАУ Сбербанк<% } %></span>
							</div>
						</strong>
					</td>
					<td width="400" style="vertical-align:bottom">
						<p style="text-align: right;">
							<strong>
								<span class="edit"><%= par('Кредитор.Руководитель',31) %><% if (0) { %>Зелибобов Зелибоб Зелибобович<% } %></span>
							</strong>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>