<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence-first 
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence-first div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence-first div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence-first div.row 
{
	margin-bottom:2px;
}
div.cpw-ama-aplication-sentence-first div.text 
{
	 display:inline-block;
	 margin:5px;
}
div.cpw-ama-aplication-sentence-first input.input
{
	 display:inline-block;
	 margin:5px;
}
</style>
<div class="cpw-ama-aplication-sentence-first">
    <!-- <div class="header">Редактирование</div> -->
    <div class="content">
		<div class="row">
			<input class="input" id="court_name_input" style="width:50%;" type="text" placeholder="Название суда" value="<%= obj.txt('Решение.Суд.Наименование') %>"></input>
			<div class="text"> находящийся по адресу </div>
			<input class="input" id="court_adress_input" style="width:50%;" type="text" placeholder="Адрес суда" value="<%= obj.txt('Решение.Суд.Адрес') %>"></input>
		</div>
		<div class="row">
			<input id="decision_date" type="text" style="width:90px;" placeholder="Дата решения" value="<%= obj.txt('Решение.Дата') %>" <%= obj.date_attrs() %> />
			<div class="text"> вынес </div>

			<!--<input  class="input" id="decision_type_input" type="text" value="<%= obj.txt('Решение.Тип') %>" /> -->
			<select id="type">
				<option>решение</option>
				<option>определение</option>
			</select>
		

			<div class="text"> по делу </div>

			<input class="input" id="decision_number_input" type="text" placeholder="Номер дела" value="<%= obj.txt('Решение.Номер') %>" />
		</div>
    </div>
    	
</div>