<style>
div.cpw-unsubscribe .cancel {
	margin-right: 20px;
}
div.cpw-unsubscribe label.wrapper {
	display: flex;
	align-items: center;
}
div.cpw-unsubscribe label.wrapper span {
	margin-left: 5px;
	font-style: italic;
}
div.cpw-unsubscribe ul {
	padding: 0;
	list-style: none;
}

div.cpw-unsubscribe button.unsub {
	font-style: italic;
}

</style>
<%
function getUrlVars()
{
	var vars = [], hash;
	var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	for(var i = 0; i < hashes.length; i++)
	{
		hash = hashes[i].split('=');
		vars.push(hash[0]);
		vars[hash[0]] = hash[1];
	}
	return vars;
}
$_GET = getUrlVars();
%>
<div class="cpw-unsubscribe">
	<svg width="239" height="50" viewBox="0 0 239 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M73.7528 20.7392C73.7528 20.8516 73.6411 20.964 73.5294 20.964H72.5239C72.4122 20.964 72.3005 20.8516 72.3005 20.7392V10.0616H67.9435V20.7392C67.9435 20.8516 67.8318 20.964 67.7201 20.964H66.7146C66.6029 20.964 66.4912 20.8516 66.4912 20.7392V9.04999C66.4912 8.93759 66.6029 8.8252 66.7146 8.8252H73.5294C73.6411 8.8252 73.7528 8.93759 73.7528 9.04999V20.7392ZM82.8019 16.693C82.8019 18.2665 82.355 19.5029 81.573 20.2896C80.9027 20.964 80.1207 21.1888 79.227 21.1888C78.3332 21.1888 77.5512 20.8516 76.8809 20.2896C76.0989 19.5029 75.652 18.2665 75.652 16.693C75.652 15.1194 76.0989 13.883 76.8809 13.0963C77.5512 12.4219 78.3332 12.1971 79.227 12.1971C80.1207 12.1971 80.9027 12.5343 81.573 13.0963C82.355 13.883 82.8019 15.1194 82.8019 16.693ZM81.3496 16.693C81.3496 15.569 81.1262 14.6698 80.791 14.1078C80.4559 13.5459 79.8973 13.2087 79.227 13.2087C78.3332 13.2087 77.7746 13.6582 77.4395 14.5574C77.3278 15.2318 77.2161 15.9062 77.2161 16.693C77.2161 17.8169 77.4395 18.7161 77.7746 19.2781C78.1098 19.8401 78.6684 20.1772 79.3387 20.1772C80.2324 20.1772 80.791 19.7277 81.1262 18.8285C81.2379 18.2665 81.3496 17.5921 81.3496 16.693ZM91.9627 20.8516C91.9627 20.964 91.851 20.964 91.851 20.964H90.8455C90.7338 20.964 90.7338 20.964 90.7338 20.8516L90.5104 14.6698V13.9954C90.5104 14.2202 90.3987 14.3326 90.3987 14.445C90.3987 14.5574 90.3987 14.6698 90.287 14.6698L88.8346 18.9409C88.8346 19.0533 88.7229 19.1657 88.6112 19.1657H87.9409C87.8292 19.1657 87.7175 19.0533 87.7175 18.9409L86.1534 14.6698L86.0417 13.9954V14.6698L85.8183 20.8516C85.8183 20.964 85.8183 20.964 85.7066 20.964H84.7011C84.5894 20.964 84.5894 20.964 84.5894 20.8516L85.0363 12.6467C85.0363 12.5343 85.0363 12.5343 85.148 12.5343H86.3769C86.3769 12.5343 86.3769 12.5343 86.4886 12.5343L86.6003 12.6467L87.9409 16.5806C87.9409 16.693 88.0526 16.9177 88.0526 17.0301C88.0526 17.2549 88.1643 17.4797 88.1643 17.8169C88.1643 17.7045 88.276 17.5921 88.3878 17.2549C88.4995 17.0301 88.4995 16.8054 88.6112 16.5806L89.9518 12.6467C89.9518 12.5343 90.0635 12.5343 90.0635 12.5343H91.2924C91.4041 12.5343 91.4041 12.5343 91.4041 12.6467L91.9627 20.8516ZM100.677 16.693C100.677 18.2665 100.23 19.5029 99.4478 20.2896C98.7775 20.964 97.9954 21.1888 97.1017 21.1888C96.208 21.1888 95.4259 20.8516 94.7556 20.2896C93.9736 19.5029 93.5268 18.2665 93.5268 16.693C93.5268 15.1194 93.9736 13.883 94.7556 13.0963C95.4259 12.4219 96.208 12.1971 97.1017 12.1971C97.9954 12.1971 98.7775 12.5343 99.4478 13.0963C100.342 13.883 100.677 15.1194 100.677 16.693ZM99.2243 16.693C99.2243 15.569 99.0009 14.6698 98.6657 14.1078C98.3306 13.5459 97.772 13.2087 97.1017 13.2087C96.208 13.2087 95.6494 13.6582 95.3142 14.5574C95.2025 15.2318 95.0908 15.9062 95.0908 16.693C95.0908 17.8169 95.3142 18.7161 95.6494 19.2781C95.9845 19.8401 96.5431 20.1772 97.2134 20.1772C98.1072 20.1772 98.6657 19.7277 99.0009 18.8285C99.1126 18.2665 99.2243 17.5921 99.2243 16.693ZM112.63 23.3244C112.63 23.4368 112.519 23.5491 112.407 23.5491H111.513C111.401 23.5491 111.29 23.4368 111.29 23.3244V20.964H102.799C102.688 20.964 102.576 20.8516 102.576 20.7392V12.6467C102.576 12.5343 102.576 12.4219 102.688 12.4219L103.693 12.1971H103.805C103.805 12.1971 103.916 12.1971 103.916 12.3095V19.8401H106.374V12.6467C106.374 12.5343 106.374 12.4219 106.486 12.4219L107.38 12.1971H107.491C107.491 12.1971 107.603 12.1971 107.603 12.3095V19.8401H110.061V12.6467C110.061 12.5343 110.061 12.4219 110.173 12.4219L111.178 12.1971H111.29C111.29 12.1971 111.401 12.1971 111.401 12.3095V19.8401H112.295C112.407 19.8401 112.519 19.8401 112.519 19.8401C112.519 19.8401 112.519 19.9525 112.519 20.0649V23.3244H112.63ZM120.115 20.7392C120.115 20.8516 120.004 20.964 119.892 20.964H118.998C118.887 20.964 118.775 20.8516 118.775 20.7392V17.1425H115.312V20.7392C115.312 20.8516 115.2 20.964 115.088 20.964H114.194C114.083 20.964 113.971 20.8516 113.971 20.7392V12.6467C113.971 12.5343 113.971 12.4219 114.083 12.4219L114.53 12.3095L115.088 12.1971H115.2C115.2 12.1971 115.312 12.1971 115.312 12.3095V16.0186H118.775V12.6467C118.775 12.5343 118.775 12.4219 118.887 12.4219L119.892 12.1971H120.004C120.004 12.1971 120.115 12.1971 120.115 12.3095V20.7392V20.7392ZM128.718 20.7392C128.718 20.8516 128.606 20.964 128.494 20.964H127.6C127.489 20.964 127.377 20.8516 127.377 20.7392V16.2434L127.489 14.5574C127.377 14.7822 127.154 15.1194 126.93 15.4566C126.707 15.9062 126.595 16.131 126.595 16.131L123.914 20.8516C123.914 20.964 123.802 20.964 123.69 20.964H122.797C122.685 20.964 122.573 20.8516 122.573 20.7392V12.6467C122.573 12.5343 122.573 12.4219 122.685 12.4219L123.02 12.3095L123.579 12.1971H123.69C123.69 12.1971 123.802 12.1971 123.802 12.3095V17.1425V18.9409L124.696 17.2549L127.377 12.5343C127.489 12.4219 127.489 12.4219 127.489 12.4219L128.494 12.1971H128.606C128.606 12.1971 128.718 12.1971 128.718 12.3095V20.7392ZM137.432 20.2896L137.208 21.0764C137.208 21.1888 137.096 21.1888 136.985 21.1888C136.761 21.1888 136.538 21.1888 136.314 21.1888C136.091 21.1888 135.979 21.0764 135.868 21.0764C135.532 20.964 135.197 20.6268 135.086 20.1772C134.974 19.9525 134.974 19.7277 134.862 19.3905L134.527 18.1541C134.415 17.7045 134.304 17.4797 134.08 17.3673C133.968 17.2549 133.633 17.1425 133.41 17.1425H132.628V20.8516V20.964H132.516H131.511C131.399 20.964 131.399 20.964 131.287 20.8516V12.6467C131.287 12.5343 131.287 12.4219 131.399 12.4219L131.734 12.3095L132.293 12.1971H132.404C132.404 12.1971 132.516 12.1971 132.516 12.3095V15.9062H133.298C133.857 15.9062 134.192 15.569 134.415 14.8946L134.639 13.9954C134.75 13.5459 134.862 13.2087 134.974 12.9839C135.197 12.6467 135.421 12.3095 135.756 12.1971C135.868 12.1971 135.979 12.0847 136.203 12.0847C136.426 12.0847 136.538 12.0847 136.65 12.0847C136.761 12.0847 136.873 12.0847 136.873 12.1971L137.096 12.9839C137.096 13.0963 137.096 13.2087 136.873 13.2087H136.65C136.538 13.2087 136.538 13.2087 136.426 13.2087C136.314 13.2087 136.203 13.3211 136.091 13.4335C136.091 13.4335 136.091 13.5459 135.979 13.6582C135.868 13.883 135.868 14.1078 135.868 14.1078L135.644 14.7822C135.532 15.1194 135.421 15.3442 135.309 15.569C135.086 15.9062 134.862 16.131 134.415 16.2434C134.75 16.3558 135.086 16.4682 135.197 16.8054C135.309 17.0301 135.421 17.1425 135.532 17.4797L136.091 19.1657C136.203 19.2781 136.203 19.3905 136.203 19.5029C136.203 19.6153 136.314 19.6153 136.314 19.7277C136.426 19.8401 136.538 19.8401 136.761 19.8401H136.985H137.096C137.432 20.0649 137.432 20.1773 137.432 20.2896Z" fill="#DB0708"></path>
<path d="M149.496 20.6269C149.496 20.7393 149.385 20.7393 149.385 20.7393L148.603 21.1889C148.491 21.1889 148.491 21.1889 148.379 21.1889C148.268 21.1889 148.268 21.0765 148.044 20.8517C147.932 20.7393 147.932 20.6269 147.821 20.5145C147.821 20.4021 147.709 20.2897 147.709 20.0649L147.597 20.1773C147.262 20.5145 147.039 20.7393 146.704 20.8517C146.257 21.0765 145.698 21.3013 145.14 21.3013C144.358 21.3013 143.687 21.0765 143.352 20.5145C143.017 20.0649 142.793 19.503 142.793 18.8286C142.793 18.1542 143.017 17.5922 143.352 17.1426C143.799 16.5807 144.469 16.2435 145.363 16.0187C145.698 15.9063 146.033 15.9063 146.368 15.7939C146.704 15.7939 147.039 15.6815 147.374 15.6815H147.486V15.0071C147.486 14.5575 147.374 14.1079 147.262 13.8831C147.039 13.5459 146.592 13.3212 146.033 13.3212C145.363 13.3212 144.693 13.4335 144.022 13.7707L143.799 13.8831H143.687L143.464 13.2088V13.0964C143.464 12.984 143.464 12.984 143.575 12.984C143.687 12.984 143.687 12.8716 143.799 12.8716C144.581 12.5344 145.363 12.3096 146.257 12.3096C148.044 12.3096 148.938 13.0964 148.938 14.7823V18.8286C148.938 19.3906 149.05 19.7278 149.161 20.0649L149.385 20.5145L149.496 20.6269ZM147.709 19.0534V16.8054H147.597C146.368 16.8054 145.475 17.0302 144.916 17.4798C144.581 17.817 144.357 18.2666 144.357 18.7162C144.357 19.1658 144.469 19.6154 144.804 19.8402C145.028 20.0649 145.363 20.1773 145.698 20.1773C146.033 20.1773 146.368 20.0649 146.815 19.8402C147.039 19.6154 147.374 19.3906 147.709 19.0534ZM157.987 16.693C157.987 18.4914 157.652 19.7278 156.87 20.5145C156.311 21.0765 155.641 21.3013 154.859 21.3013C154.412 21.3013 153.965 21.1889 153.63 21.0765C153.407 20.9641 153.183 20.8517 152.96 20.7393V24.4484C152.96 24.5608 152.848 24.6732 152.848 24.6732L151.954 24.898C151.843 24.898 151.843 24.898 151.731 24.898C151.619 24.898 151.619 24.7856 151.619 24.6732V14.7823C151.619 14.4451 151.619 14.2203 151.619 13.9955C151.619 13.7707 151.507 13.5459 151.284 13.2088C150.949 12.984 150.949 12.8716 150.949 12.8716V12.7592L151.731 12.3096C151.843 12.1972 151.954 12.1972 152.066 12.3096C152.178 12.422 152.289 12.5344 152.289 12.7592C152.401 12.984 152.401 13.0964 152.513 13.3212L152.625 13.2088C152.96 12.984 153.295 12.7592 153.63 12.6468C154.077 12.422 154.524 12.3096 154.971 12.3096C155.641 12.3096 156.311 12.5344 156.758 12.984C157.54 13.6583 157.987 14.8947 157.987 16.693ZM156.535 16.5807C156.535 15.2319 156.423 14.4451 156.088 13.9955C155.753 13.5459 155.306 13.3212 154.747 13.3212C154.412 13.3212 154.077 13.4335 153.742 13.6583C153.518 13.7707 153.183 13.9955 152.848 14.2203V19.3906C153.071 19.503 153.407 19.7278 153.742 19.8402C154.077 19.9525 154.412 20.0649 154.747 20.0649C155.529 20.0649 155.976 19.7278 156.311 19.0534C156.423 18.4914 156.535 17.7046 156.535 16.5807ZM166.254 16.8054C166.254 18.379 165.807 19.503 165.025 20.2897C164.355 20.9641 163.573 21.1889 162.679 21.1889C162.121 21.1889 161.562 21.0765 161.003 20.7393C160.445 20.4021 159.886 19.8402 159.663 19.1658C159.439 18.7162 159.328 18.2666 159.216 17.7046C159.104 17.1426 159.104 16.5807 159.104 15.7939C159.104 14.1079 159.216 12.8716 159.551 11.9724C159.774 11.298 160.221 10.6236 160.668 10.174C161.115 9.72446 161.562 9.38727 162.232 9.16248L165.137 7.81372C165.249 7.81372 165.36 7.81372 165.36 7.81372C165.472 7.81372 165.584 7.81372 165.584 7.92612L165.919 8.6005C165.919 8.6005 165.919 8.71289 165.919 8.82529C165.919 8.93769 165.807 8.93769 165.584 9.05008L162.232 10.6236C161.45 10.9608 160.892 11.5228 160.556 12.0848C160.333 12.5344 160.11 13.0964 159.998 13.7707L159.886 14.3327H159.998C160.221 13.7707 160.556 13.3212 161.115 12.984C161.562 12.6468 162.121 12.5344 162.679 12.5344C163.796 12.5344 164.578 12.984 165.137 13.7707C166.031 14.4451 166.254 15.4567 166.254 16.8054ZM164.913 16.8054C164.913 15.5691 164.69 14.6699 164.131 14.1079C163.796 13.7707 163.349 13.5459 162.791 13.5459C162.232 13.5459 161.785 13.7707 161.45 14.1079C160.892 14.6699 160.668 15.5691 160.668 16.8054C160.668 17.7046 160.78 18.4914 161.003 18.941C161.339 19.7278 161.897 20.0649 162.679 20.0649C163.573 20.0649 164.131 19.6154 164.467 18.7162C164.802 18.379 164.913 17.7046 164.913 16.8054ZM174.409 20.7393C174.409 20.8517 174.298 20.9641 174.186 20.9641H173.292C173.181 20.9641 173.069 20.8517 173.069 20.7393V16.2435V14.5575C172.957 14.7823 172.734 15.1195 172.51 15.4567C172.287 15.9063 172.175 16.1311 172.175 16.1311L169.494 20.8517C169.494 20.9641 169.382 20.9641 169.27 20.9641H168.377C168.265 20.9641 168.153 20.8517 168.153 20.7393V12.6468C168.153 12.5344 168.153 12.422 168.265 12.422L168.712 12.3096L169.27 12.1972H169.382C169.382 12.1972 169.494 12.1972 169.494 12.3096V17.1426V18.941L170.388 17.255L173.069 12.5344L173.181 12.422L174.186 12.1972H174.298C174.298 12.1972 174.409 12.1972 174.409 12.3096V20.7393ZM182.006 12.7592L181.783 13.4335C181.783 13.5459 181.671 13.6583 181.448 13.6583H179.325V20.8517C179.325 20.9641 179.213 21.0765 179.102 21.0765H178.208C178.096 21.0765 177.984 20.9641 177.984 20.8517V13.6583H175.75C175.638 13.6583 175.527 13.5459 175.527 13.4335V12.6468C175.527 12.5344 175.638 12.422 175.75 12.422H181.783C181.894 12.422 182.006 12.422 182.006 12.5344C182.006 12.6468 182.006 12.6468 182.006 12.7592ZM189.156 16.693C189.156 18.4914 188.821 19.7278 188.039 20.5145C187.48 21.0765 186.81 21.3013 186.028 21.3013C185.581 21.3013 185.134 21.1889 184.799 21.0765C184.576 20.9641 184.352 20.8517 184.129 20.7393V24.4484C184.129 24.5608 184.017 24.6732 184.017 24.6732L183.123 24.898C183.012 24.898 183.012 24.898 182.9 24.898C182.788 24.898 182.788 24.7856 182.788 24.6732V14.7823C182.788 14.4451 182.788 14.2203 182.788 13.9955C182.788 13.7707 182.676 13.5459 182.453 13.2088C182.341 13.0964 182.341 12.984 182.341 12.984V12.8716L183.123 12.422C183.235 12.3096 183.347 12.3096 183.459 12.422C183.57 12.5344 183.682 12.6468 183.682 12.8716C183.794 13.0964 183.794 13.2088 183.905 13.4335L184.017 13.3212C184.352 13.0964 184.687 12.8716 185.023 12.7592C185.469 12.5344 185.916 12.422 186.363 12.422C187.033 12.422 187.704 12.6468 188.151 13.0964C188.709 13.6583 189.156 14.8947 189.156 16.693ZM187.704 16.5807C187.704 15.2319 187.592 14.4451 187.257 13.9955C186.922 13.5459 186.475 13.3212 185.916 13.3212C185.581 13.3212 185.246 13.4335 184.911 13.6583C184.687 13.7707 184.352 13.9955 184.017 14.2203V19.3906C184.241 19.503 184.576 19.7278 184.911 19.8402C185.246 19.9525 185.581 20.0649 185.916 20.0649C186.698 20.0649 187.145 19.7278 187.48 19.0534C187.592 18.4914 187.704 17.7046 187.704 16.5807ZM196.753 20.6269C196.753 20.7393 196.641 20.7393 196.641 20.7393L195.859 21.1889C195.747 21.1889 195.747 21.1889 195.636 21.1889C195.524 21.1889 195.524 21.0765 195.301 20.8517C195.189 20.7393 195.189 20.6269 195.077 20.5145C195.077 20.4021 194.965 20.2897 194.965 20.0649L194.854 20.1773C194.518 20.5145 194.295 20.7393 193.96 20.8517C193.513 21.0765 192.954 21.3013 192.396 21.3013C191.614 21.3013 190.944 21.0765 190.608 20.5145C190.273 20.0649 190.05 19.503 190.05 18.8286C190.05 18.1542 190.273 17.5922 190.608 17.1426C191.055 16.5807 191.726 16.2435 192.619 16.0187C192.954 15.9063 193.29 15.9063 193.625 15.7939C193.96 15.7939 194.407 15.6815 194.63 15.6815H194.742V15.0071C194.742 14.5575 194.63 14.1079 194.518 13.8831C194.407 13.5459 193.96 13.4335 193.401 13.4335C192.731 13.4335 192.061 13.5459 191.39 13.8831L191.167 13.9955H191.055L190.832 13.3212V13.2088C190.832 13.0964 190.832 13.0964 190.944 13.0964C191.055 13.0964 191.055 12.984 191.167 12.984C191.949 12.6468 192.731 12.422 193.625 12.422C195.412 12.422 196.306 13.2088 196.306 14.8947V18.941C196.306 19.503 196.418 19.8402 196.529 20.1773L196.753 20.6269V20.6269ZM194.854 19.0534V16.8054H194.742C193.513 16.8054 192.619 17.0302 192.061 17.4798C191.726 17.817 191.502 18.2666 191.502 18.7162C191.502 19.1658 191.614 19.6154 191.949 19.8402C192.172 20.0649 192.508 20.1773 192.843 20.1773C193.178 20.1773 193.513 20.0649 193.96 19.8402C194.295 19.6154 194.518 19.3906 194.854 19.0534ZM208.26 20.2897L208.036 21.0765C208.036 21.1889 207.925 21.1889 207.813 21.1889C207.589 21.1889 207.366 21.1889 207.143 21.1889C206.919 21.1889 206.807 21.0765 206.696 21.0765C206.361 20.9641 206.025 20.6269 205.914 20.1773C205.802 19.9525 205.802 19.7278 205.69 19.3906L205.355 18.1542C205.243 17.817 205.132 17.4798 204.908 17.3674C204.796 17.255 204.461 17.1426 204.238 17.1426H203.568V20.8517V20.9641H203.456H202.45C202.339 20.9641 202.339 20.9641 202.227 20.8517V17.1426H201.557C201.222 17.1426 200.998 17.255 200.886 17.3674C200.775 17.4798 200.551 17.7046 200.44 18.1542L200.104 19.3906C199.993 19.9525 199.881 20.2897 199.769 20.5145C199.657 20.8517 199.322 21.0765 199.099 21.1889C198.987 21.1889 198.875 21.3013 198.652 21.3013C198.429 21.3013 198.205 21.3013 197.982 21.3013C197.87 21.3013 197.758 21.3013 197.758 21.1889L197.535 20.4021C197.535 20.2897 197.535 20.1773 197.758 20.1773H197.982C198.205 20.1773 198.429 20.0649 198.429 20.0649C198.54 20.0649 198.54 19.9525 198.652 19.8402C198.652 19.7278 198.764 19.6154 198.764 19.503L199.322 17.817C199.434 17.5922 199.546 17.3674 199.657 17.255C199.881 17.0302 200.104 16.8054 200.551 16.693C200.216 16.5807 199.881 16.3559 199.769 16.1311C199.657 15.9063 199.546 15.6815 199.434 15.3443L199.211 14.6699C198.987 14.1079 198.987 13.9955 198.987 13.9955C198.987 13.8831 198.875 13.7707 198.875 13.7707C198.764 13.6583 198.764 13.5459 198.652 13.5459C198.54 13.5459 198.429 13.4335 198.317 13.4335H198.093C197.87 13.4335 197.87 13.3212 197.87 13.2088L198.093 12.422C198.093 12.3096 198.205 12.3096 198.317 12.3096C198.429 12.3096 198.54 12.3096 198.764 12.3096C198.987 12.3096 199.099 12.422 199.211 12.422C199.546 12.5344 199.769 12.7592 199.993 13.2088C200.104 13.4335 200.216 13.7707 200.328 14.2203L200.551 15.1195C200.663 15.4567 200.775 15.6815 200.886 15.9063C200.998 16.0187 201.333 16.1311 201.668 16.1311H202.227V12.7592C202.227 12.6468 202.227 12.5344 202.339 12.5344L202.674 12.422L203.232 12.3096H203.344C203.344 12.3096 203.456 12.3096 203.456 12.422V16.0187H204.014C204.573 16.0187 204.908 15.6815 205.132 15.0071L205.355 14.1079C205.467 13.6583 205.578 13.3212 205.69 13.0964C205.914 12.7592 206.137 12.422 206.472 12.3096C206.584 12.3096 206.696 12.1972 206.919 12.1972C207.143 12.1972 207.254 12.1972 207.366 12.1972C207.478 12.1972 207.589 12.1972 207.589 12.3096L207.813 13.0964C207.813 13.2088 207.813 13.3212 207.589 13.3212H207.366C207.254 13.3212 207.143 13.3212 207.031 13.4335C206.919 13.4335 206.807 13.5459 206.807 13.6583C206.807 13.6583 206.696 13.7707 206.696 13.8831C206.696 13.9955 206.584 14.2203 206.584 14.3327L206.361 15.0071C206.249 15.3443 206.137 15.5691 206.025 15.7939C205.802 16.1311 205.578 16.3559 205.132 16.4683C205.467 16.5807 205.802 16.693 205.914 17.0302C206.025 17.255 206.137 17.3674 206.249 17.7046L206.807 19.3906C206.919 19.503 206.919 19.6154 206.919 19.7278C206.919 19.8402 207.031 19.8402 207.031 19.9525C207.143 20.0649 207.254 20.0649 207.478 20.0649H207.701H207.813C208.26 20.0649 208.26 20.1773 208.26 20.2897ZM215.745 20.7393C215.745 20.8517 215.633 20.9641 215.521 20.9641H214.628C214.516 20.9641 214.404 20.8517 214.404 20.7393V17.1426H210.941V20.7393C210.941 20.8517 210.829 20.9641 210.717 20.9641H209.824C209.712 20.9641 209.6 20.8517 209.6 20.7393V12.6468C209.6 12.5344 209.6 12.422 209.712 12.422L210.159 12.3096L210.717 12.1972H210.829C210.829 12.1972 210.941 12.1972 210.941 12.3096V16.0187H214.404V12.6468C214.404 12.5344 214.404 12.422 214.516 12.422L215.521 12.1972H215.633C215.633 12.1972 215.745 12.1972 215.745 12.3096V20.7393V20.7393ZM224.682 16.693C224.682 18.2666 224.235 19.503 223.453 20.2897C222.783 20.9641 222.001 21.1889 221.107 21.1889C220.213 21.1889 219.431 20.8517 218.761 20.2897C217.979 19.503 217.532 18.2666 217.532 16.693C217.532 15.1195 217.979 13.8831 218.761 13.0964C219.431 12.422 220.213 12.1972 221.107 12.1972C222.001 12.1972 222.783 12.5344 223.453 13.0964C224.235 13.8831 224.682 15.1195 224.682 16.693ZM223.23 16.693C223.23 15.5691 223.006 14.6699 222.671 14.1079C222.336 13.5459 221.777 13.2088 221.107 13.2088C220.213 13.2088 219.655 13.6583 219.32 14.5575C219.096 15.1195 218.985 15.7939 218.985 16.5807C218.985 17.7046 219.208 18.6038 219.543 19.1658C219.878 19.7278 220.437 20.0649 221.107 20.0649C222.001 20.0649 222.559 19.6154 222.895 18.7162C223.118 18.2666 223.23 17.5922 223.23 16.693ZM231.162 12.7592L231.05 13.4335C231.05 13.5459 230.938 13.5459 230.938 13.5459H230.827H227.922V20.6269C227.922 20.7393 227.81 20.8517 227.698 20.8517H226.805C226.693 20.8517 226.581 20.7393 226.581 20.6269V12.7592C226.581 12.5344 226.693 12.5344 226.805 12.5344H231.05C231.162 12.422 231.273 12.5344 231.162 12.7592ZM238.423 16.693C238.423 18.2666 237.976 19.503 237.194 20.2897C236.524 20.9641 235.742 21.1889 234.848 21.1889C233.955 21.1889 233.173 20.8517 232.502 20.2897C231.72 19.503 231.273 18.2666 231.273 16.693C231.273 15.1195 231.72 13.8831 232.502 13.0964C233.173 12.422 233.955 12.1972 234.848 12.1972C235.742 12.1972 236.524 12.5344 237.194 13.0964C237.976 13.8831 238.423 15.1195 238.423 16.693ZM236.971 16.693C236.971 15.5691 236.748 14.6699 236.412 14.1079C236.077 13.5459 235.519 13.2088 234.848 13.2088C233.955 13.2088 233.396 13.6583 233.061 14.5575C232.837 15.1195 232.726 15.7939 232.726 16.5807C232.726 17.7046 232.949 18.6038 233.284 19.1658C233.619 19.7278 234.178 20.0649 234.848 20.0649C235.742 20.0649 236.301 19.6154 236.636 18.7162C236.859 18.2666 236.971 17.5922 236.971 16.693Z" fill="#DB0708"></path>
<path d="M73.1939 30.0685C73.1939 30.0685 73.1939 30.1809 73.1939 30.2933L71.0713 37.5991C70.8479 38.4982 70.6244 38.9478 70.6244 39.0602C70.401 39.847 70.1776 40.409 69.9541 40.7462C69.7307 41.1957 69.3955 41.5329 68.9487 41.7577C68.6135 41.8701 68.2784 41.9825 67.8315 41.9825C67.4964 41.9825 67.1612 41.8701 66.7143 41.7577C66.2675 41.6453 66.044 41.4205 65.7089 41.3081C65.5972 41.3081 65.5972 41.1957 65.5972 41.1957C65.5972 41.0833 65.5972 41.0833 65.5972 40.9709L65.9323 40.2966C65.9323 40.1842 66.044 40.1842 66.044 40.1842C66.044 40.1842 66.1558 40.1842 66.1558 40.2966C66.2675 40.2966 66.2675 40.409 66.3792 40.409C66.6026 40.5214 66.8261 40.6338 67.0495 40.7462C67.2729 40.8586 67.4964 40.8586 67.7198 40.8586C68.0549 40.8586 68.2784 40.7462 68.3901 40.6338C68.6135 40.409 68.837 39.9594 69.0604 39.3974L69.3956 38.2734H68.7253C68.6135 38.2734 68.5018 38.2734 68.5018 38.161L65.7089 30.2933C65.7089 30.1809 65.7089 30.0685 65.8206 30.0685L66.4909 29.8437L66.7143 29.7313H66.9378C66.9378 29.7313 66.9378 29.7313 67.0495 29.7313C67.0495 29.7313 67.1612 29.7313 67.1612 29.8437L69.3956 36.5875C69.5073 36.9247 69.619 37.1495 69.619 37.3743C69.619 37.5991 69.7307 37.7115 69.7307 37.8238V37.9362C69.7307 37.7114 69.8424 37.4867 69.8424 37.2619C69.9541 37.0371 69.9541 36.8123 69.9541 36.6999L71.7416 29.9561C71.7416 29.8437 71.8533 29.8437 71.965 29.8437H72.1885L73.1939 30.0685C73.1939 30.0685 73.0822 30.0685 73.1939 30.0685ZM80.3438 38.0486C80.3438 38.161 80.2321 38.2734 80.1204 38.2734H79.2267C79.1149 38.2734 79.0032 38.161 79.0032 38.0486V30.8553H75.7634V38.0486C75.7634 38.161 75.6517 38.2734 75.54 38.2734H74.6463C74.5345 38.2734 74.4228 38.161 74.4228 38.0486V29.9561C74.4228 29.8437 74.5345 29.7313 74.6463 29.7313H80.1204C80.2321 29.7313 80.3438 29.8437 80.3438 29.9561V38.0486ZM89.2812 34.0024C89.2812 35.8007 88.8343 37.0371 88.164 37.8238C87.6054 38.3858 86.9351 38.6106 86.1531 38.6106C85.7063 38.6106 85.2594 38.4982 84.9242 38.3858C84.7008 38.2734 84.4774 38.161 84.2539 38.0486V41.7577C84.2539 41.8701 84.1422 41.9825 84.1422 41.9825L83.2485 42.2073C83.1368 42.2073 83.1368 42.2073 83.025 42.2073C82.9133 42.2073 82.9133 42.0949 82.9133 41.9825V32.204C82.9133 31.8668 82.9133 31.642 82.9133 31.4172C82.9133 31.1924 82.8016 30.9677 82.5782 30.6305C82.4665 30.5181 82.4665 30.4057 82.4665 30.4057V30.2933L83.2485 29.8437C83.3602 29.7313 83.4719 29.7313 83.5836 29.8437C83.6953 29.9561 83.8071 30.0685 83.8071 30.2933C83.9188 30.5181 83.9188 30.6305 84.0305 30.8553L84.1422 30.7429C84.4774 30.5181 84.8125 30.2933 85.1477 30.1809C85.5945 29.9561 86.0414 29.8437 86.4883 29.8437C87.1586 29.8437 87.8289 30.0685 88.2757 30.5181C88.946 30.9677 89.2812 32.204 89.2812 34.0024ZM87.8289 34.0024C87.8289 32.6536 87.7172 31.8668 87.382 31.4172C87.0469 30.9677 86.6 30.7429 86.0414 30.7429C85.7063 30.7429 85.3711 30.8553 85.0359 31.0801C84.8125 31.1924 84.4774 31.4172 84.1422 31.642V36.8123C84.3656 36.9247 84.7008 37.1495 85.0359 37.2619C85.3711 37.3743 85.7063 37.4867 86.0414 37.4867C86.8234 37.4867 87.2703 37.1495 87.6054 36.4751C87.7172 35.8007 87.8289 35.0139 87.8289 34.0024ZM96.9897 37.9362C96.9897 38.0486 96.878 38.0486 96.878 38.0486L96.0959 38.4982C95.9842 38.4982 95.9842 38.4982 95.8725 38.4982C95.7608 38.4982 95.7608 38.3858 95.5374 38.161C95.4256 38.0486 95.4256 37.9362 95.3139 37.8238C95.3139 37.7115 95.2022 37.5991 95.2022 37.3743L95.0905 37.4867C94.7553 37.8238 94.5319 38.0486 94.1967 38.161C93.7499 38.3858 93.1913 38.6106 92.6327 38.6106C91.8507 38.6106 91.1804 38.3858 90.8452 37.8238C90.5101 37.3743 90.2866 36.8123 90.2866 36.1379C90.2866 35.4635 90.5101 34.9015 90.8452 34.4519C91.2921 33.89 91.9624 33.5528 92.8561 33.328C93.1913 33.2156 93.5265 33.2156 93.8616 33.1032C94.1968 33.1032 94.6436 32.9908 94.8671 32.9908H95.0905V32.3164C95.0905 31.8668 94.9788 31.4172 94.8671 31.1924C94.6436 30.8553 94.1967 30.6305 93.6382 30.6305C92.9679 30.6305 92.2976 30.7429 91.6273 31.0801L91.4038 31.1924H91.2921L91.0687 30.5181V30.4057C91.0687 30.2933 91.0687 30.2933 91.1804 30.2933C91.2921 30.2933 91.4038 30.1809 91.4038 30.1809C92.1858 29.8437 92.9679 29.6189 93.8616 29.6189C95.6491 29.6189 96.5428 30.4057 96.5428 32.0916V36.1379C96.5428 36.6999 96.6545 37.0371 96.7662 37.3743L96.9897 37.8238V37.9362ZM95.0905 36.3627V34.1148H94.9788C93.7499 34.1148 92.8561 34.3396 92.2976 34.7891C91.9624 35.1263 91.739 35.5759 91.739 36.0255C91.739 36.4751 91.8507 36.9247 92.1858 37.1495C92.4093 37.3743 92.7444 37.4867 93.0796 37.4867C93.4147 37.4867 93.7499 37.3743 94.1967 37.1495C94.4202 36.9247 94.7553 36.6999 95.0905 36.3627ZM104.698 35.8007C104.698 36.5875 104.475 37.1495 103.916 37.5991C103.358 38.0486 102.687 38.2734 101.905 38.2734H99.0006C98.8889 38.2734 98.7772 38.161 98.7772 38.0486V29.9561C98.7772 29.8437 98.8889 29.7313 99.0006 29.7313H101.794C102.464 29.7313 103.022 29.8437 103.469 30.0685C104.14 30.4057 104.363 31.0801 104.363 31.9792C104.363 32.4288 104.251 32.766 104.028 33.1032C103.804 33.4404 103.581 33.6652 103.134 33.7776C103.581 33.89 103.916 34.1148 104.251 34.4519C104.475 34.7891 104.698 35.2387 104.698 35.8007ZM103.022 31.9792C103.022 31.642 102.911 31.3048 102.687 31.0801C102.464 30.8553 102.129 30.7429 101.682 30.7429H100.118V33.2156H101.794C102.24 33.2156 102.464 33.1032 102.799 32.8784C102.911 32.766 103.022 32.4288 103.022 31.9792ZM103.358 35.8007C103.358 35.2387 103.134 34.9015 102.799 34.6767C102.576 34.5643 102.24 34.4519 101.794 34.4519H100.118V37.2619H101.794C102.24 37.2619 102.687 37.1495 102.911 36.9247C103.134 36.5875 103.358 36.2503 103.358 35.8007Z" fill="#DB0708"></path>
<path d="M112.071 38.0482C112.071 38.1606 111.96 38.273 111.848 38.273H110.954C110.843 38.273 110.731 38.1606 110.731 38.0482V30.8549H108.608V31.0797C108.608 31.754 108.608 32.4284 108.497 33.2152C108.497 34.002 108.385 34.6763 108.273 35.3507C108.161 36.0251 108.05 36.5871 107.938 36.9243C107.715 37.5987 107.268 38.0482 106.709 38.273C106.597 38.3854 106.374 38.3854 106.15 38.4978C105.927 38.4978 105.815 38.4978 105.704 38.4978H105.592C105.48 38.4978 105.368 38.3854 105.368 38.273L105.145 37.5987C105.145 37.4863 105.145 37.3739 105.368 37.2615H105.48C105.704 37.2615 106.039 37.1491 106.15 37.0367C106.486 36.8119 106.709 36.3623 106.821 35.8003C106.932 35.2383 107.044 34.4516 107.044 33.44C107.044 32.4284 107.156 31.4168 107.156 30.5177V29.9557C107.156 29.8433 107.268 29.7309 107.379 29.7309H111.848C111.96 29.7309 112.071 29.8433 112.071 29.9557V38.0482ZM119.892 38.0482C119.892 38.1606 119.78 38.273 119.668 38.273H118.775C118.663 38.273 118.551 38.1606 118.551 38.0482V34.5639H117.546C117.21 34.5639 116.987 34.5639 116.875 34.6763C116.652 34.7887 116.54 35.1259 116.428 35.4631L116.093 36.4747C115.982 37.0367 115.758 37.3739 115.758 37.5987C115.646 37.9358 115.423 38.0482 115.088 38.273C114.976 38.273 114.864 38.3854 114.641 38.3854C114.418 38.3854 114.194 38.3854 113.971 38.3854C113.859 38.3854 113.747 38.3854 113.747 38.273L113.524 37.4863C113.524 37.3739 113.524 37.2615 113.747 37.2615H113.971C114.194 37.2615 114.418 37.1491 114.418 37.1491C114.529 37.0367 114.529 37.0367 114.641 36.9243C114.641 36.8119 114.753 36.6995 114.753 36.5871L115.2 35.2383C115.311 35.0135 115.311 34.9011 115.423 34.6763C115.535 34.4516 115.758 34.2268 115.982 34.1144C115.423 34.002 114.976 33.7772 114.641 33.3276C114.306 32.9904 114.194 32.5408 114.194 31.9788C114.194 31.4168 114.306 30.9673 114.641 30.6301C115.2 29.9557 115.982 29.6185 117.21 29.6185H119.668C119.78 29.6185 119.892 29.7309 119.892 29.8433V38.0482ZM118.551 33.5524V30.8549H117.322C116.875 30.8549 116.54 30.8549 116.317 30.9673C115.87 31.1921 115.535 31.5292 115.535 32.0912C115.535 32.4284 115.646 32.7656 115.87 32.9904C116.205 33.3276 116.652 33.44 117.21 33.44H118.551V33.5524ZM131.957 34.002C131.957 35.5755 131.51 36.8119 130.728 37.5987C130.058 38.273 129.388 38.4978 128.382 38.4978C127.824 38.4978 127.265 38.3854 126.706 38.0482C126.148 37.7111 125.701 37.2615 125.478 36.5871C125.366 36.2499 125.254 35.9127 125.142 35.5755C125.031 35.2383 125.031 34.7887 125.031 34.4516H123.69V38.0482C123.69 38.1606 123.578 38.273 123.467 38.273H122.573C122.461 38.273 122.349 38.1606 122.349 38.0482V29.9557C122.349 29.8433 122.349 29.7309 122.461 29.7309L123.467 29.5061H123.578C123.578 29.5061 123.69 29.5061 123.69 29.6185V33.3276H125.031C125.031 32.9904 125.031 32.7656 125.142 32.316C125.254 31.9788 125.366 31.6416 125.478 31.3044C125.813 30.6301 126.26 30.1805 126.818 29.8433C127.265 29.6185 127.824 29.5061 128.382 29.5061C129.276 29.5061 130.058 29.8433 130.728 30.4053C131.51 31.1921 131.957 32.4284 131.957 34.002ZM130.505 34.002C130.505 32.878 130.281 31.9788 129.946 31.4168C129.611 30.8549 129.052 30.5177 128.382 30.5177C127.824 30.5177 127.265 30.7425 126.93 31.1921C126.483 31.754 126.26 32.6532 126.26 33.8896C126.26 35.1259 126.483 36.0251 126.93 36.5871C127.265 37.0367 127.712 37.2615 128.382 37.2615C129.276 37.2615 129.835 36.8119 130.17 35.9127C130.393 35.5755 130.505 34.9011 130.505 34.002ZM143.799 40.7458C143.799 40.8582 143.687 40.9706 143.576 40.9706H142.682C142.57 40.9706 142.459 40.8582 142.459 40.7458V38.3854H133.968C133.856 38.3854 133.745 38.273 133.745 38.1606V30.0681C133.745 29.9557 133.745 29.8433 133.856 29.8433L134.862 29.6185H134.973C134.973 29.6185 135.085 29.6185 135.085 29.7309V37.2615H137.543V30.0681C137.543 29.9557 137.543 29.8433 137.655 29.8433L138.66 29.6185H138.772C138.772 29.6185 138.884 29.6185 138.884 29.7309V37.2615H141.341V30.0681C141.341 29.9557 141.341 29.8433 141.453 29.8433L142.459 29.6185H142.57C142.57 29.6185 142.682 29.6185 142.682 29.7309V37.2615H143.576C143.687 37.2615 143.799 37.2615 143.799 37.2615C143.799 37.2615 143.799 37.3739 143.799 37.4863V40.7458V40.7458ZM151.172 34.002C151.172 34.2268 151.061 34.3392 150.949 34.3392H145.922V34.4516C145.922 35.4631 146.145 36.1375 146.704 36.6995C147.151 37.1491 147.709 37.3739 148.38 37.3739C148.715 37.3739 149.05 37.3739 149.385 37.2615C149.72 37.1491 150.055 37.0367 150.39 36.8119L150.614 36.6995C150.726 36.6995 150.726 36.8119 150.726 36.8119L151.061 37.5987V37.7111C151.061 37.7111 151.061 37.8235 150.949 37.8235C150.837 37.8235 150.726 37.9358 150.39 38.1606C150.055 38.273 149.832 38.3854 149.497 38.4978C149.162 38.6102 148.826 38.6102 148.491 38.6102C147.486 38.6102 146.592 38.273 145.922 37.7111C145.028 36.9243 144.693 35.6879 144.693 34.1144C144.693 32.6532 145.028 31.6416 145.698 30.7425C146.369 29.9557 147.151 29.5061 148.268 29.5061C149.162 29.5061 149.832 29.7309 150.39 30.2929C150.837 31.0797 151.172 32.316 151.172 34.002ZM149.72 33.2152C149.72 32.9904 149.72 32.7656 149.72 32.5408C149.72 32.316 149.608 31.9788 149.497 31.754C149.385 31.4168 149.162 31.0797 148.826 30.9673C148.603 30.8549 148.268 30.7425 147.933 30.7425C147.374 30.7425 146.927 30.9673 146.592 31.3044C146.145 31.754 145.922 32.4284 145.922 33.3276H149.72V33.2152ZM157.652 30.0681L157.54 30.7425C157.54 30.8549 157.429 30.8549 157.429 30.8549H157.317H154.301V37.9358C154.301 38.0482 154.189 38.1606 154.077 38.1606H153.183C153.072 38.1606 152.96 38.0482 152.96 37.9358V29.8433C152.96 29.6185 153.072 29.6185 153.183 29.6185H157.429C157.652 29.7309 157.652 29.8433 157.652 30.0681ZM164.802 34.002C164.802 35.5755 164.355 36.8119 163.573 37.5987C162.903 38.273 162.121 38.4978 161.227 38.4978C160.333 38.4978 159.551 38.1606 158.881 37.5987C158.099 36.8119 157.652 35.5755 157.652 34.002C157.652 32.4284 158.099 31.1921 158.881 30.4053C159.551 29.8433 160.333 29.5061 161.227 29.5061C162.121 29.5061 162.903 29.8433 163.573 30.4053C164.467 31.1921 164.802 32.4284 164.802 34.002ZM163.35 34.002C163.35 32.878 163.126 31.9788 162.791 31.4168C162.456 30.8549 161.897 30.5177 161.227 30.5177C160.333 30.5177 159.775 30.9673 159.44 31.8664C159.216 32.4284 159.104 33.1028 159.104 33.8896C159.104 35.0135 159.328 35.9127 159.663 36.4747C159.998 37.0367 160.557 37.3739 161.227 37.3739C162.121 37.3739 162.679 36.9243 163.014 36.0251C163.238 35.5755 163.35 34.9011 163.35 34.002Z" fill="#DB0708"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H49.5855V50H0V0Z" fill="#DB0708"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.7925 34.2107C28.6185 34.2107 32.2915 34.2107 36.1176 34.2107C36.1176 27.8639 36.1176 21.5172 36.1176 15.1704C34.8932 15.1704 33.5158 15.1704 32.2915 15.1704C32.2915 16.4088 32.2915 17.6472 32.2915 19.0404C31.0672 19.0404 29.6898 19.0404 28.4655 19.0404C28.4655 20.2788 28.4655 21.5172 28.4655 22.9103C29.6898 22.9103 30.9141 22.9103 32.2915 22.9103C32.2915 25.3871 32.2915 28.0187 32.2915 30.4955C29.8429 30.4955 27.2411 30.4955 24.7925 30.4955C24.7925 31.7339 24.7925 32.9723 24.7925 34.2107Z" fill="white"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.4673 34.2104C14.6916 34.2104 15.916 34.2104 17.2933 34.2104C17.2933 31.5788 17.2933 29.1021 17.2933 26.6253C18.5177 26.6253 19.742 26.6253 21.1194 26.6253C21.1194 25.3869 21.1194 24.1485 21.1194 22.7553C19.895 22.7553 18.6707 22.7553 17.2933 22.7553C17.2933 21.5169 17.2933 20.1237 17.2933 18.8853C19.742 18.8853 22.3437 18.8853 24.7924 18.8853C24.7924 17.647 24.7924 16.4086 24.7924 15.0154C20.9663 15.0154 17.2933 15.0154 13.4673 15.0154C13.4673 21.5169 13.4673 27.8637 13.4673 34.2104Z" fill="white"></path>
                                                </svg>
	<div class="content">
		<ul>
			<li>
				<p>Вы перешли по ссылке "отказаться от рассылки" в электронном письме.</p>
			</li>
			<li>
				<label class="wrapper">
					<input type="checkbox" <%= obj.checkbox_attrs('report') %> /> 
					<span>Я не просил уведомлять на <b><%= $_GET['email'] %></b>, прошу принять меры, чтобы этого НЕ повторялось.</span>
				</label>
			</li>
			<li>
				<p class="article">
					Чтобы остановить рассылку писем на этот e-mail, нажмите на кнопку "Да, я желаю отписаться от рассылки".
				</p>
			</li>
		</ul>
		<button class="unsub">Да, я желаю отписаться от рассылки</button>
	</div>
	
</div>