<style>
div.cpw-datamart-year-form
{
	max-width:800px;
	margin: 0 auto;
}
div.cpw-datamart-year-form .block1
{
	float:left;
	margin-left: 5px;
	margin-right: 1px;
	margin-bottom: 1px;
}
div.cpw-datamart-year-form > .block2
{
	text-align:center;
	margin-top:30px;
}
div.cpw-datamart-year-form .table_year { width: 100%; }
div.cpw-datamart-year-form .holiday_square
{
	width: 10px;
	height: 10px;
	background-color: #FFA6C2;
	border: 1px solid #FFA6C2;
	display: inline-block;
}
div.cpw-datamart-year-form .day_off_square
{
	width: 10px;
	height: 10px;
	background-color: #F5F5F5;
	border: 1px solid #D3242C;
	display: inline-block;
}
div.cpw-datamart-year-form .text
{
	display: inline-block;
	vertical-align: top;
}
div.cpw-datamart-year-form > .name
{
	text-align: center;
	line-height: 7px;
	font-size: 12px;
	padding-left:5px;
	margin-bottom:30px;
	margin-top:30px;
}
div.cpw-datamart-year-form > .name h3
{
	font-weight:normal;
}
</style>
<%
var v= obj.value();
var year= (!v || null==v || !v.Январь) ? '?' : v.Январь[0].день.split('.')[2];
%>
<div class="cpw-datamart-year-form">
	<div class="name">
		<h3>
			<span>Календарь рабочих и праздничных дней в </span>
			<b><%= year %><% if (0) { %>2021<% } %></b> году 
			<% if (v && null!=v && v.Регион && v.Регион.length>1) { %> 
			по региону <b><%= v.Регион[1] %><% if (0) { %>Беловодский край<% } %></b>
			<% } %>:
		</h3>
	</div>
	<table class ="table_year">
	<tr>
		<td class="block1"><%= obj.control('Январь') %><% if (0) { %>на январь<% } %></td>
		<td class="block1"><%= obj.control('Февраль') %><% if (0) { %>на февраль<% } %></td>
		<td class="block1"><%= obj.control('Март') %><% if (0) { %>на март<% } %></td>
		<td class="block1"><%= obj.control('Апрель') %><% if (0) { %>на апрель<% } %></td>
		<td class="block1"><%= obj.control('Май') %><% if (0) { %>на май<% } %></td>
		<td class="block1"><%= obj.control('Июнь') %><% if (0) { %>на июнь<% } %></td>
	</tr>
	<tr>
		<td class="block1"><%= obj.control('Июль') %><% if (0) { %>на июль<% } %></td>
		<td class="block1"><%= obj.control('Август') %><% if (0) { %>на август<% } %></td>
		<td class="block1"><%= obj.control('Сентябрь') %><% if (0) { %>на сентябрь<% } %></td>
		<td class="block1"><%= obj.control('Октябрь') %><% if (0) { %>на октябрь<% } %></td>
		<td class="block1"><%= obj.control('Ноябрь') %><% if (0) { %>на ноябрь<% } %></td>
		<td class="block1"><%= obj.control('Декабрь') %><% if (0) { %>на декабрь<% } %></td>
	</tr>
	</table>
	<div class="block2">
		Легенда раскраски: 
		<div class="holiday_square"></div> 
		<div class="text"> - Нерабочий день</div> 
		<div class="day_off_square"></div> 
		<div class="text"> - Суббота, Воскресенье</div>
	</div>
</div>