<style>
div.cpw-form-rosreestr-table #cpw-form-rosreestr-grid-pager_left > button
{
	font-weight: normal;
}
div.cpw-form-rosreestr-table.cpw-form-ama-datamart-grid .search-bar
{
	top:-55px;
}
</style>
<div class="cpw-form-rosreestr-table cpw-form-ama-datamart-grid">

	<div class="search-bar">
		<div class="ama-button show-hide-search-inputs">
			<span class="icon-search-icon"></span>
			<span class="search-button-text">Искать</span>
		</div>
	</div>

	<div class="grid closed-search">
		<table id="cpw-form-rosreestr-grid" class="grid"></table>
		<div id="cpw-form-rosreestr-grid-pager"></div>
	</div>

</div>