<div>
	Вы действительно хотите удалить 
	<% if (1==obj.length) { %>
		запись о подразделении Росреестра 
		<b>"<%= obj[0].Name %><% if (0) { %>Синий Росреестр<% } %>"</b>
	<% } else { %>
		записи о подразделениях Росреестра 
		<% for (var i= 0; i < obj.length; i++) { %>
			<% if (0!=i) { %>, <% } %>
			<b>"<%= obj[i].Name %><% if (0) { %>Зелёный Росреестр<% } %>"</b>
		<% } %>
	<% } %> 
	?
</div>