<style>
div.cpw-ama-committee-cabinet-login-form div.login
{
	width: 500px;
	margin: 0 auto;
}
div.cpw-ama-committee-cabinet-login-form div.login input
{
	width: 350px;
}
</style>
<div class="cpw-ama-committee-cabinet-login-form">

	<div class="login">
		<span>Кабинет голосования комитета кредиторов</span><br/>
		<span>Key:</span> <input type="text" value="<%= obj.txt('key') %>"/> 
		<button>Войти</button>
	</div>

	<div class="cabinet"><% if (0) { %>Место дял непосредственно кабинета голосования<% } %></div>

</div>