<style>
div.cpw-ama-award-contract {
	margin: 30px auto 0;
}
div.cpw-ama-award-contract table {
	max-width: 900px;
	width: 100%;
}
div.cpw-ama-award-contract table td
{
	padding-right: 20px;
	padding: 5px;
	border-bottom: 1px solid #DFDFDF;
}
div.cpw-ama-award-contract table thead td {
	font-weight: bold;
	font-size: 22px;
}
div.cpw-ama-award-contract div.next
{
	text-align:right;
}
div.cpw-ama-award-contract div.voting
{
	display: none;
}
div.cpw-ama-award-contract div.managers-table-container {
	overflow: auto;
    max-height: calc(100vh - 220px); /* 195px размеры header */
	max-width: 900px;
    width: 100%;
}
div.cpw-ama-award-contract table td div.am-card {
	border: 1px solid #DFDFDF;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	padding: 5px 30px 5px 10px;
	position: relative;
	cursor: pointer;
}
div.cpw-ama-award-contract table td div.am-card:hover {
	background: #eaeaea;
}
div.cpw-ama-award-contract table td div.am-card:active {
	box-shadow: none;
	opacity: 0.95;
	box-shadow: inset 0 0px 4px rgba(0,0,0,0.1);
}
div.cpw-ama-award-contract table td div.am-card a {
	text-decoration: none;
}
div.cpw-ama-award-contract table td div.am-card .am-info {
	display: inline-block;
}
div.cpw-ama-award-contract table td div.am-card i.next {
	display: inline-block;
    width: 6px;
    height: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto 0;
    transform: rotate(45deg);
    border-top: 2px solid #469BDD;
    border-right: 2px solid #469BDD;
}

div.cpw-ama-award-contract div.voting div.placer div.cpw-ama-award-voting div.candidates {
	height: calc(100vh - 325px);
	max-height: calc(100vh - 325px) !important;
}
div.cpw-ama-award-contract div.voting div.button-panel {
	padding: 15px 0 5px;
}
div.cpw-ama-award-contract div.voting div.button-panel button.vote {
	float:right;
}
</style>
<% if (0) { %>
<style>
div.cpw-ama-award-contract div.voting
{
	display: block;
}
</style>
<% } %>
<%
var d= obj.value();
if (!d || null==d)
	d= {};
%>
<div class="cpw-ama-award-contract">

	<div class="main">
		Голосование Арбитражных управляющих, пользующихся ПАУ по договору №<%= d.Договор %><% if (0) { %>XXX<% } %>

		<div <%= obj.with_attrs('Голосующие') %> >

			<%= obj.start_with() %>
			<div <%= obj.empty_attrs() %> ></div>
			<p style="font-weight: bold;font-size: 22px;margin:15px 0 0;">Арбитражные управляющие</p>

			<div class="managers-table-container" style="border-top: 1px solid #DFDFDF;">
				<table <%= obj.not_empty_attrs() %> >
					<tbody>
						<% while (obj.iterate()) { %>
						<tr <%= obj.item_attrs() %> >
							<td>
								<%= obj.txt_field('Фамилия') %> 
								<% if (0) { %>Иванов<% } %> 

								<%= obj.txt_field('Имя') %> 
								<% if (0) { %>И<% } %> 

								<%= obj.txt_field('Отчество') %> 
								<% if (0) { %>И<% } %> 
								<span class="gray-text">
									(ИНН:
									<%= obj.txt_field('ИНН') %>
									<% if (0) { %>YYYY<% } %>
									) голосует за
								</span>
							</td>
							<td>
								<div class="am-card">
									<%= obj.txt_field('',obj.options.h_award.ЗаКогоПроголосовал) %>
									<% if (0) { %>Петров Пётр Петрович (СРО "АУ и ТУ ТУ")<% } %>
								</div>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>

			<%= obj.end_with() %>

		</div>
	</div>

	<div class="voting">
		<div class="placer"></div>

		<div class="button-panel" style="border-top: 1px solid #DFDFDF;">
			<button class="vote red">Голосовать</button>

			<button class="back">
				<span class="icon-back">←</span>
				<span>Вернуться</span>
			</button>
		</div>
	</div>

</div>
