<style>
div.cpw-form-ama-dm-push-event-type-settings
{
	width: 180px;
	margin: 0 auto;
}
div.cpw-form-ama-dm-push-event-type-settings label
{
	display:block;
	cursor:pointer;
}
div.cpw-form-ama-dm-push-event-type-settings label input
{
	margin-right: 5px;
}
</style>
<div class="cpw-form-ama-dm-push-event-type-settings">

	<label><input type="radio" <%= obj.radio_attrs('Уведомлять','никогда') %> />НЕ уведомлять</label>
	<label><input type="radio" <%= obj.radio_attrs('Уведомлять','за_1_день') %> />Уведомлять за 1 день</label>
	<label><input type="radio" <%= obj.radio_attrs('Уведомлять','за_3_дня') %> />Уведомлять за 3 дня</label>
	<label><input type="radio" <%= obj.radio_attrs('Уведомлять','за_5_дней') %> />Уведомлять за 5 дней</label>
	<label><input type="radio" <%= obj.radio_attrs('Уведомлять','за_15_дней') %> />Уведомлять за 15 дней</label>

</div>