<style>
div.cpw-datamart-year-editor-form
{
	margin: 0 auto;
}
div.cpw-datamart-year-editor-form .year
,div.cpw-datamart-year-editor-form .grid
,div.cpw-datamart-year-editor-form .search-button-text
{
	display: inline-block;
}
div.cpw-datamart-year-editor-form .grid
,div.cpw-datamart-year-editor-form #wcl-grid-pager
{
	vertical-align:top;
	margin-top: 1%;
}
div.cpw-datamart-year-editor-form #wcl-grid-pager tr td
{
	font-size: 12px  !important;
}
div.cpw-datamart-year-editor-form .select_year
{
	display: none;
	vertical-align:top;
}
div.cpw-datamart-year-editor-form #del_changes { display: none; }
div.cpw-datamart-year-editor-form #wcl-grid tr td{ font-size: 12px ; }
div.cpw-datamart-year-editor-form .ui-jqgrid .ui-jqgrid-bdiv 
{
	min-height:380px;
}
</style>
<div class="cpw-datamart-year-editor-form">
	<div class="search-bar">
		<div class="ama-button show-hide-search-inputs">
			<span class="icon-search-icon"></span>
			<span class="search-button-text">Искать</span>
		</div> 
		<button id ="add">Добавить</button> 
		<button id ="save">Сохранить</button> 
		<button id ="delete">Удалить</button> 
		<button id ="copy">Копировать год</button> 
		<button id ="del_changes">Отменить редактирование</button>
	</div>
	<div>
		<div class="select_year">
			<p><input type ="hidden" id ="next_year"></p>
			<p><input type ="hidden" id ="kod_okato"></p>
		</div>
		<div class="grid closed-search">
			<table id="wcl-grid" class="grid"><% if (0) { %>список календарей<% } %></table>
			<div id="wcl-grid-pager"></div>
		</div>
		<div class="year"><% if (0) { %>Настройки рабочих дней календаря на год в регионе<% } %></div>
	</div>
</div>