<style>
div.cpw-ama-datamart-login-admin
{
	position: relative;
	min-height: 500px;
	height: 85%;
	box-sizing: border-box;
}
div.cpw-ama-datamart-login-admin div#cpw-ama-datamart-login-admin-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	width: 652px;
	border: none;
	border-radius: 0;
	min-height: 400px;
	background: #fff;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
	padding: 0;
	margin-top: 33px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div.cpw-ama-datamart-login-admin ul.ui-widget-header.ui-tabs-nav
{
	background: #DBDBDB;
	-ms-border-radius: 0;
	border-radius: 0;
	border: none;
	color: #D73840;
	padding: 0;
	margin: 0;
	width: 100%;
}
div.cpw-ama-datamart-login-admin ul.ui-widget-header.ui-tabs-nav li
{
	background: #F5F5F5;
	padding: 0;
	width: 217px;
	font-size: 15px;
	margin: 0;
	border-radius: 0;
}
div.cpw-ama-datamart-login-admin ul.ui-widget-header.ui-tabs-nav li:nth-child(2)
{
	margin: 0 1px;
	width: 216px;
}
div.cpw-ama-datamart-login-admin ul.ui-widget-header.ui-tabs-nav li a
{
	padding: 15px 0;
	min-width: 205px;
	text-align: center;
	width: 100%;
}
div.cpw-ama-datamart-login-admin ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border: none;
	background: #fff;
	box-shadow: none;
}
div.cpw-ama-datamart-login-admin .ui-state-default a, 
div.cpw-ama-datamart-login-admin .ui-state-default a:link, 
div.cpw-ama-datamart-login-admin .ui-state-default a:visited
{
	color: #444;
}
div.cpw-ama-datamart-login-admin .ui-state-active a, 
div.cpw-ama-datamart-login-admin .ui-state-active a:link, 
div.cpw-ama-datamart-login-admin .ui-state-active a:visited
{
	color: #D3242C;
	font-weight: 600;
}
div.cpw-ama-datamart-login-admin div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 30px;
	margin: 0 auto;
}
div.cpw-ama-datamart-login-admin input
{
	width: 100%;
}
div.cpw-ama-datamart-login-admin .row > input,
div.cpw-ama-datamart-login-admin .row > .password-input-container
{
	margin: 12px 0 0;
}
div.cpw-ama-datamart-login-admin button.login
{
	width: 100%;
	border: 0;
	height: 56px;
}
div.cpw-ama-datamart-login-admin form
{
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-right: 40px;
}
div.cpw-ama-datamart-login-admin div.row:nth-child(1)
{
	text-align: left;
	margin-bottom: 30px;
}
div.cpw-ama-datamart-login-admin div.row:nth-child(2)
{
	text-align: left;
	margin-bottom: 23px;
}
div.cpw-ama-datamart-login-admin div.how-login a
{
	text-decoration: underline;
	cursor: pointer;
}
div.cpw-ama-datamart-login-admin .how-login
{
	display: inline-block;
	width: 290px;
	font-size: 14px;
}
div.cpw-ama-datamart-login-admin ol
{
	margin: 10px 0 0;
	padding-left: 1em;
}
div.cpw-ama-datamart-login-admin .forgot-password
{
	color: #D9444A;
	font-size: 12px;
	margin: 6px 0;
	cursor: pointer;
}
div.cpw-ama-datamart-login-admin .button
{
	padding: 10px;
}
</style>
<div class="cpw-ama-datamart-login-admin">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Кабинет администратора ИС ПАУ
				</span>
			</div>
		</div>
	</header>

	<div id="cpw-ama-datamart-login-admin-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-admin-login-1" >Администратор ИС ПАУ</a></li>
		</ul>
		<div id="cpw-ama-datamart-admin-login-1" class="page" >
			<% if (0) { %>Страница администратора витрины ПАУ<% } %>
			<%= obj.control('Администратор') %>
		</div>
	</div>

</div>