<%
var readonly= obj.options.readonly;
%>
<div class="cpw-ama-datamart-married_couple">
	<div>
		1) <a href="#" class="debtor1" <%= obj.a_modal_attrs('Должник1') %>>
			<% if(readonly) { %> Должник не указан <% } else { %> Неизвестное лицо (кликните, чтобы указать) <% } %>
		</a>
	</div>
	<div>
		2) <a href="#" class="debtor2" <%= obj.a_modal_attrs('Должник2') %>>
			<% if(readonly) { %> Должник не указан <% } else { %> Неизвестное лицо (кликните, чтобы указать) <% } %>
		</a>
	</div>
</div>