<style>
div.cpw-ama-application-main
{
	width:1000px;
}
div.cpw-ama-application-main button.next
{
	float:right;
}
</style>
<div class="cpw-ama-application-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/ico_ama.png" class="logo" alt="ПАУ" />
				<span class="title-ama">Заявление о включении в реестр требований кредиторов</span>
			</div>
		</div>
	</header>

	<div id="cpw-application-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-application-tab-debtor">Информация о должнике</a></li>
			<li><a href="#cpw-application-tab-creditor">Информация о задолженности</a></li>
			<li><a href="#cpw-application-tab-circumstances">Обстоятельства возникновения</a></li>
			<li><a href="#cpw-application-tab-attachments">Приложения</a></li>
		</ul>

		<div id="cpw-application-tab-debtor">
			<% if (0) { %>О должнике<% } %>
			<%= obj.control('О_должнике') %>
			<button class="next to-creditor">Перейти к указанию информации о задолженности &#10132;</button>
			<div style="clear:both"></div>
		</div>

		<div id="cpw-application-tab-creditor">
			<% if (0) { %>О кредиторе<% } %>
			<%= obj.control('О_кредиторе') %>
			<button class="next to-circumstances">Перейти к указанию обстоятельств возникновения задолженности &#10132;</button>
			<div style="clear: both"></div>
		</div>

		<div id="cpw-application-tab-circumstances">
			<% if (0) { %>Обстоятельства<% } %>
			<%= obj.control('Обстоятельства') %>
			<button class="next to-attachments">Перейти к заполнению списка приложений &#10132;</button>
			<div style="clear: both"></div>
		</div>

		<div id="cpw-application-tab-attachments">
			<% if (0) { %>Приложения:<% } %>
			<%= obj.control('Приложения') %>
			<button class="next">Сформировать заявление о включении в реестр требований кредиторов</button>
			<div style="clear: both"></div>
		</div>

	</div>
</div>