<style>
div.cpw-ama-committee-vote-questions table
{
	border: 1px solid #DFDFDF;
	width: 100%;
}
div.cpw-ama-committee-vote-questions table tr.head
{
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
}
div.cpw-ama-committee-vote-questions table tr.head td
{
	text-align: center;
	font-size: 14px;
}
div.cpw-ama-committee-vote-questions table tr:nth-child(2n)
{
	background: #F5F5F5;
}
div.cpw-ama-committee-vote-questions table td
{
	vertical-align: top;
	padding: 10px 5px;
}
div.cpw-ama-committee-vote-questions table td.pos
{
	text-align: center;
}
div.cpw-ama-committee-vote-questions table td.ans
{
	vertical-align: middle;
}
div.cpw-ama-committee-vote-questions table td.tim
{
	text-align: center;
	vertical-align: middle;
	width: 140px;
}
div.cpw-ama-committee-vote-questions div.alter-text
{
	color:gray;
	font-size:small;
	padding: 3px 0;
}
</style>
<div class="cpw-ama-committee-vote-questions">

	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>

	<table <%= obj.not_empty_attrs() %> >
		<tr class="head">
			<td>№</td>
			<td>Вопрос</td>
			<td>Ответ</td>
			<td>Дата подписания</td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr class="q" <%= obj.item_attrs() %> >
			<td class="pos"><%= obj.txt_field('Номер') %><% if (0) { %>1<% } %>)</td>
			<td class="txt">
				<%= obj.txt_field('На_голосование.Формулировка') %>
				<% if (0) { %>Выразить озабоченность положением в Гондурасе<% } %>
				<div class="alter-text">
					<span>В повестке: </span>
					<b>
						<%= obj.txt_field('В_повестке') %>
						<% if (0) { %>Выразить озабоченность положением в Гондурасе<% } %>
					</b>
				</div>
			</td>
			<td class="ans">
				<%= obj.txt_field('Ответ') %>
				<% if (0) { %>ЗА<% } %>
			</td>
			<td class="tim">
				<%= obj.txt_field('Подписано') %>
				<% if (0) { %>10.10.2010<% } %>
			</td>
		</tr>
		<% } %>
	</table>

</div>