@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBlack";
    src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

img.awarg-logo {
    width: 100px;
    margin-left: 15px;
}

div.award-logo {
    background: url("../img/award.png") no-repeat center;
    background-size: 100%;
}
div.pau-logo {
    background: url("../img/pau-logo.png") no-repeat;
    background-size: 100%;
}
div.orpau-logo {
    background: url("../img/asrpa_logo.png") no-repeat;
    background-size: 100%;
}