/* 
Данный файл содержит стили, адаптирующие раздел торги со стилями ПАУ..
*/

/* Глобальные стили */

@font-face
{
	font-family: "CPW-normal";
}
@font-face
{
	font-family: "CPW-bold";
}

/*html { font-family: CPW-normal;*/ /* 1  }*/
body { margin: 8px; }
input[type="checkbox"], input[type="radio"] { padding: 3px; }
td, th {padding: 1px;}

/* Глобальные стили для ama */

body.cpw-ama ul.ui-tabs-nav
{
	border-bottom-width: 0px;
}

body.cpw-ama
{
	margin: 8px;
	padding: 0;
	color: #555;
	/*font-family: "CPW-normal" !important;*/
	background: #FFF;
	line-height: 1.5;
}

body.cpw-ama > div.cpw-datamart-ui-content
{
	margin: 0px auto;
	width: 1000px;
}

body.cpw-ama .ui-widget
{
	font-family: CPW-normal;
	font-size: 1em;
}

body.cpw-ama a { color: RGB(0,159,219); }

body.cpw-ama input.invalid
{
	background-color: pink;
}

body.cpw-ama a.visible-if-invalid
{
	color: red;
}

/* Стиль всех страниц */

body.cpw-ama > div.page-container
{
	background: white;

	    width: 1000px;
	min-width:  780px;

	margin-top:    30px;
	margin-bottom:  5px;

	margin-left:   auto;
	margin-right:  auto;
}

body.cpw-ama .ui-dialog .ui-widget-content
{
    background: none!important;
    background-color: rgb(242,238,240)!important;
}

 body.cpw-ama .ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    outline: 0;
     border: 8px solid #A0BAD5;
    background: #F4F4F4;
    color: #333333;
}

 body.cpw-ama .ui-widget-header {
    background: #A0BAD5;
    font-size: 16px;
    font-weight: normal;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    color: #000000;
    padding: 0;
    margin: 0;
}