<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_bidding_head.css" /></head><body><% } %>
<%
var fixUrl= function(url)
{
	return (!url || null==url || ''==url || 0==url.indexOf('http://') || 0==url.indexOf('https://'))
		? url 
		: 'http://' + url;
};
%>
<div class="ama-biddings-bidding-main-head">
	<div class="head">
		<div class="right">
			<div style="display: inline-block">
				<a class="ama-button gray print " cmd="Положение_о_торгах">На&nbsp;печать..</a>
				<a class="select ama-button gray" cmd="Положение_о_торгах">Выберите&nbsp;отчёт</a>
			</div>
			<ul style="z-index: 1000; position: absolute;" id="list_name_document">
				<li cmd="Положение_о_торгах">Положение о торгах</li>
				<li cmd="Договор_о_задатке">Договор о задатке</li>
				<li cmd="Заявка_договор">Заявка-договор на публикацию сообщения</li>
			</ul>
			<a class="to-efrsb ama-button gray">На ЕФРСБ</a>
			<a class="to-etp ama-button gray">На ЭТП</a>
		</div>
<% if (obj && null!=obj) {%>
		<div style="float: left">
			<a href="<%= fixUrl(obj.URL) %>" target="_blank" class="bidding-page"
				onclick="window.open(this.href, 'EtpWin', 'width=1024,height=768,menubar=yes,toolbar=yes,location=yes,status=yes,resizable=yes'); return false;" id="bidding_main_url">
				<%= obj.Форма_торгов %><% if (0) { %>открытая форма<% } %> на ЭТП
			</a>&nbsp;&nbsp;
		</div>
	<% if (obj.ЭТП) { %>
		<div class="right etp-name">
			"<a href="<%= fixUrl(obj.ЭТП.url) %>" target="_blank"><%= obj.ЭТП.text %><% if (0) { %>Аукционы сибири<% } %></a>"
		</div>
	<% } %>
<% } %>
	</div>

	<div class="clickable">
		<div>
			<span class="column1 field-title">Начало приёма заявок:</span>
			<span class="column2  begin_of_order_taking"><% if (0) { %>1.1.2001 10:00<% } %></span>

			<span class="column2 field-title">Окончание приема заявок:</span>
			<span class="column2 end_of_participants"><% if (0) { %>2.2.2002 10:02<% } %></span>
		</div>
		<div>
			<span class="column1 field-title">Начало торгов:</span>
			<span class="column2 beginning_of_the_auction"><% if (0) { %>3.3.2003 10:03<% } %></span>
		</div>
	</div>
</div>
<% if (0) { %></body></html><% } %>