<html xmlns:v="urn:schemas-microsoft-com:vml"
	  xmlns:o="urn:schemas-microsoft-com:office:office"
	  xmlns:w="urn:schemas-microsoft-com:office:word"
	  xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
	  xmlns="http://www.w3.org/TR/REC-html40">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<xml xmlns:w="urn:schemas-microsoft-com:office:word">
		<!--[if gte mso 9]><xml>
		 <w:WordDocument>
		  <w:View>Print</w:View>
		  <w:Zoom>100</w:Zoom>
		</w:WordDocument>
		</xml><![endif]-->
	</xml>
<style>
div.cpw-ama-bidding-deposit-contract
{
	width: 210mm;
	margin: 0 auto;
	font-size: 10pt;
    font-family: 'Times New Roman', Times, serif;
     	/*font-family: CPW-normal;*/
}
div.cpw-ama-bidding-deposit-contract table.header,
div.cpw-ama-bidding-deposit-contract table.attrs
{
	width:100%;
}
div.cpw-ama-bidding-deposit-contract table.header td,
div.cpw-ama-bidding-deposit-contract table.attrs td
{
	width: 50%;
}
div.cpw-ama-bidding-deposit-contract table.header td.date
{
	text-align: right;
}
  
  table {
      font-size: 10pt;
  }
  h1 {
      font-size: 20pt;
  }

  h2 {
      font-size: 16pt;
  }

  h2, p, ul, ol, li{
    margin-top: 0pt;
    margin-bottom:0pt;
    }

  p {
      text-align:justify;
  }

  	@page WordSection1 {
			size: 595.3pt 841.9pt;
			margin: 2.0cm 42.5pt 2.0cm 3.0cm;
			mso-header-margin: 35.4pt;
			mso-footer-margin: 35.4pt;
			mso-paper-source: 0;
		}

		div.WordSection1 {
			page: WordSection1;
		}
</style>
<%
   var выделитьЦветом = function(значение) 
    {
        var выделятьПараметр= true;
        if (выделятьПараметр) 
        {
           return '<span style="color:blue; display: inline;">' + значение  + '</span>';
        }
        else   if ( !выделятьПараметр)
        {
           return значение; 
        } 
    };

    var ЭТПНазвание = function(obj) {
        if (obj.ЭТП) {
            return '<span style="color:blue; display: inline;">' + obj.ЭТП.operator  + '</span>';
        }
        else if (!obj.ЭТП) {
            return '<span style="color:red; display: inline;">[не указана]</span>';
        }
    };

     var ЭТПСайт = function(obj) {
        if (obj.ЭТП) {
            return '<span style="color:blue; display: inline;">' + obj.ЭТП.url  + '</span>';
        }
        else if (!obj.ЭТП) {
            return '<span style="color:red; display: inline;">[не указан]</span>';
        }
    };

     var значениесЗаглавнойБуквы = function(значение) {
        return значение.charAt(0).toUpperCase() + значение.slice(1);
    };

    var значениеПараметра = function(значение) {
       if (значение) {
            return  выделитьЦветом(значение);
        }
        else {
            return '<span style="color:red; display: inline;">[не указан]</span>';
        }
    };
%>
    </head>
    <body>
<div class="cpw-ama-bidding-deposit-contract">

<h1>ДОГОВОР О ЗАДАТКЕ</h1>
<table class="header">
	<tr>
		<td class="city"><%= выделитьЦветом(obj.Процедура.Арбитражный_управляющий.Город) %></td>
		<td class="date"><%= выделитьЦветом(obj.Процедура.Текущая_дата) %></td>
	</tr>
</table>

<p>
	<%= выделитьЦветом(значениесЗаглавнойБуквы(obj.Процедура.Арбитражный_управляющий.Должность)) %> <%= выделитьЦветом(obj.Процедура.Должник.Наименование) %> 
    <% if (obj.Процедура.Тип_процедуры == "конкурсное производство") {%>
	(ОГРН <%= значениеПараметра(obj.Процедура.Должник.ОГРН) %>, ИНН <%= значениеПараметра(obj.Процедура.Должник.ИНН) %>, 
    адрес: <%= значениеПараметра(obj.Процедура.Должник.Адрес) %>) 
    <% } %>
    <% if (obj.Процедура.Тип_процедуры == "реализация имущества") {%>
	(дата рождения: <%= значениеПараметра(obj.Процедура.Должник.Дата_рождения) %>, место рождения: <%= значениеПараметра(obj.Процедура.Должник.Место_рождения) %>, 
        СНИЛС: <%= значениеПараметра(obj.Процедура.Должник.снилс) %>, ИНН <%= значениеПараметра(obj.Процедура.Должник.ИНН) %>, 
        регистрация по месту жительства: <%= значениеПараметра(obj.Процедура.Должник.Регистрация_по_месту_жительства) %>)
    <% } %>
	<%= выделитьЦветом(obj.Процедура.Арбитражный_управляющий.Фамилия) %> 
    <%= выделитьЦветом(obj.Процедура.Арбитражный_управляющий.Имя) %> 
    <%= выделитьЦветом(obj.Процедура.Арбитражный_управляющий.Отчество) %>, 
	именуемый в дальнейшем «Организатор торгов», действующий на 
	основании решения <%= выделитьЦветом(obj.Процедура.АС_род) %> 
	от <%= значениеПараметра(obj.Процедура.Дата_решения) %> по делу № <%= значениеПараметра(obj.Процедура.Номер_дела_о_банкротстве) %>, 
	с одной стороны, 
	и ____________________________________________________, именуемое (-ый, -ая) 
	в дальнейшем «Заявитель», с другой стороны, заключили 
	настоящий договор о нижеследующем:
</p>

<h2>1. Предмет договора</h2>
<p>
	1.1.	 В соответствии с условиями настоящего Договора Заявитель для участия в торгах по продаже имущества <%= выделитьЦветом(obj.Процедура.Должник.Наименование) %><% if (0) { %>ООО «УК «Светлый город»<% } %> по лоту № __: ________________________ (далее по тексту – Предмет торгов), проводимых <%= значениеПараметра(obj.Начало_торгов.дата) %><% if (0) { %>«__» ______ ___ г.<% } %> на электронной торговой площадке 
    <%= ЭТПНазвание(obj) %>, размещенной на сайте <%= ЭТПСайт(obj) %> в сети Интернет, перечисляет задаток в сумме _______ руб. в порядке, установленном настоящим Договором.
</p>
<p>
	1.2.	 Задаток вносится в обеспечение исполнения обязательств Заявителя как участника торгов: по заключению договора купли-продажи имущества, являющегося Предметом торгов, в случае признания Заявителя победителем торгов; по оплате указанного имущества, в случае признания Заявителя победителем торгов, а также исполнения иных обязательств Заявителя по договору купли-продажи, заключенного по результатам торгов. 
</p>
<p>
	1.3.	 В случае признания Заявителя победителем торгов задаток Заявителю не возвращается и засчитывается в счет оплаты приобретенного на торгах имущества.
</p>
<p>
	1.4.	 Задаток также не возвращается в случае отказа (уклонения) Заявителя, признанного победителем торгов, от заключения договора купли-продажи имущества, являющегося Предметом торгов; в случае не перечисления Заявителем денежных средств по заключенному по результатам торгов договору купли-продажи; в случае неисполнения иных обязательств Заявителя по договору купли-продажи, заключенного по результатам торгов.   
</p>
<p>
	1.5.	 Во всех остальных случаях задаток возвращается Заявителю в течение 5 (пяти) рабочих дней со дня подписания протокола о результатах проведения торгов.
</p>

<h2>2. Порядок внесения задатка</h2>
<p>
	2.1.	 Задаток должен быть внесен Заявителем на расчетный счет Организатора торгов, указанный в разделе 4 настоящего договора, в срок не позднее __.__._____ г. В назначении платежа необходимо указать: «Задаток для участия в торгах по продаже имущества <%= выделитьЦветом(obj.Процедура.Должник.Наименование) %><% if (0) { %>ООО «УК «Светлый город»<% } %>, 
    проводимых <%= значениеПараметра(obj.Начало_торгов.дата) %> на ЭТП  <%= ЭТПНазвание(obj) %><% if (0) { %>__________<% } %>, лот № __».
</p>
<p>
	2.2.	 Обязанность Заявителя по перечислению задатка считается исполненной в момент зачисления денежных средств на расчетный счет Организатора торгов в полной сумме, указанной в п. 2.1. настоящего договора.
</p>
<p>
	2.3.	 В случае не перечисления либо перечисления не в полном объеме суммы задатка в указанную в п. 2.1. настоящего договора дату, Организатор торгов не допускает Заявителя к участию в торгах, а все перечисленные денежные средства Заявителем во исполнение настоящего договора возвращаются ему в общем порядке, установленном в п. 1.5. настоящего договора.
</p>
<p>
	2.4.	 На денежные средства, перечисленные в соответствии с настоящим договором, проценты не начисляются.
</p>

<h2>3. Заключительные положения</h2>
<p>
	3.1.	 Споры и разногласия, возникающие из настоящего договора или в связи с ним, будут решаться сторонами путем переговоров. При не достижении согласия споры и разногласия рассматривает 
    <%= значениеПараметра(obj.Процедура.АС) %>.
</p>
<p>
	3.2.	 Во всем ином, не предусмотренном настоящим Договором, Стороны руководствуются действующим законодательством Российской Федерации.
</p>

<h2>4. Реквизиты сторон</h2>

<table class="attrs">
	<tr>
		<td><b>Организатор торгов</b></td>
		<td><b>Заявитель</b></td>
	</tr>
	<tr>
		<td>
			<%= выделитьЦветом(значениесЗаглавнойБуквы(obj.Процедура.Арбитражный_управляющий.Должность)) %><br/> <%= выделитьЦветом(obj.Процедура.Должник.Наименование) %><br/>
			р/с  ________________<br/>
			в ________________, <br/>
			к\с ________________, <br/>
			БИК ________________.<br/>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>______________________  <%= выделитьЦветом(obj.Процедура.Арбитражный_управляющий.ИОФамилия) %></td>
		<td>____________________ _______________</td>
	</tr>
</table>
</div>
        </body>
    </html>