<style>
div.cpw-form-court
{
	width:500px;
	margin:0 auto;
}
div.cpw-form-court div.value
{
	padding-left:30px;
}
div.cpw-form-court div.value input
,div.cpw-form-court div.value textarea
{
	width:450px;
}
div.cpw-form-court button.show-location-on-map
{
	float:right;
	margin-top:3px;
	margin-right:20px;
	padding-top:6px;
	padding-bottom:6px;
}
</style>
<%
var v= obj.value();
if (!v || null==v)
	v= {};
var mode_attrs= '';
if (obj.options && !obj.options.admin_mode)
{
	mode_attrs= ' readonly="readonly" ';
}
%>
<% if (obj.options && !obj.options.admin_mode) { %>
<style>
div.cpw-form-court div.value input
,div.cpw-form-court div.value textarea
{
	background-color:#eeeeee;
}
</style>
<% } %>
<div class="cpw-form-court">

	<div class="title">Официальное наименование:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('Name') %>" /></div>
	<div class="title">Кратко:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('ShortName') %>" /></div>
	<div class="title">Для поиску по началу строки:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('SearchName') %>" /></div>
	<div class="title">Тэг в casebook.api:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('CasebookTag') %>" /></div>
	<div class="title">Индекс (код) суда:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('NumberPrefix') %>" /></div>
	<div class="title">Адрес:</div>
	<div class="value"><textarea id="cpw-court-address-textarea" <%= obj.textarea_attrs('Address') %> ><%= obj.value() %></textarea></div>
	<button class="show-location-on-map">открыть на карте</button>
	<div style="clear:both"></div>
</div>