<style>
div.cpw-ama-award-admin-main
{
	width:800px;
	margin:0 auto;
}
</style>
<div class="cpw-ama-award-admin-main">

	<div id="cpw-ama-award-admin-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-award-admin-main-stat" >Статистика</a></li>
			<li><a href="#cpw-ama-award-admin-main-vots" >Голоса</a></li>
		</ul>
		<div id="cpw-ama-award-admin-main-stat" class="page" >
			<% if (0) { %>Тут должна быть статистика по номинантам<% } %>
			<%= obj.fields_control('Номинанты') %>
		</div>
		<div id="cpw-ama-award-admin-main-vots" class="page" >
			<% if (0) { %>Тут должен быть список голосов<% } %>
			<%= obj.fields_control('Голоса') %>
		</div>
	</div>

</div>