<style>
	.cpw-ama-datamart-requests_params {
		width: 320px;
		margin: 0 auto;
	}
	.cpw-ama-datamart-requests_params .only_block{
		width: 303px;
		margin-left: 17px;
	}
	.cpw-ama-datamart-requests_params .only_block .body{
		display: flex;
	}
	.cpw-ama-datamart-requests_params .title{
		width: 100%;
	}
	.cpw-ama-datamart-requests_params label{
		display: inline-block;
	}
	.cpw-ama-datamart-requests_params .left_part{
		flex: 1;
	}
	.cpw-ama-datamart-requests_params .right_part{
		flex: 1;
	}
</style>
<div class="cpw-ama-datamart-requests_params">
	<div class="title">В таблице запросов отображать</div>
	<label><input type="checkbox" <%= obj.checkbox_attrs('All') %> /> Все запросы</label>
	
	<div class="only_block">
		<div class="title">
			Только запросы:
		</div>
		<div class="body">
			<div class="left_part">
				<label><input type="checkbox" <%= obj.checkbox_attrs('DateOfOffer.Include') %> /> с опросом АУ</label>
				<label><input type="checkbox" <%= obj.checkbox_attrs('Consents.Include') %> /> с согласными АУ</label>
				<label><input type="checkbox" <%= obj.checkbox_attrs('DateOfResponce.Include') %> /> с ответом в суд</label>
			</div>
			<div class="right_part">
				<label><input type="checkbox" <%= obj.checkbox_attrs('DateOfOffer.Exclude') %> /> БЕЗ опроса АУ</label>
				<label><input type="checkbox" <%= obj.checkbox_attrs('Consents.Exclude') %> /> БЕЗ согласных АУ</label>
				<label><input type="checkbox" <%= obj.checkbox_attrs('DateOfResponce.Exclude') %> /> БЕЗ ответа в суд</label>
			</div>
		</div>
	</div>
</div>