<style>
div.cpw-ama-datamart-viewer-register
{
	width:620px;
	margin:0 auto;
}

div.cpw-ama-datamart-viewer-register div.row
{
	margin-top: 3px;
	margin-bottom: 3px;
}

div.cpw-ama-datamart-viewer-register div.title
{
	display: inline-block;
	width: 150px;
	vertical-align:top;
}

div.cpw-ama-datamart-viewer-register div.procedure
{
	margin-top: 20px;
	margin-bottom: 20px;
}

div.cpw-ama-datamart-viewer-register div.procedure div.title
{
	padding-left: 20px;
	width: 130px;
}

div.cpw-ama-datamart-viewer-register div.procedure div.title2
{
	padding-left: 20px;
}

div.cpw-ama-datamart-viewer-register input
,div.cpw-ama-datamart-viewer-register textarea
{
	width: 400px;
}

div.cpw-ama-datamart-viewer-register textarea
{
	height: 60px;
}

div.cpw-ama-datamart-viewer-register div.attention
{
	color:red;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.cpw-ama-datamart-viewer-register div.comment
{
	color:purple;
	margin-top: 5px;
	margin-bottom: 5px;
}
div.cpw-ama-datamart-viewer-register div.status
{
	display: none;
}
</style>
<div class="cpw-ama-datamart-viewer-register">

	<div class="row">
		<div class="title">Как вас зовут:</div>
		<input type="text" value="<%= obj.txt('Заявитель.Имя') %>" />
	</div>

	<div class="row">
		<div class="title">Ваш email:</div>
		<input type="text" value="<%= obj.txt('Заявитель.Email') %>" />
	</div>

	<div class="row attention">
		ВНИМАНИЕ! ваш email будет виден 
		Арбитражному управляющему,<br/> процедуры которого 
		вы сможете видеть при успешном одобрении заявки
	</div>

	<div class="row">
		<div class="title">Ваш телефон:</div>
		<input type="text" value="<%= obj.txt('Заявитель.Телефон') %>" />
	</div>

	<%= obj.control('Запрос_на_доступ') %>

	<div class="row comment">
		Доступ к другим процедурам можно будет запросить 
		после регистрации <br/>уже непосредственно в кабинете Витрины данных
	</div>

</div>