<style>
div.cpw-form-ama-dm-push-profile div.warning
{
	color: red;
}
div#cpw-form-ama-datamart-push-profile {
	height: auto !important;
}
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>
<div class="cpw-form-ama-dm-push-profile">
<% if (window.app.disable_viewers2) { %>
	<div class="warning">
		ВНИМАНИЕ! <br/>
		Функционал уведомлений находится в состоянии разработки и тестового использования! 
		Возможны ошибки либо полная неработоспособность при работе данного раздела!
	</div>
<% } %>
	<div id="cpw-ama-datamart-push-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-push-settings">Типовые настройки</a></li>
<% if (o.id_Push_receiver) { %>
			<li><a href="#cpw-ama-datamart-push-latest" >Журнал</a></li>
<% } %>
			
		</ul>
		<div id="cpw-ama-datamart-push-settings" class="page">
			<% if (0) { %>Типовые настройки уведомлений<% } %>
			<%= obj.fields_control('ТиповыеНастройки') %>
		</div>
<% if (o.id_Push_receiver) { %>
		<div id="cpw-ama-datamart-push-latest" class="page">
			<% if (0) { %>Журнал уведомлений<% } %>
			<%= obj.fields_control('ЖурналУведомлений') %>
		</div>
<% } %>
	</div>
</div>