<style>
div.cpw-ama-datamart-viewer
{
	width: 540px;
	margin: 0 auto;
}
div.cpw-ama-datamart-viewer input[type="text"]
{
	width: 460px;
}
div.cpw-ama-datamart-viewer input[type="checkbox"]
{
	vertical-align: middle;
}
div.cpw-ama-datamart-viewer div.row
{
	margin-bottom: 5px;
	display: inline-block;
}
div.cpw-ama-datamart-viewer > div.title
{
	font-weight: 600;
	margin-bottom: 5px;
}
div.cpw-ama-datamart-viewer div.row div.title
{
	display: inline-block;
	width: 80px;
}
div.cpw-ama-datamart-viewer div.select
{
	display: inline-block;
	height: 100px;
}
div.cpw-ama-datamart-viewer span.prompt
{
	float: right;
	color: gray;
	font-size: 14px;
}
div.cpw-ama-datamart-viewer .select2-container-multi .select2-choices .select2-search-choice
{
	width: 100%;
	box-sizing: border-box;
	background-image: none;
	background: #fff;
	
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #c5c5c5;
	margin: 0;
	padding: 10px 10px 10px 23px;
}
div.cpw-ama-datamart-viewer .select2-search-choice-close
{
	top: 10px;
	left: 5px !important;
}
div.cpw-ama-datamart-viewer .select2-container-multi.select2-container-active .select2-choices
{
	border: unset;
}
div.cpw-ama-datamart-viewer .select2-container .select2-choices, 
div.cpw-ama-datamart-viewer .select2-container .select2-choices li,
div.cpw-ama-datamart-viewer .select2-container .select2-choices div
{
	background-image: none;
	background: #fff;
}
div.cpw-ama-datamart-viewer .select2-container .select2-choices
{
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	padding: 5px;
	padding: 0;
}
div.cpw-ama-datamart-viewer li.select2-search-field::after
{
	content: "+";
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	left: 5px;
	color: #D3242C;
}
div.cpw-ama-datamart-viewer .select2-container-multi.select2-dropdown-open li.select2-search-field::after
{
	content: "";
}
</style>
<div class="cpw-ama-datamart-viewer">

	<div class="title">
		Наблюдатель 
		<% if (obj.value() && obj.value().ИзвестныйКак && ''!=obj.value().ИзвестныйКак) { %>
			"<%= obj.value().ИзвестныйКак %><% if (0) { %>Коломойский<% } %>"
		<% } %>
	</div>

	<div class="row">
		<div class="title">E-mail</div>
		<% var confirmed= obj.value() && obj.value().Confirmed; %>
		<input type="text" value="<%= obj.txt('Email') %>" 
			<% if (confirmed) { %>
				readonly="readonly" disabled="disabled"
			<% } %>
		/>
		<% if (confirmed) { %>
			<span class="prompt">(аккаунт наблюдателя используется не одним АУ)</span>
		<% } %>
	</div>

	<div class="row">
		<div class="title">Имя</div>
		<input type="text" value="<%= obj.txt('Имя') %>" />
	</div>

	<div class="row">
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Давать_доступ_ко_всем_процедурам_по_умолчанию') %> />&nbsp;
			<span>Разрешить доступ ко всем процедурам по умолчанию</span>
			<span class="prompt">(при первой загрузке процедур, потом доступ можно менять)</span>
		</label>
	</div>

	<div class="row procedures">
		<span>Доступ к информации о процедурах</span> 
		<div class="select2" <%= obj.select2_attrs('Доступ_к_процедурам') %> >тут должен быть select2</div>
	</div>

</div>