<style>
div.ama-datamart-km-item p.number-group
{
	text-align:right;
}
div.ama-datamart-km-item p.title
{
	font-weight:bold;
}

div.ama-datamart-km-item div.value 
{
    width: 400px;
    display: inline-block;
}
div.ama-datamart-km-item div.value div.note
{
    white-space:pre-wrap;
}
div.ama-datamart-km-item div.lable 
{
    width: 300px;
    margin-left: 5px;
    float: left;
	font-weight:bold;
}

div.ama-datamart-km-item div.property
{
    width: auto;
    margin-bottom: 20px;
}
</style>
<%
var item= null==obj ? {} : obj.value();
if (!item || null==item)
	item= {};
var допинформация= item.Дополнительная_информация_недвижимость;
if (!допинформация || null==допинформация)
	допинформация= {};
var h_number_format= obj.options.h_number_format;
var link1= "info.php?action=map&address=" + encodeURIComponent(допинформация.Адрес);
var Кадастровый_номер= !допинформация.Кадастровый_номер || null==допинформация.Кадастровый_номер ? '' : допинформация.Кадастровый_номер;
var link2= "info.php?action=cadastr-number&number=" + encodeURIComponent(Кадастровый_номер);
%>
<div class="ama-datamart-km-item">

	<p class="title"><%= item.Наименование %><% if (0) { %>Жилое строение<% } %></p>
	<div id="cpw-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-tab-1" >Главное</a></li>
			<li><a href="#cpw-tab-2" >Учетная информация</a></li>
			<li><a href="#cpw-tab-3" >Дополнительно</a></li>
			<!--<li><a href="#cpw-tab-4" >Фотографии</a></li>-->
		</ul>

		<div id="cpw-tab-1" >
			<div class="property">
				<div class="lable">Площадь:</div>
				<div class="value"><%= допинформация.Площадь %> &nbsp кв.м. </div>
			</div>
			<div class="property">
				<div class="lable">Адрес:</div>
				<div class="value"><a href= <%= link1 %> target="_blank" ><%=допинформация.Адрес%></a>&nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Оценочная стоимость:</div>
				<div class="value"><%= h_number_format(item.Стоимость.Оценочная, 2, ',', ' ') %> рублей.</div>
			</div>
			<div class="property">
				<div class="lable">Назначение:</div>
				<div class="value"><%= допинформация.Назначение %>&nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Кадастровый номер:</div>
				<div class="value"><a href= <%= link2 %> target="_blank" ><%=допинформация.Кадастровый_номер%></a>&nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Состояние в составе КМ:</div>
				<div class="value"><%if(item.В_наличии=="true") { %>объект в наличии<% } else { %>объекта нет в наличии<% } %>
					<%if(item.Залог.Объект_залога=="true") { %>,&nbsp объект в залоге у кредитора <%= item.Залог.Кредитор%><% } 
					else { %>,&nbsp объект не в залоге<% }%>
					<%if(item.Списание.Списано=="true") { %>,&nbsp объект списан<% } 
					else { %>,&nbsp объект не списан<% }%>
					<%if(item.На_балансе=="true") { %>,&nbsp объект состоит на балансе<% } 
					else { %>,&nbsp объект не состоит на балансе<% }%>
					<strong><%if(item.Продажа.Продан=="true")
							{ %>,&nbsp <nobr> объект продан за  <%= h_number_format(item.Продажа.Цена, 2, ',', ' ')%> рублей. </nobr> <% }%>
					</strong> 
				</div>
			</div>
		</div>

		<div id="cpw-tab-2" >
			<div class="property">
				<div class="lable">Инвентарный номер:</div>
				<div class="value"><%= item.Инвентарный_номер %> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Начальная стоимость:</div>
				<div class="value"><%= h_number_format(item.Стоимость.Первоначальная, 2, ',', ' ') %> рублей.</div>
			</div>			
			<div class="property">
				<div class="lable">Остаточная стоимость:</div>
				<div class="value"><%= h_number_format(item.Стоимость.Остаточная, 2, ',', ' ') %> рублей.</div>
			</div>
			<div class="property">
				<div class="lable">Оценочная стоимость:</div>
				<div class="value"><%= h_number_format(item.Стоимость.Оценочная, 2, ',', ' ') %> рублей.</div>
			</div>
		</div>

		<div id="cpw-tab-3" >
			<div class="property">
				<div class="lable">Вид права:</div>
				<div class="value"><%= допинформация.Вид_права %> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Ограничение права:</div>
				<div class="value"><%= допинформация.Ограничения_права %> &nbsp</div>
			</div>
			<div class="property">
				<div class="lable">Примечание:</div>
				<div class="value"><div class="note"><%= item.Доп_информация %> &nbsp</div></div>
			</div>
		</div>
		<!--<div id="cpw-tab-4" >
			Фотографии
		</div>-->
	</div>
</div>
