<style>
div.cpw-form-ama-datamart-income #cpw-ama-datamart-income-pager_left > button
{
	font-weight: normal;
}
</style>
<div class="cpw-form-ama-datamart-outcome cpw-form-ama-datamart-grid">

	<div class="search-bar">
		<div class="ama-button show-hide-search-inputs">
			<span class="icon-search-icon"></span>
			<span class="search-button-text">Искать</span>
		</div>
	</div>

	<div class="grid closed-search">
		<table id="cpw-ama-datamart-outcome-grid" class="grid"></table>
		<div id="cpw-ama-datamart-outcome-pager"></div>
	</div>

</div>
