<style>
div.ama-rtt-summary table
{
	border-collapse: separate !important;
	border-spacing: 0;
	width: 100%;
}
div.ama-rtt-summary table tr.total:hover,
div.ama-rtt-summary table tr.queue-number:hover,
div.ama-rtt-summary table tr.leaf:hover
{
	background-color: #FEF9D5;
}
div.ama-rtt-summary table tr.selected
{
	background: #FEF9D5 !important;
}
div.ama-rtt-summary table td
{
	border-bottom: 1px solid #DBDBDB;
	font-size: 16px;
}
div.ama-rtt-summary td
{
	text-align: right;
}
div.ama-rtt-summary tr.title td
{
	font-size: 14px;
	text-align: center;
	background: #EFEFEF;
	padding: 10px 5px;
	border-top: 1px solid #DBDBDB;
}
div.ama-rtt-summary tr td
{
	padding: 10px 5px;
	font-size: 14px;
}
div.ama-rtt-summary tr td:first-child
{
	border-left: 1px solid #DBDBDB;
	padding-left: 12px;
}
div.ama-rtt-summary tr td:last-child
{
	border-right: 1px solid #DBDBDB;
	padding-right: 12px;
}
div.ama-rtt-summary tr:first-child td:first-child { border-radius: 5px 0 0;   }
div.ama-rtt-summary tr:first-child td:last-child  { border-radius: 0 5px 0 0; }
div.ama-rtt-summary tr:last-child  td:first-child { border-radius: 0 0 0 5px; }
div.ama-rtt-summary tr:last-child  td:last-child  { border-radius: 0 0 5px 0; }
div.ama-rtt-summary tr td.title
{
	text-align: left;
}
div.ama-rtt-summary tr:first-child td:first-child
{
	border-right: 0;
}
div.ama-rtt-summary tr.total td
{
	font-size: 16px;
	font-weight: 600;
}
div.ama-rtt-summary tr.total
{
	color: #444;
}
div.ama-rtt-summary tr.queue-number td.title
{
	font-weight: 600;
}
div.ama-rtt-summary td.num
{
	min-width: 30px;
}
div.ama-rtt-summary td.sum
{
	min-width: 100px;
}
div.ama-rtt-summary tr.total
,div.ama-rtt-summary tr.queue-number
,div.ama-rtt-summary tr.leaf
{
	cursor: pointer;
}
</style>
<% if (0) { %>
<style>
.design-mode
{
	background-color:yellow;
}
</style>
<% } %>
<%
function sumary_number_format(number)
{
	return obj.number_format(number,0,',',' ');
}
function IsLeaf(t)
{
	return (t.Требований && null!=t.Требований) || 0==t.Требований;
}
function Add(a,i)
{
	if (-1===i.Требований || ''===i.Требований)
	{
		a.Требований= '';
		a.На_сумму= '';
	}
	else
	{
		a.Требований+= i.Требований;
		a.На_сумму+= i.На_сумму;
	}
}
function Summarize(o)
{
	var res= {Кредиторов:(!o||!o.Кредиторов)?0:o.Кредиторов,Требований:0,На_сумму:0};
	for (var name in o)
	{
		if ("Кредиторов"==name)
			continue;
		var t= o[name];
		if (IsLeaf(t))
		{
			Add(res,t);
		}
		else
		{
			for (var tname in t)
			{
				if ("Кредиторов"==tname)
					continue;
				Add(res,t[tname]);
			}
		}
	}
	return res;
}
function DefaultSelectedClass(name,tname)
{
	return ('3-я очередь'!=name || 'без залога'!=tname) ? ' ' : ' selected';	
}
%>
<div class="ama-rtt-summary">
	<table <% if (0) { %> border="1" cellspacing="0" <% } %> >
		<% if (0) { %>
			<tbody class="design-mode">
				<tr>
					<td></td>
					<td>Кред.</td>
					<td>Треб.</td>
					<td>На сумму, руб</td>
				</tr>
			</tbody>
		<% } %>

		<tr class="title">
			<td class="title"></td>
			<td class="title" style="text-align:right">Кред.</td>
			<td class="title" style="text-align:right">Треб.</td>
			<td style="text-align:right">На сумму, руб</td>
		</tr>

		<tr class="total" selection="">
			<% var t= Summarize(obj.model); %>
			<td class="title">Всего</td>
			<td class="num">
				<%= t.Кредиторов %><% if (0) { %>1178<% } %>
			</td>
			<td class="num">
				<%= t.Требований %><% if (0) { %>1256<% } %>
			</td>
			<td class="sum">
				<%= obj.foreign_data(t.На_сумму) %><% if (0) { %>275 500 000<% } %> 
			</td>
		</tr>
		<%
			for (var name in obj.model)
			{
				if ("Кредиторов"==name)
					continue;
				var t= obj.model[name];
				if (IsLeaf(t))
				{
		%>
		<tr class="queue-number" selection="<%= name %>" >
			<td class="title"><%= name %><% if (0) { %>1-я очередь<% } %></td>
			<td>
				<%= t.Кредиторов %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= t.Требований %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= obj.foreign_data(t.На_сумму) %><% if (0) { %>300 000<% } %> 
			</td>
		</tr>
		<%
				}
				else
				{
		%>
		<tr class="queue-number" selection="<%= name %>" >
			<% var tt= Summarize(t) %>
			<td class="title"><%= name %><% if (0) { %>3-я очередь<% } %></td>
			<td>
				<%= tt.Кредиторов %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= tt.Требований %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= obj.foreign_data(tt.На_сумму) %><% if (0) { %>300 000<% } %> 
			</td>
		</tr>
		<%
					for (var tname in t)
					{
						if ("Кредиторов"==tname)
							continue;
						var tt= t[tname];
		%>
		<tr class="leaf" selection="<%= name %>$<%= tname %>" >
			<td class="title"><%= tname %><% if (0) { %>без залога<% } %></td>
			<td>
				<%= tt.Кредиторов %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= tt.Требований %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= obj.foreign_data(tt.На_сумму) %><% if (0) { %>300 000<% } %>
			</td>
		</tr>
		<%
					}
				}
			}
		%>
	</table>
</div>