<div class="cpw-form-marketplace-asset-item">

	<div id="cpw-form-marketplace-asset-item-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-form-marketplace-asset-item-main">Главное</a></li>
			<li><a href="#cpw-form-marketplace-asset-item-clas">Классификация</a></li>
			<li><a href="#cpw-form-marketplace-asset-item-stat">Стадия экспозиции</a></li>
			<li><a href="#cpw-form-marketplace-asset-item-detl">Детали процедуры</a></li>
			<li><a href="#cpw-form-marketplace-asset-item-atch">Приложения</a></li>
		</ul>
		<div id="cpw-form-marketplace-asset-item-main" class="page">
			<% if (0) { %>Главное<% } %>
			<%= obj.fields_control('Главное') %>
		</div>
		<div id="cpw-form-marketplace-asset-item-clas" class="page">
			<% if (0) { %>Классификация<% } %>
			<%= obj.fields_control('Классификация') %>
		</div>
		<div id="cpw-form-marketplace-asset-item-stat" class="page">
			<% if (0) { %>Стадия экспозиции<% } %>
			<%= obj.fields_control('Стадия') %>
		</div>
		<div id="cpw-form-marketplace-asset-item-detl" class="page">
			<% if (0) { %>Детали процедуры<% } %>
			<%= obj.fields_control('Детали_процедуры') %>
		</div>
		<div id="cpw-form-marketplace-asset-item-atch" class="page">
			<% if (0) { %>Приложения<% } %>
			<%= obj.fields_control('Приложения') %>
		</div>
	</div>

</div>