<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_bidding_params.css" /></head><body><% } %>
<div class="ama-biddings-bidding">
	<div class="row field">
		<div class="first-col">Условное наименование:</div>
		<input type="text" class="second-col" value="<%= obj.txt('Наименование') %>" />
	</div>
	<div class="row">
		<div class="first-col left">Торговая площадка:</div>
		<div style="width:563px" id="cpw-ama-biddings-bidding-etp" <%= obj.select2_attrs('ЭТП') %> >ЭТП</div>
		<div class="link"><a href="#" onclick="var select2_item = $( '#s2id_cpw-ama-biddings-bidding-etp' ).select2( 'data' ); var url = ''; if ( null != select2_item ) { url = select2_item.url; } if ( !url || null == url || '' == url || 0 == url.indexOf( 'http://' ) || 0 == url.indexOf( 'https://' ) ) { url = url; } else { url = 'http://' + url; window.open( url, 'EtpWin', 'width=1024,height=768,menubar=yes,toolbar=yes,location=yes,status=yes,resizable=yes' ); return false; };">Открыть</a></div>
	</div>
	<div class="row">
		<div class="first-col left">Ссылка на страницу:</div>
		<input id="bidding_input_url" type="text" class="full-with-link" value="<%= obj.txt('URL') %>" /> 
		<div class="link"><a href="#" onclick="var url = $( '#bidding_input_url' ).val(); if ( !url || null == url || '' == url) { return false; } else { if ( 0 == url.indexOf( 'http://' ) || 0 == url.indexOf( 'https://' ) ) { this.href = url } else { this.href = 'http://' + url; } window.open( this.href, 'EtpWin', 'width=1024,height=768,menubar=yes,toolbar=yes,location=yes,status=yes,resizable=yes' ); return false; }">Открыть</a></div>
	</div>
	<div class="row">
		<div class="first-col left">Форма торгов:</div>
		<select class="full" style="margin-left:1px;" <%= obj.select_attrs('Форма_торгов') %>>
			<option <%= obj.option_attrs('Аукцион в открытой форме') %>>Аукцион в открытой форме</option>
			<option <%= obj.option_attrs('Публичное предложение') %>>Публичное предложение</option>
		</select>
	</div>
	<div class="ama-title-divider">Расписание торгов</div>
	<div class="row">
		<div class="ama-col3">
			<div class="first-col left">Начало приёма заявок:</div>
			<div class="ama-col4 withicon">
				<input class="col-date"  style="margin-left:3px;" id="bidding_date_begin_of_order_taking" type="text" <%= obj.date_attrs() %> value="<%= obj.txt('Начало_приёма_заявок.дата') %>" /> 
				<label for="bidding_date_begin_of_order_taking" class="ama-input-icon ama-icon-calendar"></label> 
			</div>
			<div class="ama-col5">
				<input type="text" class="time" value="<%= obj.txt('Начало_приёма_заявок.время') %>"  />
			</div>
		</div>
		<div class="ama-col3">
			<div class="first-col left">Окончание приёма заявок:</div>
			<div class="ama-col4 withicon">
				<input class="col-date" id="bidding_date_end" type="text" <%= obj.date_attrs() %> value="<%= obj.txt('Окончание_приёма_заявок.дата') %>" /> 
				<label for="bidding_date_end" class="ama-input-icon ama-icon-calendar"></label> 
			</div>
			<div class="ama-col5">
				<input type="text" class="time" value="<%= obj.txt('Окончание_приёма_заявок.время') %>"  />
			</div>
		</div>
		<div class="ama-col3" style="margin-right:0px;">
			<div class="first-col left">Начало торгов:</div>
			<div class="ama-col4 withicon">
				<input class="col-date" id="bidding_date_begin" type="text" <%= obj.date_attrs() %> value="<%= obj.txt('Начало_торгов.дата') %>" /> 
				<label for="bidding_date_begin" class="ama-input-icon ama-icon-calendar"></label> 
			</div>
			<div class="ama-col5"><input type="text" class="time" value="<%= obj.txt('Начало_торгов.время') %>" /></div>
		</div>
	</div>

	<div class="ama-title-divider">Публикация объявлений о торгах</div>
	<div class="row">
		<div class="first-col">№ сообщения на ЕФРСБ:</div>
		<input type="text" class="full-with-link second-col" value="<%= obj.txt('Объявление.ЕФРСБ.Номер') %>" />
	</div>
	<div class="row">
		<div class="first-col">Федеральное СМИ:</div>
		<input type="text" class="second-col" readonly="true" value="Коммерсант"/>
	</div>
	<div class="row">
		<div class="first-col right">Дата публикации:</div>
		<div class="ama-col6 withicon">
			<input type="text" class="bidding_date_publication" id="bidding_date_publication_fed" <%= obj.date_attrs() %> value="<%= obj.txt('Объявление.ФедеральноеСМИ.дата') %>" /> 
			<label for="bidding_date_publication_fed" class="ama-input-icon ama-icon-calendar"></label>
		</div>
		<span class="number">Номер тиража:</span> 
		<input type="text" class="circulation" style="margin-right:9px;" value="<%= obj.txt('Объявление.ФедеральноеСМИ.номер_тиража') %>" />
	</div>
	<div class="row">
		<div class="first-col">Местное СМИ:</div>
		<input type="text" class="second-col" value="<%= obj.txt('Объявление.МестноеСМИ.Наименование') %>" />
	</div>
	<div class="row">
		<div class="first-col right">Дата публикации:</div>
		<div class="ama-col6 withicon">
			<input type="text" id="bidding_date_publication_smi" class="bidding_date_publication" <%= obj.date_attrs() %> value="<%= obj.txt('Объявление.МестноеСМИ.дата') %>" />
			<label for="bidding_date_publication_smi" class="ama-input-icon ama-icon-calendar"></label>
		</div>
		<span class="number-of-circulation">Номер тиража:</span> 
		<input type="text" class="circulation" style="margin-right:9px;"  value="<%= obj.txt('Объявление.МестноеСМИ.номер_тиража') %>" />
	</div>
</div>
<% if (0) { %></body></html><% } %>