.ui-widget-content
{
	background: none!important;
	background-color: rgb(242,238,240)!important;
}
.ui-widget div.ama-biddings-bidding
{
	font-size: 14px;
	font-family: "Segoe UI";
	top:0;
	right:15px;
	left:15px;
	position:absolute;
	padding-left:6px;
}
div.ama-biddings-bidding div.first-col
{
	display: inline-block;
	height:19px;
	color: #9A9A9A;
	width: 190px;
}
div.ama-biddings-bidding span 
{
	display:inline-block;
	color: #9A9A9A;
	margin-right:10px;
}
div.ama-biddings-bidding input.second-col { width: 76%; }
div.ama-biddings-bidding input, textarea, select
{
	outline: 0;
	box-sizing: border-box;
	height:28px;
	border: 1px solid #ffffff;
	outline: 1px solid #dce3ea!important;
	outline-offset: 0!important;
}
div.ama-biddings-bidding .full
{
	width: 76%;
	height: 24px;
}
div.ama-biddings-bidding .full-with-link
{
	width:563px;
}
div.ama-biddings-bidding div.first-col.right
{
	text-align: right;
	margin-left:120px;
	margin-right: 10px;
}
div.ama-biddings-bidding div.first-col.left { text-align: left; }
div.ama-biddings-bidding div.row
{
	padding-bottom: 3px;
	padding-top: 5px;
	width: 100%;
}
div.ama-biddings-bidding div.row select
{
	box-sizing: border-box;
	margin-left: -4px;
	vertical-align: middle;
}
div.ama-biddings-bidding div.link
{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	padding-left: 10px;
}
div.ama-biddings-bidding div.row input 
{
	padding-right:3px;
	margin-right:0px;
}
div.ama-biddings-bidding div.link a
{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding-top: 3px;
}
div.ama-biddings-bidding *[renderas='date'] { width: 100px; }
div.ama-biddings-bidding input.time
{
	display: inline-block;
	margin-right:5px;
	margin-left:-15px;
	width: 60px;
}

div.field-hint
{
	display: inline-block;
	width: 10px;
	float:left;
}
div.field.invalid div.question,
div.field.recommended div.question
{
	display: none;
	cursor: pointer;
}
div.field.invalid div.clarification,
div.field.recommended div.clarification
{
	display: inline-block;
}
div.field.invalid.had_focus { background-color: #ffd6d6; }
div.field.recommended.had_focus { background-color: #fcfeb4; }
div.field div.clarification { display: inline-block !important; }
div.field div.question { display: none; }

div.field.invalid.had_focus div.clarification { display: none !important; }
div.field.recommended.had_focus div.clarification { display: none !important; }

div.field.invalid.had_focus div.question,
div.field.recommended.had_focus div.question
{ 
	display: inline-block !important;
	color: red; font-weight: bold;
}
div.ama-biddings-bidding div.ama-title-divider
{
	position: relative;
	overflow: hidden;
	min-height: 20px;
}
div.ama-biddings-bidding div.ama-title-divider:after
{
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #E2E1E1;
	top: 50%;
}
div.ama-biddings-bidding div.ama-col3
{
	margin-top: 1px;
	margin-bottom: 3px;
	/*margin-left:1px;*/
	margin-right:25px;
	display: inline-block;
	width: 31%;
}
div.ama-biddings-bidding div.ama-col4, div.ama-col5
{
	box-sizing: border-box;
	display: inline-block;
	margin-left: -3px;
	vertical-align: middle;
	width: 80%;
}
div.ama-biddings-bidding  div.ama-col5 { width: 20%; }
div.ama-biddings-bidding input.col-date
{
	margin-top: 3px;
	margin-bottom: 3px;
	display: inline-block;
	width: 70%;
}

div.ama-biddings-bidding label.ama-input-icon
{
	position: absolute;
	min-height: 30px;
	cursor: pointer;
	background: url(../Content/img/icons_sprite.png) no-repeat;
	display: inline-block;
	background-color: white;
	box-sizing: border-box;
	width: 36px;
	margin-left: -5px;
	margin-top: 2px;
	border-right: 1px solid #dce3ea!important;
	border-top: 1px solid #dce3ea!important;
	border-bottom: 1px solid #dce3ea!important;
	border-left:none;
}
div.ama-biddings-bidding label.ama-icon-calendar
{
	background-position: -22px -508px;
	padding: 0 7px!important;
}
div.ama-biddings-bidding div.withicon input
, .ama-input-icon 
{
	height: 28px;
	line-height: 28px;
	min-width: 28px;
}
div.ama-biddings-bidding input.circulation 
{
	width:140px;
	float:right; 
}
div.ama-biddings-bidding  div.ama-col6
{
	box-sizing: border-box;
	display: inline-block;
	margin-left: -4px;
	vertical-align: middle;
	width: 150px;
	margin-right:26px;
}

div.ama-biddings-bidding input.bidding_date_publication
{
	width:138px;
	margin-top:3px;
}
div.ama-biddings-bidding div.ama-biddings-bidding input:focus
, textarea:focus
, div.ama-biddings-bidding select:focus
{
	outline: 1px solid #bdcad9!important;
	outline-offset: 0!important;
}
 div.ama-biddings-bidding input:hover
 {
	outline: 1px solid #bdcad9 !important;
	outline-offset: 0 !important;
}
div.ama-biddings-bidding input:hover + label
{
	border-right: 1px solid #bdcad9!important;
	border-top: 1px solid #bdcad9!important;
	border-bottom: 1px solid #bdcad9!important;
}
div.ama-biddings-bidding input:focus
{
	outline: 1px solid #bdcad9!important;
	outline-offset: 0!important;
}
div.ama-biddings-bidding input:focus + label
{
	border-right: 1px solid #bdcad9!important;
	border-top: 1px solid #bdcad9!important;
	border-bottom: 1px solid #bdcad9!important;
}
div.ama-biddings-bidding span.number { margin-left:50px; }
div.ama-biddings-bidding span.number-of-circulation { margin-left:54px; }
