<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_lots.css" /></head><body><% } %>
<% if (0) { %>
<style>
div.ama-auction-lots table .for-not-single-lot
{
	display:inline-block;
}
</style>
<% } %>
<div class="ama-auction-lots">
	<div class="full-biddings head-with-border">
		<div class="btn-add">
			<a class="ama-link ama-icon ama-icon-plus right"><span style="position:absolute;margin-top:-1px">Добавить</span></a>
		</div>
		<span style="padding-left:5px; padding-top:5px;">Лоты:</span>
	</div>
	<table <%= obj.not_empty_attrs() %> >
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> class="single-lot" >
			<td class="column1 position-number " style="vertical-align:top" cellspacing="0" cellpadding="0">
				<div  class="full" style="width:108%"><%= obj.item_pos1() %><% if (0) { %>1<% } %>)</div>
			</td>
			<td class="column2" cellspacing="0" cellpadding="0">
				<div class="full"><%= obj.txt_field('Наименование') %><% if (0) { %>Комплекс торгово-промышленных зданий<% } %></div>

				<table>
					<tr>
						<td class="content column1"></td>
						<td class="content column2">
							<div class="eparam price-start for-not-single-lot">
								<div class="label-money"><label>Начальная цена:</label></div>
								<div class="money"><%= obj.txt_field('Начальная_цена') %><% if (0) { %>1 000 000 000<% } %></div> 
								<span  class="money">руб.</span> 
							</div>
							<div class="eparam price-0 for-not-single-lot">
								<div class="label-money"><label>Размер задатка:</label></div>
								<div class="money"><%= obj.txt_field('Размер_задатка') %><% if (0) { %>100 000 000<% } %></div> 
								<span class="money"><%= obj.text_field('Размер_задатка_ед') %></span> 
							</div>
							<div class="eparam price-step for-not-single-lot">
								<div class="label-money"><label>Шаг аукциона:</label></div>
								<div class="money"><%= obj.txt_field('Шаг_аукциона') %><% if (0) { %>100 000 000<% } %></div> 
								<span class="money"><%= obj.text_field('Шаг_аукциона_ед') %></span> 
							</div>
						</td>
						<td class="content column1"></td>
						<td class="content column1"></td>
						<td class="content column1"></td>
					</tr>
				</table>

				<div class="for-single-lot">
					<table>
						<tr>
							<td class="column3 content">
								<div class="title">Описание&nbsp;лота</div>
								<div class="param"><%= obj.txt_field('Краткое_описание') %><% if (0) { %>Дорогая недвижимость<% } %></div>
							</td>
							<td class="column3 content">
								<div class="title">Порядок&nbsp;ознакомления</div>
								<div class="param"><%= obj.txt_field('Порядок_ознакомления') %><% if (0) { %>Ленина 100<% } %></div>
							</td>
						</tr>
						<tr>
							<td class="column3 content">
								<div class="field-row price-start">
									<div class="field-label"><label>Начальная цена:</label></div>
									<div class="field-money"><%= obj.txt_field('Начальная_цена') %><% if (0) { %>1 000 000 000<% } %></div> 
									<span class="field-money">руб.</span> 
								</div> 
								<div class="field-row price-0">
									<div class="field-label"><label>Размер задатка:</label></div>
									<div class="field-money"><%= obj.txt_field('Размер_задатка') %><% if (0) { %>100 000 000<% } %></div> 
									<span class="field-money"><%= obj.txt_field('Размер_задатка_ед') %><% if (0) { %>руб.<% } %></span> 
								</div>
								<div class="field-row price-step">
									<div class="field-label"><label>Шаг аукциона:</label></div>
									<div class="field-money"><%= obj.txt_field('Шаг_аукциона') %><% if (0) { %>100 000 000<% } %></div>
									<span class="field-money"><%= obj.text_field('Шаг_аукциона_ед') %><% if (0) { %>руб.<% } %></span> 
								</div>
							</td>
							<td class="column3 content">
								<div class=title>Точный&nbsp;адрес</div>
								<div class="param"><%= obj.txt_field('Точный_адрес') %><% if (0) { %>Ленина 100<% } %></div>
							</td>
						</tr>
					</table>
				</div>

			</td>
			<td class="cmd column1" style="vertical-align:top">
				<div class="full"><a href="#" class="spec-column ama-icon ama-icon-drag"></a></div> 
			</td>
			<td class="cmd column1" style="vertical-align:top">
				<div class="full" style="width:108%">
					<a href="#" class="ama-link ama-icon ama-icon-edit" onclick="cpw.fc_array_item_trigger(this,'edit')">
						<img src="img/edit-gray-icon.png" title="редактировать" />
					</a>
				</div>
			</td>
			<td class="cmd column1" style="vertical-align:top">
				<div class="full">
					<a href="#" class="ama-link ama-icon ama-icon-remove" onclick="cpw.fc_array_item_trigger(this,'delete')">
						<img src="img/trash-gray-icon.png" title="удалить" />
					</a>
				</div> 
			</td>
		</tr>
 		<% } %>
	</table>
</div>
<% if (0) { %></body></html><% } %>