div.ama-auction-lots td.cmd
{
	font-size: small;
}
div.ama-auction-lots div.btn-add
{
	float: right;
	padding-bottom:10px;
	vertical-align: middle;
	position: relative;
}
div.ama-auction-lots
{
	padding-top: -10px;
	font-size: 16px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: white;
}
div.ama-auction-lots table
{
	border-collapse: collapse;
	position: relative;
	width: 100%;
}
div.ama-auction-lots table td.content
{
	width: 100%;
	padding-bottom:10px;
	padding-top:5px;
}
div.ama-auction-lots table td
{
	border: 0px;
	vertical-align: middle;
}
div.ama-auction-lots table tr:hover { background: #eeeeee; }

div.ama-auction-lots table td div.money
{
	text-align: left;
	display: inline-block;
	color: black;
}
div.ama-auction-lots table div.label-money 
{
	width: 100%;
}
div.ama-auction-lots table td div.field-money
{
	width: 120px;
	text-align: right;
	display: inline-block;
	color: black;
}
div.ama-auction-lots table td div.field-label 
{
	width: 130px;
	text-align: left;
	float: left;
}
div.ama-auction-lots table td span.money
{
	width: 20%;
	text-align: left;
	display: inline-block;
	color: black;
}
div.ama-auction-lots table td span.field-money
{
	text-align: left;
	display: inline-block;
	color: black;
}
div.ama-auction-lots table td div.title 
{
	display: inline-block;
	height:19px;
	color: #9A9A9A;
	/*padding-top: 5px;*/
	padding-bottom:5px;
	width: 100%;
}
div.ama-auction-lots table td div.field-row
{
	float:left;
	color: #9A9A9A;
	width: 90%;
} 
div.ama-auction-lots table div
{
	display: inline-block;
}
div.ama-auction-lots table div.eparam
{
	margin-left: 3px;
	margin-right: 10px;
	color: #9A9A9A;
	width: 30%;
	float:left;
}

div.ama-auction-lots                     .for-single-lot { display: none; }
div.ama-auction-lots .not-single-lot .for-not-single-lot { display: inline-block; }
div.ama-auction-lots                 .for-not-single-lot { display: none; }
div.ama-auction-lots     .single-lot     .for-single-lot { display: inline-block; }
div.ama-auction-lots     .single-lot     .for-single-lot table
{
	margin-left:3px;
	margin-top:5px;
}
div.ama-auction-lots      .single-lot    .for-single-lot table td { padding-top: 5px; }
div.ama-auction-lots      .single-lot    .for-single-lot table td.title { padding-right: 5px; }
div.ama-auction-lots      .single-lot    .for-single-lot table td.column1 { width: 30px; }
div.ama-auction-lots      .single-lot    .for-single-lot table td.column2 { width: 80%; }
div.ama-auction-lots      .single-lot    .for-single-lot table td.column3 
{
	width: 700px;
	margin-right: 10px;
	vertical-align:top;
}

div.ama-auction-lots table td.column1 { width: 30px; }

div.ama-auction-lots div.full
{
	width: 103%;
	padding-top:3px;
	padding-bottom:3px;
	background-color: #EBEBEB;
}
div.ama-auction-lots div.full-biddings
{
	width: 100%;
	padding-bottom:10px;
}
div.ama-auction-lots span
{
	position: relative;
	vertical-align:middle;
}
div.ama-auction-lots table div.head, td.head
{
	/*background-color: #EBEBEB;*/
	margin-right:5px;
}
div.ama-auction-lots .empty-price-start .price-start,
div.ama-auction-lots .empty-price-0     .price-0,
div.ama-auction-lots .empty-price-step  .price-step
{
	visibility: hidden;
}

div.ama-auction-lots div.btn-add a.ama-icon-plus
{
	margin-top:5px;
	background-position: -22px -306px;
}
div.ama-auction-lots div.btn-add a.ama-icon-plus:hover
{
	background-position: -22px -237px;
}
div.ama-auction-lots div.head-with-border
{
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid #EBEBEB;
	margin-top:5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

div.ama-auction-lots a.ama-icon
{
	line-height: inherit;
	height: inherit;
	display: inline-block;
	vertical-align: middle;
	min-height: 24px;
	cursor: pointer;
	padding-left: 27px;
	background: url(../Content/img/icons_sprite.png) no-repeat;
}
div.ama-auction-lots a.ama-link
{
	color: #9A9A9A;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
}
div.ama-auction-lots a.ama-icon-remove { background-position: -28px -733px; }
div.ama-auction-lots a.ama-icon-remove:hover { background-position: -28px -660px; } 
div.ama-auction-lots a.ama-icon-edit { background-position: -28px -1080px; }
div.ama-auction-lots a.ama-icon-edit:hover { background-position: -28px -1008px; }
div.ama-auction-lots a.ama-icon-drag { background-position: -27px -2849px; }
div.ama-auction-lots a.ama-icon-drag:hover { background-position: -27px -2772px; }
div.ama-auction-lots a.right
{
	float: right;
	margin-right: 80px;
}
div.ama-auction-lots tr.collection-item { cursor: pointer; }
