<style>
div.cpw-form-sl-request
{
	width:500px;
	margin:0 auto;
}
div.cpw-form-sl-request button.request
{
	width:100%;
	margin:0 auto;
	margin-top:10px;
}
div.cpw-form-sl-request input[model-selector="Дата"]
{
	width:95px;
}
div.cpw-form-sl-request div.sl label
{
	width:220px;
	display:inline-block;
}
div.cpw-form-sl-request div.sl
{
	margin-top:10px;
}
div.cpw-form-sl-request .select2-container
{
	margin-top:5px;
	margin-left:36px;
}
div.cpw-form-sl-request div.sl > div
{
	margin-left:20px;
}
div.cpw-form-sl-request div.list > div.row
{
	margin-bottom:10px;
}
div.cpw-form-sl-request div.list > div.row > div.lable
{
	width:30%;
	display:inline-block;
	margin-right:20px;
}
div.cpw-form-sl-request div.list > div.row > div.sum
{
	width:30%;
	display:inline-block;
}
</style>
<%
var v= obj.value();
%>
<div class="cpw-form-sl-request">

	<div>
		Начиная с даты 
		<input type="text" value="<%= obj.txt('Дата') %>" <%= obj.date_attrs() %> /> 
		(<select class="kvartal">
			<option value=""></option>
			<% var kprefix= ['01.01','01.04','01.07','01.10'] %>
			<% for (var year= 2017; year<2031; year++) { %>
			<% for (var kv= 1; kv<5; kv++) { %>
			<option value="<%= kprefix[kv-1] %>.<%= year %>"
				><%= kv %> квартал <%= year %> года  </option>
			<% } } %>
		 </select>)
	</div>
	<div>
		в регионе 
		<select <%= obj.select_attrs('Регион') %>>
			<%
				var regions= obj.options.regions;
				for (var i= 0; i < regions.length; i++)
				{
					var r= regions[i];
			%>
				<option <%= obj.option_attrs(r.Код_ОКАТО) %> ><%= r.Наименование %></option>
			<%	} %>
		</select> 
	</div>
	<button id="request" class="request">Искать</button>

	<div class="list" style="display:none">
		<div class="row">
			<div class="lable">Подушевой:</div>
			<div id="common" class ="sum"></div>
		</div>
		<div class="row">
			<div class="lable">Для трудоспособных:</div>
			<div id="employable" class ="sum"></div>
		</div>
		<div class="row">
			<div class="lable">Для несовершенно летних:</div>
			<div id="infant" class ="sum"></div>
		</div>
		<div class="row">
			<div class="lable">Для пенсионеров:</div>
			<div id="pensioner" class ="sum"></div>
		</div>
		В соответсвии с:
		<div id="reglament" class="row"></div>
	</div>

</div>