<style>
div.cpw-form-pefrsb-record
{
	width:600px;
	margin:0 auto;
}
div.cpw-form-pefrsb-record input[data-fc-selector="Дата"]
{
	width:95px;
}
div.cpw-form-pefrsb-record div.pefrsb label
{
	width:320px;
	display:inline-block;
}
div.cpw-form-pefrsb-record div.pefrsb
{
	margin-top:10px;
}
div.cpw-form-pefrsb-record div.pefrsb > div
{
	margin-left:20px;
}
div.cpw-form-pefrsb-record div.pefrsb > div > div
{
	margin-top:3px;
}
div.cpw-form-pefrsb-record input[readonly="readonly"]
{
	background-color:#eeeeee;
}
div.cpw-form-pefrsb-record div.price-info
{
	text-align:center;
}
div.cpw-form-pefrsb-record div.price-info span.PriceNumber
{
	font-weight:bold;
}
</style>
<%

var v= obj.value();
if (!v || null==v)
	v= {};
var admin_mode= !obj.options ? true : obj.options.admin_mode;
var ro_mode= false;
var disabled_attrs= !ro_mode ? '' : 'disabled="disabled"';
%>
<div class="cpw-form-pefrsb-record">

	<div>
		Начиная с даты 
		<input type="text" value="<%= obj.txt('Дата') %>" <%= obj.date_attrs() %> <%= disabled_attrs %> /> 
	</div>

	<div class="pefrsb">
	Сумма за публикацию сообщения, в т.ч. НДС 20%:

		<div>		
			<div>
				<label>
					<input type="checkbox" style="display:none" checked="checked" <%= obj.checkbox_attrs('Сумма_за_сообщение.Физлицо.Задан') %> <%= disabled_attrs %> /> 
					за физических лиц
				</label>
				<input type="text" value="<%= obj.txt('Сумма_за_сообщение.Физлицо.Значение') %>" <%= disabled_attrs %> /> 
				рублей
			</div>

			<div>
				<label>
					<input type="checkbox" style="display:none" checked="checked" <%= obj.checkbox_attrs('Сумма_за_сообщение.Физлицо_с_комиссией.Задан') %> <%= disabled_attrs %> /> 
					за физических лиц c учётом комиссии банка
				</label>
				<input type="text" value="<%= obj.txt('Сумма_за_сообщение.Физлицо_с_комиссией.Значение') %>" <%= disabled_attrs %> /> 
				рублей
			</div>

			<div>
				<label>
					<input type="checkbox" style="display:none" checked="checked" <%= obj.checkbox_attrs('Сумма_за_сообщение.Юрлицо.Задан') %> <%= disabled_attrs %> /> 
					за юридических лиц
				</label>
				<input type="text" value="<%= obj.txt('Сумма_за_сообщение.Юрлицо.Значение') %>" <%= disabled_attrs %> /> 
				рублей
			</div>

			<div>
				<label>
					<input type="checkbox" style="display:none" checked="checked" <%= obj.checkbox_attrs('Сумма_за_сообщение.Юрлицо_с_комиссией.Задан') %> <%= disabled_attrs %> /> 
					за юридических лиц c учётом комиссии банка
				</label>
				<input type="text" value="<%= obj.txt('Сумма_за_сообщение.Юрлицо_с_комиссией.Значение') %>" <%= disabled_attrs %> /> 
				рублей
			</div>
		</div>
	</div>

	<% 
		if (obj.options.admin_mode)
		{
			if (v.PriceNumber && null!=v.PriceNumber)
			{
	%>
	<div class="price-info">
		Информация по записи цены<span class="PriceNumber"><%= v.PriceNumber %><% if (0) { %>3455<% } %></span>
	</div>
	<% 
			}
		}
	%>

</div>