<style>
div.cpw-form-ama-dm-push-efrsb a[href="#"]
{
	margin-right:5px;
	margin-left:5px;
}
div.cpw-form-ama-dm-push-efrsb div.row.event a
,div.cpw-form-ama-dm-push-efrsb div.row.msg a
{
	display:inline-block;
	width:170px;
	text-align:right;
}
div.cpw-form-ama-dm-push-efrsb div.row.event span
,div.cpw-form-ama-dm-push-efrsb div.row.msg span
{
	display:inline-block;
	width: 400px;
	text-align: left;
	vertical-align: text-top;
}
</style>
<div class="cpw-form-ama-dm-push-efrsb">
	<div class="row msg"><a href="#" <%= obj.a_checkbox_attrs('Уведомлять_об_объявлениях_на_ефрсб') %> >Уведомлять</a><span>о публикации объявления на ЕФРСБ</span></div>
	<div class="row event"><a href="#" <%= obj.a_modal_attrs('О_судебном_заседании') %> >Уведомлять за 1 день</a><span>о судебном заседании </span></div>
	<div class="row event"><a href="#" <%= obj.a_modal_attrs('О_собраниях') %> >Уведомлять за 1 день</a><span>о собраниях (кредиторов, комитета, работников, дольщиков)</span></div>
	<div class="row event"><a href="#" <%= obj.a_modal_attrs('О_проведении_торгов') %> >Уведомлять за 1 день</a><span>о проведении торгов </span></div>
</div>