<style>
div.cpw-ama-committee-cabinet-document
{
	background-color:white;
	padding:5px;
}
div.cpw-ama-committee-cabinet-document pre
{
	white-space: pre-wrap;
	margin-top: 0;
	margin-bottom: 0;
}
div.cpw-ama-committee-cabinet-document span.title
{
	color: gray;
}
div.cpw-ama-committee-cabinet-document div.header
{
	border: 1px solid silver;
	background-color: #eeeeee;
	padding: 3px;
	border-radius: 3px;
	margin-bottom: 5px;
}
</style>
<%
var o= obj.value();
var isText= true;
if ('string'!=typeof o)
{
	isText= false;
}
else if ('{'==o.charAt(0))
{
	isText= false;
	o= JSON.parse(o);
}
%>
<div class="cpw-ama-committee-cabinet-document">
	<% if (!isText) { %>
	<div class="header">
		<span class="title">тема:</span> <span class="subject"><%= o.Subject %></span><br/>
	</div>
	<% } %>
	<pre><%= isText ? o : o.Body %><% if (0) { %>текст документа<% } %></pre>
</div>