<style>
div.cpw-ama-datamart-customer-main .ui-state-default,
div.cpw-ama-datamart-customer-main .ui-widget-content .ui-state-default
{
	background: none;
}
div.cpw-ama-datamart-customer-main .ui-state-active,
div.cpw-ama-datamart-customer-main .ui-widget-content .ui-state-active,
div.cpw-ama-datamart-customer-main .ui-widget-header .ui-state-active
{
	border: 1px solid #c5c5c5;
	font-weight: normal;
	color: #444;
}
div.cpw-ama-datamart-customer-main .ui-state-default a,
div.cpw-ama-datamart-customer-main .ui-state-default a:link,
div.cpw-ama-datamart-customer-main .ui-state-default a:visited
{
	color: #444;
}
div.cpw-ama-datamart-customer-main .ui-state-active a,
div.cpw-ama-datamart-customer-main .ui-state-active a:link, .ui-state-active a:visited
{
	color: #D3242C;
	font-weight: 600;
}
div.cpw-ama-datamart-customer-main ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
}
div.cpw-ama-datamart-customer-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	border: none;
	background: #fff;
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
}
div.cpw-ama-datamart-customer-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 10px 10px 0;
	border: none;
	background: #fff;
	text-align: left;
}
div.cpw-ama-datamart-customer-main div#cpw-ama-datamart-customer-main-dmrt
{
	padding: 15px 0 0;
}
div.cpw-ama-datamart-customer-main div#cpw-ama-datamart-customer-main-tabs > ul.ui-tabs-nav:before
{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 1000px 1px 0px 0px #DFDFDF, -1000px 1px 0px 0px #DFDFDF;
}
div.cpw-ama-datamart-customer-main div#cpw-ama-datamart-customer-main-tabs > div.page
{
	min-width: 500px;
}
div.cpw-ama-datamart-customer-main span.profile-number
{
	font-weight: 600;
	color: #D3242C;
}
div.cpw-ama-datamart-customer-main div.profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
div.cpw-ama-datamart-customer-main .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-ama-datamart-customer-main .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
div.cpw-ama-datamart-customer-main div.triange-red-icon
{
	margin-left: 5px;
}

div.cpw-ama-datamart-customer-main .profile-dropdown .jquery-menu .notifications a
{
	text-decoration: none;
	color: #D3242C;
}
div.cpw-ama-datamart-customer-main .profile-dropdown .jquery-menu .notifications a:hover {
	color:#D3242C;
}
</style>
<%
var model= obj.value();
var Number= (!model || null==model || !model.ContractNumber) ? 'Неизвестен' : model.ContractNumber;
%>
<div class="cpw-ama-datamart-customer-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Кабинет абонента информационной системы ПАУ
				</span>
			</div>

			<div class="buttons">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;">
							<span>Договор: </span> 
							<span class="profile-number"><%= Number %><% if (0) { %>331<% } %></span>
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="notifications">Уведомления</li>
<% if (!app.disable_viewers3) { %>
							<li class="filter-settings">Настройки мониторинга процедур</li>
<% } %>
							<li class="logout">Выйти</li>
						</ul>
					</div>
				</span>
			</div>
		</div>
	</header>

	<div id="cpw-ama-datamart-customer-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-customer-main-schd" >Календарь</a></li>
			<li><a href="#cpw-ama-datamart-customer-main-news" >Новости</a></li>
			<li><a href="#cpw-ama-datamart-customer-main-proc" >Процедуры</a></li>
			<li><a href="#cpw-ama-datamart-customer-main-mans" >АУ</a></li>
			<li><a href="#cpw-ama-datamart-customer-main-assgnmnts" >Назначения</a></li>
			<li><a href="#cpw-ama-datamart-customer-main-dmrt" >Витрина</a></li>
			<li><a href="#cpw-ama-datamart-customer-main-hndb" >Справочники</a></li>
		</ul>
		<div id="cpw-ama-datamart-customer-main-schd" class="page">
			<% if (0) { %>Календарь событий<% } %>
			<%= obj.fields_control('Календарь') %>
		</div>
		<div id="cpw-ama-datamart-customer-main-news" class="page">
			<% if (0) { %>Новости<% } %>
			<%= obj.fields_control('Новости') %>
		</div>
		<div id="cpw-ama-datamart-customer-main-proc" class="page" >
			<% if (0) { %>Список процедур<% } %>
			<%= obj.fields_control('Процедуры') %>
		</div>
		<div id="cpw-ama-datamart-customer-main-mans" class="page" >
			<% if (0) { %>Список АУ и настройка прав для них<% } %>
			<%= obj.fields_control('АУ') %>
		</div>
		<div id="cpw-ama-datamart-customer-main-assgnmnts" class="page">
			<% if (0) { %>Назначения<% } %>
			<%= obj.fields_control('Назначения') %>
		</div>
		<div id="cpw-ama-datamart-customer-main-dmrt" class="page">
			<% if (0) { %>Данные о процедурах, видные в витрине<% } %>
			<%= obj.fields_control('Витрина') %>
		</div>
		<div id="cpw-ama-datamart-customer-main-hndb" class="page">
			<% if (0) { %>Справочники<% } %>
			<%= obj.fields_control('Справочники') %>
		</div>
	</div>

</div>