<style>
div.cpw-ama-datamart-voting-form table
{
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
}
div.cpw-ama-datamart-voting-form table td
{
	line-height: 24px;
	padding: 10px 5px 10px 10px;
}
div.cpw-ama-datamart-voting-form table tr.head
{
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
}
div.cpw-ama-datamart-voting-form table tr.head td
{
	font-size: 12px;
}
div.cpw-ama-datamart-voting-form table tr:nth-child(2n)
{
	background: #F5F5F5;
}
div.cpw-ama-datamart-voting-form table tr[data-fc-type="array-item"]:hover
{
	background: #dfdfdf;
	cursor: pointer;
}
div.cpw-ama-datamart-voting-form table tr.excluded
{
	text-decoration:line-through;
}
</style>
<div class="cpw-ama-datamart-voting-form">
	<table <%= obj.not_empty_attrs() %> >
		<tr class="head">
			<td>Участник</td>
			<td>E-mail</td>
			<td>Уведомлен</td>
			<td>Проголосовал</td>
			<td>Ответов</td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> >
			<td><%= obj.txt_field('ФИО') %><% if (0) { %>Иванов И.И<% } %></td>
			<td><%= obj.txt_field('email') %><% if (0) { %>eee@d.d<% } %></td>
			<td class="notify-time"><%= obj.txt_field('Уведомлен') %><% if (0) { %>10.10.2010<% } %></td>
			<td><%= obj.txt_field('Проголосовал') %><% if (0) { %>11.10.2010<% } %></td>
			<td><%= obj.txt_field('Ответов') %><% if (0) { %>2<% } %></td>
		</tr>
		<% } %>
	</table>
	<div <%= obj.empty_attrs() %> >
		Для проведения голосования необходимо отправить уведомление участникам.
	</div>
</div>