<style>
div.cpw-ama-aplication-debtor 
{
	width: 890px;
	margin:0 auto;
	margin-top:10px;
}
div.cpw-ama-aplication-debtor div.row 
{
	margin-bottom: 4px;
}
div.cpw-ama-aplication-debtor div.label
{
	display: inline-block;
	text-align: right;
	padding-right:5px;
	padding-left:10px;
	vertical-align:top;
	padding-top:3px;
}
div.cpw-ama-aplication-debtor div.label.l1 { width: 110px; }
div.cpw-ama-aplication-debtor div.label.l2 { width: 45px; }
div.cpw-ama-aplication-debtor div.label.l3 { width: 63px; }
div.cpw-ama-aplication-debtor div.label:after
{
	content:":";
}
div.cpw-ama-aplication-debtor input
{
	width:201px;
}
div.cpw-ama-aplication-debtor textarea
,div.cpw-ama-aplication-debtor input.full
{
	width:750px;
}
div.cpw-ama-aplication-debtor textarea
{
	height:40px;
}
div.cpw-ama-aplication-debtor div.highlight
{
	padding:2px;
}
div.cpw-ama-aplication-debtor div.highlight:hover
{
	background-color:#eeeeee;
}
div.cpw-ama-aplication-debtor[data-debtor-type="гражданин"] [data-debtor-type="организация"]
,div.cpw-ama-aplication-debtor[data-debtor-type="организация"] [data-debtor-type="гражданин"]
{
	display:none;
}
div.cpw-ama-aplication-debtor button
{
	padding-top:5px;
	padding-bottom:5px;
	color: gray !important;
	border-color:silver !important;
}
div.cpw-ama-aplication-debtor button:hover
{
	color: red !important;
	border-color:red !important;
}
</style>
<%
	var v= obj.value();
	if (!v || null==v)
		v= {};
	var d= (!v.Должник || null==v.Должник) ? {} : v.Должник;
	var debtor_type= (!d.Тип || null==d.Тип) ? 'организация' : d.Тип;
%>
<div class="cpw-ama-aplication-debtor" data-debtor-type="<%= debtor_type %>">

	<div class="highlight">

	<div class="row header">
		<b>Должник</b>, в отношении которого введена процедура 
		по 
		<a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_39331/">Закону о несостоятельности (банкротстве)</a> 
		<span style="padding-left:17px">(</span> 
		<select <%= obj.select_attrs('Должник.Тип') %> >
			<option <%= obj.option_attrs('организация') %> >организация</option>
			<option <%= obj.option_attrs('гражданин') %> >гражданин</option>
		</select> 
		): 
	</div>

	<div class="row" data-debtor-type="организация">
		<div class="label l1">Наименование</div> 
		<input type="text" class="full" value="<%= obj.txt('Должник.Наименование') %>" />
	</div>

	<div class="row" data-debtor-type="гражданин">
		<div class="label l1">Фамилия</div> <input type="text" value="<%= obj.txt('Должник.Фамилия') %>" />
		<div class="label l2">Имя</div> <input type="text" value="<%= obj.txt('Должник.Имя') %>" />
		<div class="label l3">Отчество</div> <input type="text" value="<%= obj.txt('Должник.Отчество') %>" />
	</div>

	<div class="row">
		<div class="label l1">ИНН</div> <input type="text" value="<%= obj.txt('Должник.ИНН') %>" />
		<div class="label l2">ОГРН</div> <input type="text" value="<%= obj.txt('Должник.ОГРН') %>" />
		<div class="label l3" data-debtor-type="гражданин">СНИЛС</div> <input type="text" data-debtor-type="гражданин" value="<%= obj.txt('Должник.СНИЛС') %>" />
	</div>

	<div class="row">
		<div class="label l1">Адрес</div> 
		<textarea style="width:466px" <%= obj.textarea_attrs('Должник.Адрес') %> ><%= obj.value() %></textarea>
		<button style="margin-left: 81px; vertical-align: top" data-debtor-type="организация" class="egrul">открыть выписку ЕГРЮЛ</button>
	</div>

	</div>

	<div class="highlight">

	<div class="row header">
		<b>Арбитражный суд</b>, 
		<span style="padding-left:14px">рассматривающий дело должника № </span>
		<input type="text" value="<%= obj.txt('Судебный_акт_о_введении_процедуры.Номер_дела') %>" /> 
		:
		<button style="margin-left:75px;vertical-align:top" class="kad-arbitr">открыть карточку дела</button>
	</div>
	<div class="row">
		<div class="label l1">Наименование</div> 
		<input type="text" class="full" value="<%= obj.txt('Суд.Наименование') %>" />
	</div>
	<div class="row">
		<div class="label l1">Адрес</div> 
		<textarea <%= obj.textarea_attrs('Суд.Адрес') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row header">
		<b>Судебный акт</b> 
		о введении процедуры:
	</div>
	<div class="row">
		<div class="label l1">Наименование</div> 
		<input type="text" style="width:466px" value="<%= obj.txt('Судебный_акт_о_введении_процедуры.Наименование') %>" />
		<div class="label l3">от</div> 
		<input type="text" value="<%= obj.txt('Судебный_акт_о_введении_процедуры.Дата') %>" <%= obj.date_attrs() %> /> 
	</div>

	</div>

	<div class="row header"><b>Арбитражный управляющий</b> должника:</div>
	<div class="row">
		<div class="label l1">Фамилия</div> 
		<input type="text" value="<%= obj.txt('АУ.Фамилия') %>" />
		<div class="label l2">Имя</div> 
		<input type="text" value="<%= obj.txt('АУ.Имя') %>" />
		<div class="label l3">Отчество</div> 
		<input type="text" value="<%= obj.txt('АУ.Отчество') %>" />
	</div>
	<div class="row">
		<div class="label l1">ИНН</div> 
		<input type="text" value="<%= obj.txt('АУ.ИНН') %>" />
		<div class="label" style="padding-left:213px">Рег. номер в ЕФРСБ</div>
		<input type="text" value="<%= obj.txt('АУ.Номер_в_ЕФРСБ') %>" />
	</div>
	<div class="row">
		<div class="label l1">Адрес</div> 
		<textarea <%= obj.textarea_attrs('АУ.Адрес') %> ><%= obj.value() %></textarea>
	</div>
	<div class="row">
		<div class="label l1">СРО</div> 
		<input type="text" class="full" value="<%= obj.txt('АУ.СРО') %>" />
	</div>

	<div class="highlight">

	<div class="row header"><b>Сообщение в ЕФРСБ</b> на основании которого пишется заявление:</div>
	<div class="row">
		<div class="label l1">Номер</div> 
		<input type="text" style="width:66px;font-size:xx-small" value="<%= obj.txt('Сообщение_на_ефрсб_о_введении_процедуры.Number') %>" />
		<div class="label">от</div> 
		<input type="text" style="width:100px" value="<%= obj.txt('Сообщение_на_ефрсб_о_введении_процедуры.PublishDate') %>" <%= obj.date_attrs() %> />
		<div class="label l2">ID</div> 
		<input type="text" style="width:200px;font-size:xx-small;margin-right:78px;" value="<%= obj.txt('Сообщение_на_ефрсб_о_введении_процедуры.MessageGUID') %>" /> 
		<button class="efrsb" style="vertical-align:top">открыть сообщение</button>
	</div>

	</div>

</div>