<style>
div.cpw-form-marketplace-asset-proc div.title
{
	display:inline-block;
	width:210px;
	color:gray;
	text-align:right;
	padding-right:5px;
}
div.cpw-form-marketplace-asset-proc div.row
{
	margin-top:10px;
	margin-bottom:10px;
}
div.cpw-form-marketplace-asset-proc div.short-value
{
	display:inline-block;
}
div.cpw-form-marketplace-asset-proc div.value
{
	padding-left:30px;
	font-weight:bold;
}
</style>
<%
var o= obj.value();
if (!o)
	o= {};
var d= !o.Должник ? {} : o.Должник;
%>
<div class="cpw-form-marketplace-asset-proc">

	<div class="row">
		<div class="title">Имущество должника:</div>
		<div class="short-value">
			<b><%= d.Наименование %><% if (0) { %>ООО Рога и копыты<% } %></b>
			<% if (d.ИНН) { %>; ИНН:<%= d.ИНН %><% if (0) { %>239487298347<% } %><% } %>
			<% if (d.ОГРН) { %>; ОГРН:<%= d.ОГРН %><% if (0) { %>293847234<% } %><% } %>
			<% if (d.СНИЛС) { %>; СНИЛС:<%= d.СНИЛС %><% if (0) { %>213489284<% } %><% } %>
		</div>
	</div>

	<div class="row">
		<div class="title">Дело №</div>
		<div class="short-value">
			<a href="#null" onclick="window.open('https://kad.arbitr.ru/Card?number=<%= o.НомерДела %>');">
				<%= o.НомерДела %><% if (0) { %>Ё45-238476/2022<% } %>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="title">АУ:</div>
		<div class="short-value">
			<a href="#null" onclick="window.open('https://probili.ru/efrsb/ama-api.php/manager-info?ArbitrManagerID=<%= o.ArbitrManagerID %>');">
				<%= o.АУ %><% if (0) { %>Иванов Ирод Дормидонтович<% } %>
			</a>
		</div>
	</div>

</div>