<style>
div.ama-creditor
{
	font-size: 14px;
}
div.ama-creditor div.person-data,
div.ama-creditor div.bank-data
{
	display: inline-block;
	width: 50%;
	padding: 10px 6px 0 22px;
	box-sizing: border-box;
	vertical-align: top;
}
div.ama-creditor .row
{
	margin: 8px 0 16px;
}
div.ama-creditor div.person-data .row:first-child,
div.ama-creditor div.bank-data .row:first-child
{
	margin-top: 0;
}
div.ama-creditor div.person-data .row:last-child,
div.ama-creditor div.bank-data .row:last-child
{
	margin-bottom: 0;
}
div.ama-creditor .label
{
	font-size: 12px;
	color: #808080;
}
div.ama-creditor .strong
{
	font-weight: 600;
}
div.ama-creditor input.structured-bank-data
{
	margin-right: 5px;
	margin-bottom: 2px;
	vertical-align: middle;
}
</style>
<%
var tk= obj.value();
if (!tk)
	tk= {};
var Кредитор= tk.Кредитор;
if (!Кредитор)
	Кредитор= {};
var Фамилия, Имя, Отчество, Руководитель, Наименование, Cерия, Номер, Паспорт;
Фамилия = Имя = Отчество = Руководитель = Наименование = Cерия = Номер = Паспорт = '';

if (Кредитор.Организация)
{
	var Наименование= Кредитор.Организация.Наименование ? Кредитор.Организация.Наименование : '';
	if (Кредитор.Организация.Руководитель)
	{
		Фамилия = Кредитор.Организация.Руководитель.Фамилия ? Кредитор.Организация.Руководитель.Фамилия : '';
		Имя = Кредитор.Организация.Руководитель.Имя ? Кредитор.Организация.Руководитель.Имя : '';
		Отчество = Кредитор.Организация.Руководитель.Отчество ? Кредитор.Организация.Руководитель.Отчество : '';
		Руководитель = Фамилия + ' ' + Имя + ' ' + Отчество;
	}
	var Местонахождение = Кредитор.Организация.Адрес ? Кредитор.Организация.Адрес: '';
}
else
{
	if (Кредитор.Физическое_лицо)
	{
		Фамилия = Кредитор.Физическое_лицо.Фамилия ? Кредитор.Физическое_лицо.Фамилия : '';
		Имя = Кредитор.Физическое_лицо.Имя ? Кредитор.Физическое_лицо.Имя : '';
		Отчество = Кредитор.Физическое_лицо.Отчество ? Кредитор.Физическое_лицо.Отчество : '';
		Наименование = Фамилия + ' ' + Имя + ' ' + Отчество;
		if (Кредитор.Физическое_лицо.Паспортные_данные)
		{
			Cерия = Кредитор.Физическое_лицо.Паспортные_данные.Cерия ? Кредитор.Физическое_лицо.Паспортные_данные.Cерия : '';
			Номер = Кредитор.Физическое_лицо.Паспортные_данные.Номер ? Кредитор.Физическое_лицо.Паспортные_данные.Номер : '';
			Паспорт = Cерия + ' ' + Номер;
		}
	}
}

var Банк = '';
var Банковские_реквизиты = Кредитор.Банковские_реквизиты ? Кредитор.Банковские_реквизиты: '';
if(Кредитор.Банковские_реквизиты && Кредитор.Банковские_реквизиты.Банк)
	Банк = Кредитор.Банковские_реквизиты.Банк;
%>
<div class="ama-creditor">
	<select id="contact-type-select" class="person-type" style="display: none;" <%= obj.select_attrs('Тип') %> >
		<option <%= obj.option_attrs('legal') %> >Юридическое лицо</option>
		<option <%= obj.option_attrs('natural') %> >Физическое лицо</option>
	</select>

	<div class="person-data legal">
		<div class="row">
			<div class="label">Наименование:</div>
			<div><%= Наименование %></div>
		</div>
		<div class="row">
			<div class="label">Руководитель (уполномоченный предст-ль):</div>
			<div><%= Руководитель %></div>	
		</div>
		<div class="row">
			<div class="label">Местонахождение (адрес):</div>
			<div><%= Местонахождение %></div>	
		</div>
		<div class="row">
			<div class="label">Адрес для почтовых уведомлений:</div>
			<div><%= Кредитор.Адрес_почтовых_уведомлений %></div>
		</div>
		<div class="row">
			<div class="label">Контактные телефоны:</div>
			<div><%= Кредитор.Контактные_телефоны %></div>
		</div>

	</div
	><div class="person-data natural">
		<div class="row">
			<div class="label">ФИО:</div>
			<div>
				<div><%= Наименование %></div>
			</div>
		</div>
		<div class="row">
			<div class="label">Паспортные данные:</div>
			<div><%= Паспорт %></div>
		</div>
		<div class="row">
			<div class="label">Адрес для почтовых уведомлений:</div>
			<div><%= Кредитор.Адрес_почтовых_уведомлений %></div>
		</div>
		<div class="row">
			<div class="label">Контактные телефоны:</div>
			<div><%= Кредитор.Контактные_телефоны %></div>
		</div>

	</div
	><div class="bank-data">
		<div class="strong row">Банковские реквизиты:</div>

		<div class="row">
			<label>
				<input type="checkbox" class="structured-bank-data"<%= obj.checkbox_attrs('Банковские_атрибуты.Структурировано',true) %> />
				Структурированно
			</label>
		</div>

		<div class="row structured">
			<div class="label">Банк:</div>
			<div>
				<% if(Банк.Наименование) {%> <%= Банк.Наименование %><% } %>
				<% if(Банк.Отделение) {%> (<%= Банк.Отделение %>)<% } %></div>
		</div>

		<div class="row structured">
			<div class="label">БИК</div>
			<div><% if(Банк.БИК) {%> <%= Банк.БИК %><% } %></div>
		</div>

		<div class="row structured">
			<div class="label">Корр. счет:</div>
			<div><% if(Банк.Корреспондентский_счёт) {%> <%= Банк.Корреспондентский_счёт %><% } %></div>
		</div>

		<div class="row structured">
			<div class="label">Расчетный счет:</div>
			<div><% if(Банковские_реквизиты && Банковские_реквизиты.Номер_счёта) {%> <%= Банковские_реквизиты.Номер_счёта %><% } %></div>
		</div>

		<div class="row unstructured">
			<div><% if(Банковские_реквизиты && Банковские_реквизиты.Текстом) {%> <%= Банковские_реквизиты && Банковские_реквизиты.Текстом %><% } %></div>
		</div>
	</div>
</div>
