<style>
div.cpw-application-step3-circumstances
{
	width:1000px;
	padding-top:15px;
}
div.cpw-application-step3-circumstances textarea
{
	width: 950px;
	height: 300px;
}
div.cpw-application-step3-circumstances div.tinymce-wrapper
{
	margin-left:15px;
	margin-top:15px;
	margin-bottom:15px;
	max-width: 950px;
}
</style>
<div class="cpw-application-step3-circumstances">
	<b>Обстоятельства возникновения задолженности:</b><br/>
	<div class="tinymce-wrapper">
		<textarea id="circumstances-text" <%= obj.textarea_attrs('Описание') %> >
			<%= obj.value() %>
		</textarea>
	</div>
</div>
