<style>
div.cpw-form-sl-record
{
	width:500px;
	margin:0 auto;
}
div.cpw-form-sl-record input[data-fc-selector="Дата"]
{
	width:95px;
}
div.cpw-form-sl-record div.sl label
{
	width:220px;
	display:inline-block;
}
div.cpw-form-sl-record div.sl
{
	margin-top:10px;
}
div.cpw-form-sl-record .select2-container
{
	margin-top:5px;
	margin-left:36px;
}
div.cpw-form-sl-record div.sl > div
{
	margin-left:20px;
}
div.cpw-form-sl-record div.sl > div > div
{
	margin-top:3px;
}
div.cpw-form-sl-record div.doc > div
{
	margin-left:20px;
}
div.cpw-form-sl-record div.doc > div > div
{
	margin-top:3px;
}
div.cpw-form-sl-record div.doc label
{
	width:80px;
	display:inline-block;
}
div.cpw-form-sl-record div.doc
{
	margin-top:10px;
	margin-bottom:20px;
}
div.cpw-form-sl-record input[data-fc-selector="Регламентирующий_акт.Название"]
{
	width:370px;
}
div.cpw-form-sl-record input[data-fc-selector="Регламентирующий_акт.Ссылка"]
{
	width:290px;
}
div.cpw-form-sl-record select.kvartal
{
	border:0;
}
div.cpw-form-sl-record input[readonly="readonly"]
{
	background-color:#eeeeee;
}
div.cpw-form-sl-record div.contract-info
{
	text-align:center;
}
div.cpw-form-sl-record div.contract-info span.ContractNumber
{
	font-weight:bold;
}
</style>
<%

var v= obj.value();
if (!v || null==v)
	v= {};
var admin_mode= !obj.options ? true : obj.options.admin_mode;
var ro_mode= (!v.id_Sub_level || null==v.id_Sub_level) ? false : 
	((admin_mode && v.ContractNumber && null!=v.ContractNumber) ||
	(!admin_mode && (!v.ContractNumber || null==v.ContractNumber)));
var disabled_attrs= !ro_mode ? '' : 'disabled="disabled"';
%>
<div class="cpw-form-sl-record">

	<div>
		Начиная с даты 
		<input type="text" value="<%= obj.txt('Дата') %>" <%= obj.date_attrs() %> <%= disabled_attrs %> /> 
		(<select class="kvartal" <%= disabled_attrs %> >
			<option value=""></option>
			<% var kprefix= ['01.01','01.04','01.07','01.10'] %>
			<% for (var year= 2017; year<2031; year++) { %>
			<% for (var kv= 1; kv<5; kv++) { %>
			<option value="<%= kprefix[kv-1] %>.<%= year %>"
				><%= kv %> квартал <%= year %> года  </option>
			<% } } %>
		 </select>)
	</div>
	<div>
		в регионе 
		<select <%= obj.select_attrs('Регион') %> <%= disabled_attrs %>  >
			<%
				var regions= obj.options.regions;
				for (var i= 0; i < regions.length; i++)
				{
					var r= regions[i];
			%>
				<option <%= obj.option_attrs(r.Код_ОКАТО) %> ><%= r.Наименование %></option>
			<%	} %>
		</select> 
	</div>

	<div class="sl">
	размер прожиточного минимума составляет:

	<div>
	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Подушевой.Задан') %> <%= disabled_attrs %> /> 
			подушевой:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Подушевой.Значение') %>" <%= disabled_attrs %> /> 
		рублей
	</div>

	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Трудоспособных.Задан') %> <%= disabled_attrs %> /> 
			для трудоспособных:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Трудоспособных.Значение') %>" <%= disabled_attrs %> /> 
		рублей
	</div>

	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Пенсионеров.Задан') %> <%= disabled_attrs %> /> 
			для пенсионеров:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Пенсионеров.Значение') %>" <%= disabled_attrs %> /> 
		рублей
	</div>

	<div>
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('Прожиточный_минимум.Несовершеннолетних.Задан') %> <%= disabled_attrs %> /> 
			для несовершеннолетних:
		</label>
		<input type="text" value="<%= obj.txt('Прожиточный_минимум.Несовершеннолетних.Значение') %>" <%= disabled_attrs %> /> 
		рублей
	</div>

	</div>
	</div>

	<div class="doc">
	в соответствии с нормативно-правовым актом:
	<div>
	<div>
		<label>название:</label>
		<input type="text" value="<%= obj.txt('Регламентирующий_акт.Название') %>" <%= disabled_attrs %> />
	</div>

	<div>
		<label>дата:</label>
		<input type="text" value="<%= obj.txt('Регламентирующий_акт.Дата') %>" <%= obj.date_attrs() %> <%= disabled_attrs %> /> 
	</div>

	<div>
		<label>ссылка:</label>
		<input type="text" value="<%= obj.txt('Регламентирующий_акт.Ссылка') %>" <%= disabled_attrs %> /> 
		<button class="gotourl">Перейти</button>
	</div>

	</div>
	</div>

	<% 
		if (obj.options.admin_mode)
		{
			if (v.ContractNumber && null!=v.ContractNumber)
			{
	%>
	<div class="contract-info">
		Информация клиента по договору №<span class="ContractNumber"><%= v.ContractNumber %><% if (0) { %>3455<% } %></span>
	</div>
	<% 
			}
		}
	%>

</div>