<style>
	div.cpw-form-ama-dm-customer-escort  {
		width: 573px;
		margin:0 auto;
	}
	div.cpw-form-ama-dm-customer-escort #cpw-form-ama-dm-customer-escort-tabs >.ui-tabs-nav li:first-child{
		margin-left: 0 !important;
	}
	div.cpw-form-ama-dm-customer-escort #cpw-form-ama-dm-customer-escort-account,
	div.cpw-form-ama-dm-customer-escort #cpw-form-ama-dm-customer-escort-to_contract {
		padding: 10px 0 0;
	}
	</style>
	<div class="cpw-form-ama-dm-customer-escort" data-current-tab="account">
	
		<div id="cpw-form-ama-dm-customer-escort-tabs" <%= obj.tabs_attrs() %> >
			<ul>
				<li><a href="#cpw-form-ama-dm-customer-escort-account" >Аккаунт</a></li>
				<li><a href="#cpw-form-ama-dm-customer-escort-for_contacts" >Для контактов</a></li>
				<li><a href="#cpw-form-ama-dm-customer-escort-to_contract" >Для договора</a></li>
				<li><a href="#cpw-form-ama-dm-customer-escort-faces" >Лица</a></li>
			</ul>
			<div id="cpw-form-ama-dm-customer-escort-account" class="page" >
				<% if (0) { %>Данные аккаунта<% } %>
				<%= obj.control('Аккаунт') %>
			</div>
			<div id="cpw-form-ama-dm-customer-escort-for_contacts" class="page" >
				<% if (0) { %>Данные для контактов<% } %>
				<%= obj.control('Для_контактов') %>
			</div>
			<div id="cpw-form-ama-dm-customer-escort-to_contract" class="page" >
				<% if (0) { %>Данные для договора<% } %>
				<%= obj.control('Для_договора') %>
			</div>
			<div id="cpw-form-ama-dm-customer-escort-faces" class="page" >
				<% if (0) { %>Прикрепление фото<% } %>
				<%= obj.control('Лица') %>
			</div>
		</div>
	
	</div>