<style>
div.cpw-ama-datamart-request
{
	width:848px;
	height: auto !important;
	margin:0 auto;
}
div.cpw-ama-datamart-request input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input):not(.time), 
div.cpw-ama-datamart-request textarea, 
div.cpw-ama-datamart-request select,
div.cpw-ama-datamart-request .open {
	min-width: 203px;
}
div.cpw-ama-datamart-request div.label-1-3
{
	display:inline-block;
	width:101px;
}
div.cpw-ama-datamart-request div.label-2-3
{
	display:inline-block;
	width:50px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-request div.label-3-3
{
	display:inline-block;
	width:77px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-request div.row
{
	margin-top:5px;
}
div.cpw-ama-datamart-request div.select2
{
	width:356px;
}
div.cpw-ama-datamart-request input.full
{
	width: 746px;
}

div.cpw-ama-datamart-request div.row div.right
{
	display:inline-block;
	float:right;
}
div.cpw-ama-datamart-request .v-center {
	display: flex;
	align-items: center;
}
div.cpw-ama-datamart-request.citizen .organization:not(.citizen),
div.cpw-ama-datamart-request.citizen .marriage_couple,
div.cpw-ama-datamart-request.organization .citizen:not(.organization),
div.cpw-ama-datamart-request.organization .marriage_couple,
div.cpw-ama-datamart-request.marriage_couple .organization,
div.cpw-ama-datamart-request.marriage_couple .citizen
{
	display:none !important;
}	

div.cpw-ama-datamart-request input.time
{
	width: 127px;
}
div.cpw-ama-datamart-request div.row.request div.label-1-3
{
	width: 177px;
}
div.cpw-ama-datamart-request div.row.request div.label-2-3
{
	width: 45px;
}
div.cpw-ama-datamart-request div.row.request div.label-3-3
{
	width: 129px;
}

div.cpw-ama-datamart-request .decision-wrapper
{
	display: flex;
	align-items: center;
}

div.cpw-ama-datamart-request div.cpw-ama-datamart-request-consents .select {
	width: 440px !important;
}
div.cpw-ama-datamart-request .request-contents-and-btn-wrapper
{
	position: relative;
}
div.cpw-ama-datamart-request .request-contents-and-btn-wrapper>.row
{
	position: absolute;
	top: -4px;
	right: 0;
}
div.cpw-ama-datamart-request .request-contents-and-btn-wrapper
{
	margin-top: 20px;
}

div.cpw-ama-datamart-request .prepare-docs-btn
{
	width: 203px;
}
div.cpw-ama-datamart-request .help {
	display: inline-block;
}

div.cpw-ama-datamart-request .date-of-application {
	margin-right: 12px;
}
div.cpw-ama-datamart-request .date-of-application input{
	width:95px;
	min-width:auto !important;
}
div.cpw-ama-datamart-request .date-of-application input{
	width:95px;
	min-width:auto !important;
}
div.cpw-ama-datamart-request .dates-of-request{
	display: flex;
	align-items: center;
}
div.cpw-ama-datamart-request .request .get-date{
	margin-left: 61px;
}
div.cpw-ama-datamart-request .dates-of-request .ask-date{
	margin-right: 4px;
}
div.cpw-ama-datamart-request .dates-of-request .ask-date-end{
	margin-right: 101px;
}
div.cpw-ama-datamart-request .date-of-meeting-input-wrapper input{
	width: 127px;
	min-width: auto !important;
}
div.cpw-ama-datamart-request .date-of-meeting-label{
	width: 198px !important;
}
div.cpw-ama-datamart-request button
{
	padding-bottom:7px;
	padding-bottom:7px;
	vertical-align:top;
}
div.cpw-ama-datamart-request button.court-by-number
{
	display:inline-block;
	width:138px;
	margin-left:10px;
}
div.cpw-ama-datamart-request .open-decision[href="#"]
{
	cursor: auto;
}
div.cpw-ama-datamart-request .open-decision[href="#"]:hover
{
	color: #828282;
	opacity: 1;
}
div.cpw-ama-datamart-request .select-court
{
	width: 379px !important;
	margin-left: 10px;
}
div.cpw-ama-datamart-request .open-decision{
	display: none;
}
</style>
<%
var request= obj.value();
var type_class= 'citizen';
var applicant_text = obj.options.ApplicantText.singular;
if (null==request)
{
	request= {};
}
else if (request.Должник)
{
	switch(request.Должник.Тип){
		case 'Юр_лицо':
			type_class = 'organization';
			break;
		case 'Супруги':
			type_class = 'marriage_couple';
			applicant_text = obj.options.ApplicantText.plural;
			break;
	}
}
%>
<div class="cpw-ama-datamart-request <%= type_class %>">

	<div class="row">
		<div class="label-1-3">Должник:</div>
		<select class="type" <%= obj.select_attrs('Должник.Тип') %> >
			<option <%= obj.option_attrs('Физ_лицо') %> >Физическое лицо</option>
			<option <%= obj.option_attrs('Юр_лицо') %> >Юридическое лицо</option>
			<option <%= obj.option_attrs('Супруги') %> >Супруги</option>
		</select> 
	</div>

	<div class="row organization" style="display: flex; align-items: center;">
		<div class="label-1-3">Название:</div>
		<input type="text" class="full typeahead" value="<%= obj.txt('Должник.Юр_лицо.Наименование') %>" maxlength="250" <%= obj.typeahead_attrs() %> />
	</div>

	<div class="row citizen" style="display: flex; align-items: center;">
		<div class="label-1-3">Фамилия:</div><input class="typeahead" type="text" value="<%= obj.txt('Должник.Физ_лицо.Фамилия') %>" maxlength="90" <%= obj.typeahead_attrs() %>/>
		<div class="label-2-3">Имя:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Имя') %>" maxlength="70" />
		<div class="label-3-3">Отчество:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Отчество') %>" maxlength="90" />
	</div>

	<div class="row marriage_couple">
		<%= obj.control('Должник.Супруги') %>
		<% if (0) { %>Данные супругов<% } %>
	</div>

	<div class="row organization citizen">
		<div class="label-1-3">ИНН:</div><input type="text" value="<%= obj.txt('Должник.ИНН') %>" maxlength="12"/>
		<div class="label-2-3">ОГРН:</div><input type="text" value="<%= obj.txt('Должник.ОГРН') %>" maxlength="13"/>
		<div class="label-3-3 citizen">СНИЛС:</div><input type="text" class="citizen" value="<%= obj.txt('Должник.Физ_лицо.СНИЛС') %>" maxlength="11"/>
	</div>

	<div class="row organization citizen">
		<div class="label-1-3">Адрес:</div><input class="full" type="text" value="<%= obj.txt('Должник.Адрес') %>" />
	</div>

	<div class="row">
			<div class="label-1-3">Заявитель:</div>
			<a href="#" class="applicant" <%= obj.a_modal_attrs('Заявитель') %>>
				<%= applicant_text %> (кликните, чтобы поменять)
			</a>
	</div>

	<div class="row v-center">
		Заявление о банкротстве в 
		<div class="select2 select-court" <%= obj.select2_attrs('Заявление_на_банкротство.В_суд') %> >тут должен быть select2 по судам</div>
		<button class="court-by-number">по номеру дела</button>
	</div>

	<div class="row v-center">
		<div class="label-1-3">Дело №</div>
		<input type="text" value="<%= obj.txt('Номер_судебного_дела') %>" /> 
		&nbsp;&nbsp;&nbsp;
		<button class="open">Открыть на kad.arbitr</button> 
		<div class="label-3-3 date-of-meeting-label">Дата и время заседания: </div>
		<div class="help date-of-meeting-input-wrapper" title="Дата и время заседания АС по делу о банкротстве">
			<input type="text" value="<%= obj.txt('Заявление_на_банкротство.Дата_рассмотрения') %>" />
		</div>
	</div>

	<div class="row v-center" style="justify-content: space-between;">
		<div class="decision-wrapper">
			<label class="label-1-3"> Запрос кандидатур АУ</label>&nbsp;
			<a href="#" class="open-decision">судебным актом</a>
			<span class="no-decision">судом не зарегистирован</span>&nbsp;
			<a href="#" class="decision" <%= obj.a_modal_attrs('Запрос') %> >(кликните, чтобы поменять)</a>
		</div>
		<div class="get-date">
			<div class="label-3-3"><label><input type="checkbox" <%= obj.checkbox_attrs('Запрос.Время.получен') %> /> получен</label></div>
			<div class="help" title="Дата получения запроса от АС на подачу кандидатур АУ для утверждения в процедуру">
				<input type="text" class="time" value="<%= obj.txt('Запрос.Время.получения') %>" <%= obj.date_attrs() %> />
			</div>
		</div>
	</div>

	<div class="row request dates-of-request">
		<div class="ask-date">
			<div class="label-1-3">
				<label><input type="checkbox" <%= obj.checkbox_attrs('Запрос.Время.опрошен_ау') %> /> 
				запросить согласия АУ</label>
			</div>
			<div class="help"  title="Дата запроса согласий АУ от СРО">
				<input type="text" class="time" value="<%= obj.txt('Запрос.Время.опроса') %>" <%= obj.date_attrs() %> />
			</div>
		</div>
		<div class="ask-date-end">
			<div class="label-2-3">
				<label>до</label>
			</div>
			<div class="help"  title="Дата, до которой АУ должны направить согласия в СРО">
				<input type="text" class="time" value="<%= obj.txt('Запрос.Время.конец_опроса') %>" <%= obj.date_attrs() %> />
			</div>
		</div>
		<div>
			<div class="label-3-3">
				<label><input type="checkbox" <%= obj.checkbox_attrs('Запрос.Время.отвечен') %> /> 
				ответ отправлен</label>
			</div>
			<div class="help" title="Дата ответа СРО на запрос кандидатур АУ из суда">
				<input type="text" class="time" value="<%= obj.txt('Запрос.Время.ответа') %>" <%= obj.date_attrs() %> />
			</div>
		</div>
	</div>
	
	<div class="request-contents-and-btn-wrapper">
		<div class="request-consents-wrapper">
			<%= obj.control('Согласия_АУ') %>
			<% if (0) { %>Список АУ, подавших согласие<% } %>
		</div>
		<div class="row">
			<button class="prepare-docs-btn">Подготовить</button>
		</div>
	</div>
</div>