<style>
	.cpw-ama-datamart-request-additional-info .tt-highlight{
		font-weight: 400;
	}
	.cpw-ama-datamart-request-additional-info label{
		color: #999;
	}
	.cpw-ama-datamart-request-additional-info .narrow-info {
		display: flex;
		justify-content: space-between;
	}
	.cpw-ama-datamart-request-additional-info .narrow-info>div{
		width: 24%;
	}
</style>
<span><%= obj.name %></span>
<div class='cpw-ama-datamart-request-additional-info'>
	<div class='narrow-info'>
		<div>
			<label>Номер дела:</label> <%=obj.caseNumber%><% if (!obj.caseNumber) { %>не указан<% } %>
		</div>
		<div>
			<label>ИНН:</label> <%=obj.inn%><% if (!obj.inn) { %>не указан<% } %>
		</div>
		<div>
			<label>ОГРН:</label> <%=obj.ogrn%><% if (!obj.ogrn) { %>не указан<% } %>
		</div>
		<div>
			<label>СНИЛС:</label> <%=obj.snils%><% if (!obj.snils) { %>не указан<% } %>
		</div>
	</div>
	<div class='court'>
		<label>Из арбитражного суда:</label> <span><%=obj.courtName%><% if (!obj.courtName) { %>не указан<% } %></span>
	</div>
</div>
