<style>
	div.cpw-ama-datamart-request-prepare-docs {
		min-width: 230px;
		box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
	}
	div.cpw-ama-datamart-request-prepare-docs:before {
		position: absolute;
		top: -9px;
		left: 0;
		content: "";
		width: 100%;
		height: 10px;
		background-color: transparent;
	}
	div.cpw-ama-datamart-request-prepare-docs .prepare-doc{
		display: block;
		padding: 10px 15px;
		background-color: #ffffff;
	}
	div.cpw-ama-datamart-request-prepare-docs .prepare-doc:hover {
		background-color: #f5f5f5;
		opacity: 1;
	}
</style>
<div class="cpw-ama-datamart-request-prepare-docs">
	<a href="#" class="prepare-doc prepare-responce-doc" title="Будет сформирован ответ СРО в АС о назначении АУ">Ответ</a>
	<a href="#" class="prepare-doc prepare-protocol-doc">Протокол</a>
	<a href="#" class="prepare-doc prepare-consent-doc">Согласие АУ</a>
	<a href="#" class="prepare-doc prepare-discharge-doc">Выписка</a>
</div>