<style>
div.cpw-ama-committee-cabinet-log
{
	overflow: auto;
}
div.cpw-ama-committee-cabinet-log table
{
	border: 1px solid #DFDFDF;
	width: 100%;
}
div.cpw-ama-committee-cabinet-log table tr.head
{
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
}
div.cpw-ama-committee-cabinet-log table tr.head td
{
	text-align: center;
	font-size: 14px;
}
div.cpw-ama-committee-cabinet-log table tr:nth-child(2n)
{
	background: #F5F5F5;
}
div.cpw-ama-committee-cabinet-log table td
{
	vertical-align: top;
	padding: 10px 5px;
}
div.cpw-ama-committee-cabinet-log table td.time
{
	text-align:center;
}
</style>
<div class="cpw-ama-committee-cabinet-log">

	<div <%= obj.empty_attrs() %> >
		Журнал пуст
	</div>

	<table <%= obj.not_empty_attrs() %> >
		<tr class="head">
			<td>Время</td>
			<td>Событие</td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> >
			<td class="time"><%= obj.txt_field('Время') %><% if (0) { %>01.02.2003 10:31<% } %></td>
			<td><%= obj.txt_field('Событие') %><% if (0) { %>АУ отдал команду на уведомление о заседании<% } %></td>
		</tr>
		<% } %>
	</table>

</div>