<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_choose_efrsb_classes.css" /></head><body><% } %>
<% if (0) { %>
<style>
div.ama-choose-efrsb-property-clases
{
	width:900px;
	height:400px;
}
div.ama-choose-efrsb-property-clases div.to-switch > div.content { display:inline-block; }
</style>
<% } %>
<div class="ama-choose-efrsb-property-clases">

	<div class="col c1">
		<div class="header">
			<span>Выбранные классы объектов:</span> 
			<div class="classes" id="efrsb-classes-select2" <%= obj.select2_attrs('Выбранный_класс') %> >Тут должен быть select2 для выбора классов</div>
		</div>
		<div class="list" <%= obj.with_attrs('Классы') %> >
			<%= obj.start_with() %>
			<div class="no-classes" <%= obj.empty_attrs() %> >
				<span>Не указано ни одного класса!</span><br/>
				<br />
				<span>Для классификации имущества, пожалуйста:</span>
				<ul>
					<li>выберите классы из выпадающего списка вверху</li>
					<li>или выделите их галочками в классификаторе справа.</li>
				</ul>
			</div>
			<table <%= obj.not_empty_attrs() %> >
			<% while (obj.iterate()) { %>
				<tr <%= obj.item_attrs() %> >
					<td class="bullet">•</td>
					<td class="cls" onclick="cpw.fc_array_item_trigger(this,'class-click')"> 
						<span class="name" ><%= obj.txt_field('name') %><% if (0) { %>Автомобили<% } %></span>
						<div class="details">
							(
							код: 
							<%= obj.txt_field('code') %><% if (0) { %>0106008<% } %>
							<%= obj.txt_field('code',function(txt){var r= !txt ? '' : obj.options.h_efrsb_classes.get_path_by_id(txt); return !r ? '' : (', раздел: ' + r);}) %>
							<% if (0) { %>Материальные активы / Средства транспортные<% } %>
							)
						</div>
					</td>
					<td class="delete">
						<a href="#null" onclick="cpw.fc_array_item_trigger(this,'delete')">
							<img src="img/trash-gray-icon.png" title="удалить" />
						</a>
					</td>
				</tr>
			<% } %>
			</table>
			<%= obj.end_with() %>
		</div>
	</div>

	<div class="col c2">
		<div class="header"><span>Полный классификатор (выбранные классы выделены галочкой):</span></div>
		<input type="text" class="search-tree" /> 
		<button class="highlight">подсветить</button>
		<div class="tree">
<%
	var arr= obj.options.h_efrsb_classes.classes_arr_arr;
	for (var i= 0; i < arr.length; i++)
	{
		if (2==arr[i][0].length)
		{
			var cl1= {code:arr[i][0],name:arr[i][1]};
			var terminal= (i+1==arr.length) || cl1.code.length>=arr[i+1][0].length;
			var cl1_choosed= obj.options.class_choosed(cl1.code,obj.value());
			var cl1_choosed_value= false==cl1_choosed ? '' : true==cl1_choosed ? 'true' : 'sub-item';
%>
			<div class="l1 to-switch">
				<div class="header" data-code="<%= cl1.code %>" data-choosed="<%= cl1_choosed_value %>" >
					<div class="switcher" <% if (!terminal) { %> onclick="$(this).parents('.l1.to-switch').toggleClass('open');" <% } %> >
						<% if (terminal) { %>
						<div class="dot"><% if (0) { %>•<% } %></div>
						<% } else { %>
						<div class="open"><% if (0) { %>+<% } %></div>
						<div class="close"><% if (0) { %>-<% } %></div>
						<% } %>
					</div> 
					<input type="checkbox" name="class<%= cl1.code %>" id="efrsb-class-<%= cl1.code %>"  <% if (true==cl1_choosed) {%>checked="checked"<% } %> /> 
					<div class="name" <% if (!terminal) { %> onclick="$(this).parents('.l1.to-switch').toggleClass('open');" <% } %> >
						<% if (!terminal) { %>
							<%= cl1.name %><% if (0) { %>Материальные активы<% } %>
						<% } else { %>
							<label for="efrsb-class-<%= cl1.code %>">
								<%= cl1.name %><% if (0) { %>Материальные активы<% } %>
							</label>
						<% }  %>
					</div>
				</div>
				<% if (!terminal) { %>
				<div class="content">
					<%	for (var j= i+1; j < arr.length && 2!=arr[j][0].length; j++)
						{
							if (4==arr[j][0].length)
							{
								var cl2= {code:arr[j][0],name:arr[j][1]};
								var terminal= (j+1==arr.length) || cl2.code.length>=arr[j+1][0].length;
								var cl2_choosed= obj.options.class_choosed(cl2.code,obj.value());
								var cl2_choosed_value= false==cl2_choosed ? '' : true==cl2_choosed ? 'true' : 'sub-item';
					%>
					<div class="l2 to-switch">
						<div class="header" data-code="<%= cl2.code %>" data-choosed="<%= cl2_choosed_value %>">
							<div class="switcher" <% if (!terminal) { %> onclick="$(this).parents('.l2.to-switch').toggleClass('open');" <% } %> >
								<% if (terminal) { %>
								<div class="dot"><% if (0) { %>•<% } %></div>
								<% } else { %>
								<div class="open"><% if (0) { %>+<% } %></div>
								<div class="close"><% if (0) { %>-<% } %></div>
								<% } %>
							</div> 
							<input type="checkbox" name="class<%= cl2.code %>" id="efrsb-class-<%= cl2.code %>"  <% if (true==cl2_choosed) {%>checked="checked"<% } %> /> 
							<div class="name" <% if (!terminal) { %> onclick="$(this).parents('.l2.to-switch').toggleClass('open');" <% } %> >
								<% if (!terminal) { %>
									<%= cl2.name %><% if (0) { %>Средства транспортные<% } %>
								<% } else { %>
									<label for="efrsb-class-<%= cl2.code %>">
										<%= cl2.name %><% if (0) { %>Средства транспортные<% } %>
									</label>
								<% }  %>
							</div>
						</div>
						<% if (!terminal) { %>
						<div class="content">
							<%	for (var k= j+1; k < arr.length && 4!=arr[k][0].length; k++)
							{
								if (7==arr[k][0].length)
								{
									var cl3= {code:arr[k][0],name:arr[k][1]};
									var cl3_choosed= obj.options.class_choosed(cl3.code,obj.value());
									var cl3_choosed_value= false==cl3_choosed ? '' : true==cl3_choosed ? 'true' : 'sub-item';
							%>
							<div class="l3">
								<div class="header" data-code="<%= cl3.code %>" data-choosed="<%= cl3_choosed_value %>">
									<div class="switcher"><div class="dot"><% if (0) { %>•<% } %></div></div>
									<input type="checkbox" name="class<%= cl3.code %>" id="efrsb-class-<%= cl3.code %>" <% if (true==cl3_choosed) {%>checked="checked"<% } %> /> 
									<div class="name">
										<label for="efrsb-class-<%= cl3.code %>">
											<%= cl3.name %><% if (0) { %>Автомобили<% } %>
										</label>
									</div>
								</div>
							</div>
							<%
								}
							} %>
						</div>
						<% } %>
					</div>
					<%
							}
						} %>
				</div>
				<% } %>
			</div>
<%	
		}
	} %>
		</div>
	</div>
	<div style="clear:both"></div>
</div>
<% if (0) { %></body></html><% } %>