div.ama-choose-efrsb-property-clases
{
	width:100%;
	height:400px;
}
div.ama-choose-efrsb-property-clases div.no-classes
{
	font-size:large;
	margin:5px;
	color:firebrick;
}
div.ama-choose-efrsb-property-clases div.no-classes ul
{
	margin-left:-20px;
}
div.ama-choose-efrsb-property-clases > div.col
{
	height:100%;
	width:50%;
	vertical-align:top;
	overflow-y:auto;
}
div.ama-choose-efrsb-property-clases > div.col.c1
{
	float:left;
}
div.ama-choose-efrsb-property-clases > div.col.c2
{
	width:50%;
}
div.ama-choose-efrsb-property-clases div.classes
{
	width:calc(100% - 210px) !important;
	display:inline-block;
}
div.ama-choose-efrsb-property-clases input.search-tree
{
	width:calc(100% - 130px);
}
div.ama-choose-efrsb-property-clases button.highlight
{
	padding-top:4px;
	padding-bottom:4px;
}
div.ama-choose-efrsb-property-clases div.col > div.header
{
	height:40px;
}

/* tree.. */
div.ama-choose-efrsb-property-clases div.col.c2 > div.header
{
	text-align:center;
}
div.ama-choose-efrsb-property-clases div.col.c2 > div.header span
{
	display:inline-block;
	margin-top:20px;
}
div.ama-choose-efrsb-property-clases div.col.c2 input.search-tree
{
	margin-top:5px;
	margin-left:5px;
}
div.ama-choose-efrsb-property-clases div.tree
{
	height:calc(100% - 97px);
	overflow-y:auto;
	border:1px solid silver;
	margin:0 auto;
	margin-top:5px;
	padding:5px;
	width:calc(100% - 20px);
	background-color:#fdfdfd;
}
div.ama-choose-efrsb-property-clases div.header > div.name { color:gray; }
div.ama-choose-efrsb-property-clases div.header[data-choosed='sub-item'] > div.name { color:black; }
div.ama-choose-efrsb-property-clases div.header[data-choosed='true'] > div.name { color:black; font-weight:bold; }

div.ama-choose-efrsb-property-clases div.l1 > div.header > div.name { font-size: 1.2em; }
div.ama-choose-efrsb-property-clases div.l3 > div.header > div.name { font-size: 0.8em; }
div.ama-choose-efrsb-property-clases div.l1 > div.header input { vertical-align:middle; }
div.ama-choose-efrsb-property-clases div.switcher
,div.ama-choose-efrsb-property-clases div.switcher div
{
	display:inline-block;
	cursor:pointer;
}
div.ama-choose-efrsb-property-clases div.switcher {width:15px;}
div.ama-choose-efrsb-property-clases div.switcher div.open::after { content:'▶'; }
div.ama-choose-efrsb-property-clases div.switcher div.close::after { content:'▼'; }
div.ama-choose-efrsb-property-clases div.switcher div.dot::after { content:'⬤'; }
div.ama-choose-efrsb-property-clases div.header > div.switcher { color:silver; }
div.ama-choose-efrsb-property-clases div.header[data-highlight='true'] > div.switcher { color:red; }
div.ama-choose-efrsb-property-clases div.to-switch > div.header div.switcher div.open { display:inline-block; }
div.ama-choose-efrsb-property-clases div.to-switch > div.header div.switcher div.close { display:none; }
div.ama-choose-efrsb-property-clases div.to-switch.open > div.header div.switcher div.open { display:none; }
div.ama-choose-efrsb-property-clases div.to-switch.open > div.header div.switcher div.close { display:inline-block; }

div.ama-choose-efrsb-property-clases div.to-switch > div.content { display:none; }
div.ama-choose-efrsb-property-clases div.to-switch.open > div.content { display:inline-block; width:100%; }

div.ama-choose-efrsb-property-clases div.l1 > div.header div.name
,div.ama-choose-efrsb-property-clases div.l2 > div.header div.name
,div.ama-choose-efrsb-property-clases div.l3 > div.header div.name
{
	cursor:pointer;
}
div.ama-choose-efrsb-property-clases div.l2 { margin-left:20px; }
div.ama-choose-efrsb-property-clases div.l3 { margin-left:20px; }
div.ama-choose-efrsb-property-clases div.tree div.name { display:inline-block; }
div.ama-choose-efrsb-property-clases div.tree div.l1
,div.ama-choose-efrsb-property-clases div.tree div.l2
,div.ama-choose-efrsb-property-clases div.tree div.l3
{
	margin-top:5px;
	margin-bottom:5px;
}
div.ama-choose-efrsb-property-clases div.tree div.header:hover
{
	background-color:#eeeeee;
}
div.ama-choose-efrsb-property-clases div.tree div.l2 > div.header div.name { width:calc(100% - 40px); }
div.ama-choose-efrsb-property-clases div.tree div.l3 > div.header div.name { width:calc(100% - 40px); }
div.ama-choose-efrsb-property-clases div.tree div.header div
{
	vertical-align:top;
}

/* выпадающие элементы select2.. */

div.cpw-choose-efrsb-select2-item
{
	border-bottom:1px solid silver;
}
div.cpw-choose-efrsb-select2-item div.details
{
	text-align:right;
	font-size:x-small;
	color:silver;
}
div.cpw-choose-efrsb-select2-item div.code
{
	display:inline-block;
	vertical-align:top;
	font-size:x-small;
	color:silver;
}
div.cpw-choose-efrsb-select2-item div.name
{
	display:inline-block;
}
div.cpw-choose-efrsb-select2-item[data-depth="1"] div.code {width:20px;}
div.cpw-choose-efrsb-select2-item[data-depth="2"] div.code {width:30px;}
div.cpw-choose-efrsb-select2-item[data-depth="3"] div.code {width:50px;}

div.cpw-choose-efrsb-select2-item[data-depth="1"] div.name {width:calc(100% - 20px);}
div.cpw-choose-efrsb-select2-item[data-depth="2"] div.name {width:calc(100% - 30px);}
div.cpw-choose-efrsb-select2-item[data-depth="3"] div.name {width:calc(100% - 50px);}

/* глобальный выпадающий список select2.. */

#select2-drop
{
	width:60% !important;
	border-top:1px solid gray;
	padding-top:3px;
}

/* list - таблица выбранных классов.. */
div.ama-choose-efrsb-property-clases div.list
{
	height:334px;
	overflow-y:auto;
	margin-top:5px;
	border:1px solid silver;
	padding:3px;
	background-color:#fdfdfd;
	height:calc(100% - 53px);
}

div.ama-choose-efrsb-property-clases div.list table
{
	width:95%;
	margin:0 auto;
}

div.ama-choose-efrsb-property-clases div.list table td
{
	padding:3px;
	vertical-align:top;
}

div.ama-choose-efrsb-property-clases div.list table td.cls div.details
{
	font-size:x-small;
	text-align:right;
	color:gray;
}

div.ama-choose-efrsb-property-clases div.list table td.cls span.name
{
	font-weight:bold;
	cursor:default;
}

div.ama-choose-efrsb-property-clases div.list table tr:hover
{
	background-color:#eeeeee;
}

div.ama-choose-efrsb-property-clases td.delete img
{
	height:20px;
	padding:2px;
}
div.ama-choose-efrsb-property-clases td.delete img:hover
{
	background-color:white;
}