<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_choose_efrsb_classes.css" /></head><body><% } %>
<%
var item= obj.item;
var h_efrsb_classes= obj.h_efrsb_classes;
var path= h_efrsb_classes.get_path_by_id(item.id);
var depth= 3;
switch (item.id.length)
{
	case 2: depth= 1; break;
	case 4: depth= 2; break;
}
%>
<div class="cpw-choose-efrsb-select2-item" data-depth="<%= depth %>">
	<div class="code">
		<%= item.id %><% if (0) { %>0101003<% } %>:
	</div>
	<div class="name">
		<span><%= item.text %><% if (0) { 
			%>Здания и сооружения предприятий лесной, деревообрабатывающей, целлюлозно-бумажной, стекольной, фарфоро-фаянсовой, полиграфической промышленности и предприятий промышленности строительных материалов<% 
		} %></span>
<% if (''!=path) { %>
		<div class="details">
			(
			<span class="path"><%= path %><% if (0) { 
				%>Материальные активы / Завершенные здания и сооружения или их части<% 
			} %></span>
			)
		</div>
<% } %>
	</div>
</div>
<% if (0) { %></body></html><% } %>
