<%
var item= obj;
%>
<div>
	<p>Вы действительно хотите удалить класс </p>
	<p style="text-align:center"><b><%= item.name %><% if (0) { %>Автомобили<% } %></b></p>
	<p style="text-align:right">из списка?</p>
</div>
