<style>
div.ama-datamart-km-main .ui-jqgrid-hbox
{
	background: none;
}
div.ama-datamart-km-main .ui-jqgrid .ui-jqgrid-htable
{
	border: 1px solid #DFDFDF;
	background: #EFEFEF;
	border-radius: 5px 5px 0 0;
}
div.ama-datamart-km-main .ui-jqgrid tr.ui-row-ltr td
{
	padding: 10px 5px;
}
div.ama-datamart-km-main
{
	padding: 10px 10px 10px;
	text-align: center;
}
div.ama-datamart-km-main .ui-jqgrid .ui-jqgrid-bdiv
{
	min-height: 316px;
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	box-sizing: border-box;
}
div.ama-datamart-km-main div.grid
{
	display: inline-block;
	min-width: 500px;
	width: 100%;
	vertical-align: top;
	text-align: left;
	min-height: 551px
}
div.ama-datamart-km-main h1
{
	font-size: 19px;
	margin-bottom: 0px;
	margin-top: 3px;
}
div.ama-datamart-km-main div.commands
{
	float: right;
}
</style>
<div class="ama-datamart-km-main">
	<div class="grid closed-search">таблица конкурсной массы</div>
</div>
