<style>
	div.cpw-ama-datamart-sro-props-old-team div.wrapper {
		display: flex;
		flex-direction: column;
		min-width:930px;
	}
	div.cpw-ama-datamart-sro-props-old-team .radio-item label,
	div.cpw-ama-datamart-sro-props-old-team div.row .column,
	div.cpw-ama-datamart-sro-props-old-team div.row {
		display: flex;
		align-items: center;
	}

	div.cpw-ama-datamart-sro-props-old-team .row input {
		flex-grow: 1;
	}
	div.cpw-ama-datamart-sro-props-old-team div.row {
		margin-bottom: 10px;
	}
	div.cpw-ama-datamart-sro-props-old-team div.row .column:first-child div.sub-title,
	div.cpw-ama-datamart-sro-props-old-team div.row div.sub-title {
		width: 170px;
		text-align: right;
		margin-right: 5px;
	}
	div.cpw-ama-datamart-sro-props-old-team div.row .column div.sub-title {
		width: auto;
		text-align:left;
	}
	div.cpw-ama-datamart-sro-props-old-team div.row .column {
		flex-grow: 1;
	}
	div.cpw-ama-datamart-sro-props-old-team div.row .column:not(:last-child) {
		margin-right: 10px;
	}

	div.cpw-ama-datamart-sro-props-old-team div.wrapper-title {
		margin-bottom: 10px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-tab-old-team-contest table td:nth-child(2) {
		text-align: right;
		padding-right: 5px;
		min-width: 60px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest table td:nth-child(1){
		min-width: 60px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest table td {
		padding-right: 10px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest table td {
		padding-bottom: 5px;
		padding-top:5px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest table tr:hover td {
		background-color:rgba(128, 128, 128, 0.1);
	}
	
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest table th {
		padding-bottom: 5px;
	}

	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest table .member-info  {
		width: 100%;
	}

	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest .radio-item input{
		margin-right: 5px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest .radio-item label {
		cursor: pointer;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest .radio-item input + span,
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest .radio-item input {
		opacity: 0.5
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest .radio-item input:checked + span,
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest .radio-item input:checked {
		opacity: 1
	}

	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest input.end-date{
		max-width: 100px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest div.margin-row{
		margin-left: 6px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest div.date-title{
		margin-right: 6px;
	}
	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest div.button-copy{
		margin-left: 10px;
	}

	div.cpw-ama-datamart-sro-props-old-team div#cpw-ama-datamart-sro-props-old-team-tab-contest div.scroll{
		height: 280px;
		overflow-y: scroll;
	}

		
</style>
<%
var model= obj.value();

if (null==model)
	model= {};
%>
<div class="cpw-ama-datamart-sro-props-old-team">
	<div id="cpw-ama-datamart-sro-props-old-team-tabs" >
		<div id="cpw-ama-datamart-sro-props-old-team-tab-contest" class="page" >		
			<div class="wrapper">
				<div class="row margin-row data-row">
					<div class="date-title">До даты: </div>
					<input class="end-date" type="text" value="<%= obj.txt('Дата') %>" <%= obj.date_attrs() %> >
					<div class="button-copy"><button>Скопировать текущий состав</button></div>
				</div>
				<div class="row name-row">
					<div class="sub-title">Наименование по уставу: </div>
					<input type="text" class="name-charter" value="<%= obj.txt('Наименование') %>"/>
				</div>
			</div>
			<div class="wrapper scroll">
				<table class="contest-table" id="contest-table">
					<tr>
						<th>Члены:</th>
						<th>№ п/п</th>
						<th>Фамилия</th>
						<th>Имя</th>
						<th>Отчество</th>
						<th>Председатель?</th>
						<th>Секретарь?</th>
					</tr>
						<% for (var i= 0; i < (!$('body').hasClass('test') ? (typeof(model.Участники) != "undefined" && model.Участники !== null) ? model.Участники.length : 1 : 1); i++) { %>							
						<tr class="member member-<%= i %>">
							<td></td>
							<td><%= i+1 %>)</td>
							<td><input type="text" class="member-info lastname" value="<%= obj.txt('Участники.Фамилия') %>"/></td>
							<td><input type="text" class="member-info firstname" value="<%= obj.txt('Участники.Имя') %>"/></td>
							<td><input type="text" class="member-info middlename" value="<%= obj.txt('Участники.Отчество') %>"/></td>
							<td class="radio-item"><label><input type="radio" name="Председатель" value="role-<%= i %>"><span> - Председатель</span></label></td>
							<td class="radio-item"><label><input type="radio" name="Секретарь" value="role-<%= i %>"><span> - Секретарь</span></label></td>
						</tr>
						<% } %>
				</table>
			</div>
		</div>
	</div>
</div>