<style>
	div.cpw-ama-datamart-sro-props-old-team-list div.wrapper {
		display: flex;
		flex-direction: column;
		min-width:930px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest{
		max-width: 1000px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div.wrapper-title {
		margin-bottom: 10px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest table td {
		min-width: 50px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest table tr td {
		padding-bottom: 20px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest table button.delete-team-button{
		max-width: 100px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest table button.edit-team-button{
		max-width: 140px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest table td.tdedit{
		max-width: 140px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest table td.date{
		max-width: 100px;
	}
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest table td.info{
		max-width: 350px;
	}
	
	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest #add-team-button{
		float: right;
		margin-bottom: 40px;
	}

	div.cpw-ama-datamart-sro-props-old-team-list div#cpw-ama-datamart-sro-props-old-team-list-tab-contest div.wrapper{
		height: 300px;
		overflow-y: scroll;
	}


</style>
<%
var model= obj.value();

if (null==model)
	model= {};
%>
<div class="cpw-ama-datamart-sro-props-old-team-list">
	<div id="cpw-ama-datamart-sro-props-old-team-list-tab-contest" class="page" >
		<button id="add-team-button">Добавить</button>
		<div class="wrapper">
			<table class="contest-table" id="contest-table">
				<% for (var i= 0; i < (!$('body').hasClass('test') ? model.Старые_составы_конкурсного_комитета.length : 2); i++) { %>
				<tr class="member member-<%= i %>">
					<td class="date">до <%= model.Старые_составы_конкурсного_комитета[i].Дата %></td>
					<td class="info"><%= model.Старые_составы_конкурсного_комитета[i].Наименование %>: 
						<% for (var j= 0; j < (!$('body').hasClass('test') ? model.Старые_составы_конкурсного_комитета[i].Участники.length : 2); j++) {%>
							<%= model.Старые_составы_конкурсного_комитета[i].Участники[j].Фамилия %> <%= model.Старые_составы_конкурсного_комитета[i].Участники[j].Имя[0] %>. <%= model.Старые_составы_конкурсного_комитета[i].Участники[j].Отчество[0] %>

							<% if(j == model.Старые_составы_конкурсного_комитета[i].Участники.length-1 || typeof(model.Старые_составы_конкурсного_комитета[i].Участники[j].Роль) != "undefined" && model.Старые_составы_конкурсного_комитета[i].Участники[j].Роль != null){ %>
							. 
							<% } else { %>
							, 
							<% } %>
							
							<% if(typeof(model.Старые_составы_конкурсного_комитета[i].Участники[j].Роль) != "undefined" && model.Старые_составы_конкурсного_комитета[i].Участники[j].Роль != null){ %>
								- <%= model.Старые_составы_конкурсного_комитета[i].Участники[j].Роль %>; 
							<% } %>
						<% } %>
					</td>
					<td class="tdedit"><button class="edit-team-button" value="<%= i %>">Редактировать</button> <button class="delete-team-button" value="<%= i %>">Удалить</button></td>											
				</tr>
				<% } %>
			</table>
		</div>
	</div>
</div>