<style>
	div.cpw-ama-datamart-sro-props div.wrapper {
		display: flex;
		flex-direction: column;
		min-width:930px;
	}
	div.cpw-ama-datamart-sro-props .radio-item label,
	div.cpw-ama-datamart-sro-props div.row .column,
	div.cpw-ama-datamart-sro-props div.row {
		display: flex;
		align-items: center;
	}

	div.cpw-ama-datamart-sro-props .row input {
		flex-grow: 1;
	}
	div.cpw-ama-datamart-sro-props div.row {
		margin-bottom: 10px;
	}
	div.cpw-ama-datamart-sro-props div.row .column:first-child div.sub-title,
	div.cpw-ama-datamart-sro-props div.row div.sub-title {
		width: 170px;
		text-align: right;
		margin-right: 5px;
	}
	div.cpw-ama-datamart-sro-props div.row .column div.sub-title {
		width: auto;
		text-align:left;
	}
	div.cpw-ama-datamart-sro-props div.row .column {
		flex-grow: 1;
	}
	div.cpw-ama-datamart-sro-props div.row .column:not(:last-child) {
		margin-right: 10px;
	}

	div.cpw-ama-datamart-sro-props div.wrapper-title {
		margin-bottom: 10px;
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table td:nth-child(2) {
		text-align: right;
		padding-right: 5px;
		min-width: 60px;
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table td:nth-child(1){
		min-width: 60px;
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table td {
		padding-right: 10px;
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table td {
		padding-bottom: 5px;
		padding-top:5px;
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table tr:hover td {
		background-color:rgba(128, 128, 128, 0.1);
	}
	
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table th {
		padding-bottom: 5px;
	}

	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table .member-info  {
		width: 100%;
	}

	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest table .member-next {
		opacity: 0.6;
	}

	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest .radio-item input{
		margin-right: 5px;
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest .radio-item label {
		cursor: pointer;
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest .radio-item input + span,
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest .radio-item input {
		opacity: 0.5
	}
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest .radio-item input:checked + span,
	div.cpw-ama-datamart-sro-props div#cpw-ama-datamart-sro-props-tab-contest .radio-item input:checked {
		opacity: 1
	}
	
</style>
<%
var model= obj.value();

if (null==model)
	model= {};
%>
<div class="cpw-ama-datamart-sro-props">
	<div id="cpw-ama-datamart-sro-props-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-sro-props-tab-general" >Общие сведения</a></li>
			<li><a href="#cpw-ama-datamart-sro-props-tab-contest" >Конкурсный комитет</a></li>
		</ul>
		<div id="cpw-ama-datamart-sro-props-tab-general" class="page" >
			<div class="wrapper">
				<div class="row">
					<div class="sub-title">Наименование: </div>
					<input type="text" value="<%= obj.txt('Наименование') %>"/>
				</div>
				<div class="row">
					<div class="sub-title">Полное наименование: </div>
					<input type="text" value="<%= obj.txt('ПолноеНаименование') %>"/>
				</div>
				<div class="row">
					<div class="sub-title">Адрес: </div>
					<input type="text" value="<%= obj.txt('Адрес') %>"/>
				</div>
				<div class="row">
					<div class="column">
						<div class="sub-title">email: </div>
						<input type="text" value="<%= obj.txt('email') %>"/>
					</div>
					<div class="column">
						<div class="sub-title">веб сайт: </div>
						<input type="text" value="<%= obj.txt('Веб_сайт') %>"/>
					</div>
					<div class="column">
						<div class="sub-title">телефон: </div>
						<input type="text" value="<%= obj.txt('Телефон') %>"/>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="wrapper-title">Единоличный руководитель:</div>
				<div class="row">
					<div class="sub-title">Должность: </div>
					<input type="text" value="<%= obj.txt('Руководитель.Должность') %>"/>
				</div>
				<div class="row">
					<div class="column">
						<div class="sub-title">Фамилия: </div>
						<input type="text" value="<%= obj.txt('Руководитель.Фамилия') %>"/>
					</div>
					<div class="column">
						<div class="sub-title">Имя: </div>
						<input type="text" value="<%= obj.txt('Руководитель.Имя') %>"/>
					</div>
					<div class="column">
						<div class="sub-title">Отчество: </div>
						<input type="text" value="<%= obj.txt('Руководитель.Отчество') %>"/>
					</div>
				</div>
			</div>
		</div>
		<div id="cpw-ama-datamart-sro-props-tab-contest" class="page" >
			<div class="wrapper">
				<div class="row">
					<div class="sub-title">Наименование по уставу: </div>
					<input type="text" value="<%= obj.txt('Комитет.Конкурсный.Наименование') %>"/>
				</div>
			</div>
			<div class="wrapper">
				<table class="contest-table" id="contest-table">
					<tr>
						<th>Члены:</th>
						<th>№ п/п</th>
						<th>Фамилия</th>
						<th>Имя</th>
						<th>Отчество</th>
						<th>Председатель?</th>
						<th>Секретарь?</th>
					</tr>
						<% for (var i= 0; i < (!$('body').hasClass('test') ? model.Комитет.Конкурсный.Участники.length : 9); i++) { %>
						<tr class="member member-<%= i %>">
							<td></td>
							<td><%= i+1 %>)</td>
							<td><input type="text" class="member-info lastname"/></td>
							<td><input type="text" class="member-info firstname"/></td>
							<td><input type="text" class="member-info middlename"/></td>
							<td class="radio-item"><label><input type="radio" name="Председатель" value="role-<%= i %>"><span> - Председатель</span></label></td>
							<td class="radio-item"><label><input type="radio" name="Секретарь" value="role-<%= i %>"><span> - Секретарь</span></label></td>
						</tr>
						<% } %>
				</table>
			</div>
		</div>
	</div>
</div>