<style>
div.cpw-form-ama-datamart-procedures .filter-toolbar
{
	margin-bottom:3px;
	margin-top:-10px;
}
div.cpw-form-ama-datamart-procedures .search-bar { top:-43px; }
div.cpw-form-ama-datamart-procedures span.Archived { text-decoration:line-through; }
</style>
<div class="cpw-form-ama-datamart-procedures cpw-form-ama-datamart-grid">

	<div class="search-bar">
		<div class="ama-button show-hide-search-inputs">
			<span class="icon-search-icon"></span>
			<span class="search-button-text">Искать</span>
		</div>
	</div>

	<div class="filter-toolbar">
		<a href="#" <%= obj.a_checkbox_attrs('Показывать_архивные_процедуры') %> >
			<%= obj.options.text_show_UnArchive %><% if (0) { %>Все процедуры, кроме архивированных:<% } %>
		</a>
	</div>

	<div class="grid closed-search">
		<table id="cpw-ama-datamart-procedures-grid" class="grid"></table>
		<div id="cpw-ama-datamart-procedures-pager"></div>
	</div>

</div>