<style>
div.cpw-form-ama-dm-push-time-settings
{
	width: 271px;
	margin:0 auto;
}
div.cpw-form-ama-dm-push-time-settings label
{
	margin-left: 5px;
	margin-right: 5px;
}
div.cpw-form-ama-dm-push-time-settings select
{
	margin-top: 5px;
}
</style>
<div class="cpw-form-ama-dm-push-time-settings">
	<span>Уведомлять</span>
	<label>с</label>
	<select <%= obj.select_attrs('с') %>>
		<%
			for (var i= 0; i < obj.options.варианты_времени.length; i++)
			{
				var t= obj.options.варианты_времени[i];
		%>
		<option <%= obj.option_attrs(t) %>><%= t %></option>
		<%	} %>
	</select>
	<label>до</label>
	<select <%= obj.select_attrs('до') %> style="width:80px">
		<%
			for (var i= 0; i < obj.options.варианты_времени.length; i++)
			{
				var t= obj.options.варианты_времени[i];
		%>
		<option <%= obj.option_attrs(t) %>><%= t %></option>
		<%	} %>
	</select>
	<br/>
	<span>Время:&nbsp;</span>
	<select <%= obj.select_attrs('Часовой_пояс') %>>
		<%
			var часовые_пояса= obj.options.часовые_пояса;
			for (var пояс in часовые_пояса)
			{
		%>
		<option <%= obj.option_attrs(пояс) %>><%= часовые_пояса[пояс] %></option>
		<%	} %>
	</select>
</div>