<style>
div.cpw-ama-datamart-sro-main .ui-state-default, 
div.cpw-ama-datamart-sro-main .ui-widget-content .ui-state-default
{
	background: none;
}
div.cpw-ama-datamart-sro-main .ui-state-active,
div.cpw-ama-datamart-sro-main .ui-widget-content .ui-state-active,
div.cpw-ama-datamart-sro-main .ui-widget-header .ui-state-active
{
	border: 1px solid #c5c5c5;
	font-weight: normal;
	color: #444;
}
div.cpw-ama-datamart-sro-main .ui-state-default a, 
div.cpw-ama-datamart-sro-main .ui-state-default a:link, 
div.cpw-ama-datamart-sro-main .ui-state-default a:visited
{
	color: #444;
}
div.cpw-ama-datamart-sro-main .ui-state-active a, 
div.cpw-ama-datamart-sro-main .ui-state-active a:link, .ui-state-active a:visited
{
	color: #D3242C;
	font-weight: 600;
}
div.cpw-ama-datamart-sro-main ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
}
div.cpw-ama-datamart-sro-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	border: none;
	background: #fff;
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
}
div.cpw-ama-datamart-sro-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 10px 10px 0;
	border: none;
	background: #fff;
	text-align: left;
}
div.cpw-ama-datamart-sro-main div#cpw-ama-datamart-sro-main-dmrt
{
	padding: 15px 0 0;
}
div.cpw-ama-datamart-sro-main div#cpw-ama-datamart-sro-main-tabs > ul.ui-tabs-nav:before
{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 1000px 1px 0px 0px #DFDFDF, -1000px 1px 0px 0px #DFDFDF;
}
div.cpw-ama-datamart-sro-main div#cpw-ama-datamart-sro-main-tabs > div.page
{
	min-width: 500px;
}
div.cpw-ama-datamart-sro-main span.profile-sro
{
	font-weight: 600;
	color: #D3242C;
}
div.cpw-ama-datamart-sro-main div.profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
div.cpw-ama-datamart-sro-main .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-ama-datamart-sro-main .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
div.cpw-ama-datamart-sro-main div.triange-red-icon
{
	margin-left: 5px;
}

div.cpw-ama-datamart-sro-main .profile-dropdown .jquery-menu .notifications a
{
	text-decoration: none;
	color: #D3242C;
}
div.cpw-ama-datamart-sro-main .profile-dropdown .jquery-menu .notifications a:hover {
	color:#D3242C;
}
div.cpw-ama-datamart-sro-main div.footer
{
	 text-align: center;
	 margin-top: 30px;
}
</style>
<%
var model= obj.value();
var ShortName= (!model || null==model || !model.ShortTitle) ? 'Неизвестная' : model.ShortTitle;
%>
<div class="cpw-ama-datamart-sro-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Кабинет СРО в ИС ПАУ
				</span>
			</div>

			<div class="buttons">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;">
							<span>СРО:</span> 
							<span class="profile-sro"><%= ShortName %><% if (0) { %>МЦПУ<% } %></span>
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="open-props">Реквизиты СРО</li>
							<li class="open-docs">Документы СРО</li>
<% if (!app.disable_viewers3) { %>
							<li class="filter-settings">Настройки мониторинга процедур</li>
<% } %>
							<li class="logout">Выйти</li>
						</ul>
					</div>
				</span> 
			</div>
		</div>
	</header>

	<div id="cpw-ama-datamart-sro-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-sro-main-strt">Согласия</a></li>
			<li><a href="#cpw-ama-datamart-sro-main-reqt">Запросы</a></li>
			<li><a href="#cpw-ama-datamart-sro-main-mans">АУ</a></li>
			<li><a href="#cpw-ama-datamart-sro-main-notify">Уведомления АУ</a></li>
<% if (!app.disable_viewers2) { %>
			<li><a href="#cpw-ama-datamart-sro-main-schd">Календарь</a></li>
			<li><a href="#cpw-ama-datamart-sro-main-news">Новости</a></li>
			<li><a href="#cpw-ama-datamart-sro-main-proc">Процедуры</a></li>
			<li><a href="#cpw-ama-datamart-sro-main-dmrt">Витрина</a></li>
<% } %>
		</ul>
		<div id="cpw-ama-datamart-sro-main-strt" class="page">
			<% if (0) { %>Список заявлений, процедура по которым ещё не началась<% } %>
			<%= obj.fields_control('Заявления') %>
		</div>
		<div id="cpw-ama-datamart-sro-main-reqt" class="page">
			<% if (0) { %>Список запросов кандидатур АУ из судов<% } %>
			<%= obj.fields_control('Запросы') %>
		</div>
		<div id="cpw-ama-datamart-sro-main-mans" class="page">
			<% if (0) { %>Список АУ и настройка прав для них<% } %>
			<%= obj.fields_control('АУ') %>
		</div>
		<div id="cpw-ama-datamart-sro-main-notify" class="page">
			<% if (0) { %>Журнал уведомлений АУ<% } %>
			<%= obj.fields_control('УведомленияАУ') %>
		</div>
<% if (!app.disable_viewers2) { %>
		<div id="cpw-ama-datamart-sro-main-schd" class="page">
			<% if (0) { %>Календарь событий<% } %>
			<%= obj.fields_control('Календарь') %>
		</div>
		<div id="cpw-ama-datamart-sro-main-news" class="page">
			<% if (0) { %>Новости<% } %>
			<%= obj.fields_control('Новости') %>
		</div>
		<div id="cpw-ama-datamart-sro-main-proc" class="page">
			<% if (0) { %>Список процедур<% } %>
			<%= obj.fields_control('Процедуры') %>
		</div>
		<div id="cpw-ama-datamart-sro-main-dmrt" class="page">
			<% if (0) { %>Данные о процедурах, видные в витрине<% } %>
			<%= obj.fields_control('Витрина') %>
		</div>
<% } %>
	</div>

	<div class="footer">
		<a href="docs\СоглашениеНазначенияВКабинетеСРО.pdf">
			Соглашение об условиях и порядке использования модуля «Назначения»
		</a>
	</div>

</div>