<style>
div.cpw-form-ama-datamart-debtors #cpw-ama-datamart-debtors-pager_left > button
{
	font-weight: normal;
}
div.cpw-form-ama-datamart-debtors .search-bar{
	align-self: flex-end;
}
div.cpw-form-ama-datamart-debtors .cpw-form-ama-datamart-debtors-header {
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 6px 0;
}
div.cpw-form-ama-datamart-debtors .create-new-debtor{
	margin-right: 10px;
}
</style>
<div class="cpw-form-ama-datamart-debtors cpw-form-ama-datamart-grid">

	<div class="cpw-form-ama-datamart-debtors-header">
		<div>
			<button class="create-new-debtor">Зарегистрировать сопровождаемого должника</button>
			(для подготовки заявления в суд)
		</div>
		
		<div class="search-bar">
			<div class="ama-button show-hide-search-inputs">
				<span class="icon-search-icon"></span>
				<span class="search-button-text">Искать</span>
			</div>
		</div>
	</div>

	<div class="grid closed-search">
		<table id="cpw-ama-datamart-debtors-grid" class="grid"></table>
		<div id="cpw-ama-datamart-debtors-pager"></div>
	</div>

</div>
