<style>
div.cpw-ama-application-attachment { position: relative; }
div.cpw-ama-application-attachment div.attachment
{
	margin: 3px 0;
	padding-left: 15px;
	border-radius: 3px;
	box-sizing: border-box;
}
div.cpw-ama-application-attachment div.attachment:hover
{
	background-color: #dfdfdf;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	cursor: pointer;
}
div.cpw-ama-application-attachment div.header
{
	padding: 0px 5px 3px 10px;
	display: inline-block;
	width: 100%;
}
div.cpw-ama-application-attachment div.attachment
{
	display: inline-block;
	width: 100%;
}
div.cpw-ama-application-attachment div.attachment div.buttons
{
	float: right;
}
div.cpw-ama-application-attachment div.attachment div.buttons button.edit,
div.cpw-ama-application-attachment div.attachment div.buttons button.delete
{
	border: none;
	background-color: transparent;
	margin: 0;
	vertical-align: middle;
	color: gray;
	font-size: 14px;
	border-radius: 3px;
	vertical-align: middle;
	height: 28px;
	width: 28px;
	padding: 1px 8px;
}
div.cpw-ama-application-attachment div.attachment > span
{
	display: inline-block;
	margin-top: 2px;
	vertical-align: middle;
	font-size: 14px;
}
div.cpw-ama-application-attachment div.header button
{
	float: right;
}
div.cpw-ama-application-attachment div.header > span
{
	display: inline-block;
	margin-top: 9px;
	font-weight: 600;
	font-size: 14px;
}
</style>
<div class="cpw-ama-application-attachment">

	<div class="header">
		<span>Список прилагаемых к заявлению документов:</span>
		<button class="button add" >Приложить документ</button>
	</div>

	<div <%= obj.empty_attrs() %> >
		Список приложений пуст
	</div>

	<div class="attachments" <%= obj.not_empty_attrs() %> >
		<% while (obj.iterate()) { %>
		<div class="attachment"  <%= obj.item_attrs() %> >
			<span>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>) 
				<%= obj.text_field('Наименование') %>
					<% if (obj.is_seed()) { %>О положении в гондурасе<% } %>
				<%= obj.text_field_end() %> 
			</span>

			<div class="buttons">
				<button class="edit-icon edit" title="Редактировать"  ></button>
				<button class="trash-icon delete" title="Удалить"  ></button>
			</div>
		</div>
		<% } %>
	</div>

</div>