<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_recipients.css" /></head><body><% } %>
<% if (0) { %>
<style>
div.ama-bidding-property-recipients
{
	width:614px;
	height:100px;
}
</style>
<% } %>
<%
var o= obj.value();
var SelectedPro= (!o || !o.SelectedPro) ? [] : o.SelectedPro;
var item_checked= function(id)
{
	for (var i= 0; i < SelectedPro.length; i++)
	{
		if (id==SelectedPro[i].id)
			return ' checked="checked" ';
	}
	return '';
};
var to_select= obj.options.to_select;
var for_start= obj.options.for_start;
%>
<% if (for_start) { %>
<style>
div.ama-bidding-property-recipients div.row.l1 { display:none; }
div.ama-bidding-property-recipients div.row.l2 { margin-left:0; }
div.ama-bidding-property-recipients div.list { height: 100%; }
</style>
<% } %>
<div class="ama-bidding-property-recipients">

	<div class="row l1 first">
		<label>
			<input type="radio" <%= obj.radio_attrs('Transmit','No') %> /> 
			<span>НЕ выгружать на витрину ПАУ (никому НЕ показывать и НЕ передавать на экспозицию)</span>
		</label>
	</div>

	<div class="row l1">
		<label>
			<input type="radio" <%= obj.radio_attrs('Transmit','Yes') %> /> 
			<span>Разместить на витрине для передачи:</span>
		</label>
	</div>

	<div class="row l2">
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('ToAll') %> /> 
			<span>Всем заинтересованным лицам (неопределённому кругу лиц)</span>
		</label>
		<div class="hint all" title="Цель передачи информации: увеличение времени экспозиции объекта">&nbsp?&nbsp</div>
	</div>

	<div class="row l2 last">
		<label>
			<input type="checkbox" <%= obj.checkbox_attrs('ToSelectedPro') %> /> 
			<span>Лицам, предоставляющие услуги для торгов на коммерческой основе:</span>
		</label>
		<div class="hint selected" title="Цель передачи информации: выражение заинтересованности в получении консультационных и организационных услуг при проведении торгов">&nbsp?&nbsp</div>
		<div class="list">
		<%
			for (var i= 0; i < to_select.length; i++)
			{
				var item= to_select[i];
		%>
			<div class="item">
				<label>
					<input type="checkbox" data-id="<%= item.id %>" <%= item_checked(item.id) %> /> 
					<a target="_blank" href="<%= item.url %>">
						<%= item.name %><% if (0) { %>Банкрот форум<% } %>
					</a>
					<div class="adv">(<%= item.descr %><% if (0) { %>Организация торгов<% } %>)</div>
				</label>
			</div>
		<%	} %>
		</div>
	</div>

</div>
<% if (0) { %></body></html><% } %>