div.ama-bidding-property-recipients
{
	/*width:calc(100% - 100px);*/
	min-width:530px;
	/*width:530px;*/
	height:80%;
	/* height:166px; */
}
div.ama-bidding-property-recipients div.list
{
	height:calc(100% - 44px);
	margin:2px;
	margin-left:20px;
	overflow-y:scroll;
	border:1px solid gray;
	padding:5px;
}
div.ama-bidding-property-recipients div.hint
{
	color:gray;
	border:1px solid gray;
	border-radius:11px;
	text-align:center;
	display:inline-block;
	margin-left:10px;
	width:22px;
	cursor:pointer;
	background-color:#eeeeee;
	font-weight:bold;
}
div.ama-bidding-property-recipients div.hint:hover
{
	background-color:silver;
}
div.ama-bidding-property-recipients div.item
{
	vertical-align:middle;
	margin-top:5px;
	margin-bottom:5px;
}
div.ama-bidding-property-recipients div.row
{
	margin-top:5px;
	margin-bottom:5px;
}
div.ama-bidding-property-recipients div.row.l2
{
	margin-left:15px;
}
div.ama-bidding-property-recipients div.row.last
{
	height:calc(100% - 85px);
}
div.ama-bidding-property-recipients div.row.first
{
	margin-top:0px;
}
div.ama-bidding-property-recipients div.item span
{
	padding:2px;
}
div.ama-bidding-property-recipients div.item:hover
{
	background-color:silver;
}
div.ama-bidding-property-recipients label
{
	padding:2px;
}
div.ama-bidding-property-recipients label:hover
{
	background-color:silver;
}
div.ama-bidding-property-recipients div.adv
{
	color:darkolivegreen;
	margin-left:20px;
	display:inline-block;
	width:95%;
}
div.ama-bidding-property-recipients div.row.l1 label span
{
	display:inline-block;
	width:calc(100% - 30px);
	vertical-align:top;
	cursor:default;
}
/* dialog styles */
div.cpw-hint-dialog div.ui-dialog-titlebar
{
	display:none;
}

div.cpw-hint-dialog div.ui-dialog-buttonpane
{
	padding:0;
	padding-right:30px;
	margin-top:0;
}
div.cpw-hint-dialog button.ui-button
{
	padding:4px 20px;
	margin:2px;
}
div.cpw-hint-dialog p
{
	margin-top:5px;
	margin-bottom:5px;
}
div.cpw-hint-dialog div.cpw-msgbox
{
	min-height:10px !important;
}