<style>
div.ama-rtt-paged span.title1,
div.ama-rtt-paged span.title2
{
	font-weight: 600;
	font-size: 22px;
	padding: 0 0 20px;
	display: inline-block;
}
div.ama-rtt-paged table.grid tr[role="row"] td
{
	cursor: pointer;
	box-sizing: border-box;
}
div.ama-rtt-paged table #cpw-ama-rtt-paged-grid_Сумма
{
	text-align: right;
}
div.ama-rtt-paged table #jqgh_cpw-ama-rtt-paged-grid_Номер,
div.ama-rtt-paged table #cpw-ama-rtt-paged-grid_Очередь,
div.ama-rtt-paged table #cpw-ama-rtt-paged-grid_Дата_включения
{
	text-align: center;
}
div#gridPager > div > table > tbody > tr > td#gridPager_center > table
{
	float: right;
}
#gridPager_left > button
{
	font-weight: normal;
}
</style>
<div class="ama-rtt-paged">
	<span class="title1">1-я очередь</span><span class="title2"></span>
	<table id="cpw-ama-rtt-paged-grid" class="grid closed-search"></table>
	<div id="gridPager"></div>
</div>