<style>
div.cpw-test-push
{
	width:900px;
	margin:0 auto;
}
div.cpw-test-push select
, div.cpw-test-push div.select
{
	width: 300px;
	display: inline-block;
}
div.cpw-test-push div.wrap {
	margin-bottom: 17px;
}

div.cpw-test-push .row {
	display: flex;
}
div.cpw-test-push button.send {
	margin-left: auto;
	display: block;
}
div.cpw-test-push b {
	margin-bottom: 10px;
	display: block;
}
div.cpw-test-push .column {
	
	width: 50%;
}
div.cpw-test-push .column:nth-child(even) {
	margin-left: 50px;
}

.div.cpw-test-push .column:nth-child(even) div.wrap {
	margin-bottom: 10px;
}
div.cpw-test-push .column:nth-child(even) .wrap:not(.message) {
	display: flex;
	align-items: center;
}
div.cpw-test-push .column:nth-child(even) .title {
	margin-right: 10px;
	min-width: 70px;
}
</style>
<div class="cpw-test-push">
	<h1><span>Отправка тестового уведомления пользователю на телефон:</span></h1>
	<div class="status"></div>
	<div class="row">
		<div class="column">
			<b>Получатель: </b>
			<div class="wrap">
				<div class="title">Тип пользователя:</div>
				<select class="select2" id="notification-user-type" <%= obj.select2_attrs('Тип_пользователя') %>>
					<option <%= obj.option_attrs('c') %> >Кабинет абонента ИС ПАУ</option>
					<option <%= obj.option_attrs('m') %> >Кабинет АУ</option>
					<option <%= obj.option_attrs('v') %> >Витрина данных</option>
				</select>
			</div>
			<div class="wrap" style="margin-bottom: 74px">
				<div class="title">Пользователь:</div>
				<select id="notification-users" style="width:100%" <%= obj.select2_attrs('Пользователь') %> ></select>
			</div>
			<div class="wrap">
				<div class="title">app-id:</div>
				<textarea id="text-push-app-id-textarea" rows="10" style="width:100%; height: 80px" <%= obj.textarea_attrs('app_id') %> ><%= obj.value() %></textarea>
			</div>
			<p style="color: red;font-size:small">
				Внимание! <br />
				Для Android строка должна начинаться с 'd' <br />
				Для IOS строка должна начинаться с 'i'
			</p>
		</div>
		<div class="column">
			<b>Сообщение:</b>
			<div class="wrap">
				<div class="title">Категория:</div>
				<select id="message-type" <%= obj.select2_attrs('Категория') %> >
					<option <%= obj.option_attrs('efrsb') %> >ЕФРСБ</option>
					<option <%= obj.option_attrs('unknown') %> >Unknown</option>
				</select>
			</div>
			<div class="wrap">
				<div class="title">Заголовок:</div>
				<input type="text" style="width: 82%" value="<%= obj.txt('Заголовок') %>" />
			</div>
			<div class="wrap">
				<div class="title">GUID:</div>
				<input type="text" style="width: 82%" value="<%= obj.txt('MessageGUID') %>" />
			</div>
			<div class="wrap">
				<div class="title">News_id:</div>
				<input type="text" style="width: 82%" value="<%= obj.txt('id_Новости') %>" />
			</div>
			<div class="wrap message">
				<div class="title">Сообщение:</div>
				<textarea id="text-push-content-textarea" rows="10" style="width:100%; height: 80px" <%= obj.textarea_attrs('Сообщение') %> ><%= obj.value() %></textarea>
			</div>
			<button class="send">Отправить</button>
		</div>
	</div>

</div>