<div class="cpw-ama-committee-not-confirm-form">

	Вы действительно хотите зафиксировать что заседание не состоялось<br/>
	и разослать участникам комитета кредиторов уведомление об этом
	<% if (!obj || null==obj || ''==obj) { %>
		?<br/>
	<% } else { %>
		<br/>со своим пояснением?<br/>
		<br/>
		Пояснение АУ: <b><%= obj %></b>
	<% } %>

</div>