<style>
div.cpw-ama-committee-results-confirm-form div.quoted
{
	display: inline-block;
	margin-left:20px;
}
div.cpw-ama-committee-results-confirm-form .decision
{
	font-weight: bold;
}
</style>
<div class="cpw-ama-committee-results-confirm-form">

	Вы действительно хотите 
	сохранить итоги заседания, и разослать их участникам в указанных формулировках?

	<ul>
	<%	for (var i= 0; i< obj.length; i++) 
		{
			var результат= obj[i];
	%>
		<li>
			По вопросу №<%= результат.По_вопросу.Номер %><% if (0) { %>1<% } %>, поставленному на голосование в формулировке<br/>
			<div class="quoted">«<%= результат.По_вопросу.Формулировка %><% if (0) { %>Что нам делать с нарушителями?<% } %>»</div>, <br/>
			<% if (результат.Решение_НЕ_принято) { %>
				решение НЕ принято
			<% } else { %>
				принято решение: 
				<span class="decision">«<%= результат.Принято_решение %><% if (0) { %>Поставить на вид<% } %>»</span>
			<% } %>
		</li>
	<%	} %>
	</ul>

</div>