<style>
div.cpw-ama-datamart-proc-viewers
{
	width: 540px;
	margin: 0 auto;
}
div.cpw-ama-datamart-proc-viewers input[type="text"]
{
	width: 400px;
}
div.cpw-ama-datamart-proc-viewers div.row
{
	margin-bottom: 5px;
}
div.cpw-ama-datamart-proc-viewers div.title
{
	display: inline-block;
	width: 140px;
}
div.cpw-ama-datamart-proc-viewers div.select
{
	display: inline-block;
	height: 100px;
}
div.cpw-ama-datamart-proc-viewers .select2-container-multi .select2-choices .select2-search-choice
{
	width: 100%;
	box-sizing: border-box;
	background-image: none;
	background: #fff;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #c5c5c5;
	margin: 0;
	padding: 10px 10px 10px 23px;
}
div.cpw-ama-datamart-proc-viewers .select2-search-choice-close
{
	top: 10px;
	left: 5px !important;
}
div.cpw-ama-datamart-proc-viewers .select2-container-multi.select2-container-active .select2-choices
{
	border: unset;
}
div.cpw-ama-datamart-proc-viewers .select2-container .select2-choices, 
div.cpw-ama-datamart-proc-viewers .select2-container .select2-choices li,
div.cpw-ama-datamart-proc-viewers .select2-container .select2-choices div
{
	background-image: none;
	background: #fff;
}
div.cpw-ama-datamart-proc-viewers .select2-container .select2-choices
{
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	padding: 5px;
	padding: 0;
}
div.cpw-ama-datamart-proc-viewers li.select2-search-field::after
{
	content: "+";
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	left: 5px;
	color: #D3242C;
}
div.cpw-ama-datamart-proc-viewers .select2-container-multi.select2-dropdown-open li.select2-search-field::after
{
	content: "";
}
</style>
<div class="cpw-ama-datamart-proc-viewers">

	<div class="row">
		<div class="title">Процедура</div>
		<input type="text" readonly="true" value="<%= obj.txt('ТипПроцедуры') %>" disabled="disabled" readonly="readonly" />
	</div>

	<div class="row">
		<div class="title">Над должником</div>
		<input type="text" readonly="true" value="<%= obj.txt('НаименованиеДолжника') %>" disabled="disabled" readonly="readonly" />
	</div>

	<div class="row procedures">
		<span>Доступ к информации о процедуре имеют:</span>
		<div class="select2" <%= obj.select2_attrs('Доступ_у_наблюдателей') %> >тут должен быть select2</div>
	</div>

</div>