<b><span>Для входа на Витрину данных ПАУ необходимо запросить доступ у арбитражного управляющего, процедуру которого вы желаете видеть </span><br/>
<a href="https://support.russianit.ru/hc/ru/articles/360016937740" target="_blank">Инструкция для арбитражного управляющего</a> <br></b>