<style>
div.cpw-ama-datamart-admin-main div.profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
div.cpw-ama-datamart-admin-main .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-ama-datamart-admin-main .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
</style>
<%
var model= obj.value();
var name= 'Неустановленный администратор';
if (null!=model && model.Name)
	name= model.Name;
%>
<div class="cpw-ama-datamart-admin-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Кабинет администратора ИС ПАУ
				</span>
			</div>

			<div class="buttons">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;">
							<%= name %><% if (0) { %>Иванов И И<% } %>
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="logout">Выйти</li>
						</ul>
					</div>
				</span> 
			</div>
		</div>
	</header>

	<div id="cpw-ama-datamart-admin-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-manager-main-monitor">Фоновые процессы</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-hnbk" >Справочники</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-quer" >Запросы</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-out" >Исходящие</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-log">Журнал работы</a></li>
		</ul>
		<div id="cpw-ama-datamart-manager-main-monitor" class="page">
			<% if (0) { %>Мониторинг выполнения фоновых работ<% } %>
			<%= obj.control('Фоновые_процессы') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-hnbk" class="page">
			<% if (0) { %>Справочники<% } %>
			<%= obj.fields_control('Справочники') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-quer" class="page">
			<% if (0) { %>Запросы<% } %>
			<%= obj.fields_control('Запросы') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-out" class="page">
			<% if (0) { %>Исходящие<% } %>
			<%= obj.fields_control('Исходящие') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-log" class="page">
			<% if (0) { %>Журнал работы<% } %>
			<%= obj.fields_control('Журнал') %>
		</div>
	</div>

</div>