<style>
div.cpw-ama-datamart-applicant
{
	width:825px;
	margin:0 auto;
}
div.cpw-ama-datamart-applicant div.label-1-3
{
	display:inline-block;
	width:75px;
}
div.cpw-ama-datamart-applicant div.label-2-3
{
	display:inline-block;
	width:50px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-applicant div.label-3-3
{
	display:inline-block;
	width:80px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-applicant div.row
{
	margin-top:5px;
}
div.cpw-ama-datamart-applicant select[data-fc-selector="Тип"]{
	min-width: 200px;
	position: relative;
	left: 0;
}
div.cpw-ama-datamart-applicant input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input), 
div.cpw-ama-datamart-applicant textarea, 
div.cpw-ama-datamart-applicant select {
	min-width: 203px;
}
div.cpw-ama-datamart-applicant input.full
{
	width: 748px;
}
div.cpw-ama-datamart-applicant.citizen .organization
{
	display:none;
}
div.cpw-ama-datamart-applicant.organization .citizen
{
	display:none;
}
div.cpw-ama-datamart-applicant input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input), 
div.cpw-ama-datamart-applicant textarea{
	min-width: 203px;
}
div.cpw-ama-datamart-applicant input[type="checkbox"]
{
	margin-right: 5px;
}
div.cpw-ama-datamart-applicant .marriage_couple {
	display: none;
}
</style>
<%
var isMarriageCouple = obj.options.isMarriageCouple;
var applicant = obj.value();
var type_class = 'citizen';
if (null == applicant)
{
	applicant = {};
}
else
{
	type_class= 'Юр_лицо' == applicant.Тип ? 'organization' : 'citizen';
}
%>
<div class="cpw-ama-datamart-applicant <%= type_class %>">
	<div class="row">
		<div class="label-1-3">Заявитель:</div>
		<select class="type" <%= obj.select_attrs('Тип') %> >
			<option <%= obj.option_attrs('Физ_лицо') %> >Физическое лицо</option>
			<option <%= obj.option_attrs('Юр_лицо') %> >Юридическое лицо</option>
			<% if(isMarriageCouple) { %> <option <%= obj.option_attrs('Супруги') %> >Супруги</option> <% } %>
		</select> 
		<div class="label-2-3"></div>
		<label><input type="checkbox" <%= obj.checkbox_attrs('Заявитель_должник') %> /><span class="applicant-is-debtor-label">
			<% if(isMarriageCouple) { %>
				Заявителями являются сами должники
			<% } else { %>
				Заявителем является сам должник
			<% } %>
		</span></label>
	</div>

	<div class="row marriage_couple">
		<%= obj.control('Супруги') %>
		<% if (0) { %>Данные супругов<% } %>
	</div>

	<div class="form">
		<div class="row organization">
			<div class="label-1-3">Название:</div>
			<input type="text" class="full" value="<%= obj.txt('Юр_лицо.Наименование') %>" maxlength="250" />
		</div>
	
		<div class="row citizen">
			<div class="label-1-3">Фамилия:</div><input type="text" value="<%= obj.txt('Физ_лицо.Фамилия') %>" maxlength="90" />
			<div class="label-2-3">Имя:</div><input type="text" value="<%= obj.txt('Физ_лицо.Имя') %>" maxlength="70" />
			<div class="label-3-3">Отчество:</div><input type="text" value="<%= obj.txt('Физ_лицо.Отчество') %>" maxlength="90"/>
		</div>
		
		<div class="row">
			<div class="label-1-3">ИНН:</div><input type="text" value="<%= obj.txt('ИНН') %>" maxlength="14" />
			<div class="label-2-3">ОГРН:</div><input type="text" maxlength="13" value="<%= obj.txt('ОГРН') %>" />
			<div class="label-3-3 citizen">СНИЛС:</div><input type="text"  maxlength="11" class="citizen" value="<%= obj.txt('Физ_лицо.СНИЛС') %>" />
		</div>
		
		<div class="row">
			<div class="label-1-3">Адрес:</div><input class="full" type="text" value="<%= obj.txt('Адрес') %>" />
		</div>
	</div>
</div>