<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_lot.css" /></head><body><% } %>
<div class="ama-auction-lot">
	<div class="field-row field">
		<div class="field-title"><label>Наименование:</label></div>
		<div class="content">
			<input type="text" id="auction_lot_name"class="title" value="<%= obj.txt('Наименование') %>" />
		</div>
	</div>

	<div class="field-row">
		<div class="relations">
			<a href="#" <%= obj.a_modal_attrs('Объект_конкурсной_массы') %> >
				Кликните, чтобы выбрать соответствующие объекты конкурсной массы
			</a>
		</div>
	</div>


	<div class="field-row">
		<div class="column3 margin-column3" >
			<div class="field-title">Начальная цена:</div>
			<div class="content">
				<input type="text" class="money" value="<%= obj.txt('Начальная_цена') %>" />
				<span class="money">руб</span>
			</div>
		</div>
		<div class="column3 margin-column3">
			<div class="field-title">Размер задатка:</div>
			<div class="content">
				<input type="text" class="money" value="<%= obj.txt('Размер_задатка') %>" />
				<select class="money"  <%= obj.select_attrs('Размер_задатка_ед') %>>
					<option <%= obj.option_attrs('%') %> selected >%</option>
					<option <%= obj.option_attrs('руб.') %>>руб.</option>
				</select>
			</div>
		</div>
		<div class="column3">
			<div class="field-title">Шаг аукциона:</div>
			<div class="content">
				<input type="text" class="money" value="<%= obj.txt('Шаг_аукциона') %>" />
				<select class="money" <%= obj.select_attrs('Шаг_аукциона_ед') %> >
					<option <%= obj.option_attrs('%') %> selected >%</option>
					<option <%= obj.option_attrs('руб.') %>>руб.</option>
				</select>
			</div>
		</div>
	</div>

	<br />
	<div class="property">
		<div class="field-row">
			<div class="field-title">Описание лота: </div>
			<div class="content">
				<textarea <%= obj.textarea_attrs('Краткое_описание') %> ><%= obj.value() %></textarea><br/>
			</div>
		</div>
		<div class="field-row">
			<div class="field-title">Местонахождение: </div>
			<div class="content">
				<textarea <%= obj.textarea_attrs('Точный_адрес') %> ><%= obj.value() %></textarea><br/>
			</div>
		</div>
		<div class="field-row">
			<div class="field-title">Порядок ознакомления: </div>
			<div class="content">
				<textarea style="height:67px;" <%= obj.textarea_attrs('Порядок_ознакомления') %> ><%= obj.value() %></textarea><br/>
			</div>
		</div>
	</div>
</div>
<% if (0) { %></body></html><% } %>