div.ama-auction-lot
{
	display: inline-block;
	width: 97%;
}

.ui-widget
{
	background-color: rgb(242,238,240);
}

.ui-widget div.ama-auction-lot
{
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	position:absolute;
	top:0;
}

div.ama-auction-lot div.field-title
{
	display: inline-block;
	height: 19px;
	color: #9A9A9A;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 14px;
	width: 97%;
}

div.ama-auction-lot span.field-title2
{
	display: inline-block;
	color: #9A9A9A;
	width: 50px;
	margin-left:10px;
}

div.ama-auction-lot div.column3
{
	width: 215px;
	display: inline-block;
}

div.ama-auction-lot div.margin-column3
{
	margin-right:10px; 
}

div.ama-auction-lot textarea
{
	width: 670px;
	height: 47px;
}

div.ama-auction-lot select.money
{
	display: inline-block;
	margin-left: 10px;
	box-sizing: border-box!important;
	cursor: pointer!important;
}

div.ama-auction-lot input, textarea
{
	padding: 4px 7px;
	outline: 0;
	box-sizing: border-box;
	height: 30px;
	border: 1px solid #ffffff;
	outline: 1px solid #dce3ea!important;
	outline-offset: 0!important;
}

div.ama-auction-lot select
{
	outline: 0;
	box-sizing: border-box;
	height: 30px;
	border: 1px solid #ffffff;
	outline: 1px solid #dce3ea!important;
	outline-offset: 0!important;
}

div.ama-auction-lot input.money
{
	text-align: right;
	width: 120px;
}

div.ama-auction-lot input.title { width: 670px; }

div.ama-auction-lot div.field-row
{
	vertical-align: top;
	margin-bottom: 3px;
	margin-top: 3px;
	float: left;
	width: 97%;
}

div.ama-auction-lot div.field-row div { vertical-align: top; }

div.ama-auction-lot div.content
{
	display: inline-block;
	padding-bottom:0px;
}

div.field.invalid div.content input.title
{
	border: 1px solid red!important;
	background-color: rgb(255, 240, 240);
}

div.ama-auction-lot div.relations
{
	width: 660px;
	display: inline-block;
	text-align: right;
}

div.ama-auction-lot label.ama-icon
{
	line-height: inherit;
	height: inherit;
	display: inline-block;
	vertical-align: middle;
	min-height: 21px;
	cursor: pointer;
	padding-left: 27px;
	background: url(../Content/img/icons_sprite.png) no-repeat;
	margin-top: 3px;
}

div.ama-biddings-bidding label.ama-input-icon
{
	position: absolute;
	min-height: 32px;
	cursor: pointer;
	background: url(../Content/img/icons_sprite.png) no-repeat;
	display: inline-block;
	background-color: white;
	box-sizing: border-box;
	width: 36px;
	margin-left: -5px;
	margin-top: 2px;
	border-right: 1px solid #dce3ea!important;
	border-top: 1px solid #dce3ea!important;
	border-bottom: 1px solid #dce3ea!important;
	border-left:none;
}
