Обратите внимание, вход в кабинет АУ осуществляется по E-mail (адресу электронной почты).
<br/>
В поле ввода отсутствует символ "@".
<br/>
Возможно, вы вводите данные для входа в кабинет абонента ИС ПАУ.
<br/>
<br/>
В таком случае вам следует воспользвоваться соответствующей вкладкой
<br/>
<br/>  
<div style="text-align:center; color: #D3242C; font-weight: 600">
	"Кабинет абонента ИС ПАУ".
</div>

