div.cpw-ama-datamart-news {
    padding-top: 30px;
}

div.cpw-form-ama-dm-viewer-schedule .refresh-btn {
    top: 5px !important;
}

.cpw-form-ama-dm-viewer-schedule .fc-toolbar-chunk:nth-child(2) {
    margin-right: 120px;
}