/*
	ВНИМАНИЕ! 
	Здесь определены стили исключительно для элементов управления
	служебной страницы, используемой в ходе разработки
	для отладки и тестирования компонентов.

	В продуктовой версии сайта эти стили отсутствуют!
*/

div.wbt-mock-header
{
	display: none;
}

body.wbt-mock
{
	margin: 0px;
}

body.wbt-mock > div.container
{
	margin-left:0px;
}

div#report-editor
{
	width:1000px;
	margin:0px auto;
}

select#cpw-form-select { width:600px; }
select#cpw-content-select { width:400px; }
span#forms_loaded_span { display:none; }
span#contents_loaded_span { display:none; }
span#selected_content { display: none; }

div#form-management textarea
{
	width:95%;
}

div#form-management *
,div#form-editor-footer-buttons *
{
	box-sizing:content-box;
	font-family: sans-serif;
}

div#form-editor-footer-buttons
{
	display:none;
	width:100%;
	margin:0px auto;
	background:#eeeeee;
}

div#form-management button
,div#form-editor-footer-buttons button
{
	font-family: sans-serif;
	margin: 0;
	padding: 3px 10px;

	color: black;
	cursor: pointer;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: normal;
	overflow:visible;
	text-transform:none;

	box-shadow:none;
	background-color: rgb(206, 235, 206);
	background-image:none;
	border:1px solid gray;

	outline: none;
}

div#form-editor-footer-buttons > div
{
	width:600px;
	margin:0px auto;
	padding:5px;
}

input::-ms-clear
{
	display: none;
	width : 0;
	height: 0;
}

