<style>
div.cpw-form-marketplace-asset-classification span.title
{
	color:gray;
}
div.cpw-form-marketplace-asset-classification div.row
{
	margin-top:10px;
	margin-bottom:10px;
}
div.cpw-form-marketplace-asset-classification div.short-value
{
	display:inline-block;
}
div.cpw-form-marketplace-asset-classification div.value
{
	padding-left:30px;
	font-weight:bold;
}
</style>
<%
var o= obj.value();
if (!o)
	o= {};
%>
<div class="cpw-form-marketplace-asset-classification">

	<div class="row">
		<span class="title">Категория:</span> 
		<div class="short-value"><%= o.Категория %><% if (0) { %>Транспорт<% } %></div>
	</div>

	<div class="row">
		<span class="title">Классы в соответствии с классификатором ЕФРСБ:</span>
		<div class="value">
			<ul>
			<%	if (o.КлассификацияЕФРСБ && o.КлассификацияЕФРСБ.length)
				{
					for (var i= 0; i< o.КлассификацияЕФРСБ.length; i++)
					{ 
						var c= o.КлассификацияЕФРСБ[i];
			%>
				<li>
					<%= c.Наименование %><% if (0) { %>Грузовые автомобили<% } %>
				</li>
			<%		}
				} %>
			<ul>
		</div>
	</div>

</div>