<style>
div.cpw-form-ama-dm-push-settings
{
	width: 600px;
	margin:0 auto;
}
div.cpw-form-ama-dm-push-settings div.row
{
	margin-top:3px;
	margin-bottom:3px;
	min-height: 35px;
}
div.cpw-form-ama-dm-push-settings a[href="#"]
{
	margin-right:5px;
	margin-left:5px;
}
div.cpw-form-ama-dm-push-settings div.splitter
{
	height:1px;
	background-color:silver;
}
div.cpw-form-ama-dm-push-settings div.row label
{
	display:inline-block;
	width:100px;
	text-align:right;
	padding-right:5px;
}
div.cpw-form-ama-dm-push-settings div.row.destination.mobile-id-no span.exclamation
{
	color:red;
}
div.cpw-form-ama-dm-push-settings div.row.destination.mobile-id-no div.app
{
	font-size:x-small;
	text-align:right;
}
div.cpw-form-ama-dm-push-settings div.row.destination.mobile-id div.app-id
{
	font-size:xx-small;
	display:inline-block;
	width:300px;
	vertical-align:text-top;
	margin-top:3px;
}
div.cpw-form-ama-dm-push-settings span.title
{
	display:inline-block;
	font-weight:bold;
	margin-bottom:5px;
}
</style>
<%
	var v= obj.value();
	if (!v)
		v= {};
%>
<div class="cpw-form-ama-dm-push-settings">

	<div id="cpw-ama-datamart-push-settings-tabs" <%= obj.tabs_attrs() %> >
		<div id="cpw-ama-datamart-push-settings-efrsb" class="page">
			<% if (0) { %>О событиях<% } %>
			<%= obj.control('О_событиях') %>
		</div>
	</div>

	<div class="splitter"></div>

	<div class="row">
		<label>Использовать</label>
		<a href="#" <%= obj.a_checkbox_attrs('Учитывать_выходные') %> >рабочие и выходные дни</a>
		<span>&nbsp;для уведомлений</span>
	</div>

	<div class="row">
		<label>Уведомлять </label>
		<a href="#" <%= obj.a_modal_attrs('Присылать_уведомления') %>>с 12:00 по 14:00</a>
	</div>

	<div class="row destination-type">
		<label>Уведомления</label>
		<select <%= obj.select_attrs('Направлять') %>>
			<option <%= obj.option_attrs('никуда') %> >никуда не направлять</option>
<% if (!window.app.disable_viewers2) { %>
			<option <%= obj.option_attrs('в_мобильное_приложение_на_телефон') %> >направлять в мобильное приложение</option>
			<option <%= obj.option_attrs('смс_сообщениями_на_телефон') %> >направлять СМС сообщениями на телефон</option>
<% } %>
			<option <%= obj.option_attrs('на_адрес_электронной_почты') %> >направлять на адрес электронной почты</option>
			
		</select>
	</div>

	<div class="row destination"><label>email:</label><input type="text" value="<%= obj.txt('ПунктНазначения') %>" /></div>

	<div class="row destination mobile-id">
		<label>app-id:</label>
		<div class="app-id"><% if (0) { %>fqPY8ViOR2Wzwbjyn1x0I6:APA91bEO5Ebf7QSZqLnbUDnRnN_cRGowVphbDVd37TQds_2Y-8olqjqn00ukfDVV-wTaS6nwfsbTZjFfiBYyq9xyHXHn4oQLnziBVS7gaLc6GvzXW3WGm9ZK8npo8rSkhq72tIp2wwOA<% } %></div>
	</div>

	<div class="row destination mobile-id-no">
		<span class="exclamation">
			ВНИМАНИЕ! Включить уведомления на мобильное приложение можно 
			только из мобильного приложения!
		</span>
		<div class="app">
			Приложения доступны на устройствах под управлением 
			<a target="_blank" href="https://russianit.ru/mobile-ama/">iOS</a> 
			и <a target="_blank" href="https://russianit.ru/mobile-ama/">Android</a>.
		</div>
	</div>

</div>