<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_choose_efrsb_msg_type.css" /></head><body><% } %>
<% if (0) { %>
<style>
div.cpw-dm-efrsb-msg-type-choose
{
	width:600px;
	height:350px;
}
div.cpw-dm-efrsb-msg-type-choose div.tree {display:block;}
div.cpw-dm-efrsb-msg-type-choose div.tree div.content {display:block;}
</style>
<% } %>
<%
	var settings= obj.value();
	if (!settings)
		settings= {};
%>
<% if (settings.TreeMode) { %>
<style>
div.cpw-dm-efrsb-msg-type-choose div.tree {display:block;}
div.cpw-dm-efrsb-msg-type-choose div.list {display:none;}
</style>
<% } %>
<% if (settings.ShowOnlyActual) { %>
<style>
div.cpw-dm-efrsb-msg-type-choose li.item[data-actual="false"] {display:none;}
</style>
<% } %>
<div class="cpw-dm-efrsb-msg-type-choose">

	<div class="header">
		<input type="text" class="search"/> 
		<label>
			<% var show_tree_checked= !settings.TreeMode ? '' : ' checked="checked" '; %>
			<input type="checkbox" class="show-tree" <%= show_tree_checked %> /> 
			<span>Как на ЕФРСБ</span>
		</label>
	</div>

	<div class="list">
		<ul>
	<%
		var types= obj.options.message_types;
		for (var i= 0; i< types.length; i++)
		{ 
			var t= types[i];
			var implemented= obj.options.implemented(t,obj.value());
			var actual= obj.options.actual(t,obj.value());
		%>
			<li class="item" data-db_value="<%= t.db_value %>" data-implemented="<%= implemented %>" data-actual="<%= actual %>">
				<span class="short-name"><%= t.short_name %><% if (0) { %>О результатах СК<% } %></span> 
				<div class="full-name">(<%= t.full_name %><% if (0) { %>Объявление о результатах СК<% } %>)</div>
			</li>
	<%	} %>
		</ul>
	</div>

	<div class="tree">
		<%
		var groups= obj.options.h_MessageType_group;
		for (var i= 0; i< groups.length; i++)
		{ 
			var g= groups[i];
			var g_db_value_atrs= !g.db_value ? '' : ' data-db_value="' + g.db_value + '" ';
			var g_class= !g.db_value ? 'group to-switch' : 'db-value ';
		%>
			<div class="<%= g_class %>" <%= g_db_value_atrs %> >
				<div class="header" onclick="$(this).parents('.group').toggleClass('open');">
					<div class="switcher">
						<% if (!g.t) { %>
						•
						<% } else { %>
						<div class="open"><% if (0) { %>+<% } %></div>
						<div class="close"><% if (0) { %>-<% } %></div>
						<% } %>
					</div>
					<div class="name"><%= g.n %><% if (0) { %>Собрания и комитеты кредиторов<% } %></div>
				</div>
				<% if (g.t) { %>
				<div class="content">
					<ul>
						<%	for (var j= 0; j< g.t.length; j++)
							{
								var n= g.t[j].n;
								var db_value= g.t[j].db_value;
						%>
						<li data-db_value="<%= db_value %>"><%= n %><% if (0) { %>Объявление о результатах СК<% } %></li>
						<%	} %>
					</ul>
				</div>
				<% } %>
			</div>
		<%	} %>
	</div>

	<div class="footer">
		<label>
			<% var show_actual_checked= !settings.ShowOnlyActual ? '' : ' checked="checked" '; %>
			<input type="checkbox" class="show-only-actual"  <%= show_actual_checked %> /> 
			<span>
				Только актуальные для процедуры 
				"<%= !settings.CurrentProcedureName ? 'РД' : settings.CurrentProcedureName %><% if (0) { %>РД<% } %>"
			</span>
		</label>
	</div>

</div>
<% if (0) { %></body></html><% } %>