div.cpw-dm-efrsb-msg-type-choose
{
	height:350px;
}
div.cpw-dm-efrsb-msg-type-choose div.header *
{
	vertical-align:middle;
}
div.cpw-dm-efrsb-msg-type-choose input[type="text"]
{
	width:calc(100% - 200px);
}
div.cpw-dm-efrsb-msg-type-choose div.tree {display:none;}
div.cpw-dm-efrsb-msg-type-choose div.list
,div.cpw-dm-efrsb-msg-type-choose div.tree
{
	height:calc(100% - 70px);
	overflow-y:scroll;
	margin:2px;
	padding:2px;
	padding-left:5px;
	border:1px solid gray;
	background-color:white;
}
div.cpw-dm-efrsb-msg-type-choose div.list ul
{
	padding-left:20px;
	padding-right:10px;
	margin-top:0px;
	margin-bottom:0px;
}
div.cpw-dm-efrsb-msg-type-choose div.list .item
{
	padding:2px;
	cursor:pointer;
}
div.cpw-dm-efrsb-msg-type-choose div.list .item:hover
{
	background-color:#eeeeee;
}
div.cpw-dm-efrsb-msg-type-choose div.list .item span.short-name
{
	font-weight:bold;
}
div.cpw-dm-efrsb-msg-type-choose div.list .item div.full-name
{
	display:inline-block;
	color:gray;
	font-size:small;
}
div.cpw-dm-efrsb-msg-type-choose div.list .item[data-implemented="true"]
{
	color:green;
}

/* tree.. */
div.cpw-dm-efrsb-msg-type-choose div.switcher
div.cpw-dm-efrsb-msg-type-choose div.switcher div
{
	display:inline-block;
	cursor:pointer;
}
div.cpw-dm-efrsb-msg-type-choose div.switcher {width:15px;}
div.cpw-dm-efrsb-msg-type-choose div.switcher div.open::after { content:'▶'; }
div.cpw-dm-efrsb-msg-type-choose div.switcher div.close::after { content:'▼'; }
div.cpw-dm-efrsb-msg-type-choose div.to-switch > div.header div.switcher div.open { display:inline-block; }
div.cpw-dm-efrsb-msg-type-choose div.to-switch > div.header div.switcher div.close { display:none; }
div.cpw-dm-efrsb-msg-type-choose div.to-switch.open > div.header div.switcher div.open { display:none; }
div.cpw-dm-efrsb-msg-type-choose div.to-switch.open > div.header div.switcher div.close { display:inline-block; }

div.cpw-dm-efrsb-msg-type-choose div.to-switch > div.content { display:none; }
div.cpw-dm-efrsb-msg-type-choose div.to-switch.open > div.content { display:inline-block; }

div.cpw-dm-efrsb-msg-type-choose div.tree div.header:hover
{
	color:red;
}
div.cpw-dm-efrsb-msg-type-choose div.tree div.header div
{
	display:inline-block;
	vertical-align:top;
}
div.cpw-dm-efrsb-msg-type-choose div.tree div.header
{
	cursor:pointer;
}
div.cpw-dm-efrsb-msg-type-choose div.tree ul
{
	margin-top:0;
	margin-bottom:0;
}
div.cpw-dm-efrsb-msg-type-choose div.tree li
{
	cursor:pointer;
}
div.cpw-dm-efrsb-msg-type-choose div.tree li:hover
{
	color:red;
	background-color:#eeeeee;
}
div.cpw-dm-efrsb-msg-type-choose div.tree div.db-value div.name:hover
{
	background-color:#eeeeee;
}

