﻿<style>
div.cpw-ama-datamart-sel-meeting-form > div.meeting-selector div.select2
{	
	display: inline-block;
	width: 550px;
	text-align: left;
}
div.cpw-ama-datamart-sel-meeting-form 
{
	width: 100%;	
}
div.cpw-ama-datamart-sel-meeting-form div.meeting-selector
{
	margin-bottom: 10px;
	padding: 0 20px;
}
div.cpw-ama-datamart-sel-meeting-form div.meeting-selector div.title
{
	display:inline-block;
	vertical-align:middle;
}
div.cpw-ama-datamart-sel-meeting-form button.delete-meeting
{
	float:right;
}
div.cpw-ama-datamart-sel-meeting-form div.no-meetings
{
	display:inline-block;
	width:600px;
	margin: 0 auto;
	padding-left:100px;
}

div.cpw-ama-datamart-sel-meeting-form div.no-meetings img
{
	border: 1px solid green;
	margin-bottom:20px;
}
</style>
<% if (0) { %>
<style>
div.cpw-ama-datamart-sel-meeting-form div.selected-meeting
{
	border: 1px solid black;
}
</style>
<% } %>
<div class="cpw-ama-datamart-sel-meeting-form">

	<div class="selected-meeting">
		<% if (0) { %>Область размещения данных о заседании<% } %>
	</div>

</div>