<style>
div.cpw-form-marketplace-asset-info div.title
{
	display:inline-block;
	width:150px;
	color:gray;
}
div.cpw-form-marketplace-asset-info div.row
{
	margin-top:10px;
	margin-bottom:10px;
}
div.cpw-form-marketplace-asset-info div.short-value
{
	display:inline-block;
}
div.cpw-form-marketplace-asset-info div.value
{
	padding-left:30px;
	font-weight:bold;
}
div.cpw-form-marketplace-asset-info div.value a.asset-img-app
{
	display:inline-block;
	padding:2px;
	vertical-align:top;
}
div.cpw-form-marketplace-asset-info div.value a.asset-img-app span
{
	font-size:xx-small;
}
div.cpw-form-marketplace-asset-info div.value img
{
	border:1px solid silver;
}
</style>
<%
var o= obj.value();
if (!o)
	o= {};

var img_extensions= {jpg:true,gif:true,png:true,tiff:true,jpeg:true};

var images= [];
if (o.Приложения && o.Приложения.length)
{
	for (var i= 0; i< o.Приложения.length; i++)
	{
		var a= o.Приложения[i];
		var filename= a.FileName;
		var pos= filename.lastIndexOf('.');
		var extension= filename.substring(pos+1).toLowerCase();
		if (img_extensions[extension])
			images.push(a);
	}
}

%>
<div class="cpw-form-marketplace-asset-info">

	<div class="row">
		<div class="title">Наименование:</div>
		<div class="short-value"><%= o.Краткое_наименование %><% if (0) { %>Квартира<% } %></div>
	</div>

	<div class="row">
		<div class="title">Местонахождение:</div>
		<div class="short-value"><%= o.Адрес %><% if (0) { %>Удмуртская республика, г.Ижевск, ул.Ленина, д.117, кв.47<% } %></div>
	</div>

	<div class="row">
		<div class="title">Описание:</div>
		<div class="value"><%= o.Развёрнутое_описание %><% if (0) { %>3-х комнтатная, площадь 66,3 кв.м., большой коридор, лоджия, евроремонт<% } %></div>
	</div>

<% if (images && null!=images && images.length && 0!=images.length) { %>
	<div class="row">
		<div class="title">Изображения:</div>
		<div class="value">
			<%	for (var i= 0; i< images.length; i++)
				{
					var image= images[i];
			%>
				<a class="asset-img-app" href="#null" data-id_assetattachment="<%= image.id_AssetAttachment %>" >
					<img class="asset-img" width="100px"
						alt="<%= image.FileName %>"
						src="<%= obj.options.attachment_url_prefix + image.id_AssetAttachment %>" /><br/>
					<span><%= image.FileName %><% if (0) { %>Image2349877.jpg<% } %></span>
				</a>
			<%	} %>
		</div>
	</div>
<% } %>

</div>