<style>
div.cpw-form-ama-dm-viewer-escorts #cpw-form-ama-dm-viewer-escorts-tabs >.ui-tabs-nav li:first-child{
	margin-left: 0 !important;
}
div.cpw-form-ama-dm-viewer-escorts #cpw-form-ama-dm-viewer-escorts-dbtrs,
div.cpw-form-ama-dm-viewer-escorts #cpw-form-ama-dm-viewer-escorts-dbtr {
	padding: 10px 0 0;
}
</style>
<div class="cpw-form-ama-dm-viewer-escorts">

	<div id="cpw-form-ama-dm-viewer-escorts-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-form-ama-dm-viewer-escorts-dbtrs" >Должники</a></li>
			<li><a href="#cpw-form-ama-dm-viewer-escorts-dbtr" >Должник</a></li>
		</ul>
		<div id="cpw-form-ama-dm-viewer-escorts-dbtrs" class="page" >
			<% if (0) { %>Список должников<% } %>
			<%= obj.fields_control('Должники') %>
		</div>
		<div id="cpw-form-ama-dm-viewer-escorts-dbtr" class="page" >
			<% if (0) { %>Вся информация о должнике<% } %>
			<%= obj.fields_control('Должник') %>
		</div>
	</div>

</div>