<style>
div.cpw-ama-committee-questions-form { position: relative; }
div.cpw-ama-committee-questions-form div.question
{
	margin: 3px 0;
	padding: 5px 5px 5px 10px;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	box-sizing: border-box;
}
div.cpw-ama-committee-questions-form div.question:hover
{
	background-color: #dfdfdf;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	cursor: pointer;
}
div.cpw-ama-committee-questions-form div.header
{
	padding: 3px 5px 3px 10px;
	display: inline-block;
	width: 100%;
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
	box-sizing: border-box;
}
div.cpw-ama-committee-questions-form div.question
{
	display: inline-block;
	width: 100%;
}
div.cpw-ama-committee-questions-form div.question div.buttons
{
	float: right;
}
div.cpw-ama-committee-questions-form div.question div.buttons button.edit,
div.cpw-ama-committee-questions-form div.question div.buttons button.delete
{
	border: none;
	background-color: transparent;
	margin: 0;
	vertical-align: middle;
	color: gray;
	font-size: 14px;
	border-radius: 3px;
	vertical-align: middle;
	height: 28px;
	width: 28px;
	padding: 1px 8px;
}
div.cpw-ama-committee-questions-form div.questions
{
	padding: 5px;
}
div.cpw-ama-committee-questions-form div.question div.voting
{
	display: inline-block;
	font-size: small;
	color: gray;
	text-align: right;
	padding-left: 15px;
	vertical-align: bottom;
}
div.cpw-ama-committee-questions-form div.question div.voting b
{
	font-weight: 600
}
div.cpw-ama-committee-questions-form div.question > span
{
	display: inline-block;
	margin-top: 2px;
	vertical-align: middle;
	font-size: 14px;
}
div.cpw-ama-committee-questions-form div.header button
{
	float: right;
}
div.cpw-ama-committee-questions-form div.header > span
{
	display: inline-block;
	margin-top: 9px;
	font-weight: 600;
	font-size: 14px;
}
</style>
<%
var readonly= (obj.options && obj.options.readonly);
var b_disabled= !readonly ? '' : ' disabled="disabled" ';
%>
<div class="cpw-ama-committee-questions-form">
	<div class="header">
		<span>Повестка заседания:</span>
		<button class="button add" <%= b_disabled %> >Добавить вопрос</button>
	</div>
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<div class="questions" <%= obj.not_empty_attrs() %> >
		<% while (obj.iterate()) { %>
		<div class="question"  <%= obj.item_attrs() %> >
			<span>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>) 
				<%= obj.text_field('В_повестке') %>
					<% if (obj.is_seed()) { %>О положении в гондурасе<% } %>
				<%= obj.text_field_end() %> 
			</span>
			
			
			<div class="buttons">
				<button class="edit-icon edit" title="Редактировать" <%= b_disabled %> ></button>
				<button class="trash-icon delete" title="Удалить" <%= b_disabled %> ></button>
			</div>
			<div class="voting">
				На голосование: 
				<b><%= obj.text_field('На_голосование.Формулировка') %>
					<% if (obj.is_seed()) { %>О положении в гондурасе<% } %>
				<%= obj.text_field_end() %></b>
			</div>
		</div>
		<% } %>
	</div>
</div>