<style>
div.cpw-ama-datamart-procedure-form > div.dm-selector
{
	width: 100%;
	position: relative;
	border-bottom: 1px solid #DFDFDF;
	z-index:1;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector::before
{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 1000px 1px 0px 0px #DFDFDF, -1000px 1px 0px 0px #DFDFDF;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector > button
{
	float:right;
	position: absolute;
	right: 15px;
	bottom: 5px;
	display: none;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector > div.sections
{
	text-align: center;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector > div.sections > a.head-tab
{
	color: #999;
	text-decoration: none;
	cursor:no-drop;
	padding: 10px 10px 7px;
	display: inline-block;
	margin-right: 10px;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector > div.sections > a.head-tab.nonempty
{
	text-decoration:none;
	cursor:pointer;
	color: #444;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector > div.sections > a.head-tab:hover
{
	color: #D3242C;
	opacity: 0.8;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector > div.sections > a.head-tab.nonempty > .info {
	display: none;
}
div.cpw-ama-datamart-procedure-form > div.dm-selector > div.sections > a.head-tab.active
{
	color: #D3242C;
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
	font-weight: 600
}
div.cpw-ama-datamart-procedure-form a.head-tab div.info
{
	margin: 0 0 2px 5px;
	position: relative;
}
div.cpw-ama-datamart-procedure-form a.head-tab div.info .tooltiptext
{
	visibility: hidden;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	width: 180px;
	background-color: #fff;
	color: #444;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	text-align: left;
	border: none;
	border-radius: 0;
	padding: 10px 15px;
	position: absolute;
	z-index: 1;
	top: 28px;
	left: 50%;
	margin-left: -25px;
	opacity: 0;
	transition: opacity 0.3s;
}
div.cpw-ama-datamart-procedure-form a.head-tab div.info .arrow
{
	position: absolute;
	bottom: 100%;
	left: 25px;
	margin-left: -11px;
	border-width: 11px;
	border-style: solid;
	border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
}
div.cpw-ama-datamart-procedure-form a.head-tab div.info .arrow::after
{
	content: "";
	top: -9px;
	margin-left: -10px;
	border-width: 10px;
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
div.cpw-ama-datamart-procedure-form a.head-tab div.info:hover .tooltiptext
{
	visibility: visible;
	opacity: 1;
}
</style>
<% if (0) { %>
<style>
div.cpw-ama-datamart-procedure-form > div.body
{
	border: 1px solid black;
}
</style>
<% } %>
<div class="cpw-ama-datamart-procedure-form">

	<div class="dm-selector">
		<button class="ama-button" id="raw-view">Необработанное представление</button>
		<div class="sections">

			<a class="head-tab" href="#" isection="efrsb">
				<span>ЕФРСБ</span>
				<div class="info info-red-icon">
					<div class="tooltiptext">
						<div class="arrow"></div>
						<div>
							Информация по данному разделу не загружена на Витрину
						</div>
					</div>
				</div>
			</a>

			<%	
			for (var i= 0; i < obj.options.h_section.length; i++) 
				{
					var s= obj.options.h_section[i];
			%>
			<a class="head-tab" href="#" isection="<%= i %>">
				<span><%= s.title %><% if (0) { %>Отчет<% } %></span>
				<div class="info info-red-icon">
					<div class="tooltiptext">
						<div class="arrow"></div>
						<div>
							Информация по данному разделу не загружена на Витрину или не доступна Вам
						</div>
					</div>
				</div>
			</a>
			<% } %>

		</div>
	</div>

	<div class="body">
		<% if (0) { %>Область размещения данных о процедуре<% } %>
	</div>

</div>