<style>
	/* Меняем стиль родителя */
	div.cpw-ama-award-main {
		min-width: 800px;
		max-width: 1280px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* Локальные стили */
    div.cpw-dm-award-voted-source {
        margin: 30px auto 0;
    }

	div.cpw-dm-award-voted-source div.button-panel {
		margin-top: 50px;
	}
</style>
<div class="cpw-dm-award-voted-source">

	<p>По нашим данным Вы являетесь пользователем программы Помощник Арбитражного Управляющего версии 3.9.9 или более поздней</p>
	<p>Вы можете удобно проголосовать с использованием логина и пароля от личного кабинета ПАУ</p>

	<div>
		<button class="contract red">Проголосовать</button>
		<button class="certificate" style="margin-left: 30px;">Нет, я хочу проголосовать с помощью электронной подписи</button>
	</div>

	<div class="button-panel">
		<button class="back">
			<span class="icon-back">←</span>
			Вернуться к выбору голосующего
		</button>
	</div>
</div>