<style>
div.cpw-form-ama-dm-customer-assignments #cpw-form-ama-dm-customer-assignments-tabs >.ui-tabs-nav li:first-child{
	margin-left: 0 !important;
}
div.cpw-form-ama-dm-customer-assignments #cpw-form-ama-dm-customer-assignments-cnsnts,
div.cpw-form-ama-dm-customer-assignments #cpw-form-ama-dm-customer-assignments-rqsts,
div.cpw-form-ama-dm-customer-assignments #cpw-form-ama-dm-customer-assignments-to_court {
	padding: 10px 0 0;
}
</style>
<div class="cpw-form-ama-dm-customer-assignments">

	<div id="cpw-form-ama-dm-customer-assignments-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-form-ama-dm-customer-assignments-rqsts" >Запросы</a></li>
			<li><a href="#cpw-form-ama-dm-customer-assignments-cnsnts" >Согласия</a></li>
<% if (!app.disable_viewers3) { %>
			<li><a href="#cpw-form-ama-dm-customer-assignments-to_court" >В суд</a></li>
			<li><a href="#cpw-form-ama-dm-customer-assignments-accompanying" >Сопровождающие</a></li>
<% } %>
		</ul>
		<div id="cpw-form-ama-dm-customer-assignments-rqsts" class="page" >
			<% if (0) { %>Список запросов кандидатур<% } %>
			<%= obj.fields_control('Запросы') %>
		</div>
		<div id="cpw-form-ama-dm-customer-assignments-cnsnts" class="page" >
			<% if (0) { %>Список согласий<% } %>
			<%= obj.fields_control('Согласия') %>
		</div>
<% if (!app.disable_viewers3) { %>
		<div id="cpw-form-ama-dm-customer-assignments-to_court" class="page" >
			<% if (0) { %>Список сопровождаемых<% } %>
			<%= obj.fields_control('В_суд') %>
		</div>
		<div id="cpw-form-ama-dm-customer-assignments-accompanying" class="page" >
			<% if (0) { %>Список сопровождающих<% } %>
			<%= obj.fields_control('Сопровождающие') %>
		</div>
<% } %>
	</div>

	<div style="text-align: center">
		<a href="docs\СоглашениеНазначенияВКабинетеАУ.pdf">
			Соглашение об условиях и порядке использования модуля «Назначения»
		</a>
	</div>

</div>