<!--
<form method="POST" action="http://local.test/dm/ui-backend.php?action=login&as=manager&preload=procedures">
-->
<form method="POST" action="https://rsit.ru/datamart-test/ui-backend.php?action=login&as=manager&preload=procedures">
	Login:<input type="text" name="Login" value="x@y.com" /><br/>
	Password:<input type="text" name="Password" value="1" /><br/>
	<input type="submit" />
</form>