<style>
div.cpw-ama-committee-cabinet-documents
{
	overflow: auto;
}
div.cpw-ama-committee-cabinet-documents table
{
	border: 1px solid #DFDFDF;
	width: 100%;
}
div.cpw-ama-committee-cabinet-documents table tr.head
{
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
}
div.cpw-ama-committee-cabinet-documents table tr.head td
{
	text-align: center;
	font-size: 14px;
}
div.cpw-ama-committee-cabinet-documents table tr:nth-child(2n)
{
	background: #F5F5F5;
}
div.cpw-ama-committee-cabinet-documents table td
{
	vertical-align: top;
	padding: 10px 5px;
}
div.cpw-ama-committee-cabinet-documents table td.pos
{
	padding-left: center;
}
div.cpw-ama-committee-cabinet-documents table td.hash
, div.cpw-ama-committee-cabinet-documents table td.size
{
	text-align: right;
}
div.cpw-ama-committee-cabinet-documents table td.reg
{
	text-align: center;
}
div.cpw-ama-committee-cabinet-documents table td.hash
,div.cpw-ama-committee-cabinet-documents table td.size
,div.cpw-ama-committee-cabinet-documents table td.fname
,div.cpw-ama-committee-cabinet-documents table td.reg
{
	font-size: smaller;
	vertical-align: middle;
}
div.cpw-ama-committee-cabinet-documents > div.md5-comments
{
	margin-top:15px;
	font-size: smaller;
	text-align:left;
	color:gray;
}
</style>
<div class="cpw-ama-committee-cabinet-documents">

	<div <%= obj.empty_attrs() %> >
		Документов нет
	</div>

	<table <%= obj.not_empty_attrs() %> >
		<tr class="head">
			<td>№</td>
			<td>Время</td>
			<td>Документ</td>
			<td>Файл</td>
			<td>Размер</td>
			<td>Контрольная сумма (хэш) md5</td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %> >
			<td class="pos">
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>) 
			</td>
			<td class="reg"><%= obj.txt_field('Время') %><% if (0) { %>10.10.2010<% } %></td>
			<td class="doc">
				<a href="#null">
					<%= obj.txt_field('Наименование') %><% if (0) { %>Уведомление о голосовании<% } %>
				</a>
			</td>
			<td class="fname">
				<a href="#null">
					<%= obj.txt_field('Файл') %><% if (0) { %>Б.201010101130.txt<% } %>
				</a>
			</td>
			<td class="size"><%= obj.txt_field('Размер', function(t){return !t || null==t ? '' : t+' байт';}) %><% if (0) { %>345<% } %></td>
			<td class="hash"><%= obj.txt_field('doc_md5') %><% if (0) { %>d131dd02c5e6eec4693d9a0698aff95c<%= obj.txt_field('Номер') %><% } %></td>
		</tr>
		<% } %>
	</table>

	<div class="md5-comments">
		Для проверки контрольной суммы (хэша) md5 скачанного файла можно использовать сторонние сервисы, например 
		<a target="_blank" <%=app.a_href_attrs('http://onlinemd5.com/')%> >http://onlinemd5.com/</a> или 
		<a target="_blank" <%=app.a_href_attrs('https://md5file.com/calculator')%> >https://md5file.com/calculator</a> или 
		<a target="_blank" <%=app.a_href_attrs('https://hash.online-convert.com/ru/md5-generator')%> >https://hash.online-convert.com/ru/md5-generator</a>.
	</div>

</div>