<style>
	.cpw-form-ama-dm-requests .filter-toolbar{
		display: none;
	}
</style>
<div class="div">
	<div class="cpw-form-ama-dm-requests cpw-form-ama-datamart-grid">

		<div class="search-bar">
			<div class="ama-button show-hide-search-inputs">
				<span class="icon-search-icon"></span>
				<span class="search-button-text">Искать</span>
			</div>
		</div>
		<div class="filter-toolbar">
			<a href="#" <%= obj.a_modal_attrs('Фильтрация') %>>Параметры отображения запросов</a>
		</div>
		<div class="grid closed-search">
			<table id="cpw-ama-dm-requests-grid" class="grid"></table>
			<div id="cpw-cpw-ama-dm-requests-pager"></div>
		</div>
	
	</div>
</div>
