<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_selectable_bidding.css" /></head><body><% } %>
<div class="ama-biddings-biddings">
	<div>
		<div class="right bidding-cmd">
			<a href="#" class="ama-link ama-icon ama-icon-edit edit"><% if (0) {%>e<% } %></a> 
			<a href="#" class="ama-link ama-icon ama-icon-plus add"><% if (0) {%>+<% } %></a> 
			<a href="#" class="ama-link ama-icon ama-icon-remove delete"><% if (0) {%>-<% } %></a> 
		</div>
		<span style="vertical-align:central; width: 60px; padding-right:10px">Торги:</span>
		<select id="selectBiddings" class="selector" style="margin-top:5px;">
			<% if (0) {%>
				<option>Комплекс зданий в Чернявке</option>
			<% } %>
		</select>
	</div>
	<div class="bidding">
		<% if (0) {%>
			Информация о торгах
		<% } %>
	</div>
	<div class="store-status">
		<% if (0) {%>
			информация о статусе чтения/записи данных из/в базу данных
		<% } %>
	</div>
</div>
<% if (0) { %></body></html><% } %>