div#balances-container {
    font-family: Calibri;
}

div#balances-container {
    max-height: 700px;
    overflow: scroll;
}

div#balances-container table.form-table {
    border-collapse: collapse;
    font-family: 'Calibri';
    margin-bottom: 10px;
}

div#balances-container table.form-table td {
    border-bottom: 1px solid gainsboro;
}

div#balances-container table.form-table td, th {
    border-collapse: collapse;
    padding: 5px;
}

div#balances-container table.form-table td {
    border-collapse: collapse;
    padding: 5px;
    /* margin-left: 10px; */
}

div#balances-container table.form-table td.balance-name {
    width: 485px;
    padding-left: 35px;
}

div#balances-container table.form-table td.balance-code {
    font-weight: bold;
}

div#balances-container table.form-table th.section-header {

    background: gainsboro;
}

div#balances-container table.form-table th.subsection-header {

}

div#balances-container button.test-button {
    background: #e29696;
    color: white;
    /* border: 0px solid white; */
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 5px;
    width: auto;
}

div#balances-container button.test-button:hover {
    background: #ffffff;
    color: #e19a9a;
    border: 1px solid #e29696;
    transition: 0.5s;
}

div#balances-container table.balances-table {
    border-collapse: collapse;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    /* padding: 11px; */
}

div#balances-container table.balances-table td,th {
    border-collapse: collapse;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
}

div#balances-container table.balances-table td.balance-name {
    width: 530px;
}

div#balances-container table.balances-table td.balance-code {
    font-weight: bold;
}

div#balances-container table.balances-table th.form-header {
    font-weight: bold;
    color: black;
    font-size: 13pt;
}

div#balances-container table.balances-table td.section-header {
    font-weight: bold;
    color: black;
}

div#balances-container table.balances-table td.subsection-header {
    font-weight: bold;
    color: black;
}