﻿	/* Хак для синей темы JQUI у которой стиль датапикера по дефолту отоброжается белым */

	div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	    color: black;
	}
	/* Стиль основного контейнера с таблицей */

	div#fa-deals-container {
	    border: 0px solid blue;
	    border-radius: 1px;
	    font-family: 'Calibri';
	    font-size: 10pt;
	    width: 100%;
	    height: 100%;
	}

	div#fa-deals-container td,
	div#fa-deals-container th {
	    border-collapse: collapse;
	}

	div#fa-deals-container th {
	    padding: 3px;
	    height: 30px;
	    font-size: 12pt;
	}

	div#fa-deals-container div.fixed-block th.cp_name_cell {
	    width: 285px;
	    cursor: pointer;
	}

	div#fa-deals-container div.fixed-block th.sum_cell {
	    width: 130px;
	    cursor: pointer;
	}

	div#fa-deals-container div.fixed-block th.date_cell {
	    width: 95px;
	    cursor: pointer;
	}

	div#fa-deals-container div.fixed-block th.cntr_name_cell {
	    width: 190px;
	    text-align: center;
	}

	div#fa-deals-container div.fixed-block th.cntr_number_cell {
	    width: 130px;
	    text-align: center;
	}

	div#fa-deals-container div.fixed-block th.comment_cell {
	    width: 352px;
	    text-align: left;
	}

	div#fa-deals-container div.fixed-block div.fixed-content {
	    position: fixed;
	}

	div#fa-deals-container div.fixed-block .fixed-table th {
	    text-align: center;
	    border: 1px solid #ccc;
	    font-weight: normal;
	    background-color: #f2f2f2;
	}

	div#fa-deals-container div.footer td {
	    border: 1px solid #ccc;
	    background-color: #f0f0f0;
	}

	div#fa-deals-container div.footer td#total-deals-count {
	    width: 30px;
	    border-right: 0;
	    text-align: center;
	    font-size: 10pt;
	    font-weight: bold;
	}

	div#fa-deals-container div.footer td#total-suspect-deals-count {
	    width: 30px;
	    border-right: 0;
	    text-align: center;
	    font-size: 10pt;
	    font-weight: bold;
	}

	div#fa-deals-container div.footer td#total-deals-description {
	    width: 195px;
	    border-right: 0;
	    text-align: left;
	    font-size: 10pt;
	    padding-left: 5px;
	}

	div#fa-deals-container div.footer td#total-suspect-deals-description {
	    width: 195px;
	    border-right: 0;
	    text-align: left;
	    font-size: 10pt;
	    padding-left: 5px;
	}

	div#fa-deals-container div.footer td#total-deals-amount {
	    width: 190px;
	    max-width: 190px;
	    text-align: right;
	    overflow: hidden;
	    white-space: nowrap;
	    border-left: 0;
	    font-weight: bold;
	    padding-right: 5px;
	    border-right: 0;
	}

	div#fa-deals-container div.footer td#total-suspect-deals-amount {
	    width: 190px;
	    max-width: 190px;
	    text-align: right;
	    overflow: hidden;
	    white-space: nowrap;
	    border-left: 0;
	    font-weight: bold;
	    padding-right: 5px;
	    border-right: 0;
	}

	.suspect_deals {
	    color: brown;
	    font-weight: bold;
	}

	div#fa-deals-container div.footer td.total-deals-empty-cells {
	    width: 415px;
	    text-align: left;
	    padding-left: 5px;
	    border-right: 0;
	    border-left: 0;
	}

	div#fa-deals-container td.cp_name_cell {
	    max-width: 285px;
	    width: 285px;
	    text-align: left;
	}

	div#fa-deals-container td.locked {
	    white-space: nowrap;
	    overflow: hidden;
	}

	div#fa-deals-container div.scrolled-block td.sum_cell {
	    max-width: 130px;
	    width: 130px;
	    text-align: right;
	    overflow: hidden;
	    white-space: nowrap;
	}

	div#fa-deals-container div.scrolled-block td.sum_cell .performances_count {
	    font-size: 11px;
	}

	div#fa-deals-container div.scrolled-block td.date_cell {
	    max-width: 95px;
	    width: 95px;
	    text-align: center;
	    overflow: hidden;
	    white-space: nowrap;
	}

	div#fa-deals-container div.scrolled-block td.cntr_name_cell {
	    max-width: 190px;
	    width: 190px;
	    text-align: left;
	    overflow: hidden;
	    white-space: nowrap;
	}

	div#fa-deals-container div.scrolled-block td.cntr_number_cell {
	    max-width: 130px;
	    width: 130px;
	    text-align: left;
	    overflow: hidden;
	    white-space: nowrap;
	}

	div#fa-deals-container div.scrolled-block td.comment_cell {
	    width: 330px;
	    max-width: 330px;
	    text-align: left;
	    overflow: hidden;
	    white-space: nowrap;
	}

	div#fa-deals-container div.scrolled-block td.tools {
	    height: 30px;
	}

	div#fa-deals-container div.scrolled-block td.sum_cell input {
	    text-align: right;
	}

	div#fa-deals-container div.scrolled-block {
	    overflow-y: scroll;
	    height: 350px;
	    max-height: 350px;
	    margin-top: 4px;
	}

	table#deals_content td:first-child {
	    border-left: 1px solid gainsboro;
	}

	table#deals_content td {
	    border: 1px solid gainsboro;
	    text-overflow: ellipsis;
	}

	table#deals_content td:hover {
	    cursor: pointer;
	    transition: 0.2s;
	}

	.not-valid-input {
	    border: 1px solid brown !important;
	}

	div#fa-deals-container div.scrolled-block input,
	div#fa-deals-container input#search {
	    font-size: 12pt;
	    line-height: 12pt;
	    border: 1px solid gainsboro;
	    border-radius: 3px;
	    padding: 5px;
	    height: 30px;
	}

	div#fa-deals-container div.scrolled-block td span {
	    padding: 5px;
	}

	div#fa-deals-container div.scrolled-block td span.twitter-typeahead {
	    padding: 0px;
	}

	table#deals_content input.typeahead {
	    width: 278px;
	    height: 28px;
	    background-position: 100%;
	    margin-right: 2px;
	}

	table#deals_contentk input.typeahead:focus {
	    border: #0097cf 1px solid;
	}

	table#deals_content input.i_date_cell {
	    text-align: center;
	    width: 100%;
	}

	table#deals_content input.i_sum_cell {
	    text-align: right;
	    width: 100%;
	}

	table#deals_content input.i_cntr_name_cell {
	    text-align: left;
	    width: 100%;
	}

	table#deals_content input.i_cntr_number_cell {
	    text-align: left;
	    width: 100%;
	}

	table#deals_content input.i_comment_cell {
	    text-align: left;
	    width: 100%;
	}

	table#deals_content input:focus {
	    border: #0097cf 1px solid;
	}

	table#deals_content tr.suspectDealsclass {
	    background: #ffefed;
	}

	table#deals_content td {
	    height: 37px;
	    font-size: 12pt;
	    padding: 3px;
	}

	table#deals_content input {
	    padding: 3px;
	    padding-left: 6px;
	    font-weight: bold;
	    font-size: 11pt;
	    height: 26px;
	}

	div#fa-deals-container div.scrolled-block button {
	    background: #f8f8f8;
	    border-radius: 2px;
	    border: 1px solid gainsboro;
	    width: 24px;
	    height: 24px;
	    font-size: 6pt;
	}

	div.table_panel {
	    position: relative;
	    width: 100%;
	    height: 30px;
	    margin-bottom: 5px;
	}

	div.table_panel button#add {
	    margin-right: 0px;
	    background: #34af68;
	    color: white;
	    font-size: 12pt;
	    bottom: 0px;
	    left: 0px;
	    height: 30px;
	    border: #34af68 1px solid;
	    border-radius: 2px;
	    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	}

	div.table_panel button#importFromBankStatement {
	    margin-right: 20px;
	    background: #5454ff;
	    color: white;
	    font-size: 12pt;
	    bottom: 0px;
	    left: 0px;
	    height: 30px;
	    border: #5454ff 1px solid;
	    border-radius: 2px;
	    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	}

	div.table_panel button#deleteAllDeals {
	    margin-left: 20px;
	    background: #e0e0e0;
	    color: black;
	    font-size: 12pt;
	    bottom: 0px;
	    left: 0px;
	    height: 30px;
	    border: #e0e0e0 1px solid;
	    border-radius: 2px;
	    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	}

	input#search-input {
	    border: #0097cf 1px solid;
	    border-radius: 2px;
	    display: inline-block;
	    padding-left: 5px;
	    font-weight: bold;
	    line-height: 10pt;
	    font-size: 12pt;
	}

	div#fa-deals-container td#td-search-decription {
	    width: 95px;
	    border-left: 0;
	    border-right: 0px;
	    vertical-align: middle;
	}

	div#fa-deals-container td#td-search-content {
	    border-left: 0;
	    width: 227px;
	}

	div#fa-deals-container td#td-search-content input {
	    width: 100%;
	    height: 100%;
	}

	div#fa-deals-container td#td-search-content button {
	    width: 100%;
	    height: 100%
	}

	button#search-button {
	    background: #f8f8f8;
	    border-radius: 2px;
	    border: 1px solid gainsboro;
	    width: 24px;
	    height: 24px;
	    font-size: 6pt;
	}

	.footer td {
	    height: 30px;
	    font-size: 11pt;
	    font-weight: normal;
	}

	label.error-label-class {
	    color: brown;
	}

	input.errorMessages {
	    border: 2px solid brown;
	}

	span.dealsHeaderText {
	    font-weight: bold;
	    font-size: 12pt;
	}

	div#fa-deals-container .not-valid-cell {
	    border: 2px solid brown;
	}

	.ui-icon {
	    float: left;
	    margin: 0 -5px;
	    cursor: pointer;
	    width: 16px;
	    height: 16px;
	    background-image: url(images/ui-icons_555555_256x240.png);
	}

	div#fa-deals-container tr.hidden-row-class {
	    display: none;
	}

	div#fa-deals-container div.scrolled-block tr:hover {
	    background-color: #eef0f2;
	}

	div#fa-deals-container div.scrolled-block td.tools button:focus {
	    outline: #0097cf 1px solid;
	}

	div#fa-deals-container td#td-button-content {
	    width: 30px;
	    height: 30px;
	    border-left: 0;
	    padding-left: 2px;
	}

	div#fa-deals-container td#td-only-suspect-deals {
	    text-align: left;
	    border-left: 0;
	}

	div#fa-deals-container div.fixed-block th.sum_cell .sort_row,
	div#fa-deals-container div.fixed-block th.date_cell .sort_row,
	div#fa-deals-container div.fixed-block th.cp_name_cell .sort_row {
	    float: right;
	}

	div#fa-deals-container div.fixed-block th.sum_cell .sort_row {
	    margin-top: -12px;
	}

	div#fa-deals-container div.fixed-block th.sum_cell.sum_sort,
	div#fa-deals-container div.fixed-block th.date_cell.date_sort,
	div#fa-deals-container div.fixed-block th.cp_name_cell.name_sort {
	    -webkit-touch-callout: none;
	    /* iOS Safari */
	    -webkit-user-select: none;
	    /* Safari */
	    -khtml-user-select: none;
	    /* Konqueror HTML */
	    -moz-user-select: none;
	    /* Old versions of Firefox */
	    -ms-user-select: none;
	    /* Internet Explorer/Edge */
	    user-select: none;
	    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
	}