﻿	/* Модальное окно с карточкой сделки */

	input#input-cp-name {
		vertical-align: initial !important
	}

	/* решение для гугл хром */

	div.card-fa .ui-tabs .ui-tabs-panel {
		padding-right: 0.9em;
		padding-left: 0.9em;
	}

	div.card-fa .tab-hint {
		display: inline-block;
		vertical-align: middle;
		color: Blue;
	}

	div.card-fa .tab-hint div.clarification {
		display: inline-block;
		opacity: 0;
	}

	div.card-fa .tab-hint div.question {
		display: none;
	}

	div.card-fa a .tab-hint.invalid div.clarification {
		opacity: 1 !important;
	}

	div.card-fa a .tab-hint.invalid.had_focus div.clarification {
		display: none;
	}

	div.card-fa a .tab-hint.invalid.had_focus div.question {
		display: inline-block;
		color: red;
	}

	div.card-fa a .tab-hint.recommended div.question {
		display: none;
	}

	div.card-fa a .tab-hint.recommended div.clarification {
		display: inline-block;
		color: blue;
		font-weight: bold;
		opacity: 1 !important;
	}

	div.card-fa div#express-info {
		font-size: 10pt;
		font-family: Calibri;
		border: 1px solid gainsboro;
		border-radius: 3px;
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
		white-space: nowrap;
		padding: 10px;
		padding-left: 10px;
		padding-bottom: 2px;
		padding-top: 2px;
		margin-bottom: 5px;
		margin-top: 0;
	}

	div.card-fa div#express-info span#cp-name-xc {
		font-size: 16px;
		font-family: Calibri;
		font-weight: bold;
		margin-top: 3px;
		line-height: 16px;
	}

	div.card-fa div#express-info input#deal-analyse-checkbox {}

	div.card-fa div#card-tabs {
		font-size: 10pt;
		font-family: Calibri
	}

	div.card-fa div#card-tabs li#analyse-li.hidden {
		display: none;
	}


	/* СТИЛИ ТАБ */

	/*  Общая  */
	div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
		color: black;
	}

	div.fa-deals-deal0-common {
		width: auto;
		height: auto;
		font-family: 'Calibri';
		font-size: 9pt;
	}

	div.fa-deals-deal0-common form#form-div {
		font-family: 'Calibri' !important;
	}

	form#form-div fieldset {
		border-radius: 3px;
	}

	form#form-div legend {
		margin-top: 0;
		color: #585858;
	}

	div.fa-deals-deal0-common form#form-div div.scrollable-dropdown-menu {
		width: 610px;
	}

	div.fa-deals-deal0-common form#form-div div.tt-menu {
		width: 610px;
		display: block;
	}


	form#form-div div.first-column {
		display: inline-block;
		width: 120px;
	}

	form#form-div div.column {
		display: inline-block;
		margin-right: 5px;
		margin-left: 0px;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	form#form-div {
		border: 0px solid black;
		width: 100%;
		/* height: 100%; */
	}

	form#form-div div.row {
		margin-left: 15px;
	}

	form#form-div legend {
		font-weight: bold;
		font-size: 12pt;
	}

	div.fa-deals-deal0-common form#form-div textarea {
		border-radius: 3px;
		line-height: 9pt;
		border: 1px solid gainsboro;
		font-size: 9pt;
		padding: 6px;
	}

	div.fa-deals-deal0-common form#form-div input {
		border-radius: 3px;
		border: 1px solid gainsboro;
		padding: 4px;
		font-size: 9pt;
		line-height: 9pt
	}

	div.fa-deals-deal0-common form#form-div label {
		color: #585858;
		font-size: 10pt;
	}

	div.fa-deals-deal0-common form#form-div .tt-menu {
		max-height: 280px;
	}

	div.fa-deals-deal0-common form#form-div input#input-cp-name {
		width: 610px;
	}

	div.fa-deals-deal0-common form#form-div input#input-cp-adres {
		width: 610px;
	}

	div.fa-deals-deal0-common form#form-div input#input-contract-name {
		width: 250px;
	}

	div.fa-deals-deal0-common form#form-div input#input-contract-number {
		width: 175px;
	}

	div.fa-deals-deal0-common form#form-div input#input-contract-date {
		width: 83px;
	}

	div.fa-deals-deal0-common form#form-div input#input-contract-subject {
		width: 610px;
	}

	div.fa-deals-deal0-common form#form-div textarea#input-contract-comment {
		width: 610px;
		height: 50px;
	}

	div.fa-deals-deal0-common form#form-div input:focus {
		border: 1px solid #0097cf;
		transition: 0.5s;
	}

	.not-valid-input {
		border: 1px solid red;
	}

	div.fa-deals-deal0-common .contragent_direction {
		font-weight: bold;
		font-size: 10pt;
	}

	div.fa-deals-deal0-common .contragent_direction input,
	div.fa-deals-deal0-common .contragent_direction input:focus {
		border: 0 !important;
		outline: 0px;
	}

	div.fa-deals-deal0-common .contragent_direction #chbConsumer {
		margin-left: 25px;
		/* margin-bottom:-20px; */
	}

	div.fa-deals-deal0-common .contragent_direction label {
		bottom: 3px;
		position: relative;
		right: -5px;
		-ms-user-select: none;
		/* Internet Explorer/Edge */
	}

	/* Подбробный анализ */

	div#tab-3-analyse {
		height: 345px;
		width: 100%;
	}

	div#tab-3-analyse div#disclaimer {
		font-size: 10pt;
		color: gray;
		text-align: center;
		margin-bottom: 20px;
		border-top: 1px solid gainsboro;
		border-radius: 3px;
	}

	div#tab-3-analyse div#fa-deal-subject-textarea {
		padding-top: 10px;
		margin-bottom: 0;
	}

	/* Исполнение */
	div#tab-2-performance .table-performance {
		font-size: 10pt;
	}

	div#tab-2-performance .table-performance .selector-column {
		width: 25px;
	}

	div#tab-2-performance .table-performance .number-column {
		width: 10%;
	}

	div#tab-2-performance .table-performance .date-column {
		width: 15%;
	}

	div#tab-2-performance .table-performance .sum-column {
		width: 16%;
	}

	div#tab-2-performance .table-performance .direction-column {
		width: 15%;
	}

	div#tab-2-performance .table-performance .description-column {
		width: 45%;
	}

	div#tab-2-performance .table-performance .tools-column {
		width: 35px;
	}

	div#tab-2-performance .table-performance .performance_sum_cell {
		text-align: right;
	}

	div#tab-2-performance .table-performance .tools button,
	div#tab-4-documents .table-documents .tools button {
		background: #f8f8f8;
		border-radius: 2px;
		border: 1px solid gainsboro;
		width: 24px;
		height: 24px;
		font-size: 6pt;
	}

	div#tab-2-performance .table-performance .tools .ui-icon,
	div#tab-4-documents .table-documents .tools .ui-icon {
		background-image: url(images/ui-icons_555555_256x240.png) !important;
	}

	div#tab-2-performance .table-performance .performance_direction-cell {
		padding: 0;
	}

	div#tab-2-performance .table-performance .performance_direction-cell select {
		border: 0;
	}

	div#tab-2-performance .table-total .total-label {
		padding-right: 15px;
		text-align: left;
	}

	div#tab-2-performance tfoot .total-sum-incoming,
	div#tab-2-performance tfoot .total-sum-outcoming {
		text-align: right;
		font-weight: bold;
	}

	div#tab-2-performance .table-performance input:not([type='checkbox']) {
		width: 100%;
	}

	div#tab-2-performance .table-performance thead {
		border-style: hidden;
	}

	div#tab-2-performance .table-performance thead .row-action {
		background-color: #ffffff;
	}

	div#tab-2-performance .table-performance thead .row-title,
	div#tab-2-performance .table-performance tfoot {
		text-align: center;
		background-color: #f2f2f2;
	}

	div#tab-2-performance .table-performance thead .row-title .tools-column {
		/* padding-right: 5.3%; */
		padding-right: 43px;
	}

	div#tab-2-performance .table-performance thead .row-action {
		text-align: left;
	}

	div#tab-2-performance .table-performance thead .row-action td {
		/* border: 0; */
		border-style: hidden;
		padding-top: 0;
	}

	div#tab-2-performance .table-performance input:not([type='checkbox']),
	div#tab-2-performance .table-performance select {
		font-size: 9pt;
		line-height: 12pt;
		border: 1px solid gainsboro;
		border-radius: 3px;
		padding: 5px 2px;
		height: 24px;
		text-align: left;
	}

	div#tab-2-performance .table-performance {
		width: 765px !important;
		border-top: 0;
	}

	div#tab-2-performance .table-performance tbody tr td,
	div#tab-4-documents .table-documents tbody tr td {
		padding: 8px 4px;
	}

	div#tab-2-performance .table-performance td.performance_description_cell {
		white-space: nowrap;
		max-width: 320px;
		overflow: hidden;
	}

	div#tab-2-performance .actions-performance,
	div#tab-4-documents .actions-documents {
		margin: 0 0 10px 0;
	}

	div#tab-2-performance .actions-performance button,
	div#tab-4-documents .actions-documents button {
		box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
	}

	div#tab-2-performance .actions-performance button.transfer_button {
		margin: 0 0 0 15px;
	}

	div#tab-2-performance .actions-performance button.add_button {
		/* margin: 0 0 0 250px; */
		float: right;
	}

	div#tab-2-performance .invalid-field {
		border-color: red !important;
	}

	/*Форма Перенос исполнений*/
	.transfer_performances-result_block {
		font-size: 15px;
		font-family: Calibri !important;
	}

	.transfer_performances-result_block p {
		margin: 3px 0;
	}

	.transfer_performances-result_block .contragent_info .name {
		font-weight: bold;
	}


	.transfer_performances-result_block .contract_info {
		margin: 0px 0 10px 30px;
	}

	.transfer_performances-result_block .label-cell {
		text-align: right;
	}

	.transfer_performances-result_block .value-cell {
		text-align: left;
		padding-left: 5px;
		font-weight: bold;
	}

	#transfer-performances {
		font-family: Calibri;
		font-size: 16px;
		/* margin: 5px 0; */
	}

	.count_performances {
		font-weight: bold;
	}

	/*Прилагаемые документы*/
	div#tab-4-documents .table-documents .number-column {
		width: 5%;
	}

	div#tab-4-documents .table-documents .name-column {
		width: 86%;
	}

	div#tab-4-documents .table-documents .tools-column {
		width: 8%;
	}

	div#tab-4-documents .table-documents .documents_number_cell {
		text-align: center;
	}

	div#tab-4-documents .table-documents .documents_name_cell {
		padding-left: 8px;
	}


	div#tab-4-documents .table-documents thead {
		background-color: #f2f2f2;
	}

	div#tab-2-performance .table-performance {
		margin-bottom: 0;
	}

	div#tab-2-performance .table-performance tbody {
		display: block;
		max-height: 270px;
		overflow-y: scroll;
	}

	div#tab-2-performance .table-performance thead tr,
	div#tab-2-performance .table-performance tbody tr {
		display: table;
		table-layout: fixed;
	}

	div#tab-2-performance .table-performance tbody tr {
		width: 100%;
	}

	div#tab-2-performance .table-performance thead tr {
		/* width: 98%; */
		width: 100%;
	}