/* Глобальные стили */

@font-face
{
	font-family: "CPW-normal";
	src: url("../images/Normal.eot");
}

@font-face
{
	font-family: "CPW-bold";
	src: url("../images/Bold.eot");
}

html { font-family: CPW-normal; /* 1 */ }
body { margin: 8px; }
input[type="checkbox"], input[type="radio"] { padding: 3px; }
td, th {padding: 1px;}

/* Глобальные стили для meo */

body.cpw-meo ul.ui-tabs-nav
{
	border-bottom-width: 0px;
}

body.cpw-meo
{
	margin: 8px;
	padding: 0;
	color: #555;
	font-family: "CPW-normal" !important;
	background: #FFF;
	line-height: 1.5;
}

body.cpw-meo .ui-widget
{
	font-family: CPW-normal;
	font-size: 1em;
}

body.cpw-meo a { color: RGB(0,159,219); }

body.cpw-meo input.invalid
{
	background-color: pink;
}

body.cpw-meo a.visible-if-invalid
{
	color: red;
}

/* Стиль всех страниц */

body.cpw-meo > div.page-container
{
	background: white;

	    width: 1000px;
	min-width:  780px;

	margin-top:    30px;
	margin-bottom:  5px;

	margin-left:   auto;
	margin-right:  auto;
}

/* Заголовок */

body.cpw-meo > div.page-container > div.header
{
	height: 60px;
}

body.cpw-meo > div.page-container > div.header img.logo
{
	background: url(../images/logo.png) no-repeat;
	height: 60px;
	width: 307px;
	margin: 0px 28px;
	display: block;
	float: left;
}

/* Содержимое */

body.cpw-meo > div.page-container > div.content
{
	margin: 30px;
}

body.cpw-meo.main div.description,
body.cpw-meo.mec div.description
{
	margin: 20px;
	font-style:italic;
}

body.cpw-meo.main div.data,
body.cpw-meo.mec div.data
{
	margin-left: 40px;
}

/* Контакты */

body.cpw-meo.main div.data.contacts td.field-name
{
	width: 80px;
}

/* Ссылки всякие */

body.cpw-meo.main div.data.links tbody tr td
{
	padding-top: 20px;
	padding-right: 30px;
	vertical-align: top;
}

/* Форма позволяющая просматривать mec файлы */

body.cpw-meo.main .mec-online-load-form-container
{
	background: rgb(236,248,218);
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 35px;
}

body.cpw-meo.main .mec-online-load-form-container input
{
	width: auto;
	text-align:right;
	float: right;
}

/* Описание инструментов для работы с mec файлами */
body.cpw-meo.mec div.tools
{
	text-decoration: line-through;
	font-size: small;
}

body.cpw-meo.mec div.tools > ol
{
	list-style-type:lower-alpha;
}