﻿div#main-frame {
    width: 1184px;
    height: 632px;
    font-family: 'Calibri';
    /* margin-left: 15px;
    margin-top: 2px; */
    margin: 0 auto;
}

div#main-frame button#conclusion_button {
    background: #34af68;
    color: white;
    font-size: 12pt;
    bottom: 0px;
    left: 0px;
    height: 30px;
    border: #34af68 1px solid;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
    margin-top: 3px;
}

div#main-frame span#pred-conc-link, span#fict-conc-link { color: #0097cf; }

div#main-frame span#pred-conc-link:hover, span#fict-conc-link:hover { cursor: pointer; }

div#main-frame div#conclusion-sector {
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
}

div#main-frame span#report_content_frame { display: none; }

div#main-frame label#onlysuspect-label {
    display: block;
    font-size: 11pt;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: normal;
    margin-top: 5px;
}

div#main-frame input#suspect-label {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 2px;
    *overflow: hidden;
}

div#main-frame div {
    tab-index: '';
}