.performance-form {
    font-size: 14px;
    width: 620px;
    /* height: 350px; */
}

.performance-form_table {
    width: 100%;
}

 .performance-form__label {
    font-weight: 600;
    text-align: left;
    padding: 0 8px;
    min-width: 190px;
}

.performance-form__input,
.performance-form__select,
.performance-form__textarea {
    padding: 5px;
    margin: 3px 0;
    /* height: 30px; */
}

.textarea_size-m,
.select_size-m,
.input_size-m {
    width:210px;
}

.textarea_size-l,
.select_size-l,
.input_size-l {
    width: 445px;
}

.textarea_theme-common,
.select_theme-common,
.input_theme-common {
    font-size: 12pt;
    line-height: 12pt;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.performance-form__input.value-error,
.performance-form__textarea.value-error {
    border-color: red !important;
}




