﻿	.typeahead, .tt-query, .tt-hint {
	    padding: 3px;
	    font-size: 9pt;
	    border: 1px solid white;
	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    border-radius: 8px;
	    outline: none;
	}

	.typeahead { background-color: #fff; }

	.typeahead:focus {
	    border: 1px solid #0097cf;
	    transition: 0.2s;
	}

	.tt-query {
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	.tt-hint { color: #999; }

	.tt-menu {
	    width: 320px;
	    max-height: 30px;
	    padding: 4px;
	    font-size: 9pt;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    border-radius: 8px;
	    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	}

	.tt-suggestion {
	    padding: 2px;
	    font-size: 8pt;
	}

	.tt-suggestion:hover {
	    cursor: pointer;
	    color: #fff;
	    background-color: #0097cf;
	}

	.tt-suggestion.tt-cursor {
	    color: #fff;
	    background-color: #0097cf;
	}

	.scrollable-dropdown-menu .tt-menu {
	    max-height: 170px;
	    width: 290px;
	    overflow-y: auto;
	}
