<style>
div.cpw-ama-aplication-preview-confirmation
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-preview-confirmation div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-preview-confirmation div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-preview-confirmation div.row 
{

}
div.cpw-ama-aplication-preview-confirmation div.text
{
	display:inline-block;
	margin:5px;
	text-align:right;	
}
div.cpw-ama-aplication-preview-confirmation input.input
{
	display:inline-block;
	margin:5px;
}
</style>
<div class="cpw-ama-aplication-preview-confirmation">
		<div class="row">
			<div id="text" class="text"></div>
		</div>
		<div class="row">
			<input id="confirmation_token" class="input" style="margin:0 auto;"  type="text" value="<%= obj.txt('confirmation_token') %>"/>
		</div>
		<div id="notice" style="display:none; text-decoration-color:red;" class="row">
			<div style="text-decoration-color:red;" class="text">Неверный пароль подтверждения</div>
		</div>
</div>