<style>
</style>
<div class="cpw-ama-aplication-preview-login">
	<!--<form action="ama/datamart/login" method="GET">-->
		<div class="row">
			<span class="semi-bold">E-mail:</span><br>
			<input type="text" name="ViewerLogin" value="<%= obj.txt('Login') %>" /> 
		</div>

		<div class="row">
			<span class="semi-bold">Пароль:</span><br>
			<div class="password-input-container">
				<input type="password" name="ViewerPassword" value="<%= obj.txt('Password') %>" autofocus="autofocus" />
				<span class="icon-password-toggle" title="Показать пароль"></span>
			</div>
		</div>

		<div class="row buttons">
			<button class="login button button-red">Войти</button>
		</div>
	<!--</form>-->
</div>