<style>
div.cpw-ama-aplication-preview-set-email
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-preview-set-email div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-preview-set-email div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-preview-set-email div.row 
{

}
div.cpw-ama-aplication-preview-set-email div.text
{
	display:inline-block;
	margin:5px;
	text-align:right;	
}
div.cpw-ama-aplication-preview-set-email input.input
{
	display:inline-block;
	margin:5px;
}
</style>
<div class="cpw-ama-aplication-preview-set-email">
		<div class="row">
			<div id="text" class="text">Введите контактый адрес электронной почты на который будет выслан однаразовый пароль:</div>
		</div>
		<div class="row">
			<input class="input" style="margin:0 auto;"  type="text" value="<%= obj.txt('email') %>"/>
		</div>
</div>