<style>
	div.cpw-ama-datamart-manager-contacts .ui-widget#cpw-ama-datamart-manager-contacts-tabs > ul.ui-widget-header.ui-tabs-nav li:first-child
	{
		margin-left:0px;
		margin-right:4px;
	}
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>
<div class="cpw-ama-datamart-manager-contacts">

	<div id="cpw-ama-datamart-manager-contacts-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-manager-contacts-viws" >Подтверждённые</a></li>
<% if (!app.disable_viewers_registration) { %>
			<li><a href="#cpw-ama-datamart-manager-contacts-reqs">Запросившие доступ</a></li>
<% } %>
<% if (o.HasIncoming) { %>
			<li><a href="#cpw-ama-datamart-manager-contacts-incm">Входящее</a></li>
<% } %>
		</ul>
		<div id="cpw-ama-datamart-manager-contacts-viws" class="page">
			<% if (0) { %>Список наблюдателей и настройка прав для них<% } %>
			<%= obj.fields_control('Наблюдатели') %>
		</div>
<% if (!app.disable_viewers_registration) { %>
		<div id="cpw-ama-datamart-manager-contacts-reqs" class="page">
			<% if (0) { %>Данные о запросах на доступ<% } %>
			<%= obj.fields_control('Запросы') %>
		</div>
<% } %>
<% if (o.HasIncoming) { %>
		<div id="cpw-ama-datamart-manager-contacts-incm" class="page">
			<% if (0) { %>Данные о входящих пакетах информации<% } %>
			<%= obj.fields_control('Входящее') %>
		</div>
<% } %>
	</div>

</div>