<div class="cpw-ama-datamart-handbook-main">

	<div id="cpw-ama-datamart-handbook-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-handbook-main-tab-sblv">Прож. минимум</a></li>
			<li><a href="#cpw-ama-datamart-handbook-main-tab-crts">Суды</a></li>
			<li><a href="#cpw-ama-datamart-handbook-main-tab-wcal">Произв. календарь</a></li>
			<li><a href="#cpw-ama-datamart-handbook-main-tab-rostr">Росреестр</a></li>
		</ul>
		<div id="cpw-ama-datamart-handbook-main-tab-sblv" class="page">
			<% if (0) { %>Справочник прожиточных минимумов<% } %>
			<%= obj.fields_control('Прожиточный_минимум') %>
		</div>
		<div id="cpw-ama-datamart-handbook-main-tab-crts" class="page">
			<% if (0) { %>Справочник арбитражных судов<% } %>
			<%= obj.fields_control('Арбитражные_суды') %>
		</div>
		<div id="cpw-ama-datamart-handbook-main-tab-wcal" class="page">
			<% if (0) { %>Производственный календарь<% } %>
			<%= obj.fields_control('Производственный_календарь') %>
		</div>
		<div id="cpw-ama-datamart-handbook-main-tab-rostr" class="page">
			<% if (0) { %>Подразделения Росреестра<% } %>
			<%= obj.fields_control('Подразделения_росреестра') %>
		</div>
	</div>

</div>