<style>
div.cpw-ama-award-wrong-certificate b.name
{
	margin-left: 20px;
	margin-bottom: 5px;
}
div.cpw-ama-award-wrong-certificate li
{
	margin-bottom:15px;
}
</style>
<div class="cpw-ama-award-wrong-certificate">
	<p>
		Вы назвали себя<br />
		<b class="name"><%= obj.au_name %><% if (0) { %>Иванов Иван Иванович<% } %></b>,<br/>
		а сертификат электронной подписи (ЭП) выбрали на имя<br />
		<b class="name"><%= obj.cert_name %><% if (0) { %>Петров Петр Петрович<% } %></b>.
	</p>

	<p>Невозможно в таком случае удостверится в вашей личности для корректного учёта голоса.</p>

	<p>Корректный учёт голоса выполняется одним из двух вариантов:</p>

	<ol>
		<li>
			Голосующий подписывает бюллетень сертификатом ЭП на своё имя.<br />
			В этом случае для проверки его личности проверяется его подпись.
		</li>
		<li>
			Голосующий пользуется программой 
			<a href="https://russianit.ru/products/pau/" target="_blank">Помощник арбитражного управляющего</a> (ПАУ).<br />
			В этом случае для проверки личности используется система контроля выполнения<br />
			<a href="https://russianit.ru/products/pau/offer/pau.php" target="_blank">лицензионного договора на использование программы ПАУ</a>.
		</li>
	</ol>
</div>