<style>
div.cpw-ama-award-wrong-browser li
{
	margin-bottom:15px;
}
</style>
<div class="cpw-ama-award-wrong-browser">
	<p>
		Для голосования электронной подписью (ЭП) необходимо использовать <br/>
		браузер <b>Internet Explorer</b> версии 10 или выше.
	</p>

	<p>
		Также необходимо установить расширение 
		<a href="https://download.microsoft.com/download/1/7/1/17115a2c-8493-4947-bb7d-d7b58457acf7/CAPICOM-KB931906-v2102.exe" target="_blank">CAPICOM-KB931906-v2102.exe</a>
	</p>

	<p>Корректный учёт голоса выполняется одним из двух вариантов:</p>

	<ol>
		<li>
			Голосующий подписывает бюллетень сертификатом ЭП на своё имя.<br />
			В этом случае для проверки его личности проверяется его подпись.
		</li>
		<li>
			Голосующий пользуется программой 
			<a href="https://russianit.ru/products/pau/" target="_blank">Помощник арбитражного управляющего</a> (ПАУ).<br />
			В этом случае для проверки личности используется система контроля выполнения<br />
			<a href="https://russianit.ru/products/pau/offer/pau.php" target="_blank">лицензионного договора на использование программы ПАУ</a>.
		</li>
	</ol>
</div>