<style>
/* Меняем стиль родителя */
div.cpw-ama-award-main {
	min-width: 800px;
	max-width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div.cpw-dm-award-voted-signed {
	margin: 30px auto 0;
}
div.cpw-dm-award-voted-signed p
{
	margin: 0 0 10px;
}
</style>
<%
var d= obj.value();
if (!d || null==d)
	d= {};
var АУ= d.АУ;
if (!АУ || null==АУ)
	АУ= {};
%>
<div class="cpw-dm-award-voted-signed">
	<p>
		Уважаемый(-ая) 
		<%= АУ.Фамилия %><% if (0) { %>Глазырин<% } %> 
		<%= АУ.Имя %><% if (0) { %>Роман<% } %> 
		<%= АУ.Отчество %><% if (0) { %>Анатольевич<% } %>
	</p>

	<p>
		<span>Ваш голос уже был учтён голосованием при помощи электронной подписи</span>
		<span style="color:gray"> <%= d.Проголосовал_ЭП %><% if (0) { %>01/01/2001 10:30<% } %></span>
	</p>

	<p>Бюллетень голосования с вашей подписью был отправлен на адрес электронной почты, указанной вами при голосовании</p>

	<p class="font-14" style="margin-bottom: 15px; color: red">
		<b>Если вы не голосовали, позвоните по номеру +7 (499) 673-03-37</b>
	</p>

	<button class="back">
		<span class="icon-back">←</span>
		<span>Вернуться к выбору голосующего</span>
	</button>
</div>