<style>
div.cpw-custom-query-result table thead td
{
	background-color: #eeeeee;
}
div.cpw-custom-query-result table
{
	border-collapse:collapse;
}
div.cpw-custom-query-result table td
{
	border: 1px solid #e0e0e0;
	padding: 3px;
}
div.cpw-custom-query-result span.header a
,div.cpw-custom-query-result h2 a
{
	cursor:pointer;
	text-decoration:underline;
}
div.cpw-custom-query-result table
{
	margin: 7px auto;
}
div.cpw-custom-query-result table td.number
{
	text-align:right;
}
div.cpw-custom-query-result
{
	text-align:center;
}
</style>
<%
var qres= obj.value();
if (!qres || null==qres)
	qres= {rowsets:[]};
%>
<div class="cpw-custom-query-result">
	<span class="header">
		<span>Результат выполнения</span> 
		<a class="back">
			запроса к базе данных
		</a>
	</span>
	<h2>"<a class="params"><%= qres.title %><% if (0) { %>повторяющиеся прожиточные<% } %></a>":</h2>
	<div class="rowsets">
	<%	for (var i= 0; i< qres.rowsets.length; i++) 
		{
			var rowset= qres.rowsets[i];
	%>
		<small>записей: <b><%= rowset.rows.length %><% if (0) { %>100500<% } %></b></small>
		<table>
			<thead>
				<tr>
					<%	for (var j= 0; j< rowset.columns.length; j++) 
						{
					%>
						<td><%= rowset.columns[j] %><% if (0) { %>Колонка 1<% } %></td>
					<%	} %>
				</tr>
			</thead>
			<tbody>
			<%	for (var j= 0; j< rowset.rows.length; j++) 
				{
					var row= rowset.rows[j];
			%>
				<tr>
					<%	for (var k= 0; k< row.length; k++) 
						{
							var cell= row[k];
					%>
						<td class="<%= typeof(cell) %>"><%= cell %><% if (0) { %>Значение в колонке 1<% } %></td>
					<%	} %>
				</tr>
			<%	} %>
			</tbody>
		</table>
	<%	} %>
	</div>
</div>