<style>
div.cpw-ama-datamart-rtt-demand-form div#cpw-ama-datamart-rtt-demand-main-tabs > div.page
{
	padding: 10px 0 0;
}
div.cpw-ama-datamart-rtt-demand-form .ui-widget ul.ui-widget-header.ui-tabs-nav li:first-child
{
	margin-left: 0;
}
</style>
<div class="cpw-ama-datamart-rtt-demand-form">

	<div id="cpw-ama-datamart-rtt-demand-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-rtt-demand-main-dmnd" >Общее</a></li>
			<li><a href="#cpw-ama-datamart-rtt-demand-main-crtr" >О кредиторе</a></li>
		</ul>
		<div id="cpw-ama-datamart-rtt-demand-main-crtr" class="page" >
			<% if (0) { %>Сведения о кредиторе<% } %>
			<%= obj.fields_control('Кредитор') %>
		</div>
		<div id="cpw-ama-datamart-rtt-demand-main-dmnd" class="page">
			<% if (0) { %>Общие данные о требовании<% } %>
			<%= obj.fields_control('Общее') %>
		</div>
	</div>

</div>