<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence-second 
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence-second div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence-second div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence-second div.row 
{
	margin-bottom:2px;
}
div.cpw-ama-aplication-sentence-second div.text 
{
	 display:inline-block;
	 margin:5px;
}
div.cpw-ama-aplication-sentence-second input.input
{
	 display:inline-block;
	 margin:5px;
}
</style>
<div class="cpw-ama-aplication-sentence-second">
    <!-- <div class="header">Редактирование</div> -->
    <div class="content">
		<div class="row">
			<div class="text">Об этом </div>
			<input type="text" style="width:300px;" placeholder="ФИО арбитражного управляющего" value="<%= obj.txt('АУ.Наименование') %>" />
			<div class="text">(член СРО</div>
		</div>
		<div class="row">
			<textarea id="e_sentence_second_SRO" style=" margin:5px; width:70%;" placeholder="Название СРО" <%= obj.textarea_attrs('АУ.СРО') %>><%= obj.value() %></textarea>)
		</div>
		<div class="row">
			<input type="text" style="width:100px;" placeholder="Дата сообщения на ЕФРСБ" value="<%= obj.txt('Решение.Сообщение.Дата') %>" <%= obj.date_attrs() %> />
			<div class="text"> разместил на ЕФРСБ объявление № </div>
			<input class="input" style="width:150px;" type="text" placeholder="Номер сообщения на ЕФРСБ" value="<%= obj.txt('Решение.Сообщение.Номер') %>" />
		</div>
		<div class="row">
			<textarea id="e_sentence_second_procedure" style=" margin:5px; width:70%;" placeholder="Суть сообщения" <%= obj.textarea_attrs('Решение.Процедура') %>><%= obj.value() %></textarea>
		</div>
    </div>
    	
</div>