<style>
    /* Меняем стиль родителя */
    div.cpw-ama-award-main {
        min-width: 800px;
        max-width: 1000px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    div.cpw-ama-award-main div.award-logo {
        width: 140px;
        height: 115px;
        margin-right: 20px;
    }
    div.cpw-ama-award-main div.title-container span#MuseoSansRegular {
        font-size: 34px;
    }
    div.cpw-ama-award-main div.title-container span#MuseoSansBlack {
        font-size: 38px;
    }
    div.cpw-ama-award-main div.partners {
        margin-top: 20px;
    }
    
    /* Локальные стили */
    div.cpw-dm-award-voted-source {
        margin-top: 50px;
        text-align: center;
    }

    div.cpw-dm-award-voted-source div.contract_auth > div {
        margin: 0 0 20px;
    }
    div.cpw-dm-award-voted-source div.contract_auth input {
        min-width: 250px;
        max-width: 50%;
    }

    div.cpw-dm-award-voted-source div.contract_auth label {
        display: inline-block;
        min-width: 70px;
        text-align: left;
    }

    span.contract_auth_error {
        color: red;
        /* margin-left: 15px; */
        font-size: 14px;
        display: none;
    }

    .field-error {
        border-color: red !important;
    }

    div.cpw-dm-award-voted-source div.button-panel {
        margin-top: 25px;
        width: 570px;
        margin-left: 115px
    }
    div.cpw-dm-award-voted-source div.button-panel button {
        /*margin: 0 45px;*/
    }

    div.cpw-dm-award-voted-source div.button-panel .back {
        float: left;
    }
    div.cpw-dm-award-voted-source div.button-panel .contract_auth_button {
        float: right;
    }

    .clear {
        clear: both;
    }

    div.contract_info {
        background-color: #ffffff;
        border: 1px solid #D3242C;
        border-radius: 3px;
        padding: 5px 10px;
        margin: 30px 0 0 115px;
        font-size: 14px;
        text-align: left;
        width: 550px;
        /*margin-left: 115px;*/
    }
    .tooltip {
        position: relative;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 500px;
        background-color: #ffffff;
        color: #000000;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 35%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 12px;
        text-align: left;
        padding: 10px;
        border: 1px solid #D3242C;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
<div class="cpw-dm-award-voted-source">


    <div class="contract_auth">
        <div class="tooltip">
            <label for="contract_login">Логин:</label>
            <input type="text" id="contract_login" class="contract_login"/>

            <span class="tooltiptext">Как узнать свой логин? <br><br>
1. Открыть документ на приобритение программы «ПАУ», в нём указан номер договора (это и есть логин) и пароль к программе.<br>
2. Написать на support@russianit.ru или позвонить в службу технической поддержки по тел.: +7(499)673-03-37, +7(341)257-04-02.</span>
        </div>

        <div class="tooltip">
            <label for="contract_password">Пароль:</label>
            <input type="password" id="contract_password" class="contract_password"/>

            <span class="tooltiptext">Шаги для восстановления пароля от личного кабинета: <br><br>
1. Перейдите в личный кабинет на сайт rsit.ru. При входе нажмите ссылку «Напомнить пароль».<br>
2. Введите в поле номер мобильного телефона или электронную почту, которую указывали при регистрации. Укажите номер договора. Нажмите кнопку «Восстановить».<br>
3. На указанный электронный адрес или номер телефона придет пароль. Новый пароль примените при входе в личный кабинет.</span>
        </div>

        <span class="contract_auth_error">Ошибка авторизации</span>
    </div>


    <div class="button-panel">
        <button class="back">
            <span class="icon-back">←</span>
            Вернуться к выбору голосующего
        </button>

        <button class="contract_auth_button red">Авторизоваться</button>
        <p class="clear"></p>
    </div>

    <div class="contract_info">
        <p><b>Логин</b> — номер договора программы «Помощник арбитражного управляющего».</p>
        <p><b>Пароль</b> — пароль от личного кабинета <a href="http://rsit.ru/auth/" target="_blank">rsit.ru</a>.</p>
        <p>Для восстановления пароля переходите в личный кабинет на сайт <a href="http://rsit.ru/auth/" target="_blank">rsit.ru</a>.</p>
    </div>
</div>