<style>
div.cpw-ama-aplication-attachment-add 
{
	width: 570px;
	margin: 0 auto;
}
div.cpw-ama-aplication-attachment-add  div.row
{
	margin-top: 5px;
}
div.cpw-ama-aplication-attachment-add  div.row div.title
{
	display: inline-block;
}
div.cpw-ama-aplication-attachment-add  div.row div.title::after
{
	content: ":";
}
div.cpw-ama-aplication-attachment-add  div.row input
{
	width: 200px;
}
div.cpw-ama-aplication-attachment-add  div.row textarea
{
	width: 100%;
}

</style>
<% if (obj.options && obj.options.readonly) { %>
<style>
div.cpw-ama-aplication-attachment-add  input
,div.cpw-ama-aplication-attachment-add  textarea
{
	background-color: #f5f5f5;
}
</style>
<% } %>
<div class="cpw-ama-aplication-attachment-add ">
	<div class="row">
		<div class="title">Название документа</div>
		<textarea  id="name" maxlength="500" <%= obj.textarea_attrs('Наименование') %> ><%= obj.value() %></textarea>
	</div>
	<div class="row">
		<div class="title">Чтобы облегчить работу АУ, вы можете приложите электронную копию документа</div>
        <input type="file"  id="attachment" class="attachment" />
    </div>

</div>