<style>
	div.cpw-ama-datamart-sro-manager-info {
		width: 100%;
	}
	div.cpw-ama-datamart-sro-manager-info .protocol-num{
		width: 203px;
	}
	div.cpw-ama-datamart-sro-manager-info .protocol-date{
		width: 124px;
	}
</style>
<div class="cpw-ama-datamart-sro-manager-info">
	<span>Протокол о включении в состав СРО №</span>&nbsp;
	<input class="protocol-num" type="text" value="<%= obj.txt('Протокол.Номер') %>" maxlength="50"/>&nbsp;
	<span>от</span>&nbsp;<input class="protocol-date" type="text" value="<%= obj.txt('Протокол.Дата') %>" <%= obj.date_attrs() %> /> 
</div>