<style>
div.cpw-ama-committee-cabinet-form > div.header
{
	float: right;
}
div.cpw-ama-committee-cabinet-form > h4 img.logo
{
	width:40px;
	vertical-align:middle;
}
div.cpw-ama-committee-cabinet-form > h4
{
	margin-top: 5px;
	margin-bottom: 0;
}
div.cpw-ama-committee-cabinet-form > div.debitor
{
	text-align: center;
	padding: 5px;
	font-size: 21px;
}
div.cpw-ama-committee-cabinet-form > div.debitor > strong
{
	font-weight: 600;
	color: #D3242C;
}
div.cpw-ama-committee-cabinet-form > div.workplace
{
	padding: 10px;
}
div.cpw-ama-committee-cabinet-form > div.state
{
	font-weight:bold;
	font-size:large;
	color:indianred;
	text-align: center;
	margin-bottom:10px;
}
div.cpw-ama-committee-cabinet-form > div.state + p {
	padding: 0 10px;
}
div.cpw-ama-committee-cabinet-form > div.footer
{
	font-size:small;
	max-width: 1300px;
	margin: 20px auto 0;
	padding: 10px;
	text-align:left;
	color:gray;
	padding: 10px 15px;
}
div.cpw-ama-committee-cabinet-form header span.cc-profile
{
	vertical-align: middle;
	display: inline-block;
	text-align: right;
}
div.cpw-ama-committee-cabinet-form header span.cc-profile ~ button
{
	vertical-align: middle;
}
div.cpw-ama-committee-cabinet-form header strong {
	font-weight: 600;
}

@media only screen and (min-width: 1px) and (max-width: 500px)
{
	div.cpw-ama-committee-cabinet-form .header-container
	{
		padding: 5px 10px;
	}
	div.cpw-ama-committee-cabinet-form header div.buttons
	{
		text-align: center;
	}
	div.cpw-ama-committee-cabinet-form header span.cc-profile
	{
		display: block;
		text-align: center;
		margin: 5px 0 10px;
	}
	div.cpw-ama-committee-cabinet-form .header-container > div
	{
		display: block;
		text-align: center;
		width: 100%;
		margin: 5px 0 10px;
	}
	/*child forms*/
	div.cpw-ama-committee-cabinet-form .ui-widget ul.ui-widget-header.ui-tabs-nav li
	{
		margin: 0 !important;
		padding: 10px 15px;
	}
	div.cpw-ama-committee-cabinet-form div.cpw-ama-committee-cabinet-questions > table
	{
		margin-right: 10px;
	}
	div.cpw-ama-committee-cabinet-form div.cpw-ama-committee-cabinet-question .header, .cpw-ama-committee-cabinet-question .footer
	{
		text-align: center;
	}
	div.cpw-ama-committee-cabinet-form div.cpw-ama-committee-cabinet-question div.footer button
	{
		float: unset !important;
		margin: 5px;
	}
	div.cpw-ama-committee-cabinet-form div.cpw-ama-committee-cabinet-signing .header
	{
		text-align: center;
	}
	div.cpw-ama-committee-cabinet-form div.cpw-ama-committee-cabinet-signing .header button.top
	{
		float: unset;
		margin-top: 5px;
	}
	div.cpw-ama-committee-cabinet-form div.key-sent > table td
	{
		display: block;
		padding: 5px 0 !important;
		text-align: left !important;
		min-height: unset;
	}
	div.cpw-ama-committee-cabinet-form div.ui-dialog
	{
		width: 90% !important;
	}
}
</style>
<%
var meeting= obj.value();
if (!meeting || null==meeting)
	meeting= {};
var Кабинет= !meeting.Кабинет ? {} : meeting.Кабинет;
var Участник= !Кабинет.Участник ? {} : Кабинет.Участник;
var Должник= !Кабинет.Должник ? {} : Кабинет.Должник;
%>
<div class="cpw-ama-committee-cabinet-form">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Кабинет голосования
				</span>
			</div>

			<div class="buttons">
				<span class="profile-bar">
					<span class="cc-profile">
						участник 
						<strong>
							<%= Участник.Фамилия %><% if (0) { %>Иванов<% } %> 
							<%= Участник.Имя %><% if (0) { %>Иван<% } %> 
							<%= Участник.Отчество %><% if (0) { %>Иванович<% } %>
						</strong><br>
						голосование до <strong><%= Кабинет.Дата_заседания %><% if (0) { %>01.01.2001<% } %></strong>
					</span>
					&nbsp;&nbsp;<button class="logout button">Выйти</button>
				</span> 
			</div>
		</div>
	</header>

	<div class="debitor">
		Комитет кредиторов <strong><%= Должник.Наименование %><% if (0) { %>ООО "Рога и копыта"<% } %></strong>
	</div>

	<% if        (meeting && meeting.Кабинет && 'true'==meeting.Кабинет.Участник.Нет_в_списках) { %>
		<div class="state">Голосование в данном кабинете заблокировано.</div>
		<p>Кабинет был создан при запуске голосования.<br/>
		После приостановки голосования, 
		адрес электронной почты на который был выслан адрес кабинете, не найден среди адресов 
		электронной почту участников голосования.</p>
	<% } else if ('Приостановлено'==meeting.Состояние) { %>
		<div class="state">Голосование в настоящий момент приостановлено.</div>
	<% } else if ('Завершено'==meeting.Состояние) { %>
		<div class="state">Голосование завершено.</div>
	<% } else if ('Состоялось'==meeting.Состояние) { %>
		<div class="state">Заседание состоялось.</div>
	<% } else if ('Не состоялось'==meeting.Состояние) { %>
		<div class="state">Заседание не состоялось.</div>
	<% } else if ('Отменено'==meeting.Состояние) { %>
		<div class="state">Голосование отменено.</div>
	<% } %>

	<div class="workplace">

	</div>

	<div class="footer">
		Кабинет функционирует в соответствии с 
		<a href="docs\Положение_о_ПЭП.docx">Положеним об использовании ИС «Витрина данных ПАУ» комитетами кредиторов</a>, 
		для участника с персональным адресом электронной почты 
		<b>"<%= Участник.email %><% if (0) { %>2836742864<% } %>"</b> 
		и номером мобильного телефона, принимающего СМС 
		<b>"<%= Участник.телефон %><% if (0) { %>2836742864<% } %>"</b>. 
	</div>

</div>