<style>
div.ama-bidding-property-classes div.efrsb-classes
{
	height:100px;
	white-space:pre-wrap;
	overflow-y:scroll;
}
</style>
<div class="ama-bidding-property-classes">

	<div>
		<span>Категория имущества:</span> 
		<%  var categories= obj.options.h_category.list; %>
		<select <%= obj.select_attrs('Категория') %>>
			<option <%= obj.option_attrs('') %> ></option>
			<% for (var i= 0; i < categories.length; i++) { %>
			<option <%= obj.option_attrs(categories[i]) %> >
				<%= categories[i] %>
				<% if (0) { %>Недвижимость<% } %>
			</option>
			<% } %>
		</select>
	</div>

	<div>
		<span>Классификация имущества по классификатору ЕФРСБ:</span>
		<div class="efrsb-classes">
			<a href="#"  <%= obj.a_modal_attrs('КлассификацияЕФРСБ') %> >
				Не выбран ни один класс! Кликните, чтобы указать..
			</a>
		</div>
	</div>

</div>
