<style>
div.cpw-ama-datamart-registry-demand-common-form table td
{
	font-size: 14px;
	padding: 11px 14px;
}
div.cpw-ama-datamart-registry-demand-common-form td.top
{
	vertical-align: top;
}
div.cpw-ama-datamart-registry-demand-common-form div.tab1
{
	margin-left: 20px;
}
div.cpw-ama-datamart-registry-demand-common-form .strong
{
	font-weight: 600;
}
</style>
<%
var tk= obj.value();
if (!tk)
	tk= {};
var Требование= tk.Требование;
if (!Требование)
	Требование= {};
var родительское_Требование= tk.родительское_Требование;
var номер_родительского_Требования= tk.номер_родительского_Требования;
var Кредитор= tk.Кредитор;
if (!Кредитор)
	Кредитор= {};
if (Кредитор.Организация)
{
	var ИНН= Кредитор.Организация.ИНН ? Кредитор.Организация.ИНН : '';
	var Наименование= Кредитор.Организация.Наименование ? Кредитор.Организация.Наименование : '';
}
else if (Кредитор.Физическое_лицо)
{
	var Фамилия, Имя, Отчество, Наименование;
	Фамилия = Имя = Отчество = Наименование = '';
	var ИНН= Кредитор.Физическое_лицо.ИНН ? Кредитор.Физическое_лицо.ИНН : '';

	if(Кредитор.Физическое_лицо)
	{
		Фамилия = Кредитор.Физическое_лицо.Фамилия ? Кредитор.Физическое_лицо.Фамилия : '';
		Имя = Кредитор.Физическое_лицо.Имя ? Кредитор.Физическое_лицо.Имя : '';
		Отчество = Кредитор.Физическое_лицо.Отчество ? Кредитор.Физическое_лицо.Отчество : '';
		Наименование = Фамилия + ' ' + Имя + ' ' + Отчество;
	}
}
var h_number_format= obj.options.h_number_format;
%>
<div class="cpw-ama-datamart-registry-demand-common-form">

	<table>
		<tr>
			<td colspan="2">
				<span>Требование</span> 
				<span class="strong"><%= h_number_format(Требование.Размер ? Требование.Размер : Требование.Сумма, 2, ' ,', ' ') %><% if (0) { %>123456.78<% } %> рублей</span>
				<% if (Требование.Вид_обязательства && ''!=Требование.Вид_обязательства) { %>, 
					по обязательству вида: "<%= Требование.Вид_обязательства %><% if (0) { %>Основной долг<% } %>"
				<%	} %> 
				от кредитора <span class="strong"><%= Наименование %><% if (0) { %>ООО "Рога и копыта"<% } %></span> (ИНН:<%= ИНН %><% if (0) { %>5208368650<% } %>)
			</td>
		</tr>
	<% if (Требование.Реестр && Требование.Реестр.Внесено) { %>
		<tr >
			<td class="strong top"><%= Требование.Реестр.Внесено.Дата %><% if (0) { %>09.03.2013<% } %></td>
			<td>
				Внесёно в <span class="strong"><%= (Требование.Очередь + ' ').charAt(0) %><% if (0) { %>3<% } %>-ю очередь</span> реестра 
				на основании документа 
				"<%= Требование.Реестр.Внесено.Основание %><% if (0) { %>Определение об оставлении заявления о признании должника несостоятельным (банкротом) без движения<% } %>"			
			</td>
		</tr>
	<% } %>
	<% if (Требование.Реестр && Требование.Реестр.Внесено_за_реестр) { %>
		<tr>
			<td class="strong top"><%= Требование.Реестр.Внесено_за_реестр.Дата %><% if (0) { %>09.03.2013<% } %></td>
			<td>
				Внесёно в <%= (Требование.Очередь + ' ').charAt(0) %><% if (0) { %>3<% } %>-ю очередь <span class="strong">ЗА РЕЕСТРОМ</span> 
				на основании документа 
				"<%= Требование.Реестр.Внесено_за_реестр.Основание %><% if (0) { %>Определение об оставлении заявления о признании должника несостоятельным (банкротом) без движения<% } %>"			
			</td>
		</tr>
	<% } %>
	<% if (Требование.Реестр && Требование.Реестр.Исключено) { %>
		<tr>
			<td class="strong top"><%= Требование.Реестр.Исключено.Дата %><% if (0) { %>06.04.2014<% } %></td>
			<td>
				Исключено из реестра на основании документа 
				"<%= Требование.Реестр.Исключено.Основание %><% if (0) { %>Справка о погашении задолженности<% } %>"
			</td>
		</tr>
	<% } %>
	<% if (Требование.Дата_возникновения) { %>
		<tr>
			<td class="strong top"><%= Требование.Дата_возникновения %><% if (0) { %>06.03.2013<% } %></td>
			<td>
				Возникла задолженность. 
				<% if (Требование.Основания) { %>
					Основание возникновение задолженности: 
					"<%= Требование.Основания.Текстом %><% if (0) { %>договор укурки поддачи №345 от 11.11.2011<% } %>"
				<% } %> 
			</td>
		</tr>
	<% } %>
		<tr>
			<td></td>
			<td></td>
		</tr>
	<% if (Требование.Залоговые_обязательства) { %>
		<tr>
			<td colspan="2">Требование обеспечено залоговыми обязательствами!</td>
		</tr>
	<% } %>
	<% if (родительское_Требование) { %>
		<tr>
			<td colspan="2">
				Требование возникло как процент на сумму требования № <%= номер_родительского_Требования %><% if (0) { %>10<% } %> 
				по ставке <%= Требование.Ставка %><% if (0) { %>10<% } %>%.			
			</td>
		</tr>
	<% } %> 
	</table>
</div>