<style>
div.cpw-ama-award-voting
{
	margin: 30px auto 0;
}
div.cpw-ama-award-voting div.welcome p {
	margin: 0;
}
div.cpw-ama-award-voting div.candidates {
	border-top: 1px solid #dfdfdf;
	overflow: auto;
    max-height: calc(100vh - 401px); /* 401px размеры header+footer*/
}
div.cpw-ama-award-voting ul {
	list-style: none;
	padding: 0;
    margin: 5px 0;
}
div.cpw-ama-award-voting ul li {
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	margin: 5px;
	padding: 0 0 0 10px;
	position: relative;
}
div.cpw-ama-award-voting ul li:hover {
	background: #eaeaea;
}
div.cpw-ama-award-voting ul li:active {
	box-shadow: none;
	opacity: 0.95;
	box-shadow: inset 0 0px 4px rgba(0,0,0,0.1);
}
div.cpw-ama-award-voting ul li.selected-candidate {
	box-shadow: none;
}
div.cpw-ama-award-voting ul li > div {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
}
div.cpw-ama-award-voting li div.am-info > p {
	margin: 0;
	line-height: 1.25em;
}
div.cpw-ama-award-voting li p.nominee {
	font-size: 18px;
}

/* Radiobutton */
div.cpw-ama-award-voting ul li label.container {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	padding: 10px;
}
div.cpw-ama-award-voting ul li label.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	z-index: -999;
}
div.cpw-ama-award-voting ul li label span.checkmark {
	position: absolute;
	/* top: 0;
	left: 0; */
	height: 14px;
	width: 14px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #A6A6A6;
}
div.cpw-ama-award-voting ul li label span.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
div.cpw-ama-award-voting ul li label.container input:checked~span.checkmark:after {
	display: block;
}
div.cpw-ama-award-voting ul li label.container input:checked~span.checkmark {
	background: #41D19E;
	border-color: transparent;
}
div.cpw-ama-award-voting ul li label.container span.checkmark:after {
	top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;
    background: #41D19E;
}

/* info icon*/
div.cpw-ama-award-voting ul li i.info {
	width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #469BDD;
    font-style: normal;
    font-family: cpw;
    font-size: 15px;
    font-weight: bold;
    color: #469BDD;
    line-height: 1em;
    box-sizing: border-box;
    padding: 0 1px 1px 5px;
	vertical-align: middle;
	cursor: pointer;

	position: absolute;
    right: 20px;
    margin: auto 0;
    top: 0;
    bottom: 0;
}

div.cpw-ama-award-voting div.footer {
	border-top: 1px solid #dfdfdf;
	background: #fff;
	min-width: 780px;
	max-width: 1000px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
	margin: 0 auto;
	padding: 10px 10px 15px;
	box-sizing: border-box;
}
div.cpw-ama-award-voting div.footer div input.email {
	margin-top: 5px;
	width: 350px;
	border-width: 2px;
}
div.cpw-ama-award-voting div.footer p.font-14 {
	margin: 10px 0;
}
div.cpw-ama-award-voting div.footer button.to-signing {
	float: right;
}
</style>

<%
var d= obj.value();
if (!d || null==d)
	d= {};
var Голосующий= d.Голосующий;
if (!Голосующий || null==Голосующий)
	Голосующий= {};
%>
<div class="cpw-ama-award-voting">

	<div class="welcome">
		<p>
			Уважаемый(-ая) 

			<%= Голосующий.Фамилия %> 
			<% if (0) { %>Тестов<% } %> 

			<%= Голосующий.Имя %> 
			<% if (0) { %>Тест<% } %> 

			<%= Голосующий.Отчество %>
			<% if (0) { %>Тестович<% } %>
			,

			<br>

			выберите из списка одного управляющего, достойного премии "Антикризисный управляющий года"
			<br>
			в номинации <b>"Профессиональное признание"</b>
		</p>
	</div>

	<p style="font-size: 22px; font-weight: bold;margin: 10px 0 5px;">
		Номинанты</p>

	<div <%= obj.with_attrs('Кандидаты') %> class="candidates">
		<%= obj.start_with() %>
		<div <%= obj.empty_attrs() %> ></div>
		<ul <%= obj.not_empty_attrs() %> >
			<% while (obj.iterate()) { %>
			<li <%= obj.item_attrs() %> >
				<label class="container">
					<input type="radio" name="resultat" />
					<span class="checkmark"></span>
				</label>

				<div class="am-info">
					<p class="nominee">
							<%= obj.txt_field('Фамилия') %> 
							<% if (0) { %>Глазырин<% } %> 

							<%= obj.txt_field('Имя') %> 
							<% if (0) { %>Роман<% } %> 

							<%= obj.txt_field('Отчество') %>
							<% if (0) { %>Анатольевич<% } %>
					</p>
					<p class="gray-text">
						<%= obj.txt_field('СРО') %>
						<% if (0) { %>АУ и УГУ<% } %>
					</p>
				</div>

				<i class="info" title="Информация о кандидате">i</i>
			</li>
			<% } %>
		</ul>
		<%= obj.end_with() %>
	</div>

	<% if (Голосующий.ГолосоватьЭлектроннойПодписью) { %>
		<div class="footer">
			<div class="font-14">
				Укажите адрес электронной почты, на который вы хотите получить подписанный вами бюллетень:<br/>
				<input type="text" class="email" />
			</div>
			<p class="font-14"><b>Если вы не голосовали, позвоните по номеру +7 (499) 673-03-37</b></p>

			<div class="button-panel">
				<button class="to-signing red">Перейти к подписанию бюллетеня</button>

				<button class="back">
					<span class="icon-back">←</span>
					Вернуться к выбору голосующего
				</button>
			</div>
		</div>
	<% } %>
</div>