<style>
div.cpw-ama-datamart-manager-request
{
	width:670px;
	margin:0 auto;
}
div.cpw-ama-datamart-manager-request div.row
{
	margin-bottom:5px;
}
div.cpw-ama-datamart-manager-request div.title
{
	display: inline-block;
	width: 120px;
	vertical-align:top;
}
div.cpw-ama-datamart-manager-request input
,div.cpw-ama-datamart-manager-request textarea
{
	width:520px;
	background-color:#eeeeee;
	border:1px solid gray;
}
div.cpw-ama-datamart-manager-request div.buttons
{
	text-align:right;
}
</style>
<% 
	var r= obj.value();
	if (!r || null==r)
		r= {};
%>
<div class="cpw-ama-datamart-manager-request">

	<div class="row">
		<div class="title">Наблюдатель:</div>
		<input type="text" readonly="readonly" value="<%= obj.txt('Заявитель.Имя') %>" />
	</div>
	<div class="row">
		<div class="title" style="text-align:right;">(email:&nbsp;&nbsp;</div>
		<input type="text" readonly="readonly" value="<%= obj.txt('Заявитель.EMail') %>" /> )
	</div>

	<div class="row">
		<div class="title2">Запрашивает доступ к информации витрины данных по процедуре над должником:</div>
		<div class="title"></div>
		<input type="text" readonly="readonly" value="<%= obj.txt('Должник') %>" />
	</div>

	<div class="row">
		<div class="title2">Кого заявитель представляет в деле (согласно его заявления):</div>
		<div class="title"></div>
		<input type="text" readonly="readonly" value="<%= obj.txt('Заявитель.Представляет') %>" />
	</div>

	<div class="row">
		<div class="title2">Пояснения заявителя:</div>
		<div class="title"></div>
		<textarea readonly="readonly" <%= obj.textarea_attrs('Заявитель.Поясняет') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row">
		<div class="title">Статус заявки:</div>
		<%= (!r || null==r || !r.State || null==r.State) ? '' : obj.options.h_Request_state.byCode[r.State].Состояние.запроса 
			 %><% if (0) { %>На рассмотрении<% } %>
	</div>

	<div class="row">
		Время последнего изменения: 
		<%= r.TimeLastChange %><% if (0) { %>03.03.2019 12:00<% } %>
	</div>

	<div class="buttons">
		<%if(r && r.State && r.State=='a'){%><button class="reject">Отклонить</button> <%}%>
		<%if(r && r.State && r.State!='p'){%><button class="approve">Удовлетворить (разрешить доступ к данным витрины по процедуре)</button><%}%>
	</div>

</div>