<style>
div.cpw-ama-datamart > div.manager
,div.cpw-ama-datamart > div.viewer
{
	<%= 'display:none;' %>
}
</style>
<div class="cpw-ama-datamart">

	<div class="login"><%= obj.control('ФормаВхода') %><% if (0) { %>Форма входа<% } %></div>

	<div class="logged"><% if (0) { %>Авторизованная зона<% } %></div>

</div>