<style>
div.cpw-ama-datamart-manager-main .ui-state-active,
div.cpw-ama-datamart-manager-main .ui-widget-content .ui-state-active,
div.cpw-ama-datamart-manager-main .ui-widget-header .ui-state-active
{
	border: 1px solid #c5c5c5;
	font-weight: normal;
	color: #444;
}
div.cpw-ama-datamart-manager-main .ui-state-default a, 
div.cpw-ama-datamart-manager-main .ui-state-default a:link, 
div.cpw-ama-datamart-manager-main .ui-state-default a:visited
{
	color: #444;
}
div.cpw-ama-datamart-manager-main .ui-state-active a, 
div.cpw-ama-datamart-manager-main .ui-state-active a:link, 
div.cpw-ama-datamart-manager-main .ui-state-active a:visited
{
	color: #D3242C;
	font-weight: 600;
}
div.cpw-ama-datamart-manager-main ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border-bottom: 3px solid #D3242C;
}
div.cpw-ama-datamart-manager-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	border: none;
	background: #fff;
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
}
div.cpw-ama-datamart-manager-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 10px 10px 0;
	border: none;
	background: #fff;
	text-align: left;
}
div.cpw-ama-datamart-manager-main #cpw-ama-datamart-manager-main-dmrt
{
	padding: 15px 0 0;
}
div.cpw-ama-datamart-manager-main div#cpw-ama-datamart-manager-main-tabs > ul.ui-tabs-nav:before
{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 1000px 1px 0px 0px #DFDFDF, -1000px 1px 0px 0px #DFDFDF;
}
div.cpw-ama-datamart-manager-main div#cpw-ama-datamart-manager-main-tabs > div.page
{
	min-width: 500px;
}
div.cpw-ama-datamart-manager-main .profile-number
{
	font-weight: 600;
	color: #D3242C;
}
div.cpw-ama-datamart-manager-main .profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
div.cpw-ama-datamart-manager-main .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-ama-datamart-manager-main .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
div.cpw-ama-datamart-manager-main .triange-red-icon
{
	margin-left: 5px;
}

div.cpw-ama-datamart-manager-main .ui-widget#cpw-ama-datamart-manager-main-tabs > ul.ui-widget-header.ui-tabs-nav li:first-child
{
	margin-left:0px;
	margin-right:4px;
}
div.cpw-ama-datamart-manager-main .ui-widget#cpw-ama-datamart-manager-main-tabs > ul.ui-widget-header.ui-tabs-nav li a
{
	padding-right:12px;
}
</style>
<%
var release_mode= $('body').hasClass('test');
var model= obj.value();
var name= '';

if (null==model)
{
	name= 'Неустановленный АУ';
}
else
{
	if (model.lastName)
		name= model.lastName;
	if (model.firstName)
	{
		if (''!=name)
			name+= ' ';
		name+= model.firstName.charAt(0) + '.';
	}
	if (model.middleName)
	{
		if (''!=name)
			name+= ' ';
		name+= model.middleName.charAt(0) + '.';
	}
}
%>
<div class="cpw-ama-datamart-manager-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Кабинет арбитражного управляющего
				</span>
			</div>

			<div class="buttons">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;">
							<%= name %><% if (0) { %>Иванов И И<% } %>
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="open-profile">Профиль</li>
<% if (null != model.id_Contract || release_mode) { %>
							<li class="notifications">Уведомления</li>
<% } %>
<% if (!app.disable_viewers3) { %>
							<li class="filter-settings">Настройки мониторинга процедур</li>
							<li class="google-calendar-dwnld">Загрузка с Google календаря</li>
<% } %>
							<li class="logout">Выйти</li>
						</ul>
					</div>
				</span> 
			</div>
		</div>
	</header>

	<div id="cpw-ama-datamart-manager-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-datamart-manager-main-schd" >Календарь</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-news" >Новости</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-assgnmnt" >Назначения</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-proc" >Процедуры</a></li>
<% if (!app.disable_viewers3) { %>
			<li><a href="#cpw-ama-datamart-manager-main-proc-info" >В работе</a></li>
<% } %>
<% if (null != model.id_Contract || release_mode) { %>
			<li><a href="#cpw-ama-datamart-manager-main-cont" >Контакты</a></li>
			<li><a href="#cpw-ama-datamart-manager-main-hndb" >Справочники</a></li>
<% } %>
			<li><a href="#cpw-ama-datamart-manager-main-dmrt" >Витрина</a></li>
<% if (null != model.id_Contract || release_mode) { %>
			<li><a href="#cpw-ama-datamart-manager-main-meet" >Комитеты</a></li>
<% } %>
		</ul>
		<div id="cpw-ama-datamart-manager-main-schd" class="page">
			<% if (0) { %>Календарь событий<% } %>
			<%= obj.fields_control('Календарь') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-assgnmnt" class="page">
			<% if (0) { %>Назначения<% } %>
			<%= obj.fields_control('Назначения') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-news" class="page">
			<% if (0) { %>Новости<% } %>
			<%= obj.fields_control('Новости') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-proc" class="page" >
			<% if (0) { %>Список процедур и настройка прав для них<% } %>
			<%= obj.fields_control('Процедуры') %>
		</div>
<% if (!app.disable_viewers3) { %>
		<div id="cpw-ama-datamart-manager-main-proc-info" class="page" >
			<% if (0) { %>Процедуры в работе<% } %>
			<%= obj.fields_control('ВРаботе') %>
		</div>
<% } %>
<% if (null != model.id_Contract || release_mode) { %>
		<div id="cpw-ama-datamart-manager-main-cont" class="page">
			<br/>
			<% if (0) { %>Список контактов<% } %>
			<%= obj.fields_control('Контакты') %>
		</div>
		<div id="cpw-ama-datamart-manager-main-hndb" class="page">
			<br />
			<% if (0) { %>Справочники<% } %>
			<%= obj.fields_control('Справочник') %>
		</div>
<% } %>
		<div id="cpw-ama-datamart-manager-main-dmrt" class="page">
			<% if (0) { %>Данные о процедурах, видные в витрине<% } %>
			<%= obj.fields_control('Витрина') %>
		</div>
<% if (null != model.id_Contract || release_mode) { %>
		<div id="cpw-ama-datamart-manager-main-meet" class="page">
			<% if (0) { %>Данные о заседаниях КК<% } %>
			<%= obj.fields_control('ЗаседанияКК') %>
		</div>
<% } %>
	</div>

</div>