<style>
div.cpw-ama-meeting-question-variants-form 
{
	width: 550px;
	margin: 0 auto;
}
div.cpw-ama-meeting-question-variants-form div.number
{
	display: inline-block;
	width: 30px;
}
div.cpw-ama-meeting-question-variants-form div.variant
{
	margin-top: 2px;
}
div.cpw-ama-meeting-question-variants-form div.variant.empty
{
	color: silver;
}
div.cpw-ama-meeting-question-variants-form div.variant.empty input
{
	background-color: #F0F0F0;
}
div.cpw-ama-meeting-question-variants-form input
{
	width: 500px;
}
</style>
<% if (obj.options && obj.options.readonly) { %>
<style>
div.cpw-ama-meeting-question-variants-form input
{
	background-color: #f5f5f5;
}
</style>
<% } %>
<div class="cpw-ama-meeting-question-variants-form">
	<span>Варианты решения:</span>
	<div>
		<% for (var i= 0; i<10; i++) { %>
			<div class="variant">
				<div class="number"><%= i+1 %><% if (0) { %>1<% } %>)</div>
				<input type="text" maxlength="500" class="question-variant-<%= i %>" <%= !(obj.options && obj.options.readonly) ? '' : 'readonly="readonly"' %> />
			</div>
		<% } %>
	</div>
</div>