<% if (1==obj.length) { %>

	Вы действительно хотите удалить запись об ученике<br/><br/>
	<center><%= obj[0].Ученик %></center>
	?

<% } else { %>

	Вы действительно хотите удалить записи об учениках<br/>

	<ol>
	<% for (var i= 0; i<obj.length; i++ ) { %>
		<li><%= obj[i].Ученик %></li>
	<% } %>
	</ol>
	?

<% } %>
