<style>
div.cpw-ama-datamart-viewer-main .ui-state-default,
div.cpw-ama-datamart-viewer-main .ui-widget-content .ui-state-default
{
	background: none;
}
div.cpw-ama-datamart-viewer-main .ui-state-active,
div.cpw-ama-datamart-viewer-main .ui-widget-content .ui-state-active,
div.cpw-ama-datamart-viewer-main .ui-widget-header .ui-state-active
{
	border: 1px solid #c5c5c5;
	font-weight: normal;
	color: #444;
}
div.cpw-ama-datamart-viewer-main .ui-state-default a, 
div.cpw-ama-datamart-viewer-main .ui-state-default a:link, 
div.cpw-ama-datamart-viewer-main .ui-state-default a:visited
{
	color: #444;
}
div.cpw-ama-datamart-viewer-main .ui-state-active a, 
div.cpw-ama-datamart-viewer-main .ui-state-active a:link, 
div.cpw-ama-datamart-viewer-main .ui-state-active a:visited
{
	color: #D3242C;
	font-weight: 600;
}
div.cpw-ama-datamart-viewer-main ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
}
div.cpw-ama-datamart-viewer-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	border: none;
	background: #fff;
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
}
div.cpw-ama-datamart-viewer-main div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 10px 10px 0;
	border: none;
	background: #fff;
	text-align: left;
}
div.cpw-ama-datamart-viewer-main #cpw-ama-datamart-viewer-main-dmrt
{
	padding: 15px 0 0;
}
div.cpw-ama-datamart-viewer-main div#cpw-ama-datamart-viewer-main-tabs > ul.ui-tabs-nav:before
{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 1000px 1px 0px 0px #DFDFDF, -1000px 1px 0px 0px #DFDFDF;
}
div.cpw-ama-datamart-viewer-main div#cpw-ama-datamart-viewer-main-tabs > div.page
{
	min-width: 500px;
}
div.cpw-ama-datamart-viewer-main .profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
div.cpw-ama-datamart-viewer-main .profile-dropdown .popover
{
	right: -7px;
}
div.cpw-ama-datamart-viewer-main .profile-dropdown .popover .arrow
{
	right: 2px;
}
div.cpw-ama-datamart-viewer-main .triange-red-icon
{
	margin-left: 5px;
}
div.cpw-ama-datamart-viewer-main button.add-procedure
{
	position: absolute;
	top:-3px;
	right:0px;
	margin-right:170px;
}
</style>
<%
var o= obj.value();
var name= '';
if (o && null!=o)
{
	name= o.Имя;
}
else
{
	name= 'Неустановленный наблюдатель';
	o= {};
}
%>
<div class="cpw-ama-datamart-viewer-main">

	<header>
		<div class="header-container">
			<div class="header-cell">
				<img src="img/pau-logo<%= !app.test_mode ? '' : '-test' %>.png" class="logo" alt="ПАУ" />
				<span class="title-ama">
					Витрина данных ПАУ
				</span>
			</div>
			<div class="buttons">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;">
							<%= name %><% if (0) { %>Петров П П<% } %>
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="open-profile">Профиль</li>
							<li class="notifications">Уведомления</li>
<% if (!app.disable_viewers3) { %>
							<li class="filter-settings">Настройки мониторинга процедур</li>
<% } %>
							<li class="logout">Выйти</li>
						</ul>
					</div>
				</span> 
			</div>
		</div>
	</header>

	<div id="cpw-ama-datamart-viewer-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
<% if (o.ForMarketplace) { %>
			<li><a href="#cpw-ama-datamart-viewer-main-mpkm" >Под продажу</a></li>
<% } %>
			<li><a href="#cpw-ama-datamart-viewer-main-schd" >Календарь</a></li>
			<li><a href="#cpw-ama-datamart-viewer-main-news" >Новости</a></li>
			<li><a href="#cpw-ama-datamart-viewer-main-proc" >Процедуры</a></li>
			<li><a href="#cpw-ama-datamart-viewer-main-dmrt" >Витрина</a></li>
<% if (o.HasOutcoming) { %>
			<li><a href="#cpw-ama-datamart-viewer-main-outm" >Исходящие</a></li>
<% } %>
<% if (!app.disable_viewers2) { %>
			<li><a href="#cpw-ama-datamart-viewer-main-leak" >Пр.спец.</a></li>
<% } %>
<% if (!app.disable_viewers3) { %>
			<li><a href="#cpw-ama-datamart-viewer-main-escort" >На сопр.</a></li>
<% } %>
		</ul>
<% if (o.ForMarketplace) { %>
		<div id="cpw-ama-datamart-viewer-main-mpkm" class="page">
			<% if (0) { %>Конкурсная масса<% } %>
			<%= obj.fields_control('Конкурсная_масса') %>
		</div>
<% } %>
		<div id="cpw-ama-datamart-viewer-main-schd" class="page">
			<button class="add-procedure">Добавить</button>
			<% if (0) { %>Календарь событий<% } %>
			<%= obj.fields_control('Календарь') %>
		</div>
		<div id="cpw-ama-datamart-viewer-main-news" class="page">
			<button class="add-procedure">Добавить</button>
			<% if (0) { %>Новости<% } %>
			<%= obj.fields_control('Новости') %>
		</div>
		<div id="cpw-ama-datamart-viewer-main-proc" class="page" >
			<button class="add-procedure">Добавить</button>
			<% if (0) { %>Список процедур<% } %>
			<%= obj.fields_control('Процедуры') %>
		</div>
		<div id="cpw-ama-datamart-viewer-main-dmrt" class="page">
			<button class="add-procedure">Добавить</button>
			<% if (0) { %>Данные о процедурах, видные в витрине<% } %>
			<%= obj.fields_control('Витрина') %>
		</div>
<% if (o.HasOutcoming) { %>
		<div id="cpw-ama-datamart-viewer-main-outm" class="page">
			<% if (0) { %>Данные об исходящих пакетах информации<% } %>
			<%= obj.fields_control('Исходящие') %>
		</div>
<% } %>
<% if (!app.disable_viewers2) { %>
		<div id="cpw-ama-datamart-viewer-main-leak" class="page">
			<% if (0) { %>Анализ отчётов АУ по расходам на витрине<% } %>
			<%= obj.fields_control('Привлечённые') %>
		</div>
<% } %>
<% if (!app.disable_viewers3) { %>
		<div id="cpw-ama-datamart-viewer-main-escort" class="page">
			<% if (0) { %>Сопровождение<% } %>
			<%= obj.fields_control('Сопровождение') %>
		</div>
<% } %>
	</div>

</div>