<div>
	Данные по процедуре <b><%= obj.reason %><% if (0) { %>отсутствуют<% } %></b>.<br/>
	<br />
	Возможные причины:<br />
	<ul>
		<li>Арбитражный управляющий  <strong>не выгрузил процедуру</strong> на витрину данных</li>
		<li>Арбитражный управляющий  <strong>не дал вам доступ на просмотр</strong> данных по этой процедуре</li>
		<li>Арбитражный управляющий  <strong>не пользуется ПАУ</strong></li>
	</ul>
	<a href="https://support.russianit.ru/hc/ru/articles/360016937740" target="_blank">
		Инструкция для арбитражного управляющего
	</a>
</div>