<style>
	div.cpw-ama-datamart-request-consents .select{
		width: 462px !important;
	}
	div.cpw-ama-datamart-request-consents .select .select2-search-choice-close {
		display: none;
	}
	div.cpw-ama-datamart-request-consents div.contents .header.fixed{
		width: 100%;
		position: absolute;
		z-index: 1;
		background-color: #ffffff;
	}
	div.cpw-ama-datamart-request-consents div.contents .num{
		width: 32px;
	}
	div.cpw-ama-datamart-request-consents div.contents .time{
		width: 152px;
	}
	div.cpw-ama-datamart-request-consents div.contents .au{
		width: 464px;
	}
	div.cpw-ama-datamart-request-consents div.contents .answer{
		width: 110px;
	}
	div.cpw-ama-datamart-request-consents div.contents button
	{
		float:right;
	}
	div.cpw-ama-datamart-request-consents div.contents
	{
		margin-top:10px;
	}
	div.cpw-ama-datamart-request-consents div.contents table
	{
		margin-left:15px;
		width:100%;
	}
	div.cpw-ama-datamart-request-consents div.contents td.answer
	{
		text-align:center;
	}
	div.cpw-ama-datamart-request-consents div.contents tr.row:hover
	{
		background-color:#eeeeee;
	}
	div.cpw-ama-datamart-request-consents div.contents tr.header
	,div.cpw-ama-datamart-request-consents div.contents tr.selected
	{
		font-weight:bold;
	}
	div.cpw-ama-datamart-request-consents div.contents div.title
	{
		display:inline-block;
		padding-top:10px;
	}
	div.cpw-ama-datamart-request-consents div.contents .collection-wrapper {
		max-height: 100px;
		overflow-y: auto;
		overflow-x: hidden;
	}
</style>
<div class="cpw-ama-datamart-request-consents">
	<div class="row">
		<span style="margin-right: 41px; "><%if(!obj.options.readonly){%>Согласия АУ:<%}%>
		</span>
		<%if(!obj.options.readonly){%>
			<div class="select select-au" <%= obj.select2_attrs('АУ') %> >тут должен быть select2</div>
		<%}%>
    </div>
    <div class="contents" <%= obj.with_attrs('Согласия') %> >
		<%= obj.start_with() %>
		<div <%= obj.empty_attrs() %> >
			Пока нет согласных АУ
		</div>
		<div class="collection-wrapper" <%= obj.not_empty_attrs() %>>
			<%if(obj.options.readonly){%>Уже дали свои согласия:<%}%>
			<table class="collection" >
				<%if(!obj.options.readonly){%>
				<tr class="header fixed">
					<td class="num">№</td>
					<td class="time">получено</td>
					<td class="au">от Арбитражного управляющего</td>
					<td class="answer">в ответе</td>
					<td></td>
				</tr>
				<tr class="header">
					<td class="num">&nbsp;</td>
					<td class="time"></td>
					<td class="au"></td>
					<td class="answer"></td>
					<td></td>
				</tr>
				<% } %>
				<% while (obj.iterate()) { %>
					<% var item = obj.value();
					if(item && !obj.options.readonly) {
						var selectedClass = '';
						var checkboxValue = '';
						if( item.id_ProcedureStart){ checkboxValue = item.id_ProcedureStart; }
						if(	item.id_ProcedureStart
							&& obj.fastening.model.В_отчет
							&& (obj.fastening.model.В_отчет == item.id_ProcedureStart)) { selectedClass = 'selected'; }
					}
					%>
				<tr class="row <%=selectedClass%>"<%= obj.item_attrs() %>>
					<td class="num">
						<%= obj.item_position1() %>
							<% if (obj.is_seed()) { %>1<% } %>
						<%= obj.item_position1_end() %>)
					</td>
					<%if(!obj.options.readonly){%>
					<td class="time">
						<a href="#" class="do_edit">
							<%= obj.text_field('Заявление_на_банкротство.Дата_подачи') %>
								<% if (obj.is_seed()) { %>00.00.0000<% } %>
							<%= obj.text_field_end() %>
						</a>
					</td>
					<%}%>
					<td class="au">
						<%if(!obj.options.readonly){%>
						<a href="#" class="do_edit">
							<%= obj.text_field('АУ.text') %>
								<% if (obj.is_seed()) { %>Иванов Иван Иванович<% } %>
							<%= obj.text_field_end() %>
						</a>
						<%}%>
						<%if(obj.options.readonly){%>
							<%= obj.text_field('АУ.text') %>
								<% if (obj.is_seed()) { %>Иванов Иван Иванович<% } %>
							<%= obj.text_field_end() %>
						<%}%>
					</td>
					<%if(!obj.options.readonly){%>
					<td class="answer">
						<input type="radio" title="При выборе АУ, он будет назначен на процедуру банкротства" <%= obj.radio_attrs('В_ответе', checkboxValue) %> />
					</td>
					<td>
						<a href="#" class="do_delete">удалить</a>
					</td>
					<%}%>
				</tr>
				<% } %>
			</table>
		</div>
        <%= obj.end_with() %>
	</div>
</div>