<style>
div.cpw-ama-datamart-viewer-request
{
	width:630px;
	margin:0 auto;
}

div.cpw-ama-datamart-viewer-request div.title
{
	display: inline-block;
	width: 90px;
	vertical-align:top;
}

div.cpw-ama-datamart-viewer-request div.row
{
	margin-top: 3px;
	margin-bottom: 3px;
}

div.cpw-ama-datamart-viewer-request div.procedure
{
	margin-top: 20px;
	margin-bottom: 20px;
}

div.cpw-ama-datamart-viewer-request div.procedure div.title
{
	padding-left: 20px;
	width: 70px;
}

div.cpw-ama-datamart-viewer-request div.procedure div.title2
{
	padding-left: 20px;
}

div.cpw-ama-datamart-viewer-request input
,div.cpw-ama-datamart-viewer-request textarea
{
	width: 525px;
}

div.cpw-ama-datamart-viewer-request textarea
{
	height: 60px;
}
div.cpw-ama-datamart-viewer-request input[readonly="readonly"]
{
	background-color: #eeeeee;
	border: 1px solid gray;
}
div.cpw-ama-datamart-viewer-request div.select2
{
	display: inline-block;
	width: 525px;
}
div.cpw-ama-datamart-viewer-request div.row.inn-ogrn-snils input
{
	width:120px;
}
div.cpw-ama-datamart-viewer-request div.row.inn-ogrn-snils input.inn
{
	width: 120px;
}
div.cpw-ama-datamart-viewer-request div.row.inn-ogrn-snils input.snils
{
	width: 130px;
}
div.cpw-ama-datamart-viewer-request div.row.inn-ogrn-snils div.label
{
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}
div.cpw-ama-datamart-viewer-request div.status div.row div.title
{
	width:100px;
}
div.cpw-ama-datamart-viewer-request div.row.small-help-text
{
	font-size:small;
	color:silver;
}
div.cpw-ama-datamart-viewer-request div.row.small-help-text div.text
{
	display:inline-block;
}
</style>
<% 
	var r= obj.value();
	if (!r || null==r)
		r= {};
%>
<div class="cpw-ama-datamart-viewer-request">

	<div class="procedure">

	<div class="row">
		Ваш запрос может подтвердить Арбитражный управляющий (АУ)<br/> 
		в деле о банкротстве, в котором вы являетесь стороной:
	</div>

	<div class="row small-help-text">
		<div class="title"></div>
		<div class="text">для поиска можно вводить точное наименование, ИНН, ОГРН или СНИЛС:</div> 
	</div>

	<div class="row">
		<div class="title">Должник:</div>
		<div class="select2" id="cpw-ama-dm-viewer-request-selector" <%= obj.select2_attrs('Выбранная_процедура') %> >тут должен быть select2</div> 
	</div>

	<div class="row inn-ogrn-snils">
		<div class="title"></div>
		<div class="label">ИНН:</div>
		<input type="text" class="inn" value="<%= obj.txt('Должник.ИНН') %>" readonly="readonly" />
		<div class="label">ОГРН:</div>
		<input type="text" value="<%= obj.txt('Должник.ОГРН') %>" readonly="readonly" />
		<div class="label">СНИЛС:</div>
		<input type="text" class="snils" value="<%= obj.txt('Должник.СНИЛС') %>" readonly="readonly" />
	</div>

	<div class="row">
		<div class="title">АУ:</div>
		<input type="text" value="<%= obj.txt('Процедура.Управляющий') %>" readonly="readonly" />
	</div>

	<div class="row">
		<div class="title2">Кого вы представляете в процедуре:</div>
		<div class="title"> </div>
		<input type="text" value="<%= obj.txt('Процедура.КогоПредставляетЗаявитель') %>" />
	</div>

	</div>

	<div class="row">
		<div class="title2">Пояснение к запросу:</div>
		<div class="title"></div>
		<textarea id="Пояснения"<%= obj.textarea_attrs('Пояснения') %> ><%= obj.value() %></textarea>
	</div>

	<% if (r.State) { %>
	<div class="status">
		<div class="row">
			<div class="title">Статус запроса:</div>
			<%= (!r || null==r || !r.State || null==r.State) ? '' : obj.options.h_Request_state.byCode[r.State].Состояние.запроса 
			 %><% if (0) { %>На рассмотрении<% } %>
		</div>

		<div class="row">
			<div class="title2">Время последнего изменения:</div>
			<div class="title"> </div>
			<%= r.TimeLastChange %><% if (0) { %>03.03.2019 12:00<% } %>
		</div>
	</div>
	<%}%>

</div>