<style>
div.cpw-ama-committee-location-form
{
	width: 585px;
	margin:0 auto;
}
div.cpw-ama-committee-location-form input.date
{
	width: 115px;
	vertical-align: middle;
}
div.cpw-ama-committee-location-form input.time
{
	width: 55px;
	padding: 5px;
	vertical-align: middle;
}
div.cpw-ama-committee-location-form textarea
{
	width: 450px;
	vertical-align: top;
	height: 58px;
}
div.cpw-ama-committee-location-form div.title
{
	width:130px;
	display:inline-block;
	text-align:right;
	padding-right: 5px;
	vertical-align: middle;
}
div.cpw-ama-committee-location-form div.title:after
{
	content: ":";
}
div.cpw-ama-committee-location-form div.title.no-text:after
{
	content: "";
}
div.cpw-ama-committee-location-form div.row
{
	margin-top: 5px;
}
div.cpw-ama-committee-location-form div.section-title
{
	font-weight: 600;
}
div.cpw-ama-committee-location-form div.offer
{
	margin-top:5px;
}
div.cpw-ama-committee-location-form div.offer input
{
	vertical-align:top;
}
div.cpw-ama-committee-location-form div.offer label
{
	display:inline-block;
	width:560px;
	margin-left:5px;
	font-size: 12px;
}
div.cpw-ama-committee-location-form div.footer
{
	margin-top:5px;
	font-size: 12px;
}
</style>
<% if (obj.options && obj.options.readonly) { %>
<style>
div.cpw-ama-committee-location-form input
,div.cpw-ama-committee-location-form textarea
{
	background-color: #f5f5f5;
}
</style>
<% } %>
<div class="cpw-ama-committee-location-form">
	<span class="section-title" style="font-weight: 600;">Окончание приёма бюллетеней</span>
	<div class="row">
		<div class="title no-text"></div>
		<input type="text" class="date" id="committee-location-datepicker" maxlength="10" value="<%= obj.txt('Дата_заседания') %>" <%= obj.date_attrs() %> /> 
		время 
		<input type="text" class="time" maxlength="5" value="<%= obj.txt('Время_заседания') %>" />
	</div>

	<div class="section-title">Ознакомление с материалами</div>
	<div class="row">
		<div class="title">С даты</div>
		<input type="text" class="date" maxlength="10" value="<%= obj.txt('Ознакомление.С_материалами.С_даты') %>" <%= obj.date_attrs() %> /> 
		время <input class="time" type="text" maxlength="5" value="<%= obj.txt('Ознакомление.С_материалами.Время.Начало') %>" /> 
		- <input class="time" type="text" maxlength="5" value="<%= obj.txt('Ознакомление.С_материалами.Время.Конец') %>" /> (до заседания)
	</div>

	<div class="row">
		<div class="title">Адрес</div>
		<textarea id="address-records" maxlength="500" <%= obj.textarea_attrs('Ознакомление.С_материалами.Адрес') %> ><%= obj.value() %></textarea>
	</div>

	<div class="section-title">Ознакомление с принятыми решениями</div>
	<div class="row">
		<div class="title">До даты</div>
		<input type="text" class="date" maxlength="10" value="<%= obj.txt('Ознакомление.С_результатами.До_даты') %>" <%= obj.date_attrs() %> /> 
		время <input class="time" type="text" maxlength="5" value="<%= obj.txt('Ознакомление.С_результатами.Время.Начало') %>" /> 
		- <input class="time" type="text" maxlength="5" value="<%= obj.txt('Ознакомление.С_результатами.Время.Конец') %>" /> (после заседания)
	</div>

	<div class="row">
		<div class="title">Адрес</div>
		<textarea id="address-results" maxlength="500" <%= obj.textarea_attrs('Ознакомление.С_результатами.Адрес') %> ><%= obj.value() %></textarea>
	</div>

	<div class="section-title">Атрибуты, для указания в документах</div>
	<div class="row">
		<div class="title">Адрес должника</div>
		<textarea id="address-debtor" maxlength="500" <%= obj.textarea_attrs('Должник.Местонахождение') %> ><%= obj.value() %></textarea>
	</div>

	<div class="row">
		<div class="title">Телефон АУ</div>
		<input type="text" maxlength="100" value="<%= obj.txt('Телефон_АУ') %>" />
	</div>

	<div class="offer">
		<input type="checkbox" id="cpw-electro-committee-offer" <%= (!obj.options || 'true'!=obj.options.Offer_accepted) ?  '' : 'checked="checked"' %> />
		<label for="cpw-electro-committee-offer">
			Я согласен с условиями 
			<a <%=app.a_href_attrs('docs/Оферта_АУ_ЭлектроКК.docx?action=')%> >публичной оферты</a> 
			на заключение соглашения 
			о взаимодействии при использовании информационной системы «Витрина данных ПАУ» 
			для проведения заседаний комитета кредиторов
		</label>
	</div>

	<div class="footer">
		Голосование в соответствии с 
		<a <%=app.a_href_attrs('docs/Положение_о_ПЭП.docx?action=')%> >Положением</a>, 
		участники должны подписать 
		<a <%=app.a_href_attrs('docs/Присоединение_к_ПЭП.docx?action=')%> >Соглашение</a>
	</div>
</div>