<style>
div.cpw-ama-committee-member-form
{
	width: 400px;
	margin: 0 auto;
}
div.cpw-ama-committee-member-form div.row
{
	margin-top: 5px;
}
div.cpw-ama-committee-member-form div.row div.title
{
	width: 75px;
	display: inline-block;
	margin-left:10px;
}
div.cpw-ama-committee-member-form div.row div.title::after
{
	content: ":";
}
div.cpw-ama-committee-member-form div.row input
{
	width: 300px;
}
div.cpw-ama-committee-member-form div.row input[data-fc-selector="Отчество"]
{
	margin-bottom: 10px;
}
div.cpw-ama-committee-member-form div.header
{
	margin-bottom:10px;
}
div.cpw-ama-committee-member-form button.to-print
{
	margin: 10px 0 0 10px;
	width:375px;
}
</style>
<% if (obj.options && obj.options.readonly) { %>
<style>
div.cpw-ama-committee-member-form input
{
	background-color: #f5f5f5;
}
</style>
<% } %>
<div class="cpw-ama-committee-member-form">
	<div class="header">
		Информация об участнике, указанная в 
		<a <%=app.a_href_attrs('docs/Присоединение_к_ПЭП.docx?action=')%> >соглашении</a>, которая подписана самим участником:
	</div>
	<div class="row">
		<div class="title">Фамилия</div>
		<input type="text" maxlength="100" value="<%= obj.txt('Фамилия') %>" autofocus="autofocus" />
	</div>
	<div class="row">
		<div class="title">Имя</div>
		<input type="text" maxlength="100" value="<%= obj.txt('Имя') %>" />
	</div>
	<div class="row">
		<div class="title">Отчество</div>
		<input type="text" maxlength="100" value="<%= obj.txt('Отчество') %>" />
	</div>
	<div class="row">
		<div class="title">E-mail</div>
		<input type="text" maxlength="100" value="<%= obj.txt('email') %>" />
	</div>
	<div class="row">
		<div class="title">Телефон</div>
		<input type="text" maxlength="20" value="<%= obj.txt('телефон') %>" />
	</div>
	<div class="row">
		<button class="to-print button">Соглашение на печать</button>
	</div>
</div>