<style>
div.ama-registry-main .ui-jqgrid-hbox
{
	background: none;
}
div.ama-registry-main .ui-jqgrid .ui-jqgrid-htable
{
	border: 1px solid #DFDFDF;
	background: #EFEFEF;
	border-radius: 5px 5px 0 0;
}
div.ama-registry-main .ui-jqgrid tr.ui-row-ltr td
{
	padding: 10px 5px;
}
div.ama-registry-main
{
	padding: 30px 10px 10px;
	text-align: center;
}
div.ama-registry-main .ui-jqgrid .ui-jqgrid-bdiv
{
	min-height: 316px;
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	box-sizing: border-box;
}
div.ama-registry-main div.selector
{
	display: inline-block;
	min-width: 300px;
	max-width: 340px;
	vertical-align: top;
	margin-right: 30px;
	text-align: left;
}
div.ama-registry-main div.grid
{
	display: inline-block;
	min-width: 500px;
	width: calc(100% - 360px);
	vertical-align: top;
	text-align: left;
	min-height: 551px
}
div.ama-registry-main h1
{
	font-size: 19px;
	margin-bottom: 0px;
	margin-top: 3px;
}
div.ama-registry-main div.commands
{
	float: right;
}
</style>
<div class="ama-registry-main">
	<div class="head">
		<div class="commands">
			<button class="print" style="display:none">Печать</button>
		</div>
	</div>

	<div class="selector">селектор очереди</div>
	<div class="grid closed-search">таблица требований кредиторов</div>
</div>