<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>
<div class="cpw-ama-anketanp">

	<h1>Анкета на банкротство гражданина</h1>

	<% 
		var pd= o.Персональные_данные;
		if (!pd || null==pd)
			pd= {};
	%>
	<p>
		гражданин 
		<b><%= pd.Фамилия %><% if (0) { %>Иванов<% } %> 
		<%= pd.Имя %><% if (0) { %>Иван<% } %> 
		<%= pd.Отчество %><% if (0) { %>Иванович<% } %></b>
		<br />
		телефон 
		<b><%= pd.Телефон %><% if (0) { %>322223<% } %></b>, 
		адрес электронной почты 
		<b><%= pd.Email %><% if (0) { %>fr@fr.fr<% } %></b>
	</p>

	<h2>Долги</h2>

	<h2>Доходы</h2>

	<h2>Имущество</h2>
</div>
