<style>
div.cpw-ama-committee-parameters-form div.location
{
	margin: 5px 0;
	text-align: center;
}
div.cpw-ama-committee-parameters-form div.location:hover
{
	cursor: pointer;
}
div.cpw-ama-committee-parameters-form .location-date
{
	color: #D3242C;
	font-weight: 600;
}
div.cpw-ama-committee-parameters-form > div.head
{
	display: inline-block;
	text-align: center;
	margin: 5px 0;
}
div.cpw-ama-committee-parameters-form > div.head > div
{
	display: inline-block;
	font-size: 14px;
}
div.cpw-ama-committee-parameters-form > div.members
,div.cpw-ama-committee-parameters-form > div.questions
{
	margin-top:5px;
}
div.cpw-ama-committee-parameters-form div.debtor
{
	color: gray;
}
div.cpw-ama-committee-parameters-form div.debtor span.value
{
	color: black;
}
div.cpw-ama-committee-parameters-form div.state
{
	text-align:center;
	font-size:small;	
	background: #FEF9D5;
	color: #000;
	border-radius: 3px;
	margin: 10px 0;
}
div.cpw-ama-committee-parameters-form div.state div
{
	display:none;
	padding: 5px;
	border: 1px solid #FFD940;
}
</style>
<%
var заседание= obj.value();
if (!заседание || null==заседание)
	заседание= { };
var должник= !заседание.Должник ? {} : заседание.Должник;
var дата_заседания= заседание.Дата_заседания;
%>
<div class="cpw-ama-committee-parameters-form">

	<div class="head">
		Заседание комитета кредиторов 
		<b><%= должник.Наименование %><% if (0) { %>ООО Рога и копыта<% } %></b> 
		<div class="debtor">
		(
			ИНН: <span class="value"><%= должник.ИНН %><% if (0) { %>123456789012<% } %></span>, 
			<% if (должник.ОГРН) { %>ОГРН: <span class="value"><%= должник.ОГРН %><% if (0) { %>123456789012<% } %></span>, <% } %>
			<% if (должник.СНИЛС) { %>СНИЛС: <span class="value"><%= должник.СНИЛС %><% if (0) { %>123456789012<% } %></span>, <% } %>
			местонахождение: <span class="value address"><%= должник.Местонахождение %><% if (0) { %>Москва, ул. Пушкина, проезд Колотушкина<% } %></span>
		)
		</div>
	</div>

	<div class="state">
		<div class="b">
			Нельзя редактировать заседание во время голосования, если нужно, приостановите его. 
			Время подведения итогов нельзя менять даже в перерыве. 
		</div>
	</div>

	<div class="location">
		<span>Подведение итогов:</span> 
		<span class="location-date">
			<%= дата_заседания %><% if (0) { %>11.12.2012<% } %> 
			<%= заседание.Время_заседания %><% if (0) { %>10:00<% } %>
		</span>
	</div>

	<div class="members">
		<% if (0) { %>Состав комитета кредиторов:<% } %>
		<%= obj.control('Участники') %>
	</div>

	<div class="questions">
		<% if (0) { %>Вопросы заседания:<% } %>
		<%= obj.control('Вопросы') %>
	</div>

</div>