<style>
div.cpw-ama-committee-cabinet-root button
{
	margin-top: 10px;
	width: 100%;
	max-width: 500px;
	padding: 10px 50px;
}
div.cpw-ama-committee-cabinet-root div.no-questions-text
{
	width: 550px;
	margin: 0 auto;
	margin-top:10px;
}
div.cpw-ama-committee-cabinet-root > div.ui-tabs > div.page
{
	min-height: 150px;
}
div.cpw-ama-committee-cabinet-root div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	margin-top: 5px;
	background: none;
	text-align: center;
}
div.cpw-ama-committee-cabinet-root div.page
{
	border: 1px solid #DFDFDF !important;
	border-radius: 5px;
}
div.cpw-ama-committee-cabinet-root ul.ui-tabs-nav
{
	display: inline-block;
	border: none;
}
div.cpw-ama-committee-cabinet-root ul.ui-widget-header.ui-tabs-nav li.ui-state-active
{
	border-bottom: 3px solid #D3242C;
	margin-bottom: -2px;
}
div.cpw-ama-committee-cabinet-root div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
{
	border: none;
	background: #fff;
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
}
div.cpw-ama-committee-cabinet-root div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all > div
{
	padding: 10px 10px 10px;
	border: none;
	background: #fff;
	text-align: left;
}
</style>
<%

var есть_непроголосованные_вопросы= false;

var meeting= obj.value();
if (meeting && null!=meeting && 'Голосование'==meeting.Состояние && 'true'!=meeting.Нет_в_списках)
{
	if (meeting && null!=meeting && meeting.Вопросы && null!=meeting.Вопросы)
	{
		for (var i= 0; i< meeting.Вопросы.length; i++)
		{
			var вопрос= meeting.Вопросы[i];
			if (!вопрос.Подписано || null==вопрос.Подписано)
			{
				есть_непроголосованные_вопросы= true;
				break;
			}
		}
	}
}
%>
<div class="cpw-ama-committee-cabinet-root">

	<div id="cpw-ama-committee-cabinet-root-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-ama-committee-cabinet-root-qst" >Вопросы</a></li>
			<li><a href="#cpw-ama-committee-cabinet-root-doc" >Документы</a></li>
			<li><a href="#cpw-ama-committee-cabinet-root-log" >Журнал работы</a></li>
		</ul>
		<div id="cpw-ama-committee-cabinet-root-qst" class="page" >
			<% if (meeting && null!=meeting && 'Приостановлено'==meeting.Состояние) { %>
				<div class="no-questions-text">
					Вопросы недоступны в связи с приостановкой голосования.<br/>
					Начальная повестка доступна с другими документами во вкладке "Документы".<br/>
					О продолжении голосования будет объявлено дополнительно.<br/>
					<br/>
					Обращаем ваше внимание, после продолжения голосования:
					<ol>
						<li>формулировки вопросов  могут быть изменены.</li>
						<li>нужно будет снова подписать ответы на все вопросы.</li>
					</ol>
				</div>
			<% } else if (meeting && null!=meeting && 'Отменено'==meeting.Состояние) { %>
				<div class="no-questions-text">
					Вопросы недоступны в связи с отменой голосования.<br/>
					Повестку и все другие документы можно найти во вкладке "Документы".<br/>
				</div>
			<% } else if (meeting && null!=meeting && 'true'==meeting.Нет_в_списках) { %>
				<div class="no-questions-text">
					Вопросы недоступны в связи с блокированием кабинета.<br/>
					Повестку и все другие документы можно найти во вкладке "Документы".<br/>
				</div>
			<% } else { %>
				<% if (0) { %>Вопросы<% } %>
				<%= obj.control('Вопросы') %>
			<% } %>
		</div>
		<div id="cpw-ama-committee-cabinet-root-doc" class="page" >
			<% if (0) { %>Документы<% } %>
			<%= obj.control('Документы') %>
		</div>
		<div id="cpw-ama-committee-cabinet-root-log" class="page" >
			<% if (0) { %>Журнал работы<% } %>
			<%= obj.control('Журнал') %>
		</div>
	</div>

	<% if (есть_непроголосованные_вопросы) { %>
		<center>
			<button class="button button-red go-sign">Приступить к голосованию</button>
		</center>
	<% } %>
</div>