<style>
div.cpw-job-monitor-job-details-form div.field-name
{
	display:inline-block;
	width:100px;
}
div.cpw-job-monitor-job-details-form div.long-read
{
	margin-left: 10px;
	display:inline-block;
}
</style>
<%
var job= obj.job;
var txt_time= { started: '', finished: '', span: 'ещё не выполнялось!' };
if (obj.options.prep_job_txt_time)
	obj.options.prep_job_txt_time(job,txt_time);
var log_rec= job.previous ? job.previous : job.last;
if (!log_rec)
	log_rec= {};
%>
<div class="cpw-job-monitor-job-details-form">
	<span style="color:gray">
		Информационный сервис <strong>"<%= obj.site.title %><% if (0) { %>datamart<% } %>"</strong>
	</span>
	<br />
	<span style="font-size: large;margin-left:10px;">
		Регламент работ <strong>"<%= obj.job.title %><% if (0) { %>nightly<% } %>"</strong>
	</span>

	<br />
	<br />
	<span style="color: gray;">
		<% if (job.previous) { %>пред-<% } %>
		последнее исполнение:
	</span>
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">начато:</div> 
		<strong><%= txt_time.started %><% if (0) { %>01.02.1999 10:30<% } %></strong>
	</span>
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">завершено:</div> 
		<strong><%= txt_time.finished %><% if (0) { %>01.02.1999 10:31<% } %></strong>
	</span>
	<br />
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">длительность:</div>
		<strong><%= txt_time.span %><% if (0) { %>15 минут<% } %></strong>
	</span>
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">статус:</div>
		<strong><%= obj.options.txt_status(log_rec.status) %><% if (0) { %>ok!<% } %></strong>
	</span>

	<br />
	<br />
	<span style="color: gray;">к исполнению не реже чем каждые:</span><br />
	<span style="margin-left: 10px;">
		<%
			var minutes= obj.job.max_age_minutes;

			var divider= 60*24;
			var days= Math.floor(minutes/divider);
			minutes= minutes%divider;

			var divider= 60;
			var hours= Math.floor(minutes/divider);
			minutes= minutes%divider;
		%>
		<% if (days>0) { %>
			<%= days %><% if (0) { %>10<% } %> 
			<%= obj.options.h_numbering(days,'день','дня','дней') %><% if (0) { %>дней<% } %> 
		<% } %>
		<% if (hours>0) { %>
			<%= hours %><% if (0) { %>10<% } %> 
			<%= obj.options.h_numbering(hours,'час','часа','часов') %><% if (0) { %>часов<% } %> 
		<% } %>
		<% if (minutes>0) { %>
			<%= minutes %><% if (0) { %>10<% } %> 
			<%= obj.options.h_numbering(minutes,'минута','минуты','минут') %><% if (0) { %>минут<% } %> 
		<% } %>
	</span>
	<br />
	<span style="color: gray;">описание:</span><br />
	<div class="long-read"><%= obj.job.description %><% if (0) { %>еженочные работы<% } %></div>
</div>