<style>
div.cpw-job-monitor-site-details-form div.long-read
{
	margin-left: 10px;
	display:inline-block;
}
</style>
<%
var site= obj.site;
var txt_time= { synchronized: 'текущее время' };
if (obj.options.prep_site_txt_time)
	obj.options.prep_site_txt_time(site,txt_time);
%>
<div class="cpw-job-monitor-site-details-form">
	<span style="font-size:large">
		Информационный сервис <strong>"<%= site.title %><% if (0) { %>datamart<% } %>"</strong>
	</span>
	<br />
	<br/>

	<span style="color: gray;">описание:</span>
	<br />
	<div class="long-read">
		<%= site.description %><% if (0) { %>витрина данных ПАУ<% } %>
	</div>
	<br />
	<br />

	<span style="color: gray;">информация по состоянию на:</span>
	<br />
	<div class="long-read">
		<%= txt_time.synchronized %><% if (0) { %>12.12.2012 10:00:01<% } %>
	</div>
</div>