<% if (0) { %><html><head runat="server"><link rel="stylesheet" type="text/css" href="s_job_monitor.css" /></head><body><% } %>
<% if (0) { %>
<style>
div.cpw-job-monitor-form div.jobs 
,div.cpw-job-monitor-form div.parts { display:block; }
</style>
<% } %>
<%
var o= obj.value();
if (!o || null==o)
	o= [];
var empty_log= function () {return { started: '', finished: '', span: 'ещё не выполнялось!' }; };
for (var isite= 0; isite < o.length; isite++)
{
	var site= o[isite];
	for (var ijob= 0; ijob < site.jobs.length; ijob++) 
	{
		var job= site.jobs[ijob];
		for (var ipart= 0; ipart < job.parts.length; ipart++) 
		{
			var job_part= job.parts[ipart];
			job_part.view_details= { mark_red: false, txt_time:empty_log(), txt_previous_time:empty_log() };
			if (obj.options.prep_job_part_view_details)
				obj.options.prep_job_part_view_details(job_part);
		}
		job.view_details= { mark_red: false, txt_time: empty_log(), txt_previous_time:empty_log()  };
		if (obj.options.prep_job_view_details)
			obj.options.prep_job_view_details(job);
	}
	site.view_details= { mark_red: false, txt_time: { synchronized: 'текущее время' } };
	if (obj.options.prep_site_view_details)
		obj.options.prep_site_view_details(site);
}
%>
<div class="cpw-job-monitor-form">

	<div class="buttons">
		<button class="refresh">Обновить</button>
		<span>Мониторинг фонового выполнения регламентных работ</span>
		<div style="clear:both"></div>
	</div>

	<div class="sites">

		<%	for (var isite= 0; isite < o.length; isite++) { var site= o[isite]; %>
		<div class="site to-switch" data-name="<%= site.title %>" data-isite="<%= isite %>">
			<div class="header" style="<%= !site.view_details.mark_red ? '': 'color:red;' %>">
				<div class="switcher"><div class="open"><% if (0) { %>+<% } %></div><div class="close"><% if (0) { %>-<% } %></div></div>
				<div class="content">
					<div class="num"><%= isite+1 %><% if (0) { %>1<% } %>й ИС </div>
					<div class="title">"<%= site.title %><% if (0) { %>datamart<% } %>"</div>
					<div class="sync">(по состоянию на <%= site.view_details.txt_time.synchronized %><% if (0) { %>01.01.2021 10:00:31<% } %>)</div>
				</div>
			</div>

			<div class="jobs">
				<%	for (var ijob= 0; ijob < site.jobs.length; ijob++) { var job= site.jobs[ijob]; %>
				<div class="job to-switch" data-name="<%= job.title %>" data-ijob="<%= ijob %>">
					<div class="header" style="<%= !job.view_details.mark_red ? '': 'color:red;' %>">
						<div class="switcher"><div class="open"><% if (0) { %>+<% } %></div><div class="close"><% if (0) { %>-<% } %></div></div>
						<div class="content">
							<div class="num"><%= ijob+1 %><% if (0) { %>1<% } %>й регламент </div>
							<div class="title">"<%= job.title %><% if (0) { %>nightly<% } %>"</div>
							<div class="log" data-has-previous="<%= job.previous ? 'true' : 'false' %>" >
								<div class="started"><%= job.view_details.txt_time.started %><% if (0) { %>2021-01-02 10:00<% } %></div> - 
								<div class="finished"><%= job.view_details.txt_time.finished %><% if (0) { %>11:00<% } %></div> 
								(<div class="span"><%= job.view_details.txt_time.span %><% if (0) { %>1 минута<% } %></div>)
							</div>
							<% if (job.previous) { %>
							<div class="previous">
								<span class="title">пред-последнее:</span>
								<div class="log">
									<div class="started"><%= job.view_details.txt_previous_time.started %><% if (0) { %>2021-01-02 10:00<% } %></div> 
									- 
									<div class="finished"><%= job.view_details.txt_previous_time.finished %><% if (0) { %>11:00<% } %></div> 
									(<div class="span"><%= job.view_details.txt_previous_time.span %><% if (0) { %>1 минута<% } %></div>)
								</div>
							</div>
							<% } %>
						</div>
					</div>
					<div class="parts">
						<%	for (var ipart= 0; ipart < job.parts.length; ipart++) { var job_part= job.parts[ipart]; %>
						<div class="part" data-name="<%= job_part.title %>" data-ipart="<%= ipart %>" style="<%= !job_part.view_details.mark_red ? '': 'color:red;' %>"> 
							<div class="num"><%= ipart+1 %><% if (0) { %>1<% } %>) </div>
							<div class="title"><%= job_part.title %><% if (0) { %>sync_manager<% } %></div>
							<div class="log" data-has-previous="<%= job_part.previous ? 'true' : 'false' %>">
								<div class="started"><%= job_part.view_details.txt_time.started %><% if (0) { %>2021-01-02 10:00<% } %></div> - 
								<div class="finished"><%= job_part.view_details.txt_time.finished %><% if (0) { %>11:00<% } %></div> 
								(<div class="span"><%= job_part.view_details.txt_time.span %><% if (0) { %>1 минута<% } %></div>)
							</div>
							<% if (job_part.previous) { %>
							<div class="previous">
								<span class="title">пред-последнее:</span>
								<div class="log">
									<div class="started"><%= job_part.view_details.txt_previous_time.started %><% if (0) { %>2021-01-02 10:00<% } %></div> 
									- 
									<div class="finished"><%= job_part.view_details.txt_previous_time.finished %><% if (0) { %>11:00<% } %></div> 
									(<div class="span"><%= job_part.view_details.txt_previous_time.span %><% if (0) { %>1 минута<% } %></div>)
								</div>
							</div>
							<% } %>
						</div>
						<%	} %>
					</div>
				</div>
				<%	} %>
			</div>
		</div>
		<%	} %>

	</div>

	<div class="details">
		<% if (0) { %> здесь должны быть детали<% } %>
	</div>

</div>
<% if (0) { %></body></html><% } %>