<style>
div.cpw-job-monitor-job-part-details-form div.field-name
{
	display:inline-block;
	width:100px;
}
div.cpw-job-monitor-job-part-details-form div.long-read
{
	margin-left: 10px;
	display:inline-block;
}
div.cpw-job-monitor-job-part-details-form div.long-read pre
{
	margin-bottom:0;
	margin-top:0;
	white-space:normal;
}
</style>
<%

var part= obj.part;
var txt_time= { started: '', finished: '', span: 'ещё не выполнялось!' };
if (obj.options.prep_job_part_txt_time)
	obj.options.prep_job_part_txt_time(part,txt_time);
var log_rec= part.previous ? part.previous : part.last;
if (!log_rec)
	log_rec= {};
%>
<div class="cpw-job-monitor-job-part-details-form">
	<span style="color: gray">
		Информационный сервис <strong>"<%= obj.site.title %><% if (0) { %>datamart<% } %>"</strong>
	</span>
	<br />
	<span style="margin-left: 10px; color: gray">
		Регламент работ <strong>"<%= obj.job.title %><% if (0) { %>nightly<% } %>"</strong>
	</span>
	<br />
	<span style="margin-left: 20px;font-size:large;">
		<%= parseInt(obj.ipart)+1 %><% if (0) { %>1<% } %>-я работа <strong>"<%= obj.part.title %><% if (0) { %>nightly<% } %>"</strong>
	</span>

	<br />
	<br />
	<span style="color: gray;">
		<% if (part.previous) { %>пред-<% } %>
		последнее исполнение:
	</span>
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">начато:</div>
		<strong><%= txt_time.started %><% if (0) { %>01.02.1999 10:30<% } %></strong>
	</span>
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">завершено:</div>
		<strong><%= txt_time.finished %><% if (0) { %>01.02.1999 10:31<% } %></strong>
	</span>
	<br />
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">длительность:</div>
		<strong><%= txt_time.span %><% if (0) { %>15 минут<% } %></strong>
	</span>
	<br />
	<span style="margin-left: 10px;">
		<div class="field-name">статус:</div>
		<strong><%= !log_rec.status ? '' : obj.options.txt_status(log_rec.status) %><% if (0) { %>ok!<% } %></strong>
	</span>

	<br />
	<br />
	<span style="color: gray;">
		<% if (part.previous) { %>пред-<% } %>
		последний результат:
	</span>
	<br />
	<div class="long-read" style="<%= '0'==log_rec.status ? '': 'color:red;' %>"><pre><%= log_rec.results %><% if (0) { %>всё получилось<% } %></pre>
	</div>

	<br />
	<br />
	<span style="color: gray;">описание:</span>
	<br />
	<div class="long-read"><%= part.description %><% if (0) { %>еженочные работы<% } %>
	</div>
	
	<div class="button_open">
		<button id="open_all_last_result">Открыть все последние результаты</button>
	</div>
</div>