<style>
div.ama-km-paged span.title1,
div.ama-km-paged span.title2
{
	font-weight: 600;
	font-size: 22px;
	padding: 0 0 20px;
	display: inline-block;
}
div.ama-km-paged table.grid tr[role="row"] td
{
	cursor: pointer;
	box-sizing: border-box;
}
div#gridPager > div > table > tbody > tr > td#gridPager_center > table
{
	float: right;
}
#gridPager_left > button
{
	font-weight: normal;
}
.ui-dialog .ui-dialog-title
{
	font-size: small;
}
</style>
<div class="ama-km-paged">
	<span class="title1"></span><span class="title2"></span>
	<table id="cpw-ama-km-paged-grid" class="grid closed-search"></table>
	<div id="gridPager"></div>
</div>