<style>
div.cpw-form-ama-dm-viewer-leaks div.row div.title
{
	width: 100px;
	display: inline-block;
}
div.cpw-form-ama-dm-viewer-leaks div.row div.title::after
{
	content: ":";
}
div.cpw-form-ama-dm-viewer-leaks div.row input[type="text"]
{
	width: 70px;
}
div.cpw-form-ama-dm-viewer-leaks div.row select
{
	width: 640px;
}
div.cpw-form-ama-dm-viewer-leaks > div.title
{
	font-size: large;
	font-weight: bold;
}
div.cpw-form-ama-dm-viewer-leaks > div.explanations
{
	font-size: medium;
    font-weight: bold;
    width: 500px;
}
div.cpw-form-ama-dm-viewer-leaks > div.conditions
{
	margin: 5px auto;
	width: 800px;
}
</style>
<div class="cpw-form-ama-dm-viewer-leaks">

	<div class="title">Анализ расходов на привлечённых специалистов</div>

	<div class="grid closed-search">
		<table id="cpw-ama-dm-viewer-leaks-grid" class="grid"></table>
		<div id="cpw-cpw-ama-dm-viewer-leaks-pager"></div>
	</div>

	<div class="explantions">

        Для сортировки полей СУММА и ДАТА пользуйтесь следующими правилами: <br>
        для отбора значений больше указанного напишите: ">" и значение,<br>
        для отбора значений меньше указанного напишите: "<" и значение,<br>
        для отбора значений равных указанному напишите: "=" и значение.<br>
        Например: >30000 или <01.01.2018.
	
	</div>

</div>