<style>
div.cpw-form-rosreestr
{
	width:500px;
	margin:0 auto;
}
div.cpw-form-rosreestr div.value
{
	padding-left:30px;
}
div.cpw-form-rosreestr div.value input
,div.cpw-form-rosreestr div.value textarea
{
	width:450px;
}

div.cpw-form-rosreestr div.value select {
	width: 100%;
}
</style>
<%
var v= obj.value();
if (!v || null==v)
	v= {};
var mode_attrs= '';
if (obj.options && !obj.options.admin_mode)
{
	mode_attrs= ' readonly="readonly" ';
};
var mode_attrs_select= '';
if (obj.options && !obj.options.admin_mode)
{
	mode_attrs_select= ' disabled="disabled" ';
}
%>
<% if (obj.options && !obj.options.admin_mode) { %>
<style>
div.cpw-form-rosreestr div.value input
,div.cpw-form-rosreestr div.value textarea
{
	background-color:#eeeeee;
}
</style>
<% } %>
<div class="cpw-form-rosreestr">

	<div class="title">Официальное наименование:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('Name') %>" /></div>
	
	<div class="title">Регион:</div>
	<div class="value">
		<select <%= obj.select_attrs('Region') %> <%= mode_attrs_select %>  >
			<%
				var regions= obj.options.regions;
				for (var i= 0; i < regions.length; i++)
				{
					var r= regions[i];
			%>
				<option <%= obj.option_attrs(r.Код_ОКАТО) %> ><%= r.Наименование %></option>
			<%	} %>
		</select> 
	</div>
	<div class="title">Адрес:</div>
	<div class="value"><textarea id="cpw-court-address-textarea" <%= obj.textarea_attrs('Address') %> ><%= obj.value() %></textarea></div>
	<div class="title">Широта:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('Latitude') %>" /></div>
	<div class="title">Долгота:</div>
	<div class="value"><input type="text" <%= mode_attrs %> value="<%= obj.txt('Longitude') %>" /></div>	
</div>