<style>
div.cpw-form-marketplace-asset-atch
{
	width: 100%;
	height: calc(100% - 60px);
	overflow-y:scroll;
}
</style>
<% if (0) { %>
<style>
div.cpw-form-marketplace-asset-atch
{
	width: 400px;
	height: 200px;
}
</style>
<% } %>
<%
var o= obj.value();
if (!o)
	o= {};
var attachments= (!o || !o.Приложения) ? [] : o.Приложения;
var url_prefix= obj.options.attachment_url_prefix;
%>
<div class="cpw-form-marketplace-asset-atch">

	<ol>
		<%	for (var i= 0; i< attachments.length; i++)
			{
				var a= attachments[i];
		%>
		<li>
			<a target="_blank" href="<%= url_prefix + a.id_AssetAttachment %>">
				<%= a.FileName %><% if (0) { %>Общий план.jpg<% } %>
			</a>
		</li>
		<%	} %>
	</ol>

</div>