<style>
	body.cpw-ama {
		margin: 0;
	}
	div.cpw-ama-award-main {
		background: #fff;
		padding: 10px;
		color: #333;
		box-sizing: border-box;
		min-width: 800px;
		margin: 0 auto;
		max-width: 1000px;
	}
	div.cpw-ama-award-main div.award-logo {
		display: inline-block;
		width: 117px;
		height: 95px;
		vertical-align: middle;
		margin-right: 15px;
	}
	div.cpw-ama-award-main div.title-container {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	div.cpw-ama-award-main div.title-container span {
		text-align: left;
		width: 100%;
		display: block;
	}
	div.cpw-ama-award-main div.title-container span#MuseoSansRegular {
		font-size: 24px;
	}
	div.cpw-ama-award-main div.title-container span#MuseoSansBlack {
		font-size: 28px;
	}


	/* глобавльные стили */
	.gray-text {
		color: #ABABAB;
	}
	.font-14 {
		font-size: 14px;
		line-height: 1em;
		margin: 0;
	}
	.icon-back {
		vertical-align: top;
		line-height: 12px;
		height: 16px;
		box-sizing: border-box;
		display: inline-block;
		margin-right: 7px;
	}

	input[type="text"],
	input[type="password"] {
		box-sizing: border-box;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		padding: 5px;
	}
	button {
		outline: none;
	}
	button:not(.ui-dialog-titlebar-close) {
		min-width: 75px;
		padding: 10px;
		border: none;
		border-radius: 3px;
		border: 1px solid #c5c5c5;
		background: #fff;
		color: #333;
		display: inline-block;
		line-height: 1em;
	}
	button:hover:not(.ui-dialog-titlebar-close) {
		opacity: 0.9;
		box-shadow: 0 2px 4px rgba(0,0,0,0.25)
	}
	button:active:not(.ui-dialog-titlebar-close) {
		opacity: 0.95;
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.25)
	}
	button.red {
		background: #D3242C;
		color: #fff;
		border-color: #D3242C;
	}
	button.back {
		background: #F4F4F4;
	}

	/* select2 */
	.select2-container .select2-choice {
		padding: 2px 0 2px 5px;
		border: 1px solid #cdcdcd;
		box-shadow: none;
	}
	.select2-container .select2-choice,
	.select2-container .select2-choice div {
		background-image: none;
		background: #fff;
	}
	.select2-container .select2-choice div {
		border: none;
	}
	.select2-container .select2-choice div::before {
		content: "";
		width: 0.35em;
		height: 0.35em;
		border-right: 0.15em solid #D43B40;
		border-top: 0.15em solid #D43B40;
		transform: rotate(135deg);
		display: inline-block;
		margin: 0.6em 0;
	}
	.select2-container .select2-choice div b {
		display: none;
	}
	.select2-drop {
		border-color: #cdcdcd;
	}
	.select2-search input {
		border: 1px solid #cdcdcd;
		border-radius: 3px;
	}

	/* стили для модалки */
	.ui-widget
	{
		font-family: sans-serif !important;
		font-size: 1em;
	}
	.ui-widget input, 
	.ui-widget select, 
	.ui-widget textarea, 
	.ui-widget button {
		font-family: sans-serif !important;
	}
	body.cpw-ama .ui-dialog {
		overflow: hidden;
		padding: 0;
		border-radius: 0;
		border: 1px solid #dddddd;
	}

	body.cpw-ama .ui-dialog > .ui-widget-header {
		font-size: 20px;
		font-weight: 600;
		border: none;
		background: none;
		color: #828282;
		padding: .5em 0.75em
	}
	.ui-dialog .ui-dialog-titlebar-close {
		right: 1em;
		border: none;
		color: #D3242C;
		background: none;
		padding: 5px 3px;
	}
	.ui-dialog .ui-dialog-titlebar-close:hover {
		color: #333;
	}
	.ui-dialog .ui-dialog-titlebar-close:active {
		color: #5897FB;
		border: none;
	}
	.ui-dialog .ui-dialog-titlebar-close::before {
		content: "\d7";
		font-weight: bold;
		font-size: 24px;
		line-height: 0.5em;
	}
	.ui-dialog .ui-dialog-titlebar-close .ui-icon {
		display: none
	}
	.ui-widget-overlay {
		background: #000;
		opacity: .5;
		filter: Alpha(Opacity=50);
	}
	.ui-dialog .ui-dialog-buttonpane {
		border-color: #dddddd;
	}
	.ui-dialog .ui-dialog-buttonpane .ui-button {
		font-size: 14px;
		border: 1px solid #c5c5c5 !important;
		background: #fff !important;
		color: #333 !important;
	}
	.ui-button-text-only .ui-button-text {
		padding: 0;
	}
	.ui-widget-content,
	body.cpw-ama .ui-dialog .ui-widget-content {
		background: #fff !important;
		background-color: #fff !important;
	}


	div.header-award div.partners a {
		display: block;
		color: #333
	}
	div.header-award div.partners a:hover {
		opacity: 0.9;
	}
	div.header-award div.partners a:hover .logo {
		box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	}
	div.header-award div.pau-logo {
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-right: 10px;
	}
	div.header-award div.orpau-logo {
		display: inline-block;
    	width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-right: 10px;
	}
	div.header-award div.partners a > span {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		font-size: 12px;
	}
</style>
<div class="cpw-ama-award-main">

	<div class="header-award">
		<div class="award-logo"></div>
		<div class="title-container">
			<span id="MuseoSansRegular" style="font-family: 'MuseoSansRegular';">
				ПРЕМИЯ
			</span>
			<span id="MuseoSansBlack" style="font-family: 'MuseoSansBlack';">
				АНТИКРИЗИСНЫЙ<br/> 
				УПРАВЛЯЮЩИЙ 2021
			</span>
		</div>
		<div class="partners" style="float: right;">
			<a href="https://russianit.ru/products/pau/" target="_blank" class="pau" style="margin-bottom: 15px;">
				<div class="pau-logo logo"></div>
				<span>Помощник арбитражного<br/>управляющего</span>
			</a>

			<a href="https://www.asrpa.ru/" target="_blank" class="orpau">
				<div class="orpau-logo logo"></div>
				<span>Ассоциация специалистов<br> по работе с проблемными<br> активами</span>
			</a>
		</div>
	</div>

	<div class="placer">
	</div>

</div>
