<style>
div.cpw-application-step1-debtor
{
	width:1000px;
}
div.cpw-application-step1-debtor div.row 
{
	margin-bottom:2px;
	margin-top:15px;
	padding:3px;
}
div.cpw-application-step1-debtor div.row.r2 
{
	margin-left:20px;
	margin-top:5px;
}
div.cpw-application-step1-debtor div.select2.debtor
{
	display:inline-block;
	width:680px;
}
div.cpw-application-step1-debtor input.date
{
	width:100px;
}
div.cpw-application-step1-debtor button.debtor
,div.cpw-application-step1-debtor button.message
{
	float:right;
}
div.cpw-application-step1-debtor div.row.editable:hover
{
	background-color:#eeeeee;
}
div.cpw-application-step1-debtor button
{
	color: gray !important;
	border-color:gray !important;
}
div.cpw-application-step1-debtor button:hover
{
	color: red !important;
	border-color:red !important;
}
</style>
<div class="cpw-application-step1-debtor">

	<div class="row editable">
		В отношении должника 
		<div class="select2 debtor" <%= obj.select2_attrs('Выбранный_должник') %> >select2 с выбором должника</div> 
		<button class="debtor" >о должнике</button>
	</div>
	<div class="row r2">
		введена процедура по 
		<a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_39331/">Закону о несостоятельности (банкротстве)</a>
	</div>

	<div class="row">Сообщение о введении процедуры было опубликовано </div>

	<div class="row r2 editable">
		в едином федеральном реестре сведений о банкротстве 
		<a class="efrsb_message" href="https://old.bankrot.fedresurs.ru/MessageWindow.aspx?ID=D82908FE1982703A6AD49D6C2AD405F5" target="_blank">
			за номером 
			<span class="Number">?</span> 
			от 
			<span class="PublishDate">ДД.ММ.ГГГГ</span>
		</a> 
		<button class="message">о сообщении в ЕФРСБ</button>
		<div style="clear: both"></div>
	</div>

	<div class="row r2">
		<span>в выпуске газеты "Коммерсантъ" № </span> 
		<input type="text" value="<%= obj.txt('Публикация_в_СМИ.Номер') %>" /> 
		от 
		<input type="text" class="date" value="<%= obj.txt('Публикация_в_СМИ.Дата') %>" <%= obj.date_attrs() %> />
	</div>
</div>
