<style>
div.cpw-ama-committee-members-form { position: relative; }
div.cpw-ama-committee-members-form div.member
{
	min-width: 50px;
	max-width: 30%;
	display: inline-block;
	margin: 5px;
	padding: 5px 5px 5px 10px;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	font-size: 14px;
}
div.cpw-ama-committee-members-form div.member:hover
{
	background-color: #dfdfdf;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	cursor: pointer;
}
div.cpw-ama-committee-members-form div.member > span
{
	display: inline-block;
	vertical-align: middle;
}
div.cpw-ama-committee-members-form div.member button.edit,
div.cpw-ama-committee-members-form div.member button.delete
{
	border: none;
	background-color: transparent;
	margin: 0;
	vertical-align: middle;
	color: gray;
	font-size: 14px;
	border-radius: 3px;
	vertical-align: middle;
	height: 28px;
	width: 28px;
}
div.cpw-ama-committee-members-form div.header
{
	margin: 3px 0;
	padding: 3px 5px 3px 10px;
	display: inline-block;
	width: 100%;
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
	box-sizing: border-box;
}
div.cpw-ama-committee-members-form div.header button
{
	float: right;
}
div.cpw-ama-committee-members-form button.edit
,div.cpw-ama-committee-members-form button.delete
{
	padding: 1px 8px;
}
div.cpw-ama-committee-members-form div.header > span
{
	display: inline-block;
	margin-top: 9px;
	font-weight: 600;
	font-size: 14px;
}
</style>
<%
var readonly= (obj.options && obj.options.readonly);
var b_disabled= !readonly ? '' : ' disabled="disabled" ';
%>
<div class="cpw-ama-committee-members-form">
	<div class="header">
		<button class="button add" <%= b_disabled %> >Добавить члена комитета кредиторов</button>
		<span>Состав комитета кредиторов:</span>
		<div style="float:none"></div>
	</div>
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<div class="members" <%= obj.not_empty_attrs() %> >
		<% 
			var Инициал= function(txt)
			{
				return (!txt || null==txt || !txt.length || 0==txt.length) 
					? '' : txt.charAt(0) + '.';
			}
		%>
		<% while (obj.iterate()) { %>
		<div class="member" <%= obj.item_attrs() %> >
			<%= obj.txt_field('Фамилия') %><% if (0) { %>Иванов<% } %> 
			<%= obj.txt_field('Имя',Инициал) %><% if (0) { %>И.<% } %> 
			<%= obj.txt_field('Отчество',Инициал) %><% if (0) { %>И.<% } %> 

			<button class="edit-icon edit" title="Редактировать" <%= b_disabled %> ></button>
			<button class="trash-icon delete" title="Удалить" <%= b_disabled %> ></button>
		</div>
		<% } %>
	</div>
</div>