<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence div.row 
{

}
div.cpw-ama-aplication-sentence div.text
{
	display:inline-block;
	margin:5px;
	text-align:right;
	
}
/*div.cpw-ama-aplication-sentence div.text 
{
	float:right;
}*/
div.cpw-ama-aplication-sentence input.input
{
	display:inline-block;
	margin:5px;
}
div.cpw-ama-aplication-sentence textarea.input
{
	display:inline-block;
	margin:5px;
}
</style>
<div class="cpw-ama-aplication-sentence">
    <div class="content">
		<div class="row">
			<div class="text">Арбитражным судом </div> 
			<input class="input" style="width:50%;" type="text" value="<%= obj.txt('Решение.Суд.Наименование.Короткое') %>"/>
		</div>
		<div class="row">
			<div class="text">вынесено </div> 
			<select id="type">
				<option>решение</option>
				<option>определение</option>
			</select>
			<div class="text"> по делу </div>
			<input class="input"  type="text" value="<%= obj.txt('Решение.Номер') %>"/>
			<div class="text"> от </div> 
			<input class="input" style="width:90px;" type="text" value="<%= obj.txt('Решение.Дата') %>" <%= obj.date_attrs() %>/>
			 <div class="text">г. </div>
		</div>
		<div class="row">
			<textarea id="e_first_p_procedure_short" class="input" style="width:80%;" <%= obj.textarea_attrs('Решение.Процедура.Короткая') %>> <%= obj.value() %> </textarea>
		</div>
		<div class="row">
			<div class="text"> в отношении </div>
			<input class="input" style="width:65%;" value="<%= obj.txt('Должник.Наименование.Родительный') %>"/> 
			<div class="text">,</div>
		</div>
		<div class="row">
			<div class="text">временным (внешним, административным, конкурсным) управляющим утвержден </div>
			<input class="input" style="width:80%;" value="<%= obj.txt('АУ.Наименование') %>"/>
		</div>
		<div class="row">
			<div class="text">член саморегулируемой организации </div>
			<textarea id="e_first_p_SRO" class="input" style="width:50%" <%= obj.textarea_attrs('АУ.СРО') %>> <%= obj.value() %> </textarea>
		</div>
    </div>
</div>