<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence div.row 
{

}
div.cpw-ama-aplication-sentence div.text
{
	display:inline-block;
	margin:5px;
	text-align:right;
	
}
/*div.cpw-ama-aplication-sentence div.text 
{
	float:right;
}*/
div.cpw-ama-aplication-sentence input.input
{
	display:inline-block;
	margin:5px;
}
div.cpw-ama-aplication-sentence textarea.input
{
	display:inline-block;
	margin:5px;
}
</style>
<!-- tinymce -->
	<script type="text/javascript" src="js/vendors/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="js/vendors/tinymce/jquery.tinymce.min.js"></script>
<!-- /tinymce } -->
<div class="cpw-ama-aplication-sentence">
    <div class="content">
		<textarea id="mytextarea1" style="width: 90%; height: 150px;" class="mytextarea" <%= obj.textarea_attrs('Основание') %> ></textarea>
    </div>
</div>