<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence div.row 
{

}
div.cpw-ama-aplication-sentence div.text
{
	display:inline-block;
	margin:5px;
	
}
div.cpw-ama-aplication-sentence input.input
{
	display:inline-block;
	margin:5px;
}
</style>
<div class="cpw-ama-aplication-sentence">
    <div class="content">

		<div class="row">
			<div class="text">Исх. № </div>
			<input class="input" type="text" value="<%= obj.txt('Номер_заявления') %>"/>
			<div class="text"> от </div>
			<input class="input" style="width:90px;" type="text" value="<%= obj.txt('Дата_заявления') %>" <%= obj.date_attrs() %>/> г.
		</div>
    </div>
</div>