<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence div.row 
{

}
div.cpw-ama-aplication-sentence div.text
{
	width:30%;
	display:inline-block;
	margin:5px;
	text-align:right;
	
}
/*div.cpw-ama-aplication-sentence div.text 
{
	float:right;
}*/
div.cpw-ama-aplication-sentence input.input
{
	display:inline-block;
	margin:5px;
}
div.cpw-ama-aplication-sentence textarea.input
{
	 display:inline-block;
	 margin:5px;
	 width:65%;
}
</style>
<div class="cpw-ama-aplication-sentence">
    <div class="content">

		<div class="row">
			<div class="text">Наименование суда: </div>
			<textarea id="e_header2_court_name_full" class="input" <%= obj.textarea_attrs('Решение.Суд.Наименование.Полное') %>> <%= obj.value() %> </textarea>
		</div>
		<div class="row">
			<div class="text">Адрес: </div>
			<textarea id="e_header2_court_address" class="input" <%= obj.textarea_attrs('Решение.Суд.Адрес') %>> <%= obj.value() %> </textarea>
		</div>
		<br>
		<div class="row">
			<div class="text"><b>Кредитор: </b></div>
			<textarea id="e_header2_creditor_name" class="input" <%= obj.textarea_attrs('Кредитор.Наименование.Именительный') %>> <%= obj.value() %> </textarea>
		</div>
		<div class="row">
			<div class="text">Адрес: </div>
			<textarea id="e_header2_creditor_address" class="input" <%= obj.textarea_attrs('Кредитор.Адрес') %>> <%= obj.value() %> </textarea>
		</div>
		<br>
		<div class="row">
			<div class="text"><b>Должник: </b></div>
			<textarea id="e_header2_debtor_name" class="input" <%= obj.textarea_attrs('Должник.Наименование.Именительный') %>> <%= obj.value() %> </textarea>
		</div>
		<div class="row">
			<div class="text">Адрес: </div>
			<textarea id="e_header2_debtor_address" class="input" <%= obj.textarea_attrs('Должник.Адрес') %>> <%= obj.value() %> </textarea>
		</div>
		<br>
		<div class="row">
			<div class="text"><b>Арбитражный управляющий: </b></div>
			<textarea id="e_header2_manager_name" class="input" <%= obj.textarea_attrs('АУ.Наименование') %>> <%= obj.value() %> </textarea>
		</div>
		<div class="row">
			<div class="text">Адрес: </div>
			<textarea id="e_header2_manager_address" class="input" <%= obj.textarea_attrs('АУ.Адрес') %>> <%= obj.value() %> </textarea>
		</div>
		<br>
		<div class="row">
			<div class="text"><b>Дело: </b></div>
			<input class="input" style="width:50%;" type="text" value="<%= obj.txt('Решение.Номер') %>"/>
		</div>
    </div>
</div>