<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence div.row 
{

}
div.cpw-ama-aplication-sentence div.text
{
	display:inline-block;
	margin:5px;
	text-align:right;
	
}
/*div.cpw-ama-aplication-sentence div.text 
{
	float:right;
}*/
div.cpw-ama-aplication-sentence input.input
{
	display:inline-block;
	margin:5px;
}
div.cpw-ama-aplication-sentence textarea.input
{
	display:inline-block;
	margin:5px;
}
</style>
<div class="cpw-ama-aplication-sentence">
    <div class="content">
		<div class="row">
			<div class="text">Объявление </div>
			<textarea id="e_second_p_debtor_name" class="input" style="width:80%;" <%= obj.textarea_attrs('Решение.Процедура.Полное') %>> <%= obj.value() %> </textarea>
		</div>
		<div class="row">
			<div class="text">в отношении </div>
			<input class="input" style="width:65%;" value="<%= obj.txt('Должник.Наименование.Родительный') %>"/> 
		</div>
		<div class="row">
			<div class="text">опубликовано в газете &laquo;Коммерсантъ&raquo; №</div>
			<input class="input" style="width:100px;" value="<%= obj.txt('Решение.Комерсант.Номер') %>"/> 
			<div class="text"> от </div>
			<input class="input" style="width:90px;" type="text" value="<%= obj.txt('Решение.Комерсант.Дата') %>" <%= obj.date_attrs() %>/>
		</div>
		<div class="row">
			<div class="text">в Едином Федеральном реестре сведений о банкротстве сообщение №</div>
			<input class="input" style="width:100px;" value="<%= obj.txt('Решение.Сообщение.Номер') %>"/> 
			<div class="text"> от </div>
			<input class="input" style="width:90px;" type="text" value="<%= obj.txt('Решение.Сообщение.Дата') %>" <%= obj.date_attrs() %>/>
		</div>
    </div>
</div>