<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence div.row 
{

}
div.cpw-ama-aplication-sentence div.text
{
	display:inline-block;
	margin:5px;
	text-align:right;
	
}
/*div.cpw-ama-aplication-sentence div.text 
{
	float:right;
}*/
div.cpw-ama-aplication-sentence input.input
{
	display:inline-block;
	margin:5px;
}
div.cpw-ama-aplication-sentence textarea.input
{
	display:inline-block;
	margin:5px;
}
</style>
<div class="cpw-ama-aplication-sentence">
    <div class="content">
		<div class="row">
			<div class="text">Руководитель </div>
			<input class="input" style="width:40%;"  type="text" value="<%= obj.txt('Кредитор.Наименование.Короткое') %>"/>
		</div>
		<div class="row">
			<input class="input" style="width:40%;"  type="text" value="<%= obj.txt('Кредитор.Руководитель') %>"/>
		</div>
    </div>
</div>