<style>
body.cpw-ama 
{
    margin: 0;
}

div.cpw-ama-aplication-sentence
{
    background: #fff;
    padding: 10px;
    color: #333;
}
div.cpw-ama-aplication-sentence div.header 
{
    font-size: 200%;
    text-align:center;
}

div.cpw-ama-aplication-sentence div.content 
{
    width: 100%;
}

div.cpw-ama-aplication-sentence div.row 
{

}
div.cpw-ama-aplication-sentence div.text
{
	display:inline-block;
	margin:5px;
	text-align:right;
	
}
/*div.cpw-ama-aplication-sentence div.text 
{
	float:right;
}*/
div.cpw-ama-aplication-sentence input.input
{
	display:inline-block;
	margin:5px;
}
div.cpw-ama-aplication-sentence textarea.input
{
	display:inline-block;
	margin:5px;
}
</style>
<div class="cpw-ama-aplication-sentence">
    <div class="content">
		<div class="row">
			<div class="text">Признать требование </div>
			<input class="input" style="width:40%;"  type="text" value="<%= obj.txt('Кредитор.Наименование.Короткое') %>"/>
			<div class="text"> по денежному обязательству в размере </div>
			<input class="input" style="width:150px;"  type="text" value="<%= obj.txt('Кредитор.СумДолг') %>"/>
			<div class="text"> руб., в том числе основной долг</div>
			<input class="input" style="width:150px;"  type="text" value="<%= obj.txt('Кредитор.Долг') %>"/>
			<div class="text">, </div>
			<textarea id="e_fifth_p_penalties" class="input" style="width:80%;" <%= obj.textarea_attrs('Кредитор.Санкции') %>> <%= obj.value() %> </textarea>
			<div class="text"> обоснованным и включить в реестр требований кредиторов </div>
			<input class="input" style="width:40%;"  type="text" value="<%= obj.txt('Должник.Наименование.Родительный') %>"/>
			<div class="text">  по третьей очереди удовлетворения. </div>
		</div>
    </div>
</div>