<style>
div.cpw-ama-datamart-start
{
	width:824px;
	height: auto !important;
	margin:0 auto;
}
div.cpw-ama-datamart-start div.label-1-3
{
	display:inline-block;
	width:75px;
}
div.cpw-ama-datamart-start div.label-2-3
{
	display:inline-block;
	width:50px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-start div.label-3-3
{
	display:inline-block;
	width:80px;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-start div.label-2-3.middle {
	width: auto;
}
div.cpw-ama-datamart-start div.row
{
	margin-top:5px;
}
div.cpw-ama-datamart-start div.select2
{
	display:inline-block;
	width: 340px;
}
div.cpw-ama-datamart-start div.row div.right
{
	display:flex;
	align-items: center;
	float:right;
	width: 574px;
	justify-content: space-between;
}
div.cpw-ama-datamart-start div.NextSession-label
{
	display:inline-block;
	text-align:right;
	padding-right:5px;
}
div.cpw-ama-datamart-start div.NextSession-label + input
{
	min-width: auto !important;
	width: 176px;
}
div.cpw-ama-datamart-start input[data-fc-selector="Время_сверки"]
{
	min-width: auto !important;
	background-color:#eeeeee;
	text-align:center;
	width:145px;
	min-width: auto !important;
}
div.cpw-ama-datamart-start input:not([type='checkbox']):not([type='file']):not([type='radio']):not(.select2-input), 
div.cpw-ama-datamart-start textarea,
div.cpw-ama-datamart-start .prescription .prescription-open-msg-btn
{
	min-width: 203px;
}
div.cpw-ama-datamart-start input.full
{
	width: 749px;
}
div.cpw-ama-datamart-start.citizen .organization:not(.citizen),
div.cpw-ama-datamart-start.citizen .marriage_couple,
div.cpw-ama-datamart-start.organization .citizen:not(.organization),
div.cpw-ama-datamart-start.organization .marriage_couple,
div.cpw-ama-datamart-start.marriage_couple .organization,
div.cpw-ama-datamart-start.marriage_couple .citizen
{
	display:none !important;
}
div.cpw-ama-datamart-start .applicant-is-debtor
{
	display: none;
}
div.cpw-ama-datamart-start .help
{
	display: inline-block;
}
div.cpw-ama-datamart-start button
{
	padding-bottom:7px;
	padding-bottom:7px;
	vertical-align:top;
}
div.cpw-ama-datamart-start button.court-by-number
{
	font-size:xx-small;
	display:inline-block;
	width:60px;
	margin-left:5px;
	padding:6px 3px;
}
div.cpw-ama-datamart-start .decision-wrapper
{
	display: flex;
	align-items: center;
}
div.cpw-ama-datamart-start .decision-and-docs
{
	display: flex;
	justify-content: space-between;
}
div.cpw-ama-datamart-start .open-decision,
div.cpw-ama-datamart-start .open-appointment,
div.cpw-ama-datamart-start .open-efrsb_report
{
	display: none;
}
</style>
<%
var readonly= obj.options.readonly;
var addedBySRO= obj.options.addedBySRO;
var start= obj.value();
var type_class= 'citizen';
var applicant_text = obj.options.ApplicantText.singular;
if (null==start)
{
	start= {};
}
else if (start.Должник)
{
	switch(start.Должник.Тип){
		case 'Юр_лицо':
			type_class = 'organization';
			break;
		case 'Супруги':
			type_class = 'marriage_couple';
			applicant_text = obj.options.ApplicantText.plural;
			break;
	}
}
%>
<div class="cpw-ama-datamart-start <%= type_class %>">

	<div class="row">
		<div class="label-1-3"><b>Зявление:</b></div>
	</div>

	<div class="row">
		<div class="label-1-3">Должник:</div>
		<select class="type" <%= obj.select_attrs('Должник.Тип') %> >
			<option <%= obj.option_attrs('Физ_лицо') %> >Физическое лицо</option>
			<option <%= obj.option_attrs('Юр_лицо') %> >Юридическое лицо</option>
			<option <%= obj.option_attrs('Супруги') %> >Супруги</option>
		</select> 
		<div class="right">
			<label>
				<input type="checkbox" <%= obj.checkbox_attrs('Показывать_СРО') %> /> 
				показывать СРО
			</label>
			<div class="help check-kad-arbitr-help" title="При нажатии произойдет проверка наличия судебного акта о введении процедуры на kad.arbitr.ru">
				<button class="check-kad-arbitr" >Свериться</button>
			</div>
			Сверялось:
			<div class="help" title="Дата и время последней сверки данных с базой kad.arbitr.ru">
				<input type="text" readonly="readonly" value="<%= obj.txt('Время_сверки') %>"  /> 
			</div>
			<button class="actualize-check-time">Только что</button>
		</div>
	</div>
	
	<div class="row organization">
		<div class="label-1-3">Название:</div>
		<input type="text" class="full" value="<%= obj.txt('Должник.Юр_лицо.Наименование') %>" />
	</div>
	
	<div class="row citizen">
		<div class="label-1-3">Фамилия:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Фамилия') %>" maxlength="90" />
		<div class="label-2-3">Имя:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Имя') %>" maxlength="70"/>
		<div class="label-3-3">Отчество:</div><input type="text" value="<%= obj.txt('Должник.Физ_лицо.Отчество') %>" maxlength="90"/>
	</div>

	<div class="row marriage_couple">
		<%= obj.control('Должник.Супруги') %>
		<% if (0) { %>Данные супругов<% } %>
	</div>

	<div class="row organization citizen">
		<div class="label-1-3">ИНН:</div><input type="text" value="<%= obj.txt('Должник.ИНН') %>" maxlength="12"/>
		<div class="label-2-3">ОГРН:</div><input type="text" value="<%= obj.txt('Должник.ОГРН') %>" maxlength="13"/>
		<div class="label-3-3 citizen">СНИЛС:</div><input type="text" class="citizen" value="<%= obj.txt('Должник.Физ_лицо.СНИЛС') %>" maxlength="11" />
	</div>

	<div class="row organization citizen">
		<div class="label-1-3">Адрес:</div><input class="full" type="text" value="<%= obj.txt('Должник.Адрес') %>" maxlength="250" />
	</div>

	<div class="row">
		<div class="label-1-3">Заявитель:</div>
		<a href="#" class="applicant" <%= obj.a_modal_attrs('Заявитель') %>>
			<%= applicant_text %> (кликните, чтобы поменять)
		</a>
		<span class="applicant-is-debtor" ><%= applicant_text %></span>
	</div>
	
	<div class="row">
		<div class="label-1-3"><label><input type="checkbox" <%= obj.checkbox_attrs('Заявление_на_банкротство.Подано') %> /> Подано</label></div>
		<div class="help" title="Дата подачи должником заявления о банкротстве" style="margin-right: 11px;">
			<input type="text" style="width:95px;min-width:95px;" value="<%= obj.txt('Заявление_на_банкротство.Дата_подачи') %>" <%= obj.date_attrs() %> />
		</div>
		заявление о банкротстве в 
		<div class="select2" style="width:400px;" <%= obj.select2_attrs('Заявление_на_банкротство.В_суд') %> >тут должен быть select2 по судам</div>
		<button class="court-by-number">по номеру дела</button>
	</div>

	<div class="row">
		<b style="margin-right: 109px;">Рассмотрение:</b>
		<div class="label-2-3 middle">Зявление принято:</div><input type="text" value="<%= obj.txt('Заявление_на_банкротство.Дата_принятия') %>" <%= obj.date_attrs() %>/>
	</div>
	
	<div class="row">
		<div class="label-1-3">Дело №</div>
		<input type="text" value="<%= obj.txt('Номер_судебного_дела') %>" /> 
		<button class="open">Открыть на kad.arbitr</button> 
		<div class="NextSession-label">Дата и время заседания: </div>
		<div class="help" title="Дата и время заседания АС по делу о банкротстве">
			<input type="text" value="<%= obj.txt('Заявление_на_банкротство.Дата_рассмотрения') %>" /> 
		</div>
	</div>

	<div class="row decision-and-docs">
		<div class="decision-wrapper">
			<div class="label"><b>Запрос кандидатур АУ</b></div>&nbsp;
			<a href="#" class="open-decision">судебным актом</a>
			<span class="no-decision">судом не зарегистирован</span>
			<% if(readonly) { %>
				&nbsp;<a href="#" class="decision-add-info" <%= obj.a_modal_attrs('Запрос_дополнительная_информация') %>>дополнительная информация</a>
			<% } %>
			<a href="#" class="decision" <%= obj.a_modal_attrs('Запрос') %>>(укажите ссылку на судебный акт о запросе)</a>
		</div>
		<div class="docs-btn-wrapper help" title="Просмотр документов доступен, если Ваша кандидатура представлена в ответе на запрос из суда">
			<button class="docs-btn disabled">Документы от СРО</button>
		</div>
	</div>

	<div class="row">
		<div class="label-1-3">Согласен:</div>
		<div class="select2 select-au" style="width:378px" <%= obj.select2_attrs('АУ') %> >тут должен быть select2 по АУ</div>&nbsp;&nbsp;
		<label><input type="checkbox" <%= obj.checkbox_attrs('Показывать_для_регистрации_в_ПАУ') %> /> назначен (показывать для регистрации в ПАУ)</label>
	</div>

	<div class="row">
		<b>Назначение:</b>&nbsp;
		<a href="#" class="open-appointment">судебным актом</a>
		<span class="no-appointment">не зарегистировано</span>&nbsp;
		<% if(readonly) { %>
			<a href="#" class="appointment-add-info" <%= obj.a_modal_attrs('Назначение_дополнительная_информация') %>>дополнительная информация</a>
		<% } %>
		<a href="#" class="appointment" <%= obj.a_modal_attrs('Назначение') %>>(кликните, чтобы поменять)</a>
	</div>

	<div class="row">
		<span class="label-efrsb_report">на ЕФРСБ о введении</span>&nbsp;
		<a href="#" class="open-efrsb_report">сообщения</a>
		<span class="no-efrsb_report">не зарегистрировано</span>&nbsp;
		<% if(readonly) { %>
			<a href="#" class="efrsb_report-add-info" <%= obj.a_modal_attrs('ЕФРСБ_дополнительная_информация') %>>дополнительная информация</a>
		<% } %>
		<a href="#" class="efrsb_report" <%= obj.a_modal_attrs('ЕФРСБ') %>>(кликните, чтобы поменять)</a>
	</div>
</div>
