<style>
	div.cpw-ama-datamart-start-docs {
		min-width: 230px;
		box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
	}
	div.cpw-ama-datamart-start-docs:before {
		position: absolute;
		top: -9px;
		left: 0;
		content: "";
		width: 100%;
		height: 10px;
		background-color: transparent;
	}
	div.cpw-ama-datamart-start-docs .get-doc{
		display: block;
		padding: 10px 15px;
		background-color: #ffffff;
	}
	div.cpw-ama-datamart-start-docs .get-doc:hover {
		background-color: #f5f5f5;
		opacity: 1;
	}
</style>
<div class="cpw-ama-datamart-start-docs">
	<a href="#" class="get-doc responce-doc">Ответ</a>
	<a href="#" class="get-doc protocol-doc">Протокол</a>
	<a href="#" class="get-doc consent-doc">Согласие АУ</a>
	<a href="#" class="get-doc discharge-doc">Выписка</a>
</div>