<p><%= obj.Время_сверки %><% if (0) { %>2012.01.01 20:00<% } %> выполнялась последняя автоматическая сверка</p>
<p><%= obj.Текущее_время %><% if (0) { %>2012.01.01 20:00<% } %> попытка запустить автоматическая сверку снова</p>
<p>Автоматическая сверка выполняется НЕ чаще чем раз в 15 минут!</p>
