<% if (0==obj.length)  { %>
<p>Автоматическая сверка не дала новой информации.</p>
<p>Проверьте, пожалуйста, если подозреваете что информация уже должна появиться,</p>
<p style="text-align: right">вручную на сайте kad-arbitr.ru</p>
<% } else { %>
<ul>
	<%	for (var i= 0; i < obj.length; i++)
		{
			var field= obj[i];
	%>
	<li>
		<b><%= field.name %><% if (0) { %>ответ<% } %></b>: 
		<%= field.value %><% if (0) { %>47<% } %>
	</li>
	<%	} %>
</ul>
<p>Проверьте, пожалуйста, что обнаруженная информация соответствует действительности</p>
<p style="text-align:right">на странице дела сайта kad-arbitr.ru</p>
<% } %>

<p>При автоматической сверке возможны ошибки!</p>
