<p>Вы действительно хотите удалить отслеживание заявления о банкротстве должника</p>
<p style="text-align:center;font-weight:bold"><%= obj.debtorName %><% if (0) { %>Каротаев К К<% } %></p>
<p style="text-align:center">?</p>
