<style>
	div.cpw-form-ama-dm-push-latest-pushes .ui-jqgrid .ui-jqgrid-bdiv
	{
		min-height:360px;
	}
	div.cpw-form-ama-dm-push-latest-pushes .ui-jqgrid .ui-pg-table
	{
		table-layout:auto !important;
	}
	div.cpw-form-ama-dm-push-latest-pushes .ui-jqgrid .ui-jqgrid-htable th div,
	div.cpw-form-ama-dm-push-latest-pushes .ui-jqgrid tr.ui-row-ltr td {
		font-size: x-small;
	}
</style>

<div class="cpw-form-ama-dm-push-latest-pushes">
	<b>Уведомления за последние 30 дней: </b>
	<div class="grid closed-search">
		<table id="cpw-ama-dm-latest-pushes-grid" class="grid"></table>
		<div id="cpw-cpw-ama-dm-latest-pushes-pager"></div>
	</div>
</div>