<style>
div.cpw-ama-committee-cabinet-signing
{
	max-width: 900px;
	margin: 0 auto;
}
div.cpw-ama-committee-cabinet-signing textarea
{
	width: 100%;
	min-width: 200px;
	height: 200px;
	border: 2px solid #009966;
	color: #000;
	padding: 3px 5px;
}
div.cpw-ama-committee-cabinet-signing span.border-note
{
	color: #009966;
	font-weight: 600;
}
div.cpw-ama-committee-cabinet-signing div.comments
{
	border-bottom: 1px solid black;
	width: 100%;
	font-size: small;
}
div.cpw-ama-committee-cabinet-signing div.keys
{
	border-bottom: 1px solid black;
	background-color: #eeeeee;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-left: 10px;
	font-size: small;
}
div.cpw-ama-committee-cabinet-signing div.key-comments
{
	width: 100%;
	color: gray;
}
div.cpw-ama-committee-cabinet-signing table
{
	margin-top: 10px;
	width: 100%;
}
div.cpw-ama-committee-cabinet-signing table td
{
	vertical-align: central;
}
div.cpw-ama-committee-cabinet-signing table td.repeat
{
	text-align: right;
	padding-left: 50px;
	color: gray;
	width: 440px;
}
div.cpw-ama-committee-cabinet-signing table td.repeat span.seconds
{
	color: black;
	font-weight: bold;
}
div.cpw-ama-committee-cabinet-signing table td.title
{
	text-align: right;
}
div.cpw-ama-committee-cabinet-signing div.main
{
	margin-top: 30px;
	text-align: center;
}
div.cpw-ama-committee-cabinet-signing button.top
{
	float:right;
}
div.cpw-ama-committee-cabinet-signing div.no-sign
{
	display:inline-block;
	width:100%;
	font-size: large;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 50px;
}
div.cpw-ama-committee-cabinet-signing div.key-comments span.time
{
	width: 130px;
	display: inline-block;
}
div.cpw-ama-committee-cabinet-signing span.test-code
{
	color: red;
}
div.cpw-ama-committee-cabinet-signing span.test-code span.code
{
	font-weight: bold;
}
div.cpw-ama-committee-cabinet-signing div.ahtung
{
	font-weight: 600;
	color: #00007b;
	padding: 10px 0;
	text-align:center;
}
div.cpw-ama-committee-cabinet-signing .header {
	width: 100%;
    margin: 10px auto;
 }
 div.cpw-ama-committee-cabinet-signing .header label {
	vertical-align: middle;
	margin-top: 8px;
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
 }
</style>
<% if (0) { %>
<style>
div.cpw-ama-committee-cabinet-signing textarea
{
	height: 100px !important;
}
</style>
<% } %>
<%
var btn_sign_text= "Подписать бюллетень голосования и отправить его лицу, проводящему заседание";
%>
<div class="cpw-ama-committee-cabinet-signing">

	<div class="header">
		<label>Подписание бюллетеня голосования</label>

		<button class="button top">Вернуться на главную страницу кабинета</button>
		<div style="clear: both;"></div>
	</div>

	<div class="ahtung">ВНИМАНИЕ! Голос будет учтён после Вашего подтверждения. Прочтите документ и нажмите кнопку внизу!</div>

	<div class="to-sign">
	Документ на подпись:<br/>
	<textarea readonly="readonly"></textarea>
	<div class="comments">
		* Документ подписывается простой электронной подписью после нажатия кнопки <br/>
		&nbsp;&nbsp;&nbsp;&nbsp;«<%= btn_sign_text %><% if (0) { %>Подписать бюллетень голосования и отправить его лицу, проводившему заседание<% } %>».
		<br/>
		* Подписывая данный документ, Вы подтверждаете достоверность принятых решений по вопросам повестки дня, перечисленных в нем.
		<br/>
		* После подписания документа в него уже нельзя будет внести изменения.
		<br/>
		* Подписываемый документ состоит только из текста, обведённого на экране толстой <span class="border-note">зелёной рамкой</span>.
		<br/>
		* Прокрутите текст до конца для полного ознакомления с ним.
	</div>
	</div>

	<div class="send-key-first">
		Для подтверждения Вашей подписи, Вы должны получить код подтверждения.
		<div class="main">
			<button class="button button-red send-code">Выслать код подтверждения простой электронной подписи</button>
		</div>
	</div>

	<div class="key-sent">

		<div class="keys">
			<div class="key-comments">
				<strong><span class="sms time"><% if (0) { %>12.12.2012 10:32<% } %></span></strong> 
				на телефон 
				<strong><span class="sms-number"><% if (0) { %>23874628674<% } %></span></strong> 
				выслано СМС с кодом подтверждения подписи.
			</div>

			<div class="key-comments">
				<strong><span class="email time"><% if (0) { %>12.12.2012 10:32<% } %></span></strong> 
				на email 
				<strong><span class="email-address"><% if (0) { %>r@r.r<% } %></span></strong> 
				выслано уведомление с подписываемым документом.
			</div>
		</div>

		Для подтверждения Вашей подписи, 
		Вы должны получить код подтверждения и ввести его в поле ниже.<br/>

		<span class="test-code">
			В тестовом режиме сообщаем вам, что выслан код 
			<span class="code"><% if (0) { %>1234<% } %></span>.
		</span>

		<table>
			<tr>
				<td class="title">Получен&nbsp;код&nbsp;подтверждения:&nbsp;</td>
				<td class="field"><input type="text" class="code"/></td>
				<td class="repeat">
					<span class="resend-after">
						<span>Повторная отправка нового кода подтверждения</span><br/>
						возможна через <span class="seconds">60</span> сек.
					</span>
					<button class="button resend-code">Выслать новый код подтверждения (повторно)</button>
				</td>
			</tr>
		</table>

		<div class="main">
			<button class="button button-red sign"><%= btn_sign_text %><% if (0) { %>Подписать бюллетень голосования и отправить его лицу, проводившему заседание<% } %></button>
		</div>
	</div>

	<div class="no-sign">
		<p>Ответы на все вопросы в рамках данного кабинета уже даны,<br/> подписаны и отправлены лицу, проводящему заседание.</p>
		<p>Подписывать больше нечего!</p>
	</div>

</div>