<style>
div.cpw-ama-datamart-viewer-profile
{
	width: 600px;
	margin: 0 auto;
}
div.cpw-ama-datamart-viewer-profile div.row
{
	margin-bottom: 4px;
}
div.cpw-ama-datamart-viewer-profile div.row div.title
,div.cpw-ama-datamart-viewer-profile div.row div.control
{
	display: inline-block;
}
div.cpw-ama-datamart-viewer-profile div.row div.title
{
	width: 60px;
}
div.cpw-ama-datamart-viewer-profile div.row div.title:after
{
	content:":";
}
div.cpw-ama-datamart-viewer-profile input
{
	width: 540px;
}
div.cpw-ama-datamart-viewer-profile p
{
	margin-top: 1px;
	text-align: right;
	color: gray;
}
div.cpw-ama-datamart-viewer-profile span.UserEmail_Change
{
	font-weight: bold;
}
</style>
<%
var profile= obj.value();
if (!profile)
	profile= {};
%>
<div class="cpw-ama-datamart-viewer-profile">
	<div class="row">
		Параметры пользователя витрины:
	</div>
	<div class="row">
		<div class="title">Имя</div>
		<div class="control"><input type="text" value="<%= obj.txt('Имя') %>" maxlength="70" autofocus="autofocus" /></div>
	</div>
	<div class="row">
		<div class="title">E-mail</div>
		<div class="control"><input type="text" value="<%= obj.txt('Email') %>" /></div>
	</div>
	<div class="row change" style="<%= (profile && profile.Email_Change) ? '' : 'display:none' %>">
		Изменённый E-mail: <span class="UserEmail_Change"><%= profile.Email_Change %><% if (0) { %>x@y.z<% } %></span>
		<p>(окончательно заменит основной после первого входа в систему по изменённому email-у)</p>
	</div>
</div>